<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - simple text from json fonts
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="10000">
    <three-position [x]="0" [y]="-400" [z]="600"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene [background]="'0xf0f0f0'">
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh>
        <three-position [x]="0" [y]="0" [z]="-150"></three-position>
        <three-geometry
          [type]="'shape'"
          [text]="'   Three.js\nSimple text.'"
          [textAlign]="'center'"
          [font]="'helvetiker'"
          [weight]="'regular'"
          [size]="100"
        ></three-geometry>
        <three-material type="MeshBasic" [color]="'0x006699'" [transparent]="true" [opacity]="0.4" [side]="'double'"></three-material>
      </three-mesh>
      <three-mesh>
        <three-position [x]="0" [y]="0" [z]="0"></three-position>
        <three-svg 
          [type]="'Mesh'"
          [geometryType]="'buffer'"
          [text]="'   Three.js\nSimple text.'"
          [textAlign]="'center'"
          [font]="'helvetiker'"
          [weight]="'regular'"
          [size]="100"
          [stroke]="5"
        >
          <three-material type="MeshBasic" [color]="'0x006699'" [side]="'double'"></three-material>
        </three-svg>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
