<div id="info">
  <a [href]="'https://threejs.org'" [target]="'_blank'" [rel]="'noopener'">three.js</a> - voxel painter - webgl<br>
  <strong>click</strong>: add voxel, <strong>shift + click</strong>: remove voxel
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  [useEvent]="['move','click']"
  (eventListener)="onMouseEvent($event)"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="10000" (onLoad)="setCamera($event)">
    <three-position [x]="500" [y]="800" [z]="1300"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene [background]="'0xf0f0f0'">
    <three-light
      [type]="'Ambient'"
      [color]="'0x606060'"
    ></three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="1"
      [castShadow]="true"
      [shadowCameraTop]="2"
      [shadowCameraBottom]="-2"
      [shadowCameraLeft]="-2"
      [shadowCameraRight]="2"
      [shadowCameraNear]="0.1"
      [shadowCameraFar]="40"
    >
      <three-position [x]="1" [y]="0.75" [z]="0.5" [normalize]="true"></three-position>
    </three-light>
    <three-helper [type]="'grid'" [size]="1000" [divisions]="20"></three-helper>
    <three-mesh (onLoad)="setRollOver($event)">
      <three-position [x]="50" [y]="25" [z]="0"></three-position>
      <three-geometry
        [type]="'box'"
        [width]="50"
        [height]="50"
        [depth]="50"
      ></three-geometry>
      <three-material [type]="'MeshBasic'" [color]="'0xff0000'" [opacity]="0.5" [transparent]="true"></three-material>
    </three-mesh>
    <three-shared>
      <three-geometry
        #boxGeometry
        [type]="'box'"
        [width]="50"
        [height]="50"
        [depth]="50"
      ></three-geometry>
      <three-material 
        #boxMaterial
        [type]="'MeshLambert'" 
        [color]="'0xfeb74c'"
      >
        <three-texture [image]="'textures/square-outline-textured.png'"></three-texture>
      </three-material>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-mesh *ngFor="let pos of cubePositions" [geometry]="boxGeometry" [material]="boxMaterial">
        <three-position [x]="pos.x" [y]="pos.y" [z]="pos.z"></three-position>
      </three-mesh>
    </three-mesh>
    <three-mesh [receiveShadow]="true" (onLoad)="setPlane($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'Plane'"
        [width]="1000"
        [height]="1000"
      ></three-geometry>
      <three-material
        [type]="'MeshPhong'"
        [color]="'0xa0a0a0'"
        [depthWrite]="false"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
