<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
	multiple views - webgl
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, enableDamping: true }"
	[statsMode]="0"
	[antialias]="true"
	[clearColor]="'0xffffff'"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="45" [near]="0.1" [far]="10000">
		<ngx3js-position [x]="0" [y]="0" [z]="1500"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-viewer
		[type]="'canvas'"
		[canvasOptions]="canvasOptions"
	></ngx3js-viewer>
	<ngx3js-scene #scene>
		<ngx3js-light [type]="'DirectionalLight'" [color]="'0xffffff'">
			<ngx3js-position [x]="0" [y]="0" [z]="1"></ngx3js-position>
		</ngx3js-light>
		<ngx3js-shared>
			<ngx3js-material
				#shadowMaterial
				[type]="'MeshBasicMaterial'"
				[transparent]="true"
			>
				<ngx3js-texture
					[program]="'shadow'"
					[width]="128"
					[height]="128"
				></ngx3js-texture>
			</ngx3js-material>
			<ngx3js-geometry
				#shadowGeo
				[type]="'PlaneGeometry'"
				[width]="300"
				[height]="300"
				[widthSegments]="1"
				[heightSegments]="1"
			></ngx3js-geometry>
			<ngx3js-material
				#material
				[type]="'MeshPhongMaterial'"
				[color]="'0xffffff'"
				[flatShading]="true"
				[vertexColors]="true"
				[shininess]="0"
			></ngx3js-material>
			<ngx3js-material
				#wireframeMaterial
				[type]="'MeshBasicMaterial'"
				[color]="'0x000000'"
				[wireframe]="true"
				[transparent]="true"
			></ngx3js-material>
		</ngx3js-shared>
		<ngx3js-mesh (onLoad)="setMesh($event)">
			<ngx3js-mesh [geometry]="shadowGeo" [material]="shadowMaterial">
				<ngx3js-position [x]="0" [y]="-250" [z]="0"></ngx3js-position>
				<ngx3js-rotation [x]="-90" [y]="0" [z]="0"></ngx3js-rotation>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="shadowGeo" [material]="shadowMaterial">
				<ngx3js-position [x]="-400" [y]="-250" [z]="0"></ngx3js-position>
				<ngx3js-rotation [x]="-90" [y]="0" [z]="0"></ngx3js-rotation>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="shadowGeo" [material]="shadowMaterial">
				<ngx3js-position [x]="400" [y]="-250" [z]="0"></ngx3js-position>
				<ngx3js-rotation [x]="-90" [y]="0" [z]="0"></ngx3js-rotation>
			</ngx3js-mesh>
		</ngx3js-mesh>
		<ngx3js-mesh [material]="material">
			<ngx3js-position [x]="-400" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-rotation
				[x]="-1.87"
				[y]="0"
				[z]="0"
				[isRadian]="true"
			></ngx3js-rotation>
			<ngx3js-geometry
				#geometry1
				[type]="'IcosahedronGeometry'"
				[radius]="200"
				[detail]="1"
				[onInit]="setGeometry1"
			></ngx3js-geometry>
			<ngx3js-mesh [material]="wireframeMaterial" [geometry]="geometry1">
			</ngx3js-mesh>
		</ngx3js-mesh>
		<ngx3js-mesh [material]="material">
			<ngx3js-position [x]="400" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-geometry
				#geometry2
				[type]="'IcosahedronGeometry'"
				[radius]="200"
				[detail]="1"
				[onInit]="setGeometry2"
			></ngx3js-geometry>
			<ngx3js-mesh [material]="wireframeMaterial" [geometry]="geometry2">
			</ngx3js-mesh>
		</ngx3js-mesh>
		<ngx3js-mesh [material]="material">
			<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-geometry
				#geometry3
				[type]="'IcosahedronGeometry'"
				[radius]="200"
				[detail]="1"
				[onInit]="setGeometry3"
			></ngx3js-geometry>
			<ngx3js-mesh [material]="wireframeMaterial" [geometry]="geometry3">
			</ngx3js-mesh>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
