<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - webgl materials matcap<br />
  Drag-and-drop JPG, PNG, or EXR MatCap image files<br/>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [toneMapping]="'ACESFilmicToneMapping'"
  [toneMappingExposure]="controls.exposure"
  [outputEncoding]="'sRGBEncoding'"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="40" [near]="1" [far]="100">
    <three-position [x]="0" [y]="0" [z]="13"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0.25" [z]="0"></three-position>
      <three-geometry [storageName]="'models/gltf/LeePerrySmith/LeePerrySmith.glb'"></three-geometry>
      <three-material 
        [type]="'MeshMatcapMaterial'" 
        [color]="controls.color"
      >
        <three-texture [textureType]="'matcap'" [storageName]="'textures/matcaps/040full.exr'" [useDropImage]="true"></three-texture>
        <three-texture [textureType]="'normalMap'" [image]="'models/gltf/LeePerrySmith/Infinite-Level_02_Tangent_SmoothUV.jpg'"></three-texture>
      </three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
