<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
	Click on a sphere to toggle bloom<br />By
	<a href="http://github.com/Temdog007" target="_blank" rel="noopener"
		>Temdog007</a
	>
	todo
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{
		enablePan: false,
		enableDamping: true,
		maxPolarAngle: 90,
		minDistance: 1,
		maxDistance: 100
	}"
	[statsMode]="0"
	[antialias]="true"
	[toneMapping]="'ReinhardToneMapping'"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
	[useEvent]="'pointerdown'"
	(eventListener)="onPointerDown($event)"
	(onLoad)="setRender($event)"
>
	<ngx3js-composer
		[scene]="scene"
		[camera]="camera"
		[renderToScreen]="false"
		#bloomComposer
	>
		<ngx3js-pass [type]="'RenderPass'"></ngx3js-pass>
		<ngx3js-pass
			[type]="'UnrealBloomPass'"
			[strength]="1.5"
			[radius]="0.4"
			[threshold]="0.85"
		></ngx3js-pass>
	</ngx3js-composer>
	<ngx3js-composer [scene]="scene" [camera]="camera">
		<ngx3js-pass [type]="'RenderPass'"></ngx3js-pass>
		<ngx3js-pass
			[type]="'ShaderPass'"
			[shader]="'ShaderMaterial'"
			[textureId]="'baseTexture'"
			[uniforms]="{ baseTexture: null, bloomTexture: null }"
			[materialShader]="'UnrealBloomSelective'"
			[bloomTexture]="bloomComposer"
			[needsSwap]="true"
		></ngx3js-pass>
	</ngx3js-composer>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera
		#camera
		[type]="'perspective'"
		[fov]="40"
		[near]="1"
		[far]="200"
		(onLoad)="setCamera($event)"
	>
		<ngx3js-position [x]="0" [y]="0" [z]="20"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene>
		<ngx3js-light [type]="'AmbientLight'" [color]="'0x404040'"></ngx3js-light>
		<ngx3js-shared>
			<ngx3js-geometry
				#geometry
				[type]="'IcosahedronGeometry'"
				[radius]="1"
				[detail]="15"
			></ngx3js-geometry>
		</ngx3js-shared>
		<ngx3js-mesh (onLoad)="setMesh($event)">
			<ngx3js-mesh
				*ngFor="let info of meshInfos"
				[geometry]="geometry"
				[layers]="info.layer"
			>
				<ngx3js-position
					[x]="info.x"
					[y]="info.y"
					[z]="info.z"
					[normalize]="true"
					[multiply]="info.multiply"
				></ngx3js-position>
				<ngx3js-scale [multiply]="info.scale"></ngx3js-scale>
				<ngx3js-material
					[type]="'MeshBasicMaterial'"
					[color]="info.color"
				></ngx3js-material>
			</ngx3js-mesh>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
