<div id="info">
  Percent Closer Soft-Shadows (PCSS) by <a href="http://eduperiment.com">spidersharma03</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xcce0ff'"
  [outputEncoding]="'sRGBEncoding'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="2.5" [z]="0"></three-lookat>
  <three-scene #scene [background]="'0xa0a0a0'">
    <three-camera [type]="'perspective'" [fov]="30" [near]="1" [far]="10000">
      <three-position [x]="7" [y]="13" [z]="7"></three-position>
    </three-camera>
    <three-fog [color]="'0xcce0ff'" [near]="5" [far]="100"></three-fog>
    <three-light
      [type]="'0x666666'"
    ></three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xdfebff'"
      [intensity]="1.75"
      [castShadow]="true"
      [shadowMapSize]="1024"
      [shadowCameraFar]="20"
    >
      <three-position [x]="2" [y]="8" [z]="4"></three-position>
      <three-helper [type]="'CameraHelper'"></three-helper>
    </three-light>
    <three-shared>
      <three-material
        #groundMaterial
        [type]="'MeshPhong'"
        [color]="'0x404040'"
        [specular]="'0x111111'"
      ></three-material>
      <three-geometry
        #geometry
        [type]="'SphereGeometry'"
        [radius]="0.3"
        [widthSegments]="20"
        [heightSegments]="20"
      ></three-geometry>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let info of sphereInfos" [geometry]="geometry" [receiveShadow]="true" [castShadow]="true" [userData]="{ phase : info.phase }">
        <three-position [x]="info.px" [y]="0" [z]="info.pz" [normalize]="true" [multiply]="info.ps"></three-position>
        <three-material [type]="'MeshPhongMaterial'" [color]="info.color"></three-material>
      </three-mesh>
      <three-mesh [material]="groundMaterial" [castShadow]="true" [receiveShadow]="true">
        <three-position [x]="0" [y]="2" [z]="0"></three-position>
        <three-geometry
          [type]="'box'"
          [width]="1"
          [height]="4"
          [depth]="1"
        ></three-geometry>
      </three-mesh>
    </three-mesh>
    <three-mesh [receiveShadow]="true" [material]="groundMaterial">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'Plane'"
        [width]="20000"
        [height]="20000"
        [widthSegments]="8"
        [heightSegments]="8"
      ></three-geometry>
    </three-mesh>
  </three-scene>
</three-renderer>
