<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
	ngx3js - eChart
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, enableDamping: true }"
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="45" [near]="0.001" [far]="1000">
		<ngx3js-position [x]="0" [y]="2" [z]="3"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene [background]="'0x000000'" (onLoad)="setScene($event)">
		<ngx3js-light
			[type]="'AmbientLight'"
			[color]="'0xffffff'"
			[intensity]="0.3"
		></ngx3js-light>
		<ngx3js-light
			[type]="'directional'"
			[color]="'0xffffff'"
			[intensity]="1"
			[castShadow]="true"
			[shadowCameraTop]="1"
			[shadowCameraBottom]="-1"
			[shadowCameraLeft]="-1"
			[shadowCameraRight]="1"
			[shadowCameraNear]="0.01"
			[shadowCameraFar]="40"
			[shadowMapSize]="1024"
			[shadowRadius]="5"
		>
			<ngx3js-position [x]="3" [y]="5" [z]="10"></ngx3js-position>
		</ngx3js-light>
		<ngx3js-echart [chartjs]="chartjs" [width]="3" [height]="2"></ngx3js-echart>
		<ngx3js-mesh>
			<ngx3js-position [x]="2" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-geometry [type]="'box'" [width]="0.5" [height]="0.5" [depth]="0.5"></ngx3js-geometry>
			<ngx3js-material [color]="'0x00ff00'"></ngx3js-material>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
