<div id="info" class="dark">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - webgl_materials_lightmap
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [outputEncoding]="'sRGBEncoding'"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="40" [near]="1" [far]="10000">
    <three-position [x]="700" [y]="200" [z]="-500"></three-position>
  </three-camera>
  <three-scene #scene >
    <three-light
      [type]="'DirectionalLight'"
      [color]="'0xaabbff'"
      [intensity]="0.3"
    >
      <three-position [x]="300" [y]="250" [z]="-500"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'models/json/lightmap/lightmap.json'">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
    </three-mesh>
    <three-mesh [name]="'SKYDOME'">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'SphereGeometry'"
        [radius]="4000"
        [widthSegments]="32"
        [heightSegments]="15"
      ></three-geometry>
      <three-material
        [type]="'ShaderMaterial'"
        [shader]="'ShaderSkyDome'"
        [uniforms]="{
					topColor: { type : 'color', value: '0xaabbff' },
					bottomColor: { type : 'color' , value : '0xffffff' },
					offset: { type : 'number' ,value: 400 },
					exponent: { type : 'number', value: 0.6 }
        }"
        [side]="'BackSide'"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
