<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - shader material demo. featuring <a href="http://www.pouet.net/prod.php?which=52761" target="_blank" rel="noopener">Monjori by Mic</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="40" [near]="1" [far]="3000">
    <three-position [x]="0" [y]="0" [z]="4"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-shared>
      <three-geometry
        #geometry
        [type]="'box'"
        [width]="0.75"
        [height]="0.75"
        [depth]="0.75"
      ></three-geometry>
    </three-shared>
    <three-fog [color]="'0xa0a0a0'" [near]="10" [far]="50"></three-fog>
    <three-light
      [type]="'Hemisphere'"
      [skyColor]="'0xffffff'"
      [groundColor]="'0x444444'"
    >
      <three-position [x]="0" [y]="20" [z]="0"></three-position>
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="1"
      [castShadow]="true"
      [shadowCameraTop]="2"
      [shadowCameraBottom]="-2"
      [shadowCameraLeft]="-2"
      [shadowCameraRight]="2"
      [shadowCameraNear]="0.1"
      [shadowCameraFar]="40"
    >
      <three-position [x]="-3" [y]="10" [z]="-10"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh [geometry]="geometry">
        <three-position [x]="-1.5" [y]="-0.5" [z]="0"></three-position>
        <three-material 
          [type]="'Shader'"
          [shader]="'ShaderDemo1'"
          [uniforms]="{ time : { type : 'number', value : 1.0 }}"
        ></three-material>
        <three-controller [type]="'uniforms'" [controlParams]="{ key : 'time', speed : controls.speed * 5 }"></three-controller>
      </three-mesh>
      <three-mesh [geometry]="geometry">
        <three-position [x]="-0.5" [y]="0.5" [z]="0"></three-position>
        <three-material 
          [type]="'Shader'"
          [shader]="'ShaderDemo2'"
          [uniforms]="{ time : { type : 'number', value : 1.0 }, colorTexture : { type : 'texture', value : 'textures/disturb.jpg', options : 'wrapRepeat'}}"
        ></three-material>
        <three-controller [type]="'uniforms'" [controlParams]="{ key : 'time', speed : controls.speed }"></three-controller>
      </three-mesh>
      <three-mesh [geometry]="geometry">
        <three-position [x]="0.5" [y]="-0.5" [z]="0"></three-position>
        <three-material 
          [type]="'Shader'"
          [shader]="'ShaderDemo3'"
          [uniforms]="{ time : { type : 'number', value : 1.0 }}"
        ></three-material>
        <three-controller [type]="'uniforms'" [controlParams]="{ key : 'time', speed : controls.speed * 5 }"></three-controller>
      </three-mesh>
      <three-mesh [geometry]="geometry">
        <three-position [x]="1.5" [y]="0.5" [z]="0"></three-position>
        <three-material 
          [type]="'Shader'"
          [shader]="'ShaderDemo4'"
          [uniforms]="{ time : { type : 'number', value : 1.0 }}"
        ></three-material>
        <three-controller [type]="'uniforms'" [controlParams]="{ key : 'time', speed : controls.speed * 5}"></three-controller>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
