<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - custom attributes example
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="30" [near]="1" [far]="10000">
    <three-position [x]="0" [y]="0" [z]="400"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0x050505'">
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="1" [z]="0"></three-position>
      <three-geometry
        [type]="'text'"
        [text]="'three.js'"
        [font]="'helvetiker_bold'"
        [size]="50"
        [height]="15"
        [curveSegments]="10"
        [bevelEnabled]="true"
        [bevelSize]="1.5"
        [bevelSegments]="10"
        [center]="true"
        [autoDisplacement]="true"
        [autoDisplacementSize]="3"
        [autoCustomColor]="true"
        [autoCustomColorSize]="3"
      ></three-geometry>
      <three-material 
        [type]="'ShaderMaterial'" 
        [color]="'0xff0000'"
        [uniforms]="{
          amplitude : { type : 'number', value : 5.0 },
          opacity : { type : 'number', value : 0.3 },
          color : { type : 'color', value : '0xffffff'}
        }"
        [vertexShader]="vertexshader"
        [fragmentShader]="fragmentshader"
        [blending]="'AdditiveBlending'"
        [depthTest]="false"
        [transparent]="true"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
