<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener noreferrer">three.js</a> - water
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="0.1" [far]="200">
    <three-position [x]="-15" [y]="7" [z]="15"></three-position>
  </three-camera>
  <three-scene #scene [background]="cubeTexture">
    <three-shared>
      <three-texture #cubeTexture [image]="'textures/cube/Park2/'" [cubeImage]="['','jpg','pos','neg']"></three-texture>
    </three-shared>
    <three-fog [color]="'0xa0a0a0'" [near]="10" [far]="50"></three-fog>
    <three-light
      [type]="'AmbientLight'"
      [color]="'0xcccccc'"
      [intensity]="0.4"
    >
    </three-light>
    <three-light
      [type]="'DirectionalLight'"
      [color]="'0xffffff'"
      [intensity]="0.6"
    >
      <three-position [x]="-1" [y]="1" [z]="1"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="4" [z]="0"></three-position>
      <three-scale [multiply]="0.5"></three-scale>
      <three-geometry
        [type]="'TorusKnotGeometry'"
        [radius]="3"
        [tube]="1"
        [radialSegments]="256"
        [tubularSegments]="32"
      ></three-geometry>
      <three-material [type]="'MeshNormalMaterial'"></three-material>
    </three-mesh>
    <three-mesh 
      [type]="'water2'" 
      [color]="'#ffffff'" 
      [waterScale]="4" 
      [reflectivity]="0.02" 
      [flowDirectionX]="1" 
      [flowDirectionY]="1" 
      [textureWidth]="1024" 
      [textureHeight]="1024"
      (onLoad)="setWater($event)"
    >
      <three-position [x]="0" [y]="1" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'Plane'"
        [width]="20"
        [height]="20"
      ></three-geometry>
    </three-mesh>
    <three-mesh >
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'Plane'"
        [width]="20"
        [height]="20"
      ></three-geometry>
      <three-material
        [type]="'MeshStandardMaterial'"
        [roughness]="0.8"
        [metalness]="0.4"
      ><three-texture [image]="'textures/hardwood2_diffuse.jpg'" [wrap]="'repeat'" [anisotropy]="16" [repeat]="4"></three-texture></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
