<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webaudio - sandbox<br/>
  music by <a href="http://www.newgrounds.com/audio/listen/358232" target="_blank" rel="noopener">larrylarrybb</a>,
  <a href="http://www.newgrounds.com/audio/listen/376737" target="_blank" rel="noopener">skullbeatz</a> and
  <a href="http://opengameart.org/content/project-utopia-seamless-loop" target="_blank" rel="noopener">congusbongus</a><br/><br/>
  navigate with WASD / arrows / mouse
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="50" [near]="1" [far]="10000">
    <three-position [x]="0" [y]="25" [z]="-500"></three-position>
    <three-listener></three-listener>
  </three-camera>
  <three-scene #scene>
    <three-audio [type]="'audio'" [url]="'sounds/Project_Utopia.ogg'" [volume]="0.5" [loop]="true" [autoplay]="true"></three-audio>
    <three-fog [type]="'FogExp2'" [density]="0.0025"></three-fog>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="1"
    >
      <three-position [x]="0" [y]="0.5" [z]="1" [normalize]="true"></three-position>
    </three-light>
    <three-shared>
      <three-geometry
        #sphere 
        [type]="'SphereGeometry'"
        [radius]="20"
        [widthSegments]="32"
        [heightSegments]="16"
      ></three-geometry>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh [geometry]="sphere">
        <three-position [x]="-259" [y]="30" [z]="0"></three-position>
        <three-material [type]="'MeshPhongMaterial'" [color]="'0xffaa00'" [flatShading]="true" [shininess]="0"></three-material>
        <three-audio #analyser1 [type]="'PositionalAudio'" [url]="'sounds/358232_j_s_song.ogg'" [refDistance]="20" [autoplay]="true"></three-audio>
        <three-controller>
          <three-controller-item [refRate]="analyser1" [type]="'material'" [material]="'emissive'" [colorType]="'rate'"></three-controller-item>
        </three-controller>
      </three-mesh>
      <three-mesh [geometry]="sphere">
        <three-position [x]="250" [y]="30" [z]="0"></three-position>
        <three-material [type]="'MeshPhongMaterial'" [color]="'0xff2200'" [flatShading]="true" [shininess]="0"></three-material>
        <three-audio #analyser2 [type]="'PositionalAudio'" [url]="'sounds/376737_Skullbeatz___Bad_Cat_Maste.ogg'" [refDistance]="20" [autoplay]="true"></three-audio>
        <three-controller>
          <three-controller-item [refRate]="analyser2" [type]="'material'" [material]="'emissive'" [colorType]="'rate'"></three-controller-item>
        </three-controller>
      </three-mesh>
      <three-mesh [geometry]="sphere">
        <three-position [x]="0" [y]="30" [z]="-250"></three-position>
        <three-material [type]="'MeshPhongMaterial'" [color]="'0x6622aa'" [flatShading]="true" [shininess]="0"></three-material>
        <three-audio #analyser3 [type]="'PositionalAudio'" [urlType]="'listener'" [volume]="0.5" [refDistance]="20"></three-audio>
        <three-controller>
          <three-controller-item [refRate]="analyser3" [type]="'material'" [material]="'emissive'" [colorType]="'rate'"></three-controller-item>
        </three-controller>
      </three-mesh>
    </three-mesh>
    <three-helper [type]="'GridHelper'" [size]="1000" [divisions]="10" [color1]="'0x444444'" [color2]="'0x444444'">
      <three-position [x]="0" [y]="0.1" [z]="0"></three-position>
    </three-helper>
  </three-scene>
</three-renderer>
