<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webaudio - sandbox<br/>
  music by <a href="http://www.newgrounds.com/audio/listen/358232" target="_blank" rel="noopener">larrylarrybb</a>,
  <a href="http://www.newgrounds.com/audio/listen/376737" target="_blank" rel="noopener">skullbeatz</a> and
  <a href="http://opengameart.org/content/project-utopia-seamless-loop" target="_blank" rel="noopener">congusbongus</a><br/><br/>
  navigate with WASD / arrows / mouse
</div>
<ngx3js-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
  <ngx3js-camera [type]="'perspective'" [fov]="50" [near]="1" [far]="10000">
    <ngx3js-position [x]="0" [y]="25" [z]="-500"></ngx3js-position>
    <ngx3js-listener></ngx3js-listener>
  </ngx3js-camera>
  <ngx3js-scene #scene>
    <ngx3js-audio [type]="'audio'" [url]="'sounds/Project_Utopia.ogg'" [volume]="0.5" [loop]="true" [autoplay]="true"></ngx3js-audio>
    <ngx3js-fog [type]="'FogExp2'" [density]="0.0025"></ngx3js-fog>
    <ngx3js-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="1"
    >
      <ngx3js-position [x]="0" [y]="0.5" [z]="1" [normalize]="true"></ngx3js-position>
    </ngx3js-light>
    <ngx3js-shared>
      <ngx3js-geometry
        #sphere 
        [type]="'SphereGeometry'"
        [radius]="20"
        [widthSegments]="32"
        [heightSegments]="16"
      ></ngx3js-geometry>
    </ngx3js-shared>
    <ngx3js-mesh (onLoad)="setMesh($event)">
      <ngx3js-mesh [geometry]="sphere">
        <ngx3js-position [x]="-259" [y]="30" [z]="0"></ngx3js-position>
        <ngx3js-material [type]="'MeshPhongMaterial'" [color]="'0xffaa00'" [flatShading]="true" [shininess]="0"></ngx3js-material>
        <ngx3js-audio #analyser1 [type]="'PositionalAudio'" [url]="'sounds/358232_j_s_song.ogg'" [refDistance]="20" [autoplay]="true"></ngx3js-audio>
        <ngx3js-controller>
          <ngx3js-controller-item [refRate]="analyser1" [type]="'material'" [material]="'emissive'" [colorType]="'rate'"></ngx3js-controller-item>
        </ngx3js-controller>
      </ngx3js-mesh>
      <ngx3js-mesh [geometry]="sphere">
        <ngx3js-position [x]="250" [y]="30" [z]="0"></ngx3js-position>
        <ngx3js-material [type]="'MeshPhongMaterial'" [color]="'0xff2200'" [flatShading]="true" [shininess]="0"></ngx3js-material>
        <ngx3js-audio #analyser2 [type]="'PositionalAudio'" [url]="'sounds/376737_Skullbeatz___Bad_Cat_Maste.ogg'" [refDistance]="20" [autoplay]="true"></ngx3js-audio>
        <ngx3js-controller>
          <ngx3js-controller-item [refRate]="analyser2" [type]="'material'" [material]="'emissive'" [colorType]="'rate'"></ngx3js-controller-item>
        </ngx3js-controller>
      </ngx3js-mesh>
      <ngx3js-mesh [geometry]="sphere">
        <ngx3js-position [x]="0" [y]="30" [z]="-250"></ngx3js-position>
        <ngx3js-material [type]="'MeshPhongMaterial'" [color]="'0x6622aa'" [flatShading]="true" [shininess]="0"></ngx3js-material>
        <ngx3js-audio #analyser3 [type]="'PositionalAudio'" [urlType]="'listener'" [volume]="0.5" [refDistance]="20"></ngx3js-audio>
        <ngx3js-controller>
          <ngx3js-controller-item [refRate]="analyser3" [type]="'material'" [material]="'emissive'" [colorType]="'rate'"></ngx3js-controller-item>
        </ngx3js-controller>
      </ngx3js-mesh>
    </ngx3js-mesh>
    <ngx3js-helper [type]="'GridHelper'" [size]="1000" [divisions]="10" [color1]="'0x444444'" [color2]="'0x444444'">
      <ngx3js-position [x]="0" [y]="0.1" [z]="0"></ngx3js-position>
    </ngx3js-helper>
  </ngx3js-scene>
</ngx3js-renderer>
