<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
  Skeletal Animation Blending (model from
  <a href="https://www.mixamo.com/" target="_blank" rel="noopener">mixamo.com</a
  >)<br />
  Note: crossfades are possible with blend weights being set to (1,0,0), (0,1,0)
  or (0,0,1)
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
  [useEvent]="['mousemove']"
  (eventListener)="setEventListener($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera (onLoad)="setCamera($event)" [type]="'perspective'" [fov]="60" [near]="1" [far]="10000">
    <three-position [x]="0" [y]="0" [z]="500"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene [background]="'0xffffff'">
    <three-fog [color]="'0xffffff'" [near]="1" [far]="10000"></three-fog>
    <three-shared>
      <three-geometry 
        #geometry
        [type]="'box'"
        [width]="100"
        [height]="100"
        [depth]="100"
      ></three-geometry>
      <three-material #material type="MeshNormal" ></three-material>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-mesh *ngFor="let info of meshInfos" [material]="material" [geometry]="geometry">
        <three-position [x]="info.position.x" [y]="info.position.y" [z]="info.position.z"></three-position>
        <three-rotation [x]="info.rotation.x" [y]="info.rotation.y" [z]="info.rotation.z"></three-rotation>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
