<div id="info">
  <a [href]="'https://threejs.org'" [target]="'_blank'" [rel]="'noopener'">three.js</a> - MD2 Loader -
  Ogro by <a [href]="'http://planetquake.gamespy.com/View.php?view=Quake2.Detail&id=556'">Magarnigal</a><br />
  use arrows to control characters, mouse for camera
</div>
<three-renderer
  [controlType]="'orbit'"
  [enableKeys]="false"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  [useEvent]="['keydown','keyup']"
  (eventListener)="setKeyDownEvent($event)"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="50" [z]="0"></three-lookat>
  <three-camera #camera [type]="'perspective'" [fov]="45" [near]="1" [far]="4000">
    <three-position [x]="0" [y]="150" [z]="1300"></three-position>
    <three-lookat [x]="0" [y]="50" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene [background]="'0xffffff'">
    <three-fog [color]="'0xffffff'" [near]="1000" [far]="4000"></three-fog>
    <three-light
      [type]="'Ambient'"
      [color]="'0x222222'"
    >
    </three-light>
    <three-light
      #light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="2.25"
      [castShadow]="true"
      [shadowCameraTop]="350"
      [shadowCameraBottom]="-350"
      [shadowCameraLeft]="-1000"
      [shadowCameraRight]="1000"
      [shadowCameraNear]="100"
      [shadowCameraFar]="1200"
      [shadowMapSizeWidth]="1024"
      [shadowMapSizeHeight]="512"
    >
      <three-position [x]="200" [y]="450" [z]="500"></three-position>
    </three-light>
    <three-shared>
      <three-mesh #baseCharacter [storageName]="'models/md2/ogro/ogro.md2'" [storageOption]="configOgro"></three-mesh>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let character of characterInfos" [type]="'MD2CharacterComplex'" [shareParts]="baseCharacter">
        <three-position [x]="character.x" [y]="character.y" [z]="character.z"></three-position>
        <three-scale [x]="3" [y]="3" [z]="3"></three-scale>
        <three-mixer [controls]="characterControls" [type]="'Character'" [skin]="character.skin" [weapon]="0"></three-mixer>
        <three-helper *ngIf="character.useGyro" [type]="'gyroscope'" [children]="[camera,light]"></three-helper>
      </three-mesh>
    </three-mesh>
    <three-mesh [receiveShadow]="true">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'Plane'"
        [width]="16000"
        [height]="16000"
      ></three-geometry>
      <three-material
        [type]="'MeshPhong'"
        [color]="'0xffffff'"
      ><three-texture [image]="'textures/terrain/grasslight-big.jpg'" [repeatX]="64" [repeatY]="64" [wrapS]="'Repeat'" [wrapT]="'Repeat'"></three-texture></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>

