<div class="info">
	<a href="https://threejs.org" target="_blank">three.js</a
	><span class="white"> - NodeMaterial Performance</span><br />
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, enableDamping: true }"
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="60" [near]="1" [far]="10000">
		<ngx3js-position [x]="0" [y]="0" [z]="1800"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene>
		<ngx3js-light [type]="'PointLight'" [color]="'0xFFFFFF'"> </ngx3js-light>
		<ngx3js-shared>
			<ngx3js-geometry
				#geometry
				[storageName]="'models/json/suzanne_buffergeometry.json'"
				[computeVertexNormals]="true"
			></ngx3js-geometry>
		</ngx3js-shared>
		<ngx3js-mesh (onLoad)="setMesh($event)">
			<ngx3js-mesh *ngFor="let info of meshInfos" [geometry]="geometry">
				<ngx3js-position
					[x]="info.position.x"
					[y]="info.position.y"
					[z]="info.position.z"
				></ngx3js-position>
				<ngx3js-rotation
					[x]="info.rotation.x"
					[y]="info.rotation.y"
					[z]="info.rotation.z"
				></ngx3js-rotation>
				<ngx3js-scale
					[x]="info.scale"
					[y]="info.scale"
					[z]="info.scale"
				></ngx3js-scale>
				<ngx3js-material
					[type]="info.materialType"
					[color]="info.color"
				></ngx3js-material>
			</ngx3js-mesh>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
