<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
	css3d - periodic table.
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, enableDamping: true }"
	[cssType]="'css3d'"
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="40" [near]="1" [far]="10000">
		<ngx3js-position [x]="0" [y]="0" [z]="3000"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene>
		<ngx3js-mesh (onLoad)="setMesh($event)">
			<ngx3js-mesh
				*ngFor="let info of periodicInfo"
				[type]="'css3d'"
				[cssStyle]="{
					innerHTML: info.innerHtml,
					backgroundColor: info.backgroundColor,
					className: 'element'
				}"
				[name]="info.name"
			>
				<ngx3js-position
					[x]="info.x"
					[y]="info.y"
					[z]="info.z"
				></ngx3js-position>
				<ngx3js-controller
					[type]="'tween'"
					[options]="'once'"
					[duration]="info.duration"
				></ngx3js-controller>
			</ngx3js-mesh>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
