<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
</div>
<three-renderer
  [cssType]="'css3d'"
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="50" [near]="1" [far]="5000">
    <three-position [x]="500" [y]="350" [z]="750"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0xa0a0a0'">
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let info of youtubeInfo" [type]="'css3d'" [cssTag]="'iframe'" [cssStyle]="{ width : 480, height : 360, border : 0, src : 'https://www.youtube.com/embed/' + info.id + '?rel=0'}">
        <three-position [x]="info.x" [y]="info.y" [z]="info.z"></three-position>
        <three-rotation [x]="0" [y]="info.ry" [z]="0"></three-rotation>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
