<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener noreferrer">three.js</a> - post-processing SMAA
</div>
<ngx3js-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <ngx3js-composer [scene]="scene" [camera]="camera">
    <ngx3js-pass [type]="'RenderPass'"></ngx3js-pass>
    <ngx3js-pass [type]="'SMAAPass'" ></ngx3js-pass>
  </ngx3js-composer>
  <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
  <ngx3js-camera #camera [type]="'perspective'" [fov]="70" [near]="1" [far]="1000">
    <ngx3js-position [x]="0" [y]="0" [z]="300"></ngx3js-position>
  </ngx3js-camera>
  <ngx3js-scene #scene>
    <ngx3js-shared>
      <ngx3js-geometry
        #geometry
        [type]="'box'"
        [width]="120"
        [height]="120"
        [depth]="120"
      ></ngx3js-geometry>
    </ngx3js-shared>
    <ngx3js-mesh (onLoad)="setMesh($event)">
      <ngx3js-mesh [geometry]="geometry">
        <ngx3js-position [x]="-100" [y]="0" [z]="0"></ngx3js-position>
        <ngx3js-material [type]="'MeshBasicMaterial'" [color]="'0xffffff'" [wireframe]="true"></ngx3js-material>
      </ngx3js-mesh>
      <ngx3js-mesh [geometry]="geometry">
        <ngx3js-position [x]="100" [y]="0" [z]="0"></ngx3js-position>
        <ngx3js-material [type]="'MeshBasicMaterial'">
          <ngx3js-texture [image]="'textures/brick_diffuse.jpg'"></ngx3js-texture>
        </ngx3js-material>
      </ngx3js-mesh>
    </ngx3js-mesh>
  </ngx3js-scene>
</ngx3js-renderer>
