<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener noreferrer">three.js</a> - post-processing SMAA
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-composer [scene]="scene" [camera]="camera">
    <three-pass [type]="'RenderPass'"></three-pass>
    <three-pass [type]="'SMAAPass'" ></three-pass>
  </three-composer>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera #camera [type]="'perspective'" [fov]="70" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="0" [z]="300"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-shared>
      <three-geometry
        #geometry
        [type]="'box'"
        [width]="120"
        [height]="120"
        [depth]="120"
      ></three-geometry>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh [geometry]="geometry">
        <three-position [x]="-100" [y]="0" [z]="0"></three-position>
        <three-material [type]="'MeshBasicMaterial'" [color]="'0xffffff'" [wireframe]="true"></three-material>
      </three-mesh>
      <three-mesh [geometry]="geometry">
        <three-position [x]="100" [y]="0" [z]="0"></three-position>
        <three-material [type]="'MeshBasicMaterial'">
          <three-texture [image]="'textures/brick_diffuse.jpg'"></three-texture>
        </three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
