<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">threejs</a> - High dynamic range (RGBE) Image-based Lighting (IBL)<br />using run-time generated pre-filtered roughness mipmaps (PMREM)<br/>
  Created by Prashant Sharma and <a href="http://clara.io/" target="_blank" rel="noopener">Ben Houston</a>.
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [toneMapping]="'ACESFilmicToneMapping'"
  [outputEncoding]="'sRGBEncoding'"
  [shadowMapEnabled]="true"
  [toneMappingExposure]="1"
  [physicallyCorrectLights]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
  (onLoad)="setRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="40" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="0" [z]="120"></three-position>
  </three-camera>
  <three-scene #scene [background]="background" [backgroundType]="'background-cubemap'">
    <three-light
      [type]="'ambientlight'"
      [color]="'0xffffff'"
      [intensity]="0.2"
    >
    </three-light>
    <three-light
      [type]="'directionallight'"
      [color]="'0xffffff'"
      [intensity]="0.8"
    >
      <three-position [x]="3" [y]="10" [z]="10"></three-position>
    </three-light>
    <three-shared>
      <three-texture 
        #background 
        [image]="envMapInfo.image" 
        [cubeImage]="envMapInfo.cubeImage" 
        [loaderType]="envMapInfo.loaderType"
        [magFilter]="envMapInfo.magFilter"
        [encoding]="envMapInfo.encoding"
      ></three-texture>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'TorusKnotGeometry'"
        [radius]="18"
        [tube]="8"
        [radiusSegments]="150"
        [tubularSegments]="20"
      ></three-geometry>
      <three-material 
        [type]="'MeshStandard'" 
        [color]="'0xffffff'" 
        [roughness]="controls.roughness"
        [metalness]="controls.metalness"
        [envMap]="background"
      ></three-material>
    </three-mesh>
    <three-mesh [receiveShadow]="true" [visible]="controls.debug">
      <three-position [x]="0" [y]="-50" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'Plane'"
        [width]="200"
        [height]="200"
      ></three-geometry>
      <three-material
        [type]="'MeshBasicMaterial'"
        [map]="background"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
