<div id="example">
	<div
		id="panel"
		class="open"
		[ngClass]="searchFocused ? 'searchFocused' : 'searchUnFocused'"
	>
		<app-menu [menuType]="'examples'" #menu></app-menu>
		<div id="panelScrim" (click)="menu.toggleMenu()"></div>
		<div id="contentWrapper">
			<div id="inputWrapper">
				<input
					#search
					placeholder="ngx | example keyword"
					type="text"
					id="filterInput"
					autocorrect="off"
					autocapitalize="off"
					autocomplete="off"
					spellcheck="false"
					(keyup)="searchKeyUp()"
					(focus)="searchFocus()"
					(blur)="searchBlur()"
				/>
				<div id="exitSearchButton" (click)="searchClear()"></div>
			</div>
			<div id="content" [ngClass]="minimal ? 'minimal' : 'maximal'">
				<img
					id="previewsToggler"
					src="assets/examples/files/thumbnails.svg"
					width="20"
					height="20"
					(click)="toggleMinimal()"
				/>
				<a #contentTop class="content-top"></a>
				<div *ngFor="let item of searchMenu" class="menu-item">
					<h2>{{ item.name }}</h2>
					<div
						*ngFor="let child of item.children"
						class="card"
						[ngClass]="child.selected ? 'selected' : 'unselected'"
					>
						<a [href]="'#' + child.id" [routerLink]="child.id" (click)="setFocus(child.id)">
							<div class="cover">
								<img [src]="child.image" loading="lazy" />
							</div>
							<div class="title">{{ child.tags }}</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="viewer">
		<div id="viewer-inner">
			<router-outlet></router-outlet>
		</div>
	</div>

</div>
