<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - WebGL morph target example
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="0.2" [far]="100">
    <three-position [x]="0" [y]="5" [z]="5"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-light
      [type]="'Point'"
      [color]="'0xff2200'"
      [intensity]="0.7"
    >
      <three-position [x]="100" [y]="100" [z]="100"></three-position>
    </three-light>
    <three-light
      [type]="'Point'"
      [color]="'0x22ff00'"
      [intensity]="0.7"
    >
      <three-position [x]="-100" [y]="-100" [z]="-100"></three-position>
    </three-light>
    <three-light
      [type]="'Ambient'"
      [color]="'0x111111'"
    ></three-light>
    <three-mesh (onLoad)="setMesh($event)" #baseMesh [storageName]="'models/gltf/AnimatedMorphSphere/glTF/AnimatedMorphSphere.gltf'" [morphTargets]="true">
      <three-rotation [x]="0" [y]="0" [z]="90"></three-rotation>
      <three-mesh [geometry]="baseMesh" [type]="'Points'" (onLoad)="setPoints($event)">
        <three-material 
          [type]="'Points'"
          [size]="10"
          [sizeAttenuation]="false"
          [alphaTest]="0.5"
          [color]="'0xffffff'"
          [morphTargets]="true"
        >
          <three-texture [image]="'textures/sprites/disc.png'"></three-texture>
        </three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
