<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
	Standard Material Variations by
	<a href="http://clara.io/" target="_blank" rel="noopener">Ben Houston</a
	>.<br /><br />
	Note: Every second sphere has an IBL environment map on it.
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, enableDamping: true }"
	[statsMode]="0"
	[antialias]="true"
	[clearColor]="'0xffffff'"
	[shadowMapEnabled]="true"
	[toneMapping]="'ACESFilmicToneMapping'"
	[toneMappingExposure]="0.75"
	[outputEncoding]="'sRGBEncoding'"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="1" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="40" [near]="1" [far]="2500">
		<ngx3js-position [x]="0.0" [y]="400" [z]="400 * 3.5"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene [background]="hdrEquirect">
		<ngx3js-light
			[type]="'DirectionalLight'"
			[color]="'0xffffff'"
			[intensity]="1"
		>
			<ngx3js-position
				[x]="1"
				[y]="1"
				[z]="1"
				[normalize]="true"
			></ngx3js-position>
		</ngx3js-light>
		<ngx3js-mesh (onLoad)="setPointLight($event)">
			<ngx3js-geometry
				[type]="'SphereGeometry'"
				[radius]="4"
				[widthSegments]="8"
				[heightSegments]="8"
			></ngx3js-geometry>
			<ngx3js-material
				[type]="'MeshBasicMaterial'"
				[color]="'0xffffff'"
			></ngx3js-material>
			<ngx3js-light
				[type]="'PointLight'"
				[color]="'0xffffff'"
				[intensity]="2"
				[distance]="800"
			></ngx3js-light>
		</ngx3js-mesh>
		<ngx3js-mesh>
			<ngx3js-mesh *ngFor="let info of labelInfos" [material]="label">
				<ngx3js-position
					[x]="info.x"
					[y]="info.y"
					[z]="info.z"
				></ngx3js-position>
				<ngx3js-geometry
					[type]="'TextGeometry'"
					[text]="info.text"
					[font]="'gentilis_regular'"
					[size]="20"
					[height]="1"
					[curveSegments]="1"
					[center]="true"
				></ngx3js-geometry>
			</ngx3js-mesh>
		</ngx3js-mesh>
		<ngx3js-shared>
			<ngx3js-texture
				#hdrEquirect
				[storageName]="'pedestrian_overpass_1k.hdr'"
				[storageOption]="{ path: 'textures/equirectangular/' }"
				[cubeType]="'Equirectangular'"
			></ngx3js-texture>
			<ngx3js-material
				#label
				[type]="'MeshBasicMaterial'"
				[color]="'0xffffff'"
			></ngx3js-material>
			<ngx3js-geometry
				#geometry
				[type]="'SphereGeometry'"
				[radius]="(400 / 5) * 0.8 * 0.5"
				[widthSegments]="32"
				[heightSegments]="16"
			></ngx3js-geometry>
			<ngx3js-texture
				#imgTexture
				[image]="'textures/planets/moon_1024.jpg'"
				[wrap]="'RepeatWrapping'"
				[anisotropy]="16"
			></ngx3js-texture>
		</ngx3js-shared>
		<ngx3js-mesh (onLoad)="setMesh($event)">
			<ngx3js-mesh *ngFor="let info of sphereInfos" [geometry]="geometry">
				<ngx3js-position
					[x]="info.x"
					[y]="info.y"
					[z]="info.z"
				></ngx3js-position>
				<ngx3js-material
					[type]="'MeshStandardMaterial'"
					[map]="imgTexture"
					[bumpMap]="imgTexture"
					[color]="info.color"
					[bumpScale]="1"
					[metalness]="info.metalness"
					[roughness]="info.roughness"
					[envMap]="info.envMap ? hdrEquirect : null"
				></ngx3js-material>
			</ngx3js-mesh>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
