<div id="info" class="dark">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - VSM Shadows example by <a href="https://github.com/supereggbert">Paul Brunt</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="10" [z]="30"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-fog [color]="'0xCCCCCC'" [near]="50" [far]="100"></three-fog>
    <three-light
      [type]="'AmbientLight'"
      [color]="'0x444444'"
    >
    </three-light>
    <three-light
      #spotLight
      [type]="'SpotLight'"
      [color]="'0x888888'"
      [name]="'Spot Light'"
      [angle]="36"
      [penumbra]="0.3"
      [castShadow]="true"
      [shadowCameraNear]="8"
      [shadowCameraFar]="200"
      [shadowMapSize]="256"
      [shadowRadius]="controls.spotlight"
      [shadowBias]="-0.002"
    >
      <three-position [x]="8" [y]="10" [z]="5"></three-position>
    </three-light>
    <three-light
      #dirLight
      [type]="'DirectionalLight'"
      [color]="'0xffffff'"
      [intensity]="1"
      [name]="'Dir. Light'"
      [castShadow]="true"
      [shadowCameraNear]="0.1"
      [shadowCameraFar]="500"
      [shadowCameraRight]="17"
      [shadowCameraLeft]="-17"
      [shadowCameraTop]="17"
      [shadowCameraBottom]="-17"
      [shadowMapSize]="512"
      [shadowRadius]="controls.directional"
      [shadowBias]="-0.0005"
    >
      <three-position [x]="0" [y]="10" [z]="0"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="1" [z]="0"></three-position>
      <three-geometry
        [type]="'box'"
        [width]="1"
        [height]="1"
        [depth]="1"
      ></three-geometry>
      <three-material [type]="'meshlambert'" [color]="'0xff0000'"></three-material>
    </three-mesh>
    <three-mesh [receiveShadow]="true">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'Plane'"
        [width]="100"
        [height]="100"
      ></three-geometry>
      <three-material
        [type]="'MeshPhong'"
        [color]="'0x999999'"
        [depthWrite]="false"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
