<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener noreferrer"
    >three.js</a
  >
  - water flow map
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="0.1" [far]="200">
    <three-position [x]="0" [y]="25" [z]="0"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-shared>
      <three-texture #flowMap [image]="'textures/water/Water_1_M_Flow.jpg'"></three-texture>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh [visible]="controls.visible">
        <three-position [x]="0" [y]="1.01" [z]="0"></three-position>
        <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
        <three-geometry
          [type]="'Plane'"
          [width]="20"
          [height]="20"
        ></three-geometry>
        <three-material [type]="'MeshBasicMaterial'" [map]="flowMap"></three-material>
      </three-mesh>
      <three-mesh
        [type]="'water2'"
        [waterScale]="2"
        [textureWidth]="1024"
        [textureHeight]="1024"
        [flowMap]="flowMap" 
      >
        <three-position [x]="0" [y]="1" [z]="0"></three-position>
        <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
        <three-geometry
          [type]="'Plane'"
          [width]="20"
          [height]="20"
        ></three-geometry>
      </three-mesh>
    </three-mesh>
    <three-mesh [receiveShadow]="true">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'Plane'"
        [width]="20"
        [height]="20"
        [widthSegments]="10"
        [heightSegments]="10"
      ></three-geometry>
      <three-material [type]="'MeshBasicMaterial'" [color]="'0xcccccc'">
        <three-texture
          [image]="'textures/floors/FloorsCheckerboard_S_Diffuse.jpg'"
          [wrap]="'repeat'"
          [anisotropy]="16"
          [repeat]="4"
        ></three-texture>
      </three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
