<div [id]="'info'">
  <a [href]="'https://threejs.org'" [target]="'_blank'" [rel]="'noopener'">three.js</a> - effects - stereo. skybox by <a [href]="'http://www.zfight.com/'" [target]="'_blank'" [rel]="'noopener'">Jochum Skoglund</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="60" [near]="1" [far]="100000">
    <three-position [x]="0" [y]="0" [z]="3200"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene>
    <three-shared>
      <three-geometry #geometry
        [type]="'Sphere'"
        [radius]="100"
        [widthSegments]="32"
        [heightSegments]="16"
      ></three-geometry>
      <three-material #material [type]="'MeshBasic'" [color]="'0xffffff'" [refractionRatio]="controls.refractionRatio">
        <three-texture 
          [textureType]="'envMap'" 
          [image]="'/assets/examples/textures/cube/Park3Med/'" 
          [cubeImage]="['px.jpg','nx.jpg','py.jpg','ny.jpg','pz.jpg','nz.jpg']"
          [mapping]="'CubeRefraction'"
        ></three-texture>
      </three-material>

    </three-shared>
    <three-material [materialType]="'background'">
      <three-texture 
        [image]="'/assets/examples/textures/cube/Park3Med/'" 
        [cubeImage]="['px.jpg','nx.jpg','py.jpg','ny.jpg','pz.jpg','nz.jpg']"
    ></three-texture>
    </three-material>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="1"
      [castShadow]="true"
      [shadowCameraTop]="2"
      [shadowCameraBottom]="-2"
      [shadowCameraLeft]="-2"
      [shadowCameraRight]="2"
      [shadowCameraNear]="0.1"
      [shadowCameraFar]="40"
    >
      <three-position [x]="-3" [y]="10" [z]="-10"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let model of models" [geometry]="geometry" [material]="material" (onLoad)="setSpheres($event)">
        <three-position [x]="model.x" [y]="model.y" [z]="model.z"></three-position>
        <three-scale [x]="model.scale" [y]="model.scale" [z]="model.scale"></three-scale>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
