<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - raw shader demo
</div>
<ngx3js-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
  <ngx3js-camera [type]="'perspective'" [fov]="50" [near]="1" [far]="10">
    <ngx3js-position [x]="0" [y]="0" [z]="2"></ngx3js-position>
  </ngx3js-camera>
  <ngx3js-scene #scene [background]="'0x101010'">
    <ngx3js-fog [color]="'0xa0a0a0'" [near]="10" [far]="50"></ngx3js-fog>
    <ngx3js-mesh (onLoad)="setMesh($event)">
      <ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
      <ngx3js-geometry
        [type]="'BufferGeometry'"
        [attrPosition]="positions"
        [attrColor]="colors"
        [attrColorSize]="4"
        [attrColorNormalized]="true"
      ></ngx3js-geometry>
      <ngx3js-material 
        [type]="'RawShaderMaterial'"
        [uniforms]="{ time : { type : 'number', value : 1.0 }}"
        [shader]="'SinColor'"
        [side]="'double'"
        [transparent]="true"
      ></ngx3js-material>
    </ngx3js-mesh>
  </ngx3js-scene>
</ngx3js-renderer>
