<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - raw shader demo
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="50" [near]="1" [far]="10">
    <three-position [x]="0" [y]="0" [z]="2"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0x101010'">
    <three-fog [color]="'0xa0a0a0'" [near]="10" [far]="50"></three-fog>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'BufferGeometry'"
        [attrPosition]="positions"
        [attrColor]="colors"
        [attrColorSize]="4"
        [attrColorNormalized]="true"
      ></three-geometry>
      <three-material 
        [type]="'RawShaderMaterial'"
        [uniforms]="{ time : { type : 'number', value : 1.0 }}"
        [vertexShader]="vertexShader"
        [fragmentShader]="fragmentShader"
        [side]="'double'"
        [transparent]="true"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
