<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - interactive cubes
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [controlAutoRotate]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  [useEvent]="['move']"
  (eventListener)="onMouseMove($event)"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="70" [near]="1" [far]="10000" (onLoad)="setCamera($event)">
    <three-position [x]="0" [y]="0" [z]="100"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene [background]="'0xf0f0f0'">
    <three-light
      type="directional"
      [color]="'0xffffff'"
      [intensity]="1"
    >
      <three-position [x]="1" [y]="1" [z]="1" [normalize]="true"></three-position>
    </three-light>
    <three-shared>
      <three-geometry
        #geometry
        [type]="'box'"
        [width]="20"
        [height]="20"
        [depth]="20"
      ></three-geometry>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-mesh *ngFor="let cube of cubeInfos" [geometry]="geometry">
        <three-position [x]="cube.position.x" [y]="cube.position.y" [z]="cube.position.z"></three-position>
        <three-rotation [x]="cube.rotation.x" [y]="cube.rotation.y" [z]="cube.rotation.z"></three-rotation>
        <three-scale [x]="cube.scale.x" [y]="cube.scale.y" [z]="cube.scale.z"></three-scale>
        <three-material type="meshlambert" [color]="cube.color"></three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
