<div id="info">
  <a href="https://threejs.org">Three.js</a> parallax mapping <br />
  Oryginal shaders authors:
  <a href="http://sunandblackcat.com/tipFullView.php?topicid=28">Igor Dyhta</a>,
  <a href="http://mmikkelsen3d.blogspot.sk/2012/02/parallaxpoc-mapping-and-no-tangent.html">Morten S. Mikkelsen</a><br />
  Texture by <a href="http://agf81.deviantart.com/">AGF81</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="0.01" [far]="10">
    <three-position [x]="0" [y]="0" [z]="2"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'box'"
        [width]="1.0"
        [height]="1.0"
        [depth]="1.0"
      ></three-geometry>
      <three-material 
        [type]="'ShaderMaterial'" 
        [shader]="'ParallaxShader'"
        [uniforms]="{ 
          map : { type : 'texture', value : map },
          bumpMap : { type : 'texture', value : bumpMap }
        }"
      >
        <three-texture #map [textureType]="'map'" [image]="'textures/brick_diffuse.jpg'" [anisotropy]="4"></three-texture>
        <three-texture #bumpMap [textureType]="'bumpMap'" [image]="'textures/brick_bump.jpg'" [anisotropy]="4"></three-texture>
    </three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
