<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener noreferrer">three.js</a> webaudio - visualizer<br/>
  music by <a href="http://www.newgrounds.com/audio/listen/376737" target="_blank" rel="noopener">skullbeatz</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0x000000'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="0" [z]="-10"></three-position>
    <three-listener></three-listener>
  </three-camera>
  <three-scene #scene>
    <three-audio #audio [url]="'sounds/376737_Skullbeatz___Bad_Cat_Maste.mp3'">
      <three-controller>
        <three-controller-item [type]="'autoupdate'"></three-controller-item>
      </three-controller>
    </three-audio>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="1" [z]="0"></three-position>
      <three-geometry
        [type]="'PlaneGeometry'"
        [width]="1"
        [height]="1"
      ></three-geometry>
      <three-material [type]="'ShaderMaterial'" [shader]="'audioVisualizer'" [uniforms]="{ tAudioData : { type : 'DataTexture', value : audio }}"></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
