<div id="info" class="dark">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - memory test I
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="60" [near]="1" [far]="10000">
    <three-position [x]="0" [y]="0" [z]="200"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0xffffff'">
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'box'"
        [width]="50"
        [height]="50"
        [depth]="50"
      ></three-geometry>
      <three-material [type]="'meshlambert'" [color]="'0xff0000'" [wireframe]="true"></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
