<div [id]="'info'">
  <a [href]="'https://threejs.org'" [target]="'_blank'" [rel]="'noopener'">three.js</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  [useEvent]="['move']"
  (eventListener)="onMouseMove($event)"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="60" [near]="0.1" [far]="100" (onLoad)="setCamera($event)">
    <three-position [x]="controls.amount" [y]="controls.amount" [z]="controls.amount"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene>
    <three-light
      [type]="'Hemisphere'"
      [skyColor]="'0xffffff'"
      [groundColor]="'0x000088'"
    >
      <three-position [x]="-1" [y]="1.5" [z]="1"></three-position>
    </three-light>
    <three-light
      [type]="'Hemisphere'"
      [skyColor]="'0xffffff'"
      [groundColor]="'0x880000'"
      [intensity]="0.5"
    >
      <three-position [x]="-1" [y]="1.5" [z]="-1"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)" [type]="'INSTANCED'" [count]="1000">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'Icosahedron'"
        [radius]="0.5"
        [detail]="3"
      ></three-geometry>
      <three-material [type]="'MeshPhong'"></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
