<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
</div>
<ngx3js-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  [useEvent]="'move'"
  (eventListener)="onMouseMove($event)"
  (onRender)="onRender($event)"
>
  <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
  <ngx3js-camera [type]="'perspective'" [fov]="60" [near]="0.1" [far]="100" (onLoad)="setCamera($event)">
    <ngx3js-position [x]="controls.amount" [y]="controls.amount" [z]="controls.amount"></ngx3js-position>
    <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
  </ngx3js-camera>
  <ngx3js-scene #scene>
    <ngx3js-light
      [type]="'Hemisphere'"
      [skyColor]="'0xffffff'"
      [groundColor]="'0x000088'"
    >
      <ngx3js-position [x]="-1" [y]="1.5" [z]="1"></ngx3js-position>
    </ngx3js-light>
    <ngx3js-light
      [type]="'Hemisphere'"
      [skyColor]="'0xffffff'"
      [groundColor]="'0x880000'"
      [intensity]="0.5"
    >
      <ngx3js-position [x]="-1" [y]="1.5" [z]="-1"></ngx3js-position>
    </ngx3js-light>
    <ngx3js-mesh (onLoad)="setMesh($event)" [type]="'INSTANCED'" [count]="1000">
      <ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
      <ngx3js-geometry
        [type]="'Icosahedron'"
        [radius]="0.5"
        [detail]="3"
      ></ngx3js-geometry>
      <ngx3js-material [type]="'MeshPhong'"></ngx3js-material>
    </ngx3js-mesh>
  </ngx3js-scene>
</ngx3js-renderer>
