<div id="info"><a [href]="'https://threejs.org'" [target]="'_blank'" [rel]="'noopener'">three.js</a> webgl - interactive - buffergeometry</div>
<three-renderer
  [controlType]="'orbit'"
  [autoRotate]="true"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  [useEvent]="['move']"
  (eventListener)="onMouseMove($event)"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="27" [near]="1" [far]="3500" (onLoad)="setCamera($event)">
    <three-position [x]="0" [y]="0" [z]="2750"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene [background]="'0x050505'">
    <three-fog [color]="'0x050505'" [far]="3500" [near]="2000"></three-fog>
    <three-light
      [type]="'Ambient'"
      [color]="'0x444444'"
    >
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="0.5"
    >
      <three-position [x]="1" [y]="1" [z]="1"></three-position>
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="1.5"
    >
      <three-position [x]="0" [y]="-1" [z]="0"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'Buffer'"
        [position]="positions"
        [color]="colors"
        [normal]="normals"
      ></three-geometry>
      <three-material 
        [type]="'MeshPhong'" 
        [color]="'0xaaaaaa'"
        [specular]="'0xffffff'"
        [shininess]="250"
        [side]="'double'"
        [vertexColors]="true"
      ></three-material>
      <three-mesh (onLoad)="setLine($event)" [type]="'line'">
        <three-position [x]="0" [y]="0" [z]="0"></three-position>
        <three-geometry
          [type]="'Buffer'"
          [position]="linePosition"
        ></three-geometry>
        <three-material 
          [type]="'LineBasic'" 
          [color]="'0xffffff'"
          [transparent]="true"
        ></three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
