<div class="info dark">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - webgl god-rays example - tree by <a href="http://www.turbosquid.com/3d-models/free-tree-3d-model/592617" target="_blank" rel="noopener">stanloshka</a>
  todo
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="70" [near]="1" [far]="3000">
    <three-position [x]="0" [y]="0" [z]="200"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-material 
      [materialType]="'overrideMaterial'"
      [type]="'MeshDepthMaterial'"
    ></three-material>
    <three-shared>
      <three-material 
        #materialScene
        [type]="'MeshBasicMaterial'"
        [color]="'0x000000'"
      ></three-material>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh [storageName]="'models/obj/tree.obj'" [material]="materialScene">
        <three-position [x]="0" [y]="-150" [z]="-150"></three-position>
        <three-scale [multiply]="400"></three-scale>
      </three-mesh>
      <three-mesh (onLoad)="setSphere($event)">
        <three-geometry [type]="'SphereGeometry'" [radius]="1" [widthSegments]="20" [heightSegments]="10"></three-geometry>
        <three-scale [multiply]="20"></three-scale>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
