<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - light probe
</div>
<three-renderer
  [controlType]="'orbit'"
  [minDistance]="10"
  [maxDistance]="50"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="40" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="0" [z]="30"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene>
    <three-material [materialType]="'background'">
      <three-texture 
        #cubeTexture
        [image]="'textures/cube/pisa/'" [cubeImage]="['','png']"
        [encoding]="'sRGB'"
      ></three-texture>
    </three-material>
    <three-fog [color]="'0xa0a0a0'" [near]="10" [far]="50"></three-fog>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="1"
      (onLoad)="setLight($event)"
    >
      <three-position [x]="10" [y]="10" [z]="10"></three-position>
    </three-light>
    <three-light
      [type]="'lightprobe'"
      [texture]="cubeTexture"
      (onLoad)="setlightProbe($event)"
    >
    </three-light>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="1" [z]="0"></three-position>
      <three-geometry
        [type]="'Sphere'"
        [radius]="5"
        [widthSegments]="64"
        [heightSegments]="32"
      ></three-geometry>
      <three-material [type]="'MeshStandard'" 
        [color]="'0xffffff'"
        [metalness]="0"
        [roughness]="0"
        [envMap]="cubeTexture"
        [envMapIntensity]="1"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
