<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
	webgl - light probe
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{
		enablePan: false,
		enableDamping: true,
		minDistance: 10,
		maxDistance: 50
	}"
	[statsMode]="0"
	[antialias]="true"
	[clearColor]="'0xffffff'"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="40" [near]="1" [far]="1000">
		<ngx3js-position [x]="0" [y]="0" [z]="30"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene>
		<ngx3js-material [materialType]="'background'">
			<ngx3js-texture
				#cubeTexture
				[image]="'textures/cube/pisa/'"
				[cubeImage]="['', 'png']"
				[encoding]="'sRGB'"
			></ngx3js-texture>
		</ngx3js-material>
		<ngx3js-fog [color]="'0xa0a0a0'" [near]="10" [far]="50"></ngx3js-fog>
		<ngx3js-light
			[type]="'directional'"
			[color]="'0xffffff'"
			[intensity]="1"
			(onLoad)="setLight($event)"
		>
			<ngx3js-position [x]="10" [y]="10" [z]="10"></ngx3js-position>
		</ngx3js-light>
		<ngx3js-light
			[type]="'lightprobe'"
			[texture]="cubeTexture"
			(onLoad)="setlightProbe($event)"
		>
		</ngx3js-light>
		<ngx3js-mesh (onLoad)="setMesh($event)">
			<ngx3js-position [x]="0" [y]="1" [z]="0"></ngx3js-position>
			<ngx3js-geometry
				[type]="'Sphere'"
				[radius]="5"
				[widthSegments]="64"
				[heightSegments]="32"
			></ngx3js-geometry>
			<ngx3js-material
				[type]="'MeshStandard'"
				[color]="'0xffffff'"
				[metalness]="0"
				[roughness]="0"
				[envMap]="cubeTexture"
				[envMapIntensity]="1"
			></ngx3js-material>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
