<div class="info dark">
  This demo shows how clone a skinned 3d model using <strong>SkeletonUtils.clone()</strong><br/>
  Soldier model from <a href="https://www.mixamo.com" target="_blank" rel="noopener">https://www.mixamo.com</a>.
</div>
<ngx3js-renderer [controlType]="'orbit'" [controlOptions]="{ enablePan : false , enableDamping : true }" [statsMode]="0" [antialias]="true" [clearColor]="'0xffffff'" [shadowMapEnabled]="true" [guiControl]="controls" [guiParams]="controlsParams" (onRender)="onRender($event)">
  <ngx3js-lookat [x]="0" [y]="1" [z]="0"></ngx3js-lookat>
  <ngx3js-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="10000">
    <ngx3js-position [x]="3" [y]="6" [z]="-10"></ngx3js-position>
  </ngx3js-camera>
  <ngx3js-scene #scene [background]="'0xe0e0e0'">
      <ngx3js-fog [color]="'0xe0e0e0'" [near]="10" [far]="22"></ngx3js-fog>
      <ngx3js-light 
        [type]="'Hemisphere'" 
        [skyColor]="'0xffffff'"
        [groundColor]="'0x444444'" 
      >
        <ngx3js-position [x]="0" [y]="20" [z]="0"></ngx3js-position>
      </ngx3js-light>
      <ngx3js-light 
        [type]="'directional'" 
        [color]="'0xffffff'"
        [intensity]="1"
        [castShadow]="true"
        [shadowCameraTop]="5"
        [shadowCameraBottom]="-5"
        [shadowCameraLeft]="-5"
        [shadowCameraRight]="5"
        [shadowCameraNear]="0.1"
        [shadowCameraFar]="40"
      >
          <ngx3js-position [x]="-3" [y]="10" [z]="-10"></ngx3js-position>
      </ngx3js-light>
      <ngx3js-mesh (onLoad)="setMesh($event)">
          <ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
          <ngx3js-mesh [storageName]="'models/gltf/Soldier.glb'" [storageOption]="{ scale : 0.01 }" [castShadow]="true">
            <ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
            <ngx3js-mixer [action]="'Idle'">
              <ngx3js-clip [name]="'Idle'"></ngx3js-clip>
            </ngx3js-mixer>
          </ngx3js-mesh>
          <ngx3js-mesh [storageName]="'models/gltf/Soldier.glb'" [storageOption]="{ scale : 0.02 }"  [castShadow]="true" [windowExport]="'Soldier'">
            <ngx3js-position [x]="3" [y]="0" [z]="0"></ngx3js-position>
            <ngx3js-mixer [action]="'Walk'">
              <ngx3js-clip [name]="'Walk'"></ngx3js-clip>
            </ngx3js-mixer>
          </ngx3js-mesh>
          <ngx3js-mesh [storageName]="'models/gltf/Soldier.glb'" [storageOption]="{ scale : 0.01 }" [castShadow]="true">
            <ngx3js-position [x]="1" [y]="0" [z]="0"></ngx3js-position>
            <ngx3js-mixer [action]="'Run'">
              <ngx3js-clip [name]="'Run'"></ngx3js-clip>
            </ngx3js-mixer>
          </ngx3js-mesh>
          <ngx3js-mesh [storageName]="'models/gltf/Parrot.glb'" [storageOption]="{ scale : 0.01 }" [castShadow]="true">
            <ngx3js-position [x]="-4" [y]="1" [z]="0"></ngx3js-position>
            <ngx3js-rotation [x]="0" [y]="180" [z]="0"></ngx3js-rotation>
            <ngx3js-mixer [action]="'parrot_A_'">
              <ngx3js-clip [name]="'parrot_A_'"></ngx3js-clip>
            </ngx3js-mixer>
          </ngx3js-mesh>
          <ngx3js-mesh [storageName]="'models/gltf/Parrot.glb'" [storageOption]="{ scale : 0.02 }" [castShadow]="true">
            <ngx3js-position [x]="-2" [y]="1" [z]="0"></ngx3js-position>
            <ngx3js-rotation [x]="0" [y]="90" [z]="0"></ngx3js-rotation>
          </ngx3js-mesh>
      </ngx3js-mesh>
      <ngx3js-mesh [receiveShadow]="true" >
        <ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
        <ngx3js-rotation [x]="-90" [y]="0" [z]="0"></ngx3js-rotation>
        <ngx3js-geometry [type]="'Plane'" [width]="40" [height]="40"></ngx3js-geometry>
        <ngx3js-material [type]="'MeshPhong'" [color]="'0x999999'" [depthWrite]="false"></ngx3js-material>
    </ngx3js-mesh>

  </ngx3js-scene>
</ngx3js-renderer>
