<div class="info dark">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - webgl terrain + fog demo <br />(left click: forward, right click: backward)
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="-100" [y]="810" [z]="-800"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="60" [near]="1" [far]="10000">
    <three-position [x]="100" [y]="800" [z]="-800"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0xefd1b5'">
    <three-fog [type]="'FogExp2'" [color]="'0xefd1b5'" [density]="0.00055"></three-fog>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        #geometry
        [type]="'perlin'"
        [perlinType]="'terrain'"
        [width]="7500"
        [height]="10"
        [depth]="7500"
        [widthSegments]="256"
        [depthSegments]="256"
      ></three-geometry>
      <three-material [type]="'MeshBasic'">
        <three-texture [perlin]="geometry" [wrapS]="'ClampToEdge'" [wrapT]="'ClampToEdge'"></three-texture>
      </three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
