<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - effects - anaglyph<br/>
  skybox by <a href="http://ict.debevec.org/~debevec/" target="_blank" rel="noopener">Paul Debevec</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="1" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="1000">
    <three-position [x]="1" [y]="2" [z]="-3"></three-position>
    <three-lookat [x]="0" [y]="1" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene>
    <three-material [materialType]="'background'">
      <three-texture #envMap [image]="'textures/cube/pisa/'" [cubeImage]="['px.png','nx.png','py.png','ny.png','pz.png','nz.png']"></three-texture>
    </three-material>
    <three-light
      [type]="'Hemisphere'"
      [skyColor]="'0xffffff'"
      [groundColor]="'0x444444'"
    >
      <three-position [x]="0" [y]="20" [z]="0"></three-position>
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="1"
      [castShadow]="true"
      [shadowCameraTop]="2"
      [shadowCameraBottom]="-2"
      [shadowCameraLeft]="-2"
      [shadowCameraRight]="2"
      [shadowCameraNear]="0.1"
      [shadowCameraFar]="40"
    >
      <three-position [x]="-3" [y]="10" [z]="-10"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-mesh *ngFor="let model of models" (onLoad)="setSpheres($event)">
        <three-position [x]="model.x" [y]="model.y" [z]="model.z"></three-position>
        <three-scale [x]="model.scale" [y]="model.scale" [z]="model.scale"></three-scale>
        <three-geometry
          [type]="'Sphere'"
          [radius]="0.1"
          [widthSegments]="32"
          [heightSegments]="16"
        ></three-geometry>
        <three-material [type]="'MeshBasic'" [color]="'0xffffff'" [envMap]="envMap"></three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
