<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - custom attributes example - billboards - alphatest
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="false"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="40" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="0" [z]="500"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-mesh *ngIf="vertices && sizes"(onLoad)="setMesh($event)" [type]="'Points'">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'BufferGeometry'"
        [attrPosition]="vertices"
        [attrColor]="colors"
        [attrColorKey]="'ca'"
        [attrColorSize]="3"
        [attrSize]="sizes"
      ></three-geometry>
      <three-material 
        [type]="'ShaderMaterial'" 
        [uniforms]="{
          amplitude : { type : 'number', value : 1.0 },
          color : { type : 'color', value : '0xffffff' },
          pointTexture : { type : 'texture', value : 'textures/sprites/ball.png', options : 'RepeatWrapping' }
        }"
        [vertexShader]="vertexshader"
        [fragmentShader]="fragmentshader"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
