<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - sprites
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="60" [near]="1" [far]="2100">
    <three-position [x]="0" [y]="0" [z]="1500"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-fog [color]="'0x000000'" [near]="1500" [far]="2100"></three-fog>
    <three-shared>
      <three-texture #mapB [image]="'textures/sprite1.png'"></three-texture>
      <three-texture #mapC [image]="'textures/sprite2.png'" [offset]="-0.5" [repeat]="2"></three-texture>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let sprite of spritePositions" [type]="'sprite'" [name]="sprite.mapType">
        <three-position [x]="sprite.x" [y]="sprite.y" [z]="sprite.z" [normalize]="true" [multiply]="500"></three-position>
        <three-scale [x]="128" [y]="128" [z]="1"></three-scale>
        <three-material 
          [type]="'SpriteMaterial'"
          [color]="sprite.color"
          [fog]="true"
          [map]="sprite.mapType == 'b' ? mapB : mapC"
        ></three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
