<div class="info dark">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
	webgl - animation - keyframes<br />
	Model:
	<a
		href="https://www.artstation.com/artwork/1AGwX"
		target="_blank"
		rel="noopener"
		>Littlest Tokyo</a
	>
	by
	<a href="https://www.artstation.com/glenatron" target="_blank" rel="noopener"
		>Glen Fox</a
	>, CC Attribution.
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, enableDamping: true }"
	[statsMode]="0"
	[antialias]="true"
	[clearColor]="'0xffffff'"
	[outputEncoding]="'sRGBEncoding'"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0.5" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="40" [near]="1" [far]="100">
		<ngx3js-position [x]="5" [y]="2" [z]="8"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene [background]="'0xbfe3dd'" [environment]="{ value : 'RoomEnvironment.room', sigma : 0.04}">
		<ngx3js-mesh
			[type]="'light'"
			[lightOptions]="{
				type: 'Hemisphere',
				skyColor: '0xffffff',
				groundColor: '0x000000',
				intensity: 0.4
			}"
		></ngx3js-mesh>
		<ngx3js-mesh
			[type]="'light'"
			[lightOptions]="{ type: 'directional', color: '0xffffff', intensity: 1 }"
			[castShadow]="true"
		>
			<ngx3js-position [x]="5" [y]="2" [z]="8"></ngx3js-position>
		</ngx3js-mesh>
		<ngx3js-mesh
			[storageName]="'models/gltf/LittlestTokyo.glb'"
			(onLoad)="setMesh($event)"
			[storageOption]="{ useDraco: true, decoderPath: 'js/libs/draco/gltf/' }"
		>
			<ngx3js-position [x]="1" [y]="1" [z]="0"></ngx3js-position>
			<ngx3js-scale [x]="0.01" [y]="0.01" [z]="0.01"></ngx3js-scale>
			<ngx3js-mixer [action]="'base'">
				<ngx3js-clip [name]="'base'" [index]="0"></ngx3js-clip>
			</ngx3js-mixer>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
