<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - webgl raymarching example<br/>
  reflect by <a href="https://github.com/gam0022" target="_blank" rel="noopener">gam0022</a> (<a href="http://qiita.com/gam0022/items/03699a07e4a4b5f2d41f" target="_blank" rel="noopener">article</a>)
  todo
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
  (onLoad)="setRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-scene #scene>
    <three-mesh #dolly (onLoad)="setDolly($event)">
      <three-camera #camera [type]="'perspective'" [fov]="60" [near]="1" [far]="2000">
        <three-position [x]="0" [y]="0" [z]="4"></three-position>
      </three-camera>
    </three-mesh>
    <three-mesh (onLoad)="setMesh($event)" [frustumCulled]="false">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'PlaneGeometry'"
        [width]="2.0"
        [height]="2.0"
      ></three-geometry>
      <three-material [type]="'RawShaderMaterial'" 
        [uniforms]="{
          resolution : { type : 'vector2', value : camera },
          cameraWorldMatrix : { type : 'matrixWorld', value : camera },
          cameraProjectionMatrixInverse : { type : 'projectionMatrixInverse', value : camera }
        }"
        [vertexShader]="vertex_shader"
        [fragmentShader]="fragment_shader"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
