<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - THREE.PointLight ShadowMap by <a href="https://github.com/mkkellogg">mkkellogg</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="10" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="10" [z]="40"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-light
      [type]="'AmbientLight'"
      [color]="'0x111122'"
      [intensity]="1"
    >
    </three-light>
    <three-shared>
      <three-texture 
        #alphaMap
        [textureType]="'alphaMap'" 
        [program]="sphereCanvas" 
        [width]="2" 
        [height]="2"
        [magFilter]="'NearestFilter'"
        [wrap]="'Repeat'"
        [repeatX]="1"
        [repeatY]="4.5"
      ></three-texture>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-mesh *ngFor="let color of pointLightColors;let idx = index;" 
        [type]="'light'" 
        [lightOptions]="{
          type : 'PointLight',
          color: color,
          intensity : 1.5,
          distance : 20,
          shadowCameraNear : 1,
          shadowCameraFar : 60,
          shadowBias : -0.005
        }"
      >
        <three-position [x]="idx * 5" [y]="0" [z]="0"></three-position>
        <three-mesh>
          <three-geometry
            [type]="'SphereGeometry'"
            [radius]="0.3"
            [widthSegments]="12"
            [heightSegments]="6"
          ></three-geometry>
          <three-material [type]="'MeshBasic'" [color]="color" [colorMultiply]="1.5"></three-material>
        </three-mesh>
        <three-mesh [castShadow]="true" [receiveShadow]="true">
          <three-geometry
            [type]="'SphereGeometry'"
            [radius]="2"
            [widthSegments]="32"
            [heightSegments]="8"
          ></three-geometry>
          <three-material [type]="'MeshPhongMaterial'" [side]="'double'" [alphaTest]="0.5" [alphaMap]="alphaMap">
          </three-material>
          <three-material 
            [type]="'MeshDistance'" 
            [materialType]="'customdistance'" 
            [alphaTest]="0.5"
            [alphaMap]="alphaMap"
          ></three-material>
        </three-mesh>
      </three-mesh>
    </three-mesh>
    <three-mesh [receiveShadow]="true" [castShadow]="false">
      <three-position [x]="0" [y]="10" [z]="0"></three-position>
      <three-geometry
        [type]="'BoxGeometry'"
        [width]="30"
        [height]="30"
        [depth]="30"
      ></three-geometry>
      <three-material
        [type]="'MeshPhongMaterial'"
        [color]="'0xa0adaf'"
        [specular]="'0x111111'"
        [side]="'back'"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
