<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - 3D LUTs<br />
  Battle Damaged Sci-fi Helmet by
  <a href="https://sketchfab.com/theblueturtle_" target="_blank" rel="noopener">theblueturtle_</a><br />
  <a href="https://hdrihaven.com/hdri/?h=royal_esplanade" target="_blank" rel="noopener">Royal Esplanade</a> by <a href="https://hdrihaven.com/" target="_blank" rel="noopener">HDRI Haven</a><br />
  LUTs from <a href="https://www.rocketstock.com/free-after-effects-templates/35-free-luts-for-color-grading-videos/">RocketStock</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-composer [scene]="scene" [camera]="camera">
    <three-pass [type]="'RenderPass'"></three-pass>
    <three-pass [type]="'ShaderPass'" [shader]="'GammaCorrectionShader'"></three-pass>
    <three-pass [type]="'LUTPass'" [enabled]="controls.enabled" [lut]="controls.lut" [use2DLut]="controls.use2dLut" [intensity]="controls.intensity"></three-pass>
  </three-composer>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera #camera [type]="'perspective'" [fov]="45" [near]="0.25" [far]="20">
    <three-position [x]="-1.8" [y]="0.6" [z]="2.7"></three-position>
  </three-camera>
  <three-scene #scene [background]="background" [backgroundType]="'background-environment-angular'">
    <three-shared>
      <three-texture #background [storageName]="'royal_esplanade_1k.hdr'" [storageOption]="{ path : 'textures/equirectangular/'}"></three-texture>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'DamagedHelmet.gltf'" [storageOption]="{ path : 'models/gltf/DamagedHelmet/glTF/'}">
    </three-mesh>
  </three-scene>
</three-renderer>
