<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - 3D
	LUTs<br />
	Battle Damaged Sci-fi Helmet by
	<a href="https://sketchfab.com/theblueturtle_" target="_blank" rel="noopener"
		>theblueturtle_</a
	><br />
	<a
		href="https://hdrihaven.com/hdri/?h=royal_esplanade"
		target="_blank"
		rel="noopener"
		>Royal Esplanade</a
	>
	by
	<a href="https://hdrihaven.com/" target="_blank" rel="noopener">HDRI Haven</a
	><br />
	LUTs from
	<a
		href="https://www.rocketstock.com/free-after-effects-templates/35-free-luts-for-color-grading-videos/"
		>RocketStock</a
	>
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, enableDamping: true }"
	[statsMode]="0"
	[antialias]="true"
	[clearColor]="'0xffffff'"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-effect [scene]="scene" [camera]="camera">
		<ngx3js-pass [type]="'RenderPass'"></ngx3js-pass>
		<ngx3js-pass
			[type]="'ShaderPass'"
			[shader]="'GammaCorrectionShader'"
		></ngx3js-pass>
		<ngx3js-pass
			[type]="'LUTPass'"
			[enabled]="controls.enabled"
			[lut]="controls.lut"
			[use2DLut]="controls.use2dLut"
			[intensity]="controls.intensity"
		></ngx3js-pass>
	</ngx3js-effect>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera
		#camera
		[type]="'perspective'"
		[fov]="45"
		[near]="0.25"
		[far]="20"
	>
		<ngx3js-position [x]="-1.8" [y]="0.6" [z]="2.7"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene>
		<ngx3js-texture
			[type]="'background-environment'"
			[cubeType]="'angular'"
			[storageName]="'royal_esplanade_1k.hdr'"
			[storageOption]="{ path: 'textures/equirectangular/' }"
		></ngx3js-texture>
		<ngx3js-mesh
			(onLoad)="setMesh($event)"
			[storageName]="'DamagedHelmet.gltf'"
			[storageOption]="{ path: 'models/gltf/DamagedHelmet/glTF/' }"
		>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
