::ng-deep {
  div.xLabel,
  div.yLabel {
    pointer-events: none !important;
    background-color: rgb(255,255,255,0.7);
    display: inline-block;
    padding: 7px;
    border-radius: 3px;
    min-width: 120px;
    font-size: 20px;
    line-height: 100%;
  }
  div.yLabel {
    text-align: left;
    margin-left:-80px;
  }
  div.xLabel {
    text-align: center;
  }
}