::ng-deep {
  div.tooltip,
  div.xLabel,
  div.yLabel {
    pointer-events: none !important;
    background-color: var(--background-color);
    border: var(--border-style);
    display: inline-block;
    padding: 7px;
    border-radius: 3px;
    font-size: 20px;
    line-height: 100%;
    margin: 0;
    color : var(--text-color);
  }
  div.tooltip {
    font-size: 12px;
    transform-origin: center bottom;
    margin-top: -2em;
    span {
      font-size: 12px;
      margin:0;
    }
  }

  div.yLabel {
    text-align: left;
    transform-origin: 20% 50%;
    min-width: 120px;
  }
  div.xLabel {
    text-align: center;
    transform-origin: center center;
  }
}