<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> physics - ammo.js instancing
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0.5" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="50" [near]="0.1" [far]="100">
    <three-position [x]="-1" [y]="1.5" [z]="2"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0x666666'">
    <three-physics  [type]="'physics'" [gravity]="-9.8" (onLoad)="setPhysics($event)"></three-physics>
    <three-light
      [type]="'Hemisphere'"
      [intensity]="0.35"
    ></three-light>
    <three-light
      [type]="'DirectionalLight'"
      [castShadow]="true"
      [shadowCameraZoom]="2"
    >
      <three-position [x]="5" [y]="5" [z]="5"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh 
        [castShadow]="true" 
        [receiveShadow]="true" 
        [type]="'InstancedMesh'"
        [count]="100"
        [makeMatrix]="makeMatrix"
        [makeColor]="makeColor"
      >
        <three-position [x]="0" [y]="0" [z]="0"></three-position>
        <three-geometry
          [type]="'box'"
          [width]="0.1"
          [height]="0.1"
          [depth]="0.1"
        ></three-geometry>
        <three-material [type]="'MeshLambertMaterial'"></three-material>
        <three-rigidbody [mass]="1"></three-rigidbody>
      </three-mesh>
      <three-mesh 
        [castShadow]="true" 
        [receiveShadow]="true" 
        [type]="'InstancedMesh'"
        [count]="100"
        [makeMatrix]="makeMatrix"
        [makeColor]="makeColor"
      >
        <three-position [x]="0" [y]="0" [z]="0"></three-position>
        <three-geometry
          [type]="'IcosahedronGeometry'"
          [radius]="0.075"
          [detail]="3"
        ></three-geometry>
        <three-material [type]="'MeshLambertMaterial'"></three-material>
        <three-rigidbody [mass]="1"></three-rigidbody>
      </three-mesh>
    </three-mesh>
    <three-mesh [receiveShadow]="true">
      <three-position [x]="0" [y]="-2.5" [z]="0"></three-position>
      <three-geometry
        [type]="'BoxGeometry'"
        [width]="10"
        [height]="5"
        [depth]="10"
      ></three-geometry>
      <three-material
        [type]="'ShadowMaterial'"
        [color]="'0x111111'"
      ></three-material>
      <three-rigidbody [mass]="0"></three-rigidbody>
    </three-mesh>
  </three-scene>
</three-renderer>
