<div class="info dark">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - exporter - draco<br/><br/>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="1000">
    <three-position [x]="200" [y]="100" [z]="200"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0xa0a0a0'">
    <three-fog [color]="'0xa0a0a0'" [near]="200" [far]="1000"></three-fog>
    <three-light
      [type]="'Hemisphere'"
      [skyColor]="'0xffffff'"
      [groundColor]="'0x444444'"
    >
      <three-position [x]="0" [y]="200" [z]="0"></three-position>
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="0.5"
      [castShadow]="true"
      [shadowCameraTop]="180"
      [shadowCameraBottom]="-100"
      [shadowCameraLeft]="-120"
      [shadowCameraRight]="120"
    >
      <three-position [x]="0" [y]="200" [z]="100"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="25" [z]="0"></three-position>
      <three-geometry
        [type]="'TorusKnotGeometry'"
        [radius]="50"
        [tube]="15"
        [radialSegments]="200"
        [tubularSegments]="30"
      ></three-geometry>
      <three-material [type]="'MeshPhongMaterial'" [color]="'0x00ff00'"></three-material>
    </three-mesh>
    <three-mesh [receiveShadow]="true">
      <three-position [x]="0" [y]="-75" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'Plane'"
        [width]="2000"
        [height]="2000"
      ></three-geometry>
      <three-material
        [type]="'MeshPhong'"
        [color]="'0x999999'"
        [depthWrite]="false"
      ></three-material>
    </three-mesh>
    <three-helper 
      [type]="'GridHelper'"
      [size]="2000"
      [divisions]="20"
      [opacity]="0.2"
      [color1]="'0x000000'"
      [color2]="'0x000000'"
    >
      <three-position [x]="0" [y]="-75" [z]="0"></three-position>
    </three-helper>
  </three-scene>
</three-renderer>
