<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js webgl</a> - equirectangular panorama demo. photo by <a href="http://www.flickr.com/photos/jonragnarsson/2294472375/" target="_blank" rel="noopener">Jón Ragnarsson</a>.<br />
  drag equirectangular texture into the page.
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="75" [near]="1" [far]="1100">
    <three-position [x]="0" [y]="0" [z]="-10"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0xa0a0a0'">
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'Sphere'"
        [radius]="500"
        [widthSegments]="60"
        [heightSegments]="40"
      >
        <three-scale [x]="-1" [y]="1" [z]="1"></three-scale>
      </three-geometry>
      <three-material [type]="'MeshBasic'">
        <three-texture [image]="'textures/2294472375_24a3b8ef46_o.jpg'" [useDropImage]="true"></three-texture>
      </three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
