<div id="info">
  <a [href]="'https://threejs.org'" [target]="'_blank'" [rel]="'noopener'">three.js</a> -
  <a [href]="'https://github.com/KhronosGroup/glTF'" [target]="'_blank'" [rel]="'noopener'">glTF</a> 2.0 loader<br />
  <div [id]="'description'"></div>
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="sceneInfo.centerX" [y]="sceneInfo.centerY" [z]="sceneInfo.centerZ"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="0.001" [far]="1000">
    <three-position [x]="sceneInfo.cameraPosX" [y]="sceneInfo.cameraPosY" [z]="sceneInfo.cameraPosZ"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene [background]="'0x222222'">
    <three-material [materialType]="'background'" [storageName]="'textures/equirectangular/venice_sunset_1k.hdr'">
    </three-material>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="1"
      [castShadow]="true"
      [shadowCameraTop]="2"
      [shadowCameraBottom]="-2"
      [shadowCameraLeft]="-2"
      [shadowCameraRight]="2"
      [shadowCameraNear]="0.1"
      [shadowCameraFar]="40"
    >
      <three-position [x]="-3" [y]="10" [z]="-10"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="sceneInfo.url" [storageOption]="{ useDraco : true, useDds : true, decoderPath : 'js/libs/draco/gltf/'}">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
    </three-mesh>
  </three-scene>
</three-renderer>
