<three-renderer [controlType]="'orbit'" [statsMode]="0" [antialias]="true" [clearColor]="'0x000'" [shadowMapEnabled]="true" [guiControl]="controls" [guiParams]="controlsParams" (onRender)="onRender($event)">
    <three-shared>
        <three-pass #renderPass [type]="'render'"></three-pass>
        <three-pass #effectCopy [type]="'shader'" [shader]="'copy'"></three-pass>
        <three-pass #renderScene [type]="'texture'" [map]="composer"></three-pass>
        <three-pass #bloomPass [type]="'bloom'" 
            [strength]="controls.bloompass.strength"
            [kernelSize]="controls.bloompass.kernelSize"
            [sigma]="controls.bloompass.sigma"
            [resolution]="controls.bloompass.resolution"
        ></three-pass>
        <three-pass #effectFilm [type]="'Film'" 
            [noiseIntensity]="controls.film.noiseIntensity"
            [scanlinesIntensity]="controls.film.scanlinesIntensity"
            [scanlinesCount]="controls.film.scanlinesCount"
            [grayscale]="controls.film.grayscale"
            [renderToScreen]="true"
        ></three-pass>
        <three-pass #dotScreenPass [type]="'dotScreen'" 
            [centerX]="controls.dotscreen.centerX"
            [centerY]="controls.dotscreen.centerY"
            [angle]="controls.dotscreen.angle"
            [scale]="controls.dotscreen.scale"
        ></three-pass>
    </three-shared>
    <three-camera [type]="'perspective'" [fov]="45" [near]="0.1" [far]="2000">
        <three-position [x]="20" [y]="0" [z]="-20"></three-position>
        <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
        <three-composer [clear]="true" [viewport]="true" [x]="0" [y]="'50%'" [width]="'50%'" [height]="'50%'">
            <three-pass [refer]="renderScene"></three-pass>
            <three-pass [refer]="bloomPass"></three-pass>
            <three-pass [refer]="effectCopy"></three-pass>
        </three-composer>
        <three-composer [viewport]="true" [x]="'50%'" [y]="'50%'" [width]="'50%'" [height]="'50%'">
            <three-pass [refer]="renderScene"></three-pass>
            <three-pass [refer]="effectFilm"></three-pass>
        </three-composer>
        <three-composer [viewport]="true" [x]="0" [y]="0" [width]="'50%'" [height]="'50%'">
            <three-pass [refer]="renderScene"></three-pass>
            <three-pass [refer]="dotScreenPass"></three-pass>
            <three-pass [refer]="effectCopy"></three-pass>
        </three-composer>
        <three-composer #composer [viewport]="true" [x]="'50%'" [y]="0" [width]="'50%'" [height]="'50%'">
            <three-pass [refer]="renderPass"></three-pass>
            <three-pass [refer]="effectCopy"></three-pass>
        </three-composer>
    </three-camera>
    <three-scene #scene>
        <three-mesh [type]="'light'" [lightOptions]="{ type : 'ambient', color : '0x181818' }"></three-mesh>
        <three-mesh [type]="'light'" [lightOptions]="{ type : 'directional', color : '0xffffff' , intensity : 0.6  }" [castShadow]="true" >
            <three-position [x]="550" [y]="100" [z]="550"></three-position>
            <three-lookat [refer]="scene"></three-lookat>
        </three-mesh>
        <three-mesh>
            <three-position [x]="0" [y]="0" [z]="0"></three-position>
            <three-rotation [x]="rotation.x" [y]="rotation.y" [z]="rotation.z"></three-rotation>
            <three-geometry [type]="'Sphere'" [radius]="10" [widthSegments]="40" [heightSegments]="40"></three-geometry>
            <three-material [type]="'MeshPhong'" [specular]="'0x4444aa'" [wireframe]="controls.wireframe">
              <three-texture [textureType]="'map'" [image]="'/assets/textures/planets/Earth.png'"></three-texture>
              <three-texture [textureType]="'specularMap'" [image]="'/assets/textures/planets/EarthSpec.png'"></three-texture>
              <three-texture [textureType]="'normalMap'" [image]="'/assets/textures/planets/EarthNormal.png'"></three-texture>
            </three-material>
        </three-mesh>
    </three-scene>
</three-renderer>
