<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - interactive - particles
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , autoRotate : true , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  [useEvent]="'move'"
  (eventListener)="onMouseMove($event)"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="10000" (onLoad)="setCamera($event)">
    <three-position [x]="0" [y]="0" [z]="250"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene>
    <three-mesh (onLoad)="setMesh($event)" [type]="'Points'">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'Buffer'"
        [attrPosition]="position"
        [attrCustomColor]="colors"
        [attrSize]="sizes"
      ></three-geometry>
      <three-material [type]="'Shader'" [alphaTest]="0.9"
        [uniforms]="uniforms"
        [shader]="'ShaderDemo9'"
      >
      </three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
