<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
	webgl - interactive - particles
	todo
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, autoRotate: true, enableDamping: true }"
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	[useEvent]="'move'"
	(eventListener)="onMouseMove($event)"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera
		[type]="'perspective'"
		[fov]="45"
		[near]="1"
		[far]="10000"
		(onLoad)="setCamera($event)"
	>
		<ngx3js-position [x]="0" [y]="0" [z]="250"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene>
		<ngx3js-mesh (onLoad)="setMesh($event)" [type]="'Points'">
			<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-geometry
				[type]="'Buffer'"
				[attrPosition]="position"
				[attrCustomColor]="colors"
				[attrSize]="sizes"
			></ngx3js-geometry>
			<ngx3js-material
				[type]="'Shader'"
				[alphaTest]="0.9"
				[uniforms]="uniforms"
				[shader]="'ShaderDemo9'"
			>
			</ngx3js-material>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
