<div id="info">
  <a [href]="'https://threejs.org'" [target]="'_blank'" [rel]="'noopener'">three.js</a> webgl - parametric geometries
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0x000000'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-shared>
    <three-material #material [type]="'MeshPhong'" [side]="'double'">
      <three-texture [textureType]="'map'" [image]="'/assets/examples/textures/uv_grid_opengl.jpg'" [wrapS]="'Repeat'" [wrapT]="'Repeat'" [anisotropy]="16"></three-texture>
    </three-material>
    <three-rotation (onLoad)="setRotation($event)" [x]="0" [y]="0" [z]="0"></three-rotation>
  </three-shared>
  <three-scene #scene>
    <three-light
      [type]="'Ambient'"
      [color]="'0xcccccc'"
      [intensity]="0.4"
    >
    </three-light>
    <three-camera [type]="'perspective'" (onLoad)="setCamera($event)" [fov]="45" [near]="1" [far]="2000">
      <three-position [x]="0" [y]="400" [z]="800"></three-position>
      <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
      <three-light
        [type]="'Point'"
        [color]="'0xffffff'"
        [intensity]="0.8"
      >
      </three-light>
    </three-camera>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh [material]="material" [rotation]="rotation">
        <three-position [x]="-200" [y]="0" [z]="200"></three-position>
        <three-geometry
          [type]="'Parametric'"
          [parametric]="'plane'"
          [width]="100"
          [height]="100"
          [slices]="10"
          [stacks]="10"
        ></three-geometry>
      </three-mesh>
      <three-mesh [material]="material" [rotation]="rotation">
        <three-position [x]="0" [y]="0" [z]="200"></three-position>
        <three-scale [x]="5" [y]="5" [z]="5"></three-scale>
        <three-geometry
          [type]="'Parametric'"
          [parametric]="'klein'"
          [slices]="20"
          [stacks]="20"
        ></three-geometry>
      </three-mesh>
      <three-mesh [material]="material" [rotation]="rotation">
        <three-position [x]="200" [y]="0" [z]="200"></three-position>
        <three-scale [x]="30" [y]="30" [z]="30"></three-scale>
        <three-geometry
          [type]="'Parametric'"
          [parametric]="'mobius'"
          [slices]="20"
          [stacks]="20"
        ></three-geometry>
      </three-mesh>
      <three-mesh [material]="material" [rotation]="rotation">
        <three-position [x]="200" [y]="0" [z]="200"></three-position>
        <three-scale [x]="30" [y]="30" [z]="30"></three-scale>
        <three-geometry
          [type]="'Parametric'"
          [parametric]="'mobius'"
          [slices]="20"
          [stacks]="20"
        ></three-geometry>
      </three-mesh>
      <three-mesh [material]="material" [rotation]="rotation">
        <three-position [x]="-200" [y]="0" [z]="-200"></three-position>
        <three-geometry
          [type]="'parametrictorusknot'"
          [radius]="50"
          [tube]="10"
          [radialSegments]="50"
          [tubularSegments]="20"
          [p]="2"
          [q]="3"
        ></three-geometry>
      </three-mesh>
      <three-mesh [material]="material" [rotation]="rotation">
        <three-position [x]="0" [y]="0" [z]="-200"></three-position>
        <three-geometry
          [type]="'parametricSphere'"
          [radius]="50"
          [widthSegments]="20"
          [heightSegments]="10"
        ></three-geometry>
      </three-mesh>
      <three-mesh [material]="material" [rotation]="rotation">
        <three-position [x]="200" [y]="0" [z]="-200"></three-position>
        <three-scale  [x]="2" [y]="2" [z]="2"></three-scale>
        <three-geometry
          [type]="'parametricTube'"
          [curve]="'GrannyKnot'"
          [radius]="50"
          [tubularSegments]="100"
          [radius]="3"
          [radiusSegments]="8"
          [closed]="true"
        ></three-geometry>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
