<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
	webgl - geometry extrude shapes
</div>
<ngx3js-renderer
	[controlType]="'Trackball'"
	[controlOptions]="{ minDistance: 200, maxDistance: 500 }"
	[statsMode]="0"
	[antialias]="true"
	[clearColor]="'0x222222'"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-scene #scene [background]="'0x222222'">
		<ngx3js-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="1000">
			<ngx3js-position [x]="0" [y]="0" [z]="500"></ngx3js-position>
			<ngx3js-light [type]="'Point'" [color]="'0xffffff'"> </ngx3js-light>
		</ngx3js-camera>
		<ngx3js-light [type]="'Ambient'" [color]="'0x222222'"> </ngx3js-light>
		<ngx3js-mesh (onLoad)="setMesh($event)">
			<ngx3js-mesh>
				<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
				<ngx3js-geometry
					[type]="'Extrude'"
					[shapes]="shapes1"
					[steps]="100"
					[bevelEnabled]="false"
					[extrudePath]="extrudePath"
					[closed]="true"
				></ngx3js-geometry>
				<ngx3js-material
					[type]="'meshlambert'"
					[color]="'0xb00000'"
					[wireframe]="false"
				></ngx3js-material>
			</ngx3js-mesh>
			<ngx3js-mesh>
				<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
				<ngx3js-geometry
					[type]="'Extrude'"
					[shapes]="shapes2"
					[steps]="200"
					[bevelEnabled]="false"
					[extrudePath]="randomPoints"
				></ngx3js-geometry>
				<ngx3js-material
					[type]="'meshlambert'"
					[color]="'0xff8000'"
					[wireframe]="false"
				></ngx3js-material>
			</ngx3js-mesh>
			<ngx3js-mesh>
				<ngx3js-position [x]="50" [y]="100" [z]="50"></ngx3js-position>
				<ngx3js-geometry
					[type]="'Extrude'"
					[shapes]="shapes2"
					[depth]="20"
					[steps]="1"
					[bevelEnabled]="true"
					[bevelThickness]="2"
					[bevelSize]="4"
					[bevelSegments]="1"
				></ngx3js-geometry>
				<ngx3js-material
					[type]="'meshlambert'"
					[color]="'0xb00000'"
					[wireframe]="false"
				></ngx3js-material>
				<ngx3js-material
					[type]="'meshlambert'"
					[color]="'0xff8000'"
					[wireframe]="false"
				></ngx3js-material>
				<ngx3js-material
					[type]="'meshlambert'"
					[color]="'0xb00000'"
					[wireframe]="false"
				></ngx3js-material>
			</ngx3js-mesh>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
