<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - geometry extrude shapes
</div>
<three-renderer
  [controlType]="'Trackball'"
  [minDistance]="200"
  [maxDistance]="500"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0x222222'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-scene #scene [background]="'0x222222'">
    <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="1000">
      <three-position [x]="0" [y]="0" [z]="500"></three-position>
      <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
      <three-light
        type="Point"
        [color]="'0xffffff'"
      >
      </three-light>
    </three-camera>
    <three-light
      type="Ambient"
      [color]="'0x222222'"
    >
    </three-light>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'box'"
        [width]="150"
        [height]="150"
        [depth]="150"
      ></three-geometry>
      <three-material type="meshlambert" [color]="'0xff0000'"></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
