<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - BufferGeometry Compression<br />
  Octahedron and Quantization encoding methods from Tarek Sherif
  todo
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="50" [near]="0.01" [far]="10000000">
    <three-position [x]="200" [y]="200" [z]="200"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-mesh (onLoad)="setLightGroup($event)">
      <three-light
        [type]="'PointLight'"
        [color]="'0xffffff'"
        [intensity]="1"
        [distance]="0"
      >
        <three-position [x]="0" [y]="200" [z]="0"></three-position>
      </three-light>
      <three-light
        [type]="'PointLight'"
        [color]="'0xffffff'"
        [intensity]="1"
        [distance]="0"
      >
        <three-position [x]="200" [y]="-200" [z]="200"></three-position>
      </three-light>
      <three-light
        [type]="'PointLight'"
        [color]="'0xffffff'"
        [intensity]="1"
        [distance]="0"
      >
        <three-position [x]="-200" [y]="-200" [z]="-200"></three-position>
      </three-light>
    </three-mesh>
    <three-helper [type]="'AxesHelper'" [size]="500"></three-helper>
    <three-shared>
      <three-geometry
        #geometry
        [type]="modelInfo.type"
        [radius]="modelInfo.radius"
        [detail]="modelInfo.detail"
        [radiusTop]="modelInfo.radiusTop"
        [radiusBottom]="modelInfo.radiusBottom"
        [height]="modelInfo.height"
        [radialSegments]="modelInfo.radialSegments"
        [size]="modelInfo.size"
        [segments]="modelInfo.segments"
        [radialSegments]="modelInfo.radialSegments"
        [bottom]="modelInfo.bottom"
        [lid]="modelInfo.lid"
        [body]="modelInfo.body"
        [fitLid]="modelInfo.fitLid"
        [blinn]="modelInfo.blinn"
        [tube]="modelInfo.tube"
        [tubularSegments]="modelInfo.tubularSegments"
        [p]="modelInfo.p"
        [q]="modelInfo.q"
      ></three-geometry>
      <three-texture #texture [image]="'textures/uv_grid_opengl.jpg'" [wrap]="'RepeatWrapping'"></three-texture>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh 
        [geometry]="geometry" 
        (onLoad)="setGeometry($event)" 
        [compressPositions]="controls.QuantizePosEncoding"
        [compressNormals]="controls.NormEncodingMethods"
        [compressUvs]="controls.DefaultUVEncoding"
      >
        <three-position [x]="0" [y]="0" [z]="0"></three-position>
        <three-material [type]="'MeshPhongMaterial'" [color]="'0xffffff'" [emissive]="'0x111111'" [map]="controls.texture? texture : null"></three-material>
      </three-mesh>
      <three-mesh [type]="'LineSegments'" [visible]="controls.wireframe">
        <three-position [x]="0" [y]="0" [z]="0"></three-position>
        <three-geometry [type]="'WireframeGeometry'" [refGeometry]="geometry" [refType]="'geometry'"></three-geometry>
        <three-material [type]="'LineBasicMaterial'" [color]="'0xaaaaaa'" [transparent]="true" [opacity]="0.8"></three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
