<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - helpers
</div>
<ngx3js-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <ngx3js-camera [type]="'perspective'" [fov]="70" [near]="1" [far]="1000">
    <ngx3js-position [x]="0" [y]="0" [z]="400"></ngx3js-position>
  </ngx3js-camera>
  <ngx3js-scene #scene>
    <ngx3js-light
      [type]="'Point'"
    >
      <ngx3js-position [x]="200" [y]="100" [z]="150"></ngx3js-position>
      <ngx3js-helper [type]="'light'" [size]="15"></ngx3js-helper>
    </ngx3js-light>
    <ngx3js-helper [type]="'Grid'" [size]="400" [divisions]="40" [color1]="'0x444444'" [color2]="'0x888888'">
      <ngx3js-position [x]="-150" [y]="-150" [z]="0"></ngx3js-position>
    </ngx3js-helper>
    <ngx3js-helper [type]="'PolarGrid'" [radius]="200" [radials]="16" [circles]="8" [divisions]="64" [color1]="'0x0000ff'" [color2]="'0x808080'">
      <ngx3js-position [x]="200" [y]="-150" [z]="0"></ngx3js-position>
    </ngx3js-helper>
    <ngx3js-mesh #mainMesh (onLoad)="setMesh($event)">
      <ngx3js-scale [multiply]="30"></ngx3js-scale>
      <ngx3js-mesh #baseMesh [storageName]="'models/gltf/LeePerrySmith/LeePerrySmith.glb'" [storageOption]="{ onLoad : selectStoreMesh }">
      </ngx3js-mesh>
      <ngx3js-helper [type]="'VertexNormals'" [size]="5" [target]="baseMesh"></ngx3js-helper>
      <ngx3js-helper [type]="'VertexTangents'" [size]="5" [target]="baseMesh"></ngx3js-helper>
      <ngx3js-helper [type]="'box'" [target]="baseMesh"></ngx3js-helper>
      <ngx3js-mesh [type]="'linesegments'">
        <ngx3js-helper [type]="'box'"></ngx3js-helper>
        <ngx3js-position [x]="4" [y]="0" [z]="0"></ngx3js-position>
        <ngx3js-geometry [type]="'Wireframe'" [refGeometry]="baseMesh"></ngx3js-geometry>
        <ngx3js-material [type]="'line'" [depthTest]="false" [opacity]="0.25" [transparent]="true"></ngx3js-material>
        <ngx3js-helper [type]="'box'"></ngx3js-helper>
      </ngx3js-mesh>
      <ngx3js-mesh [type]="'linesegments'">
        <ngx3js-position [x]="-4" [y]="0" [z]="0"></ngx3js-position>
        <ngx3js-geometry [type]="'Edges'" [refGeometry]="baseMesh"></ngx3js-geometry>
        <ngx3js-material [type]="'line'" [depthTest]="false" [opacity]="0.25" [transparent]="true"></ngx3js-material>
        <ngx3js-helper [type]="'box'"></ngx3js-helper>
      </ngx3js-mesh>
    </ngx3js-mesh>
    <ngx3js-helper [type]="'box'" [target]="mainMesh"></ngx3js-helper>
  </ngx3js-scene>
</ngx3js-renderer>
