<div id="info">
  <a [href]="'https://threejs.org'" [target]="'_blank'" [rel]="'noopener'">three.js</a> - helpers
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-camera [type]="'perspective'" [fov]="70" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="0" [z]="400"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-light
      [type]="'Point'"
    >
      <three-position [x]="200" [y]="100" [z]="150"></three-position>
      <three-helper [type]="'light'" [size]="15"></three-helper>
    </three-light>
    <three-helper [type]="'Grid'" [size]="400" [divisions]="40" [color1]="'0x444444'" [color2]="'0x888888'">
      <three-position [x]="-150" [y]="-150" [z]="0"></three-position>
    </three-helper>
    <three-helper [type]="'PolarGrid'" [radius]="200" [radials]="16" [circles]="8" [divisions]="64" [color1]="'0x0000ff'" [color2]="'0x808080'">
      <three-position [x]="200" [y]="-150" [z]="0"></three-position>
    </three-helper>
    <three-mesh #mainMesh (onLoad)="setMesh($event)">
      <three-scale [multiply]="30"></three-scale>
      <three-mesh #baseMesh [storageName]="'models/gltf/LeePerrySmith/LeePerrySmith.glb'" [storageOption]="{ onLoad : selectStoreMesh }">
      </three-mesh>
      <three-helper [type]="'VertexNormals'" [size]="5" [target]="baseMesh"></three-helper>
      <three-helper [type]="'VertexTangents'" [size]="5" [target]="baseMesh"></three-helper>
      <three-helper [type]="'box'" [target]="baseMesh"></three-helper>
      <three-mesh [type]="'linesegments'">
        <three-helper [type]="'box'"></three-helper>
        <three-position [x]="4" [y]="0" [z]="0"></three-position>
        <three-geometry [type]="'Wireframe'" [refGeometry]="baseMesh"></three-geometry>
        <three-material [type]="'line'" [depthTest]="false" [opacity]="0.25" [transparent]="true"></three-material>
        <three-helper [type]="'box'"></three-helper>
      </three-mesh>
      <three-mesh [type]="'linesegments'">
        <three-position [x]="-4" [y]="0" [z]="0"></three-position>
        <three-geometry [type]="'Edges'" [refGeometry]="baseMesh"></three-geometry>
        <three-material [type]="'line'" [depthTest]="false" [opacity]="0.25" [transparent]="true"></three-material>
        <three-helper [type]="'box'"></three-helper>
      </three-mesh>
    </three-mesh>
    <three-helper [type]="'box'" [target]="mainMesh"></three-helper>
  </three-scene>
</three-renderer>
