<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - SVGLoader
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true , autoRotate : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="50" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="0" [z]="200"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene [background]="'0xb0b0b0'">
    <three-helper [type]="'grid'" [size]="160" [divisions]="10">
      <three-rotation [x]="90" [y]="0" [z]="0"></three-rotation>
    </three-helper>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="controls.currentURL" [storageOption]="{ drawFillShapes : controls.drawFillShapes , drawStrokes : controls.drawStrokes, fillShapesWireframe : controls.fillShapesWireframe, strokesWireframe : controls.strokesWireframe }">
      <three-position [x]="-70" [y]="70" [z]="2"></three-position>
      <three-scale [x]="1" [y]="-1" [z]="1" [multiply]="0.25"></three-scale>
    </three-mesh>
  </three-scene>
</three-renderer>
