<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - vr
	sandbox - need ar/vr device to test
</div>
<ngx3js-renderer
	#renderer
	[controlType]="'vr'"
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	[guiStyle]="{ width: '300px', visib1ility: 'hidden' }"
	[xrEnabled]="true"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="1.25" [z]="-2"></ngx3js-lookat>
	<ngx3js-camera
		#camera
		[type]="'perspective'"
		[fov]="50"
		[near]="0.1"
		[far]="10"
	>
		<ngx3js-position [x]="0" [y]="1.6" [z]="1.5"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene>
		<ngx3js-size #renderSize></ngx3js-size>
		<ngx3js-texture
			#background
			[type]="'background-environment'"
			[storageName]="'textures/equirectangular/moonless_golf_1k.hdr'"
			[mapping]="'EquirectangularReflectionMapping'"
		></ngx3js-texture>
		<ngx3js-mesh [type]="'InteractiveGroup'" [sharedCamera]="camera">
			<ngx3js-mesh [type]="'htmlmesh'" [domElement]="renderer.gui?.domElement">
				<ngx3js-position [x]="-0.75" [y]="1.5" [z]="-0.5"></ngx3js-position>
				<ngx3js-rotation [x]="0" [y]="45" [z]="0"></ngx3js-rotation>
				<ngx3js-scale [x]="2" [y]="2" [z]="2"></ngx3js-scale>
			</ngx3js-mesh>
		</ngx3js-mesh>
		<ngx3js-mesh [type]="'lensflare'">
			<ngx3js-position [x]="-2" [y]="2.5" [z]="-5"></ngx3js-position>
			<ngx3js-lensflareelement
				[image]="'textures/lensflare/lensflare0.png'"
				[size]="700"
				[distance]="0"
			></ngx3js-lensflareelement>
			<ngx3js-lensflareelement
				[image]="'textures/lensflare/lensflare3.png'"
				[size]="60"
				[distance]="0.6"
			></ngx3js-lensflareelement>
			<ngx3js-lensflareelement
				[image]="'textures/lensflare/lensflare3.png'"
				[size]="70"
				[distance]="0.7"
			></ngx3js-lensflareelement>
			<ngx3js-lensflareelement
				[image]="'textures/lensflare/lensflare3.png'"
				[size]="120"
				[distance]="0.9"
			></ngx3js-lensflareelement>
			<ngx3js-lensflareelement
				[image]="'textures/lensflare/lensflare3.png'"
				[size]="70"
				[distance]="1"
			></ngx3js-lensflareelement>
		</ngx3js-mesh>
		<ngx3js-mesh (onLoad)="setMesh($event)">
			<ngx3js-mesh [name]="'torus'" [castShadow]="true" [receiveShadow]="true">
				<ngx3js-position [x]="0" [y]="1.25" [z]="-2"></ngx3js-position>
				<ngx3js-geometry
					[type]="'TorusKnotGeometry'"
					[radius]="controls.radius"
					[tube]="controls.tube"
					[tubularSegments]="controls.tubularSegments"
					[radiusSegments]="controls.radialSegments"
					[p]="controls.p"
					[q]="controls.q"
				></ngx3js-geometry>
				<ngx3js-material
					[type]="'MeshPhysicalMaterial'"
					[transmission]="1.0"
					[roughness]="0"
					[metalness]="0.25"
					[thickness]="controls.thickness"
				></ngx3js-material>
			</ngx3js-mesh>
			<ngx3js-mesh
				[name]="'cylinder'"
				[castShadow]="true"
				[receiveShadow]="true"
			>
				<ngx3js-position [x]="0" [y]="0" [z]="-2"></ngx3js-position>
				<ngx3js-geometry
					[type]="'CylinderGeometry'"
					[radiusTop]="1"
					[radiusBottom]="1"
					[height]="0.1"
					[radiusSegments]="50"
				></ngx3js-geometry>
				<ngx3js-material [type]="'MeshStandardMaterial'"></ngx3js-material>
			</ngx3js-mesh>
			<ngx3js-mesh
				#reflector
				[visible]="false"
				[type]="'Reflector'"
				[textureSize]="renderSize"
			>
				<ngx3js-position [x]="1" [y]="1.25" [z]="-3"></ngx3js-position>
				<ngx3js-rotation [x]="0" [y]="-180 / 4" [z]="0"></ngx3js-rotation>
				<ngx3js-geometry
					[type]="'PlaneGeometry'"
					[width]="2"
					[height]="2"
				></ngx3js-geometry>
				<ngx3js-mesh
					[name]="'frame'"
					[castShadow]="true"
					[receiveShadow]="true"
				>
					<ngx3js-position [x]="0" [y]="0" [z]="-0.07"></ngx3js-position>
					<ngx3js-geometry
						[type]="'BoxGeometry'"
						[width]="2.1"
						[height]="2.1"
						[depth]="0.1"
					></ngx3js-geometry>
					<ngx3js-material [type]="'MeshPhongMaterial'"></ngx3js-material>
				</ngx3js-mesh>
			</ngx3js-mesh>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
