<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - VRMLoader<br />
  Alicia by
  <a href="https://3d.nicovideo.jp/works/td32797" target="_blank" rel="noopener">Dwango</a> /
  <a href="http://3d.nicovideo.jp/alicia/rule.html">License</a><br />
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true , autoRotate : true , minDistance: 1 , maxDistance: 5 }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0.9" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="0.25" [far]="20">
    <three-position [x]="0" [y]="1.6" [z]="-2.2"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-light
      [type]="'Hemisphere'"
      [skyColor]="'0xbbbbff'"
      [groundColor]="'0x444422'"
    >
      <three-position [x]="0" [y]="1" [z]="0"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'models/vrm/Alicia/AliciaSolid.vrm'">
    </three-mesh>
  </three-scene>
</three-renderer>
