<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - webgl depth-of-field with bokeh example<br/>
  shader by <a href="http://artmartinsh.blogspot.com/2010/02/glsl-lens-blur-filter-with-bokeh.html">Martins Upitis</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera #camera [type]="'perspective'" [fov]="70" [near]="1" [far]="3000">
    <three-position [x]="0" [y]="0" [z]="200"></three-position>
  </three-camera>
  <three-shared>
    <three-geometry
      #geo
      [type]="'SphereGeometry'"
      [radius]="1"
      [widthSegments]="20"
      [heightSegments]="20"
    ></three-geometry>
    <three-texture #envMap [image]="'textures/cube/SwedishRoyalCastle/'" [cubeImage]="['', 'jpg']"></three-texture>
  </three-shared>
  <three-composer [scene]="scene" [camera]="camera">
    <three-pass [type]="'RenderPass'"></three-pass>
    <three-pass [type]="'BokehPass'" [focus]="controls.focus" [aperture]="controls.aperture * 0.00001" [maxblur]="controls.maxblur"></three-pass>
  </three-composer>
  <three-scene #scene>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let info of meshInfos" [geometry]="geo">
        <three-position [x]="info.x" [y]="info.y" [z]="info.z"></three-position>
        <three-scale [multiply]="info.scale"></three-scale>        
        <three-material [type]="'MeshBasicMaterial'" [color]="'0xff1100'" [envMap]="envMap"></three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
