<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - webgl cube Fresnel shader demo.<br/>texture by <a href="http://www.humus.name/index.php?page=Textures" target="_blank" rel="noopener">Humus</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="60" [near]="1" [far]="100000">
    <three-position [x]="0" [y]="0" [z]="3200"></three-position>
  </three-camera>
  <three-scene #scene [background]="textureCube">
    <three-shared>
      <three-texture #textureCube [image]="'textures/cube/Park2/'" [cubeImage]="['','jpg','pos','neg']"></three-texture>
      <three-geometry
        #geometry
        [type]="'SphereGeometry'"
        [radius]="100"
        [widthSegments]="32"
        [heightSegments]="16"
      ></three-geometry>
      <three-material #material [type]="'ShaderMaterial'" [shader]="'FresnelShader'" [uniforms]="{ tCube : { type : 'texture', value : textureCube } }"></three-material>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let info of meshIninfos" [geometry]="geometry" [material]="material">
        <three-position [x]="info.x" [y]="info.y" [z]="info.z"></three-position>
        <three-scale [multiply]="info.scale"></three-scale>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
