<div class="info dark">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
	webgl - interactive cubes
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, enableDamping: true, autoRotate: true }"
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	[useEvent]="'move'"
	(eventListener)="onMouseMove($event)"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera
		[type]="'Orthographic'"
		[left]="-3"
		[right]="3"
		[top]="3"
		[bottom]="-3"
		[near]="1"
		[far]="1000"
		(onLoad)="setCamera($event)"
	>
		<ngx3js-position [x]="0" [y]="0" [z]="500"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene [background]="'0xf0f0f0'">
		<ngx3js-light [type]="'directional'" [color]="'0xffffff'" [intensity]="1">
			<ngx3js-position
				[x]="1"
				[y]="1"
				[z]="1"
				[normalize]="true"
			></ngx3js-position>
		</ngx3js-light>
		<ngx3js-shared>
			<ngx3js-geometry
				#geometry
				[type]="'box'"
				[width]="20"
				[height]="20"
				[depth]="20"
			></ngx3js-geometry>
		</ngx3js-shared>
		<ngx3js-mesh (onLoad)="setMesh($event)">
			<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-mesh *ngFor="let cube of cubeInfos" [geometry]="geometry">
				<ngx3js-position
					[x]="cube.position.x"
					[y]="cube.position.y"
					[z]="cube.position.z"
				></ngx3js-position>
				<ngx3js-rotation
					[x]="cube.rotation.x"
					[y]="cube.rotation.y"
					[z]="cube.rotation.z"
				></ngx3js-rotation>
				<ngx3js-scale
					[x]="cube.scale.x"
					[y]="cube.scale.y"
					[z]="cube.scale.z"
				></ngx3js-scale>
				<ngx3js-material
					[type]="'meshlambert'"
					[color]="cube.color"
				></ngx3js-material>
			</ngx3js-mesh>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
