<div [id]="'info'">
  <a [href]="'https://threejs.org'" [target]="'_blank'" [rel]="'noopener'">three.js</a> - 3DS loader
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="60" [near]="00.1" [far]="10">
    <three-position [x]="0" [y]="0" [z]="2"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene>
    <three-light
      [type]="'Hemisphere'"
    >
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffeedd'"
      [castShadow]="true"
    >
      <three-position [x]="0" [y]="0" [z]="2"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'models/3ds/portalgun/portalgun.3ds'" [storageOption]="{ resourcePath : 'models/3ds/portalgun/textures/'}">
    </three-mesh>
  </three-scene>
</three-renderer>
