<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
	3DS loader
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, enableDamping: true }"
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="60" [near]="00.1" [far]="10">
		<ngx3js-position [x]="0" [y]="0" [z]="2"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene>
		<ngx3js-light [type]="'Hemisphere'"> </ngx3js-light>
		<ngx3js-light
			[type]="'directional'"
			[color]="'0xffeedd'"
			[castShadow]="true"
		>
			<ngx3js-position [x]="0" [y]="0" [z]="2"></ngx3js-position>
		</ngx3js-light>
		<ngx3js-mesh
			(onLoad)="setMesh($event)"
			[storageName]="'models/3ds/portalgun/portalgun.3ds'"
			[storageOption]="{ resourcePath: 'models/3ds/portalgun/textures/' }"
		>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
