<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a><br>
  Ammo.js physics terrain heightfield demo  
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="2" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="60" [near]="0.2" [far]="2000">
    <three-position [x]="-12" [y]="7" [z]="4" [multiply]="5"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0xbfd1e5'">
    <three-physics [gravity]="-9.8"></three-physics>    
    <three-light
      [type]="'AmbientLight'"
      [color]="'0x404040'"
    ></three-light>
    <three-light
      [type]="'DirectionalLight'"
      [color]="'0xffffff'"
      [intensity]="1"
      [castShadow]="true"
      [shadowCameraTop]="10"
      [shadowCameraBottom]="-10"
      [shadowCameraLeft]="-10"
      [shadowCameraRight]="10"
      [shadowCameraNear]="2"
      [shadowCameraFar]="50"
      [shadowMapSize]="1024"
      [shadowBias]="-0.003"
    >
      <three-position [x]="-7" [y]="10" [z]="15"></three-position>
    </three-light>
    <three-shared>
      <three-texture #colorTexture [image]="'textures/colors.png'"></three-texture>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-mesh *ngFor="let info of shapeInfos" name="'box'">
        <three-position [x]="info.x" [y]="info.y" [z]="info.z"></three-position>
        <three-geometry
          [type]="'box'"
          [radius]="3"
          [width]="4"
          [height]="4"
          [depth]="4"
          [widthSegments]="1"
          [heightSegments]="1"
          [depthSegments]="1"
        ></three-geometry>
        <three-material [type]="'meshlambert'" [color]="info.color" [map]="colorTexture"></three-material>
        <three-rigidbody [mass]="1" [softBody]="true"></three-rigidbody>
      </three-mesh>
    </three-mesh>
    <three-mesh  name="'terrain'" [receiveShadow]="true">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-rotation [x]="5" [y]="0" [z]="5"></three-rotation>
      <three-scale [x]="1" [y]="1" [z]="1"></three-scale>
      <three-geometry
        [type]="'PlaneGeometry'"
        [width]="100"
        [height]="100"
        [widthSegments]="128"
        [heightSegments]="128"
        [program]="'terrainSin'"
        [programParam]="{minHeight : -1, maxHeight : 3, repeat : 3 }"
      ></three-geometry>
      <three-material
        [type]="'MeshPhongMaterial'"
        [color]="'0xFFFFFF'"
      >
        <three-texture 
          [image]="'textures/grid.png'"
          [wrap]="'RepeatWrapping'"
          [repeat]="40"
        ></three-texture>
      </three-material>
      <three-rigidbody [type]="'terrain'" [mass]="0"></three-rigidbody>
    </three-mesh>
  </three-scene>
</three-renderer>
