<three-renderer [controlType]="'orbit'" [statsMode]="0" [antialias]="true" [clearColor]="'0xaaaaff'" [shadowMapEnabled]="true" [guiControl]="controls" [guiParams]="controlsParams" (onRender)="onRender($event)">
    <three-camera [type]="'perspective'" [autoClear]="true" [fov]="45" [near]="0.1" [far]="1000">
        <three-position [x]="20" [y]="30" [z]="40"></three-position>
        <three-lookat [x]="-15" [y]="-10" [z]="-25"></three-lookat>
        <three-pass #renderPass [type]="'render'"></three-pass>
        <three-pass #brightness [type]="'Shader'" [shader]="'BrightnessContrast'" [uniforms]="controlsValues.brightness" [enabled]="controlsValues.brightness.enabled"></three-pass>
        <three-pass #sepia [type]="'Shader'" [shader]="'sepia'" [uniforms]="controlsValues.sepia" [enabled]="controlsValues.sepia.enabled"></three-pass>
        <three-pass #mirror [type]="'Shader'" [shader]="'mirror'" [uniforms]="controlsValues.mirror" [enabled]="controlsValues.mirror.enabled"></three-pass>
        <three-pass #colorify [type]="'Shader'" [shader]="'colorify'" [uniforms]="controlsValues.colorify" [enabled]="controlsValues.colorify.enabled"></three-pass>
        <three-pass #colorCorrection [type]="'Shader'" [shader]="'ColorCorrection'" [uniforms]="controlsValues.colorCorrection" [enabled]="controlsValues.colorCorrection.enabled"></three-pass>
        <three-pass #rgbShift [type]="'Shader'" [shader]="'RGBShift'" [uniforms]="controlsValues.rgbShift" [enabled]="controlsValues.rgbShift.enabled"></three-pass>
        <three-pass #vignette [type]="'Shader'" [shader]="'vignette'" [uniforms]="controlsValues.vignette" [enabled]="controlsValues.vignette.enabled"></three-pass>
        <three-pass #hue [type]="'Shader'" [shader]="'HueSaturation'" [uniforms]="controlsValues.hueSaturation" [enabled]="controlsValues.hueSaturation.enabled"></three-pass>
        <three-pass #kal [type]="'Shader'" [shader]="'Kaleido'" [uniforms]="controlsValues.kaleidoscope" [enabled]="controlsValues.kaleidoscope.enabled"></three-pass>
        <three-pass #lum [type]="'Shader'" [shader]="'Luminosity'" [uniforms]="controlsValues.luminosity" [enabled]="controlsValues.luminosity.enabled"></three-pass>
        <three-pass #techni [type]="'Shader'" [shader]="'Technicolor'" [uniforms]="controlsValues.technicolor" [enabled]="controlsValues.technicolor.enabled"></three-pass>
        <three-pass #unpack [type]="'Shader'" [shader]="'UnpackDepthRGBA'" [uniforms]="controlsValues.unpackDepth" [enabled]="controlsValues.unpackDepth.enabled"></three-pass>
        <three-pass #effectCopy [type]="'Shader'" [shader]="'Copy'" [renderToScreen]="true"></three-pass>
    </three-camera>
    <three-scene #scene>
        <three-mesh [type]="'light'" [lightType]="'ambient'" [color]="'0x444444'" [intensity]="0.1"></three-mesh>
        <three-mesh [type]="'light'" [lightType]="'spot'" 
            [color]="'0xffffff'" 
            [intensity]="1" 
            [castShadow]="true" 
            [shadowMapSizeWidth]="2048"
            [shadowMapSizeHeight]="2048"
            [shadowCameraFov]="120"
            [shadowCameraNear]="1"
            [shadowCameraFar]="1000"
            [helperType]="'camera'"
        >
            <three-position [x]="0" [y]="60" [z]="50"></three-position>
            <three-lookat [refer]="scene"></three-lookat>
        </three-mesh>
        <three-mesh [receiveShadow]="true">
            <three-position [x]="-150" [y]="0" [z]="-150"></three-position>
            <three-rotation [x]="90" [y]="0" [z]="0"></three-rotation>
            <three-geometry [type]="'box'" [width]="1000" [height]="1000" [depth]="0.1" [widthSegments]="40" [heightSegments]="40"></three-geometry>
            <three-material [type]="'MeshPhong'" [color]="'0xffffff'" [normalScaleX]="0.6" [normalScaleY]="0.6">
                <three-texture 
                    [textureType]="'map'" 
                    [repeatX]="80"
                    [repeatY]="80" 
                    [wrapS]="'Repeat'"
                    [wrapT]="'Repeat'"
                    [image]="'/assets/sample_assets/textures/general/plaster-diffuse.jpg'"
                ></three-texture>
                <three-texture 
                    [textureType]="'normalMap'" 
                    [repeatX]="80"
                    [repeatY]="80" 
                    [wrapS]="'Repeat'"
                    [wrapT]="'Repeat'"
                    [image]="'/assets/sample_assets/textures/general/plaster-normal.jpg'"
                ></three-texture>
            </three-material>
        </three-mesh>
        <three-mesh [castShadow]="true">
            <three-position [x]="-15" [y]="5" [z]="15"></three-position>
            <three-geometry [type]="'box'" [width]="30" [height]="10" [depth]="2"></three-geometry>
            <three-material [type]="'MeshPhong'" [color]="'0xff0000'"></three-material>
        </three-mesh>
        <three-mesh [castShadow]="true">
            <three-position [x]="-20" [y]="5" [z]="5"></three-position>
            <three-geometry [type]="'box'" [width]="30" [height]="10" [depth]="2"></three-geometry>
            <three-material [type]="'MeshPhong'" [color]="'0x00ff00'"></three-material>
        </three-mesh>
        <three-mesh [castShadow]="true">
            <three-position [x]="-25" [y]="5" [z]="-8"></three-position>
            <three-geometry [type]="'box'" [width]="30" [height]="10" [depth]="2"></three-geometry>
            <three-material [type]="'MeshPhong'" [color]="'0x0000ff'"></three-material>
        </three-mesh>
        <three-mesh [castShadow]="true" [storageName]="'/assets/sample_assets/models/sol/LibertStatue.mtl#/assets/sample_assets/models/sol/LibertStatue.obj'">
            <three-position [x]="15" [y]="0" [z]="5"></three-position>
            <three-rotation [x]="rotation.x" [y]="rotation.y" [z]="rotation.z"></three-rotation>
            <three-scale [x]="20" [y]="20" [z]="20"></three-scale>
        </three-mesh>
    </three-scene>
</three-renderer>
