<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - Node-Based Material<br />
  Serialized using <a href="webgl_materials_nodes.html">webgl_materials_nodes.html</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="50" [near]="1" [far]="1000">
    <three-position [x]="50" [y]="30" [z]="-50"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-light
      [type]="'AmbientLight'"
      [color]="'0x464646'"
    >
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffddcc'"
      [intensity]="1"
    >
      <three-position [x]="1" [y]="0.75" [z]="0.5"></three-position>
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xccccff'"
      [intensity]="1"
    >
      <three-position [x]="-1" [y]="0.75" [z]="-0.5"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'TeapotGeometry'"
        [size]="15"
        [segments]="18"
      ></three-geometry>
      <three-material [type]="'node'" [storageName]="storageName" [storageOption]="{ 
        cloud : { type : 'texture', value : 'textures/lava/cloud.png', options : 'RepeatWrapping'
      }}" (onLoad)="setMaterial($event)"></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
