<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - VRML loader
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true , autoRotate : true , minDistance: 1 , maxDistance: 200 }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-scene #scene>
    <three-camera [type]="'perspective'" [fov]="60" [near]="0.1" [far]="'1e10'">
      <three-position [x]="-10" [y]="5" [z]="10"></three-position>
    </three-camera>
    <three-light
      [type]="'Hemisphere'"
      [skyColor]="'0xffffff'"
      [groundColor]="'0x000000'"
      [intensity]="1"
    ></three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="0.5"
    >
      <three-position [x]="200" [y]="200" [z]="200"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="controls.asset">
    </three-mesh>
  </three-scene>
</three-renderer>
