<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
	cameras - logarithmic depth buffer<br />
	mousewheel to dolly out 
</div>
<div class="bottom">
	<div class="lbl" id="lbl_left">normal z-buffer</div>
	<div class="lbl" id="lbl_right">logarithmic z-buffer</div>
</div>
<ngx3js-renderer
	[controlType]="'or1bit'"
	[controlOptions]="{ enablePan: false, enableDamping: true }"
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	[logarithmicDepthBuffer]="true"
	(onRender)="onRender($event)"
	(onLoad)="setRenderer($event)"
	[x]="controls.screenRate + '%'"
	[y]="0"
	[width]="100 - controls.screenRate + '%'"
	[height]="'100%'"
>
	<ngx3js-camera
		#camera
		(onLoad)="setCamera1($event)"
		[type]="'perspective'"
		[fov]="50"
		[near]="'1e-6'"
		[far]="'1e27'"
		[viewport]="true"
		[viewportType]="'offset'"
		[x]="controls.screenRate + '%'"
		[y]="0"
		[width]="'100%'"
		[height]="'100%'"
	>
		<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	</ngx3js-camera>
	<ngx3js-scene #scene>
		<ngx3js-light [type]="'Ambient'" [color]="'0x222222'"></ngx3js-light>
		<ngx3js-light [type]="'directional'" [color]="'0xffffff'" [intensity]="1">
			<ngx3js-position [x]="100" [y]="100" [z]="100"></ngx3js-position>
		</ngx3js-light>
		<ngx3js-geometry
			#geometry
			[type]="'Sphere'"
			[radius]="0.5"
			[widthSegments]="24"
			[heightSegments]="12"
		></ngx3js-geometry>
		<ngx3js-mesh (onLoad)="setMesh($event)">
			<ngx3js-mesh *ngFor="let label of labelData">
				<ngx3js-position
					[x]="0"
					[y]="0"
					[z]="label.size * label.scale * -1"
				></ngx3js-position>
				<ngx3js-mesh>
					<ngx3js-position
						[x]="0"
						[y]="(label.size / 4) * label.scale"
						[z]="-label.size * label.scale"
					></ngx3js-position>
					<ngx3js-scale
						[x]="label.scale"
						[y]="label.scale"
						[z]="label.scale"
					></ngx3js-scale>
					<ngx3js-geometry
						[type]="'text'"
						[font]="'helvetiker'"
						[align]="'center bottom'"
						[text]="label.label"
						[size]="label.size"
						[height]="label.size / 2"
					></ngx3js-geometry>
					<ngx3js-material
						[type]="'MeshPhong'"
						[color]="label.color"
						[specular]="'0x050505'"
						[shininess]="50"
						[emissive]="'0x000000'"
					></ngx3js-material>
				</ngx3js-mesh>
				<ngx3js-mesh [geometry]="geometry">
					<ngx3js-position
						[x]="0"
						[y]="(-label.size / 4) * label.scale"
						[z]="0"
					></ngx3js-position>
					<ngx3js-scale
						[x]="label.scale * label.size"
						[y]="label.scale * label.size"
						[z]="label.scale * label.size"
					></ngx3js-scale>
					<ngx3js-material
						[type]="'MeshPhong'"
						[color]="label.color"
						[specular]="'0x050505'"
						[shininess]="50"
						[emissive]="'0x000000'"
					></ngx3js-material>
				</ngx3js-mesh>
			</ngx3js-mesh>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
<ngx3js-renderer
	[antialias]="true"
	[shadowMapEnabled]="true"
	[logarithmicDepthBuffer]="false"
	[x]="0"
	[y]="0"
	[width]="controls.screenRate + '%'"
	[height]="'100%'"
	[scene]="scene"
	[cssClass]="'normal'"
>
	<ngx3js-camera
		[type]="'perspective'"
		[fov]="50"
		[near]="'1e-6'"
		[far]="'1e27'"
		[viewport]="true"
		[viewportType]="'offset'"
		[x]="0"
		[y]="0"
		[width]="'100%'"
		[height]="'100%'"
		(onLoad)="setCamera2($event)"
	>
		<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	</ngx3js-camera>
</ngx3js-renderer>
