<div id="info">
  <a [href]="'https://threejs.org'" [target]="'_blank'" [rel]="'noopener'">three.js</a> -
  <a [href]="'http://3mf.io'" [target]="'_blank'" [rel]="'noopener'">3MF</a> file with materials
</div>
<three-renderer
  [controlType]="'orbit'"
  [autoRotate]="true"
  [minDistance]="50"
  [maxDistance]="200"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="20" [z]="0"></three-lookat>
  <three-scene #scene [background]="'0xa0a0a0'">
    <three-camera [type]="'perspective'" [fov]="35" [near]="1" [far]="500">
      <three-position [x]="-50" [y]="40" [z]="50"></three-position>
      <three-lookat [x]="0" [y]="20" [z]="0"></three-lookat>
    </three-camera>
    <three-fog [color]="'0xa0a0a0'" [far]="500" [near]="10"></three-fog>
    <three-light
      [type]="'Hemisphere'"
      [skyColor]="'0xffffff'"
      [groundColor]="'0x444444'"
    >
      <three-position [x]="0" [y]="100" [z]="0"></three-position>
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="1"
      [castShadow]="true"
      [shadowCameraTop]="50"
      [shadowCameraBottom]="-25"
      [shadowCameraLeft]="-25"
      [shadowCameraRight]="25"
      [shadowCameraNear]="0.1"
      [shadowCameraFar]="200"
      [shadowMapSizeWidth]="1024"
      [shadowMapSizeHeight]="1024"
    >
      <three-position [x]="0" [y]="40" [z]="50"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'models/3mf/truck.3mf'">
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
    </three-mesh>
    <three-mesh [receiveShadow]="true">
      <three-position [x]="0" [y]="11" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'Plane'"
        [width]="1000"
        [height]="1000"
      ></three-geometry>
      <three-material
        [type]="'MeshPhong'"
        [color]="'0x999999'"
        [depthWrite]="false"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
