<div class="info dark">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - Multisampled Renderbuffers<br />
  Left: WebGLRenderTarget, Right: WebGLMultisampleRenderTarget.
</div>
<three-renderer
  [type]="'webgl2'"
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , autoRotate : true , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  [useEvent]="'keydown,keyup'"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera #camera [type]="'perspective'" [fov]="45" [near]="1" [far]="2000">
    <three-position [x]="0" [y]="0" [z]="500"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0xffffff'">
    <three-fog [color]="'0xcccccc'" [near]="100" [far]="1500"></three-fog>
    <three-light
      [type]="'Hemisphere'"
      [skyColor]="'0xffffff'"
      [groundColor]="'0x222222'"
      [intensity]="1.5"
    >
      <three-position [x]="1" [y]="1" [z]="1"></three-position>
    </three-light>
    <three-shared>
      <three-geometry
        #geometry
        [type]="'SphereGeometry'"
        [radius]="10"
        [widthSegments]="64"
        [heightSegments]="40"
      ></three-geometry>
      <three-material #material [type]="'MeshLambertMaterial'" [color]="'0xee0808'"></three-material>
      <three-material #material2 [type]="'MeshBasicMaterial'" [color]="'0xffffff'" [wireframe]="true"></three-material>
      <three-pass #renderPass [type]="'RenderPass'" [scene]="scene" [camera]="camera"></three-pass>
      <three-pass #copyPass [type]="'ShaderPass'" [shader]="'CopyShader'"></three-pass>
    </three-shared>
    <three-composer [scissorTest]="true" [scissorX]="0" [scissorY]="0" [scissorWidth]="'50%-1'" [scissorHeight]="'100%'" [scene]="scene" [camera]="camera">
      <three-pass [refer]="renderPass"></three-pass>
      <three-pass [refer]="copyPass"></three-pass>
    </three-composer>
    <three-composer [scissorTest]="true" [scissorX]="'50%'" [scissorY]="0" [scissorWidth]="'50%'" [scissorHeight]="'100%'" [scene]="scene" [camera]="camera" [useRenderTarget]="true" [renderTargetType]="'WebGLMultisampleRenderTarget'" [format]="'RGBFormat'">
      <three-pass [refer]="renderPass"></three-pass>
      <three-pass [refer]="copyPass"></three-pass>
    </three-composer>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let info of meshInfos" [geometry]="geometry" [material]="material">
        <three-position [x]="info.px" [y]="info.py" [z]="info.pz"></three-position>
        <three-rotation [x]="info.rx" [y]="0" [z]="info.rz"></three-rotation>
        <three-scale [multiply]="info.scale"></three-scale>
      </three-mesh>
      <three-mesh *ngFor="let info of meshInfos" [geometry]="geometry" [material]="material2">
        <three-position [x]="info.px" [y]="info.py" [z]="info.pz"></three-position>
        <three-rotation [x]="info.rx" [y]="0" [z]="info.rz"></three-rotation>
        <three-scale [multiply]="info.scale"></three-scale>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
