<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - Skeletal Animation Blending (model from
  <a href="https://www.mixamo.com/" target="_blank" rel="noopener">mixamo.com</a>)<br />
  Note: crossfades are possible with blend weights being set to (1,0,0), (0,1,0) or (0,0,1)
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  [useEvent]="['keydown','keyup']"
  (onRender)="onRender($event)"
>
  <three-lookat [refer]="mesh" [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="10000">
    <three-position [x]="0" [y]="10" [z]="-10"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0xa0a0a0'">
    <three-light
      [type]="'ambientlight'"
      [color]="'0xffffff'"
      [intensity]="0.1"
    ></three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="0.7"
      [castShadow]="true"
      [shadowCameraTop]="2"
      [shadowCameraBottom]="-2"
      [shadowCameraLeft]="-2"
      [shadowCameraRight]="2"
      [shadowCameraNear]="0.1"
      [shadowCameraFar]="40"
    >
      <three-position [x]="-3" [y]="10" [z]="-10"></three-position>
    </three-light>
    <three-mesh [visible]="false">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="controls.geometry"
        [width]="1"
        [height]="1"
        [depth]="1"
      ></three-geometry>
      <three-material [type]="'meshlambert'" [color]="'0x0000ff'"></three-material>
    </three-mesh>
    <three-mesh #mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="controls.geometry"
        [width]="1"
        [height]="1"
        [depth]="1"
      ></three-geometry>
      <three-material [type]="'meshlambert'" [color]="'0xff0000'" [opacity]="1" [transparent]="true"></three-material>
      <three-controller 
        [type]="'auto'"
        [visible]="true"
      >
        <three-controller-item [type]="'positionlookat'" [curve]="'heartcurve'" [waveR]="7" [waveH]="5" [radius]="5" [radiusInner]="-0.3" [duration]="30" [visible]="true" [options]="'yoyo'"></three-controller-item>
        <three-controller-item [type]="'material'" [material]="'color'" [curve]="'circle'" [radiusX]="1" [radiusY]="1" [radiusZ]="1" [duration]="30" [scale]="2" [visible]="true"></three-controller-item>
        <three-controller-item [type]="'material'" [material]="'opacity'" [curve]="'line'" [waveR]="10" [waveH]="5" [radius]="15" [radiusInner]="0.2" [duration]="30" [visible]="true"></three-controller-item>
      </three-controller>
    </three-mesh>
  </three-scene>
</three-renderer>
