<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
	webgl - buffergeometry
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, autoRotate: true, enableDamping: true }"
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="27" [near]="1" [far]="3500">
		<ngx3js-position [x]="0" [y]="0" [z]="2750"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene [background]="'0x050505'">
		<ngx3js-fog [color]="'0x050505'" [near]="2000" [far]="3500"></ngx3js-fog>
		<ngx3js-light [type]="'AmbientLight'" [color]="'0x444444'"></ngx3js-light>
		<ngx3js-light
			[type]="'DirectionalLight'"
			[color]="'0xffffff'"
			[intensity]="0.5"
		>
			<ngx3js-position [x]="1" [y]="1" [z]="1"></ngx3js-position>
		</ngx3js-light>
		<ngx3js-light
			[type]="'DirectionalLight'"
			[color]="'0xffffff'"
			[intensity]="1.5"
		>
			<ngx3js-position [x]="0" [y]="-1" [z]="0"></ngx3js-position>
		</ngx3js-light>
		<ngx3js-mesh (onLoad)="setMesh($event)">
			<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-geometry
				[type]="'BufferGeometry'"
				[attrPosition]="positions"
				[attrNormal]="normals"
				[attrColor]="colors"
				[computeBoundingSphere]="true"
			></ngx3js-geometry>
			<ngx3js-material
				[type]="'MeshPhongMaterial'"
				[color]="'0xaaaaaa'"
				[specular]="'0xffffff'"
				[shininess]="250"
				[side]="'double'"
				[vertexColors]="true"
			></ngx3js-material>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
