
div#example-iframe {
    position: relative;
    overflow: hidden;
    div.loading {
        position: absolute;
        left:0;
        top:0;
        right: 0;
        bottom: 0;
        opacity: 1;
        margin: 0;
        background-color: rgba(0,0,0,0.7);
        z-index: 1000;
        &::before {
            position: absolute;
            left:50%;
            top:50%;
            margin-top: -50px;
            margin-left: -50px;
            content: '';
            display: inline-block;
            width: 100px;
            height: 100px;
            background-image: url(../../assets/examples/files/loadiing.svg);
            background-position:center;
            background-repeat: no-repeat;
            background-size: 100px 100px;
            animation: loadingAnni 2s normal forwards ease-in-out;
            animation-iteration-count: infinite;
        }
    }
    a#fullScreen,
    a#newWindow {
        position: absolute;
        display: block;
        position: absolute;
        bottom: 0.3em;
        right: 0.5em;
        color: #fff;
        border-radius: 0.5em;
        background-color: rgba(0,0,0,0.6);
        padding: 10px 10px;
        z-index: 100;
        line-height: 100%;
    }
    a#fullScreen {
        bottom: 40px;
        transition: bottom 1s, right 1s;
    }
    a.button {
		position: absolute;
		right: 1rem;
		bottom: 1rem;
		z-index: 100;
		padding: 5px;
        font-size: 2.5rem;
		border-radius: 50%;
		border: 2px solid var(--background-color);
		background-color: var(--text-color);
		color: var(--background-color);
		transform: rotate(0deg);
		transform-origin: center center;
		transition: transform 0.5s, opacity 0.5s;
		cursor: pointer;
        display: none;
	}
    a.button,
    a#fullScreen,
    a#newWindow {
        opacity: 0.3;
        &:hover {
            opacity: 1;
        }
    }

    &.active-full-screen {
        a#newWindow {
            display: none;
        }
        a#fullScreen {
            bottom : calc(100% - 120px);
            right: -2em;
            border-radius: 50%;
            &:hover {
                right : 0.5em;
            }
            span {
                display: none;
            }
            &::after {
                content: 'close';
                line-height: 1;
                font-family: 'Material Icons';
                font-size: 50px;
                display: inline-block;
            }
        }
    }
    &.full-screen {
        div.loading {
            display: none;
        }
        a#fullScreen,
        a#newWindow {
            display: none;
        }
        a.button {
            display: inline-block;
        }
    }
	a.button.download {
		bottom: 80px;
	}
	a.button.ngxgithub {
		right: 80px;
        color : var(--secondary-background-color);
	}
	a.button:hover {
		opacity: 1;
		transform: rotate(360deg);
	}
	a.button img {
		display: block;
		width: var(--icon-size);
	}
	a.button.text {
		padding-right: 20px;
		padding-left: 20px;
		color: var(--color-blue);
		opacity: 1;
		font-weight: 500;
	}    
}

@keyframes loadingAnni {
    0% {
        opacity: 1;
		transform: rotateZ(0deg) rotateY(0deg);
    }
    100% {
        opacity: 0.8;
		transform: rotateZ(360deg) rotateY(360deg);
    }
}

