<div id="example-iframe" [ngClass]="{'full-screen' : isFullScreen , 'view-screen' : !isFullScreen, 'active-full-screen' : isfullScreenMode}">
	<div *ngIf="!isLoaded" class="loading"></div>
	<a id="fullScreen" href="#" (click)="toggleScreen()" ><span>{{ isfullScreenMode ? 'Close Full Screen' : 'Active Full Screen'}}</span></a>
	<a id="newWindow" [href]="fullUrl" target="_blank">Open in New Window</a>
	<a
		class="button download"
		#download
		href="#"
		title="Screenshot Download"
		(click)="downloadThumbFile()"
		><img src="assets/examples/files/camera.svg"
	/></a>
	<a
		class="button github"
		#github
		target="_blank"
		href="#"
		title="View source code"
		><img src="assets/examples/files/ic_code_black_24dp.svg"
	/></a>
	<a
		class="button ngxgithub"
		#ngxGithub
		target="_blank"
		href="#"
		title="View source code"
		><img src="assets/examples/files/angular.svg"
	/></a>
		
	<div id="viewer-inner">
		<router-outlet></router-outlet>
	</div>
</div>
