
a#newWindow {
    position: absolute;
    display: block;
    position: absolute;
    bottom: 0.3em;
    left: 0.5em;
    color: #fff;
    background-color: rgba(0,0,0,0.6);
    padding: 3px 10px;
    z-index: 100;
}