
div#example-iframe {
    position: relative;
    div.loading {
        position: absolute;
        left:0;
        top:0;
        right: 0;
        bottom: 0;
        opacity: 1;
        background-color: rgba(0,0,0,0.7);
        z-index: 1000;
        &::before {
            position: absolute;
            left:50%;
            top:50%;
            margin-top: -50px;
            margin-left: -50px;
            content: '';
            display: inline-block;
            width: 100px;
            height: 100px;
            background-image: url(../../assets/examples/files/loadiing.svg);
            background-position:center;
            background-repeat: no-repeat;
            background-size: 100px 100px;
            animation: loadingAnni 2s normal forwards ease-in-out;
            animation-iteration-count: infinite;
        }
    }
    a#newWindow {
        position: absolute;
        display: block;
        position: absolute;
        bottom: 0.3em;
        right: 0.5em;
        color: #fff;
        background-color: rgba(0,0,0,0.6);
        padding: 3px 10px;
        z-index: 100;
    }
	a.button {
		position: absolute;
		opacity: 0.2;
		right: 1rem;
		bottom: 1rem;
		z-index: 100;
		padding: 12px;
		border-radius: 25px;
		border: 2px solid var(--background-color);
		background-color: var(--text-color);
		transform: rotate(0deg);
		transform-origin: center center;
		transition: transform 0.5s, opacity 0.5s;
		cursor: pointer;
        display: none;
	}
    &.full-screen {
        div.loading {
            display: none;
        }
        a#newWindow {
            display: none;
        }
        a.button {
            display: inline-block;
        }
    }
	a.button.download {
		bottom: 80px;
	}
	a.button.ngxgithub {
		right: 80px;
	}
	a.button:hover {
		opacity: 1;
		transform: rotate(360deg);
	}
	a.button img {
		display: block;
		width: var(--icon-size);
	}
	a.button.text {
		padding-right: 20px;
		padding-left: 20px;
		color: var(--color-blue);
		opacity: 1;
		font-weight: 500;
	}    
}

@keyframes loadingAnni {
    0% {
        opacity: 1;
		transform: rotateZ(0deg) rotateY(0deg);
    }
    100% {
        opacity: 0.8;
		transform: rotateZ(360deg) rotateY(360deg);
    }
}

