<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - interactive lines
</div>
<three-renderer
  [controlType]="'orbit'"
  [autoRotate]="true"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  [useEvent]="['move']"
  (eventListener)="onMouseMove($event)"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="1" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="1000" (onLoad)="setCamera($event)">
    <three-position [x]="1" [y]="2" [z]="-3"></three-position>
    <three-lookat [x]="0" [y]="1" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene [background]="'0xf0f0f0'">
    <three-mesh (onLoad)="setSphere($event)" [visible]="false">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'Sphere'"
        [radius]="5"
      ></three-geometry>
      <three-material [type]="'MeshBasic'" [color]="'0xff0000'"></three-material>
    </three-mesh>
    <three-shared>
      <three-geometry
        #geometry
        [type]="'Buffer'"
        [position]="points"
      ></three-geometry>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-mesh (onLoad)="setParentTransform($event)">
        <three-position [x]="parentTransform.position.x" [y]="parentTransform.position.y" [z]="parentTransform.position.z"></three-position>
        <three-rotation [x]="parentTransform.rotation.x" [y]="parentTransform.rotation.y" [z]="parentTransform.rotation.z"></three-rotation>
        <three-scale [x]="parentTransform.scale.x" [y]="parentTransform.scale.y" [z]="parentTransform.scale.z"></three-scale>
        <three-mesh *ngFor="let line of lineInfos" [type]="line.type" [geometry]="geometry">
          <three-position [x]="line.position.x" [y]="line.position.y" [z]="line.position.z"></three-position>
          <three-rotation [x]="line.rotation.x" [y]="line.rotation.y" [z]="line.rotation.z"></three-rotation>
          <three-scale [x]="line.scale.x" [y]="line.scale.y" [z]="line.scale.z"></three-scale>
          <three-material [type]="'LineBasic'" [color]="line.color"></three-material>
        </three-mesh>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
