<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">threejs</a> - Tiled forward lighting<br/>
  Created by <a href="https://github.com/wizgrav" target="_blank" rel="noopener">wizgrav</a>.
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [toneMapping]="'NoToneMapping'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="40" [near]="1" [far]="2000">
    <three-position [x]="0" [y]="0" [z]="240.0"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0x111111'">
    <three-light
      [type]="'AmbientLight'"
      [color]="'0xffffff'"
      [intensity]="0.33"
    ></three-light>
    <three-light
      [type]="'PointLight'"
      [color]="'0xff0000'"
      [intensity]="0.1"
      [distance]="0.1"
    ></three-light>
    <three-shared>
      <three-geometry
        #waltHead
        [storageName]="'models/obj/walt/WaltHead.obj'"
      ></three-geometry>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let info of headInfos">
        <three-position [x]="info.x" [y]="0" [z]="info.z"></three-position>
        <three-rotation [x]="0" [y]="info.ry" [z]="0"></three-rotation>
        <three-mesh [geometry]="waltHead">
          <three-position [x]="0" [y]="-37" [z]="0"></three-position>
          <three-material [type]="'meshlambert'" [color]="'0xff0000'"></three-material>
        </three-mesh>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
