<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
	webgl node particles example
</div>
<ngx3js-renderer
	[controlType]="'OrbitControls'"
	[controlOptions]="{ enablePan: false, enableDamping: true,  maxDistance : 1000 }"
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="55" [near]="2" [far]="2000">
		<ngx3js-position [x]="0" [y]="100" [z]="-300"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene>
		<ngx3js-fog [type]="'FogExp2'" [color]="'0x000000'" [density]="0.001"></ngx3js-fog>
		<ngx3js-mesh (onLoad)="setMesh($event)" [type]="'Points'">
			<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-geometry
				[type]="'BufferGeometry'"
			></ngx3js-geometry>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
