<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - cascaded shadow maps<br>
  by <a href="https://github.com/vHawk" target="_blank" rel="noopener">vHawk</a> (<a href="https://github.com/vHawk/three-csm" target="_blank" rel="noopener">original repository</a>)
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-control 
    #csm
    [type]="'csm'" 
    [maxFar]="1000"
    [cascades]="4"
    [mode]="'practical'"
    [scene]="scene"
    [shadowMapSize]="1024"
    [lightDirectionX]="-1"
    [lightDirectionY]="-1"
    [lightDirectionZ]="-1"
    [camera]="camera"
    (onLoad)="setCsm($event)"
  ></three-control>
  <three-lookat [x]="-100" [y]="10" [z]="0"></three-lookat>
  <three-camera #camera [type]="'perspective'" [fov]="70" [near]="0.1" [far]="5000">
    <three-position [x]="60" [y]="60" [z]="0"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0x454e61'">
    <three-light
      [type]="'AmbientLight'"
      [color]="'0xffffff'"
      [intensity]="0.5"
    ></three-light>
    <three-helper [visible]="true" [type]="'csmhelper'" [control]="csm" (onLoad)="setHelper($event)"></three-helper>
    <three-shared>
      <three-material #material1 [type]="'MeshPhongMaterial'" [color]="'0x08d9d6'" [control]="csm"></three-material>
      <three-material #material2 [type]="'MeshPhongMaterial'" [color]="'0xff2e63'" [control]="csm"></three-material>
      <three-geometry
        #geometry
        [type]="'box'"
        [width]="10"
        [height]="10"
        [depth]="10"
      ></three-geometry>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let info of cubeInfos" [geometry]="geometry" [material]="info.matrial?material1:material2" [castShadow]="true" [receiveShadow]="true">
        <three-position [x]="info.px" [y]="20" [z]="info.pz"></three-position>
        <three-scale [x]="1" [y]="info.sy" [z]="1"></three-scale>
      </three-mesh>
    </three-mesh>
    <three-mesh [receiveShadow]="true" [castShadow]="true">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'Plane'"
        [width]="10000"
        [height]="10000"
        [widthSegments]="8"
        [heightSegments]="8"
      ></three-geometry>
      <three-material
        [type]="'MeshPhongMaterial'"
        [color]="'0x252a34'"
        [control]="csm"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
