<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - webgl materials
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true , autoRotate : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="2000">
    <three-position [x]="0" [y]="200" [z]="1000"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-light
      [type]="'Ambient'"
      [color]="'0x111111'"
    >
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="0.125"
    >
      <three-position [x]="1" [y]="0" [z]="0" [normalize]="true"></three-position>
    </three-light>
    <three-mesh
      [type]="'light'"
      [lightOptions]="{
        type : 'point',
        color : '0xffffff',
        intensity : 1
      }"
    >
      <three-position [x]="pointLightPosition.x" [y]="pointLightPosition.y" [z]="pointLightPosition.z"></three-position>
      <three-mesh>
        <three-geometry
          [type]="'Sphere'"
          [radius]="4"
          [width]="8"
          [height]="8"
        ></three-geometry>
        <three-material
          [type]="'MeshBasic'"
          [color]="'0xffffff'"
        ></three-material>
      </three-mesh>
    </three-mesh>
    <three-shared>
      <three-geometry
        #sphereGeometry
        [type]="'Sphere'"
        [radius]="70"
        [widthSegments]="32"
        [heightSegments]="16"
      ></three-geometry>
      <three-texture 
        #texture
        [width]="256" [height]="256" [program]="canvasProgram"
      ></three-texture>
    </three-shared>
    <three-helper [type]="'Grid'" [size]="1000" [divisions]="40" [color1]="'0x303030'" [color2]="'0x303030'">
      <three-position [x]="0" [y]="-75" [z]="0"></three-position>
    </three-helper>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-mesh *ngFor="let mesh of meshInfos" [geometry]="sphereGeometry">
        <three-position [x]="mesh.position.x" [y]="mesh.position.y" [z]="mesh.position.z"></three-position>
        <three-rotation [x]="mesh.rotation.x" [y]="mesh.rotation.y" [z]="mesh.rotation.z"></three-rotation>
        <three-material 
          [type]="mesh.material.type" 
          [map]="mesh.material.map ? texture : null"          
          [transparent]="mesh.material.transparent"
          [color]="mesh.material.color"
          [specular]="mesh.material.specular"
          [shininess]="mesh.material.shininess"
          [flatShading]="mesh.material.flatShading"
          [blending]="mesh.material.blending"
          [wireframe]="mesh.material.wireframe"
          [emissive]="mesh.material.emissive"
          [opacity]="mesh.material.opacity"
        ></three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
