<three-renderer [controlType]="'orbit'" [statsMode]="0" [antialias]="true" [clearColor]="'0xEEEEEE'" [guiControl]="controls" [guiParams]="controlsParams">
    <three-camera [type]="'perspective'" [fov]="45" [near]="0.1" [far]="1000">
        <three-position [x]="-30" [y]="40" [z]="30"></three-position>
        <three-lookat [x]="5" [y]="0" [z]="0"></three-lookat>
    </three-camera>
    <three-scene #scene>
        <three-mesh [type]="'light'" [lightType]="'ambient'" [color]="'0x0c0c0c'"></three-mesh>
        <three-mesh [type]="'light'" [lightType]="'spot'" [color]="'0xffffff'" [castShadow]="true">
            <three-position [x]="-40" [y]="60" [z]="20"></three-position>
        </three-mesh>
        <three-mesh #cube [visible]="controls.visible">
            <three-position [x]="position.x" [y]="position.y" [z]="position.z"></three-position>
            <three-rotation [x]="rotation.x" [y]="rotation.y" [z]="rotation.z"></three-rotation>
            <three-scale [x]="scale.x" [y]="scale.y" [z]="scale.z"></three-scale>
            <three-geometry [type]="'box'" [width]="5" [height]="8" [depth]="3"></three-geometry>
            <three-material [type]="'meshlambert'" [color]="'0x44ff44'"></three-material>
        </three-mesh>
        <three-mesh #plane [receiveShadow]="true">
            <three-position [x]="0" [y]="0" [z]="0"></three-position>
            <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
            <three-geometry #planeGeometry [type]="'plane'" [width]="60" [height]="40"></three-geometry>
            <three-material [type]="'meshlambert'" [color]="'0xffffff'"></three-material>
        </three-mesh>
    </three-scene>
</three-renderer>