<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - convex geometry
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true , minDistance: 20 , maxDistance: 50 , maxPolarAngle : 90 }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-scene #scene>
    <three-camera [type]="'perspective'" [fov]="40" [near]="1" [far]="1000">
      <three-position [x]="15" [y]="20" [z]="30"></three-position>
      <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
      <three-light
        [type]="'Point'"
        [color]="'0xffffff'"
        [intensity]="1"
      >
      </three-light>
    </three-camera>
    <three-light
      [type]="'Ambient'"
      [color]="'0x222222'"
    >
    </three-light>
    <three-shared>
      <three-material #meshMaterial 
        [type]="'meshlambert'" 
        [color]="'0xffffff'" 
        [opacity]="0.5" 
        [transparent]="true"
        [side]="'back'"
      >
      </three-material>
      <three-geometry #dodecahedron [type]="'Dodecahedron'" [radius]="10"></three-geometry>
      <three-geometry #meshGeometry [type]="'convex'"  [pointsGeometry]="dodecahedron"></three-geometry>
    </three-shared>
    <three-helper [type]="'Axes'" [size]="10"></three-helper>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh [material]="meshMaterial" [geometry]="meshGeometry" [renderOrder]="0">
      </three-mesh>
      <three-mesh [geometry]="meshGeometry" [renderOrder]="1">
        <three-material [refer]="meshMaterial" [side]="'Front'">
        </three-material>
      </three-mesh>
      <three-mesh [type]="'Points'">
        <three-geometry [type]="'buffer'" [pointsGeometry]="dodecahedron"></three-geometry>
        <three-material [type]="'Points'" [color]="'0x0080ff'" [size]="1" [alphaTest]="0.5">
          <three-texture [image]="'textures/sprites/disc.png'"></three-texture>
        </three-material>
      </three-mesh>

    </three-mesh>
  </three-scene>
</three-renderer>
