<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
	<span id="protoplanets"></span> webgl gpgpu debris
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, enableDamping: true, minDistance : 100, maxDistance : 1000 }"
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onLoad)="setRender($event)"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="75" [near]="5" [far]="15000" (onLoad)="setCamera($event)">
		<ngx3js-position [x]="0" [y]="120" [z]="400"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene >
		<ngx3js-mesh (onLoad)="setMesh($event)" [type]="'Points'" [matrixAutoUpdate]="false">
			<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-geometry
				[type]="'BufferGeometry'"
				[attrPosition]="attrPosition"
				[attrUv]="attrUv"
			></ngx3js-geometry>
			<ngx3js-material
				[type]="'ShaderMaterial'"
				[uniforms]="particleUniforms"
				[vertexShader]="particleVertexShader"
				[fragmentShader]="particleFragmentShader"
				[extensions]="'drawBuffers'"
			></ngx3js-material>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
