<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
	webgl2 - volume - cloud
</div>
<ngx3js-renderer
	[type]="'webgl2'"
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, enableDamping: true }"
	[statsMode]="0"
	[antialias]="true"
	[clearColor]="'0xffffff'"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera
		[type]="'perspective'"
		[fov]="60"
		[near]="0.1"
		[far]="100"
		(onLoad)="setCamera($event)"
	>
		<ngx3js-position [x]="0" [y]="0" [z]="1.5"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene>
		<ngx3js-light [color]="'0xffffff'" [intensity]="20"></ngx3js-light>
		<ngx3js-mesh #sky [castShadow]="false">
			<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-geometry
				[type]="'SphereGeometry'"
				[radius]="10"
			></ngx3js-geometry>
			<ngx3js-material [type]="'MeshBasicMaterial'" [side]="'back'">
				<ngx3js-texture
					[program]="'bluesky'"
					[width]="1"
					[height]="32"
				></ngx3js-texture>
			</ngx3js-material>
		</ngx3js-mesh>
		<ngx3js-shared (onLoad)="setShared($event)">
			<ngx3js-texture
				*ngFor="let info of textureInfos"
				[image]="'cloud'"
				[loaderType]="'DataTexture3D'"
				[width]="32"
				[scale]="info.scale"
			></ngx3js-texture>
		</ngx3js-shared>
		<ngx3js-mesh (onLoad)="setMesh($event)">
			<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-geometry
				[type]="'box'"
				[width]="1"
				[height]="1"
				[depth]="1"
			></ngx3js-geometry>
			<ngx3js-material
				[type]="'RawShaderMaterial'"
				[shader]="'cloudshader'"
				[uniforms]="{
					map: {
						type: 'DataTexture3D',
						value: 'DataTexture3D',
						options: 'RedFormat,LinearFilter,unpackAlignment=1,size=128x128x128'
					}
				}"
				[glslVersion]="'GLSL3'"
				[transparent]="true"
				[side]="'back'"
			>
			</ngx3js-material>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
