<div [id]="'info'">
  <a [href]="'https://threejs.org'" [target]="'_blank'" [rel]="'noopener'">three.js</a> collada loader<br/>
  Elf Girl by <a [href]="'https://sketchfab.com/yellow09'" [target]="'_blank'" [rel]="'noopener'">halloween</a>, <a [href]="'https://creativecommons.org/licenses/by/4.0/'" [target]="'_blank'" [rel]="'noopener'">CC Attribution</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [autoRotate]="true"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="3" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="0.1" [far]="2000">
    <three-position [x]="8" [y]="10" [z]="8"></three-position>
    <three-lookat [x]="0" [y]="3" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene>
    <three-light
      [type]="'Ambient'"
      [color]="'0xcccccc'"
      [intensity]="0.4"
    >
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="0.8"
      [castShadow]="true"
    >
      <three-position [x]="1" [y]="1" [z]="0" [normalize]="true"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'models/collada/elf/elf.dae'">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
    </three-mesh>
  </three-scene>
</three-renderer>
