<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener noreferrer">three.js</a> - refraction
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0x20252f'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-scene #scene>
    <three-light
      [type]="'Ambient'"
      [color]="'0xcccccc'"
      [intensity]="0.4"
    >
    </three-light>
    <three-camera [type]="'perspective'" [fov]="45" [near]="0.1" [far]="200">
      <three-position [x]="-10" [y]="0" [z]="15"></three-position>
      <three-light
        [type]="'Point'"
        [color]="'0xffffff'"
        [intensity]="0.8"
      >
      </three-light>
    </three-camera>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh>
        <three-position [x]="0" [y]="0" [z]="0"></three-position>
        <three-geometry
          [type]="'TorusKnot'"
          [radius]="3"
          [tube]="1"
          [radialSegments]="256"
          [tubularSegments]="32"
        ></three-geometry>
        <three-material [type]="'MeshStandard'" [color]="'0x6083c2'"></three-material>
      </three-mesh>
      <three-mesh [type]="'refractor'" [color]="'0x999999'" [textureWidth]="1024" [textureHeight]="1024" [shader]="'WaterRefraction'" (onLoad)="setRefractor($event)">
        <three-position [x]="0" [y]="0" [z]="5"></three-position>
        <three-geometry
          [type]="'Plane'"
          [width]="10"
          [height]="10"
        ></three-geometry>
        <three-texture [textureType]="'tdudv'" [image]="'textures/waterdudv.jpg'" [wrapT]="'repeat'" [wrapS]="'repeat'"></three-texture>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
