<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener noreferrer">three.js</a> - refraction
</div>
<ngx3js-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0x20252f'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
  <ngx3js-scene #scene>
    <ngx3js-light
      [type]="'Ambient'"
      [color]="'0xcccccc'"
      [intensity]="0.4"
    >
    </ngx3js-light>
    <ngx3js-camera [type]="'perspective'" [fov]="45" [near]="0.1" [far]="200">
      <ngx3js-position [x]="-10" [y]="0" [z]="15"></ngx3js-position>
      <ngx3js-light
        [type]="'Point'"
        [color]="'0xffffff'"
        [intensity]="0.8"
      >
      </ngx3js-light>
    </ngx3js-camera>
    <ngx3js-mesh (onLoad)="setMesh($event)">
      <ngx3js-mesh>
        <ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
        <ngx3js-geometry
          [type]="'TorusKnot'"
          [radius]="3"
          [tube]="1"
          [radialSegments]="256"
          [tubularSegments]="32"
        ></ngx3js-geometry>
        <ngx3js-material [type]="'MeshStandard'" [color]="'0x6083c2'"></ngx3js-material>
      </ngx3js-mesh>
      <ngx3js-mesh [type]="'refractor'" [color]="'0x999999'" [textureWidth]="1024" [textureHeight]="1024" [shader]="'WaterRefraction'" (onLoad)="setRefractor($event)">
        <ngx3js-position [x]="0" [y]="0" [z]="5"></ngx3js-position>
        <ngx3js-geometry
          [type]="'Plane'"
          [width]="10"
          [height]="10"
        ></ngx3js-geometry>
        <ngx3js-texture [type]="'tdudv'" [image]="'textures/waterdudv.jpg'" [wrapT]="'repeat'" [wrapS]="'repeat'"></ngx3js-texture>
      </ngx3js-mesh>
    </ngx3js-mesh>
  </ngx3js-scene>
</ngx3js-renderer>
