<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="60" [near]="0.1" [far]="100">
    <three-position [x]="25" [y]="25" [z]="25"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene [background]="'0xE39469'">
    <three-light [type]="'Hemisphere'"></three-light>
    <three-light
      [type]="'Point'"
      [color]="'0xAA8899'"
      [intensity]="0.75"
    >
      <three-position [x]="50" [y]="-25" [z]="75"></three-position>
    </three-light>
    <three-shared>
      <three-mesh #flower [storageName]="'models/gltf/Flower/Flower.glb'" (onLoad)="setFlower($event)"></three-mesh>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="1" [z]="0"></three-position>
      <three-geometry
        [type]="'TorusKnot'"
        [radius]="10"
        [tube]="3"
        [radiusSegments]="100"
        [tubularSegments]="16"
        [toNonIndexed]="true"
      ></three-geometry>
      <three-material [type]="'meshlambert'" [color]="'0xFFF784'" [wireframe]="false"></three-material>
      <three-mesh *ngIf="stemMaterial && stemGeometry" [type]="'Instanced'" [count]="1000" [material]="stemMaterial" [geometry]="stemGeometry" (onLoad)="setStemMesh($event)" ></three-mesh>
      <three-mesh *ngIf="blossomMaterial && blossomGeometry" [type]="'Instanced'" [count]="1000" [material]="blossomMaterial" [geometry]="blossomGeometry" (onLoad)="setBlossomMesh($event)" ></three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
