<div id="info">
  <a [href]="'https://threejs.org'" [target]="'_blank'" [rel]="'noopener'">three.js</a> - FBXLoader - Nurbs
</div>
<three-renderer
  [controlType]="'orbit'"
  [autoRotate]="true"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="12" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="2000">
    <three-position [x]="2" [y]="18" [z]="28"></three-position>
    <three-lookat [x]="0" [y]="12" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene >
    <three-light
      [type]="'Hemisphere'"
      [skyColor]="'0xffffff'"
      [groundColor]="'0x444444'"
    >
      <three-position [x]="0" [y]="1" [z]="0"></three-position>
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
    >
      <three-position [x]="0" [y]="1" [z]="0"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'models/fbx/nurbs.fbx'">
    </three-mesh>
    <three-helper [type]="'grid'" [size]="28" [divisions]="28" [color1]="'0x303030'" [color2]="'0x303030'"></three-helper>
  </three-scene>
</three-renderer>
