<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
  <a href="https://github.com/Virtulous" target="_blank" rel="noopener">Assimp File format</a>
  <div>Assimp loader by <a href="https://virtulo.us" target="_blank" rel="noopener">Virtulous</a></div>
  <div>Octaminator model from <a href="http://opengameart.org/content/octaminator-engine-ready" target="_blank" rel="noopener">Teh_Bucket and raymoohawk</a></div>
</div>
<three-renderer
  [controlType]="'orbit'"
  [autoRotate]="true"
  [enablePan]="false"
  [enableDamping]="true"
  [minDistance]="750"
  [maxDistance]="2500"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="-100" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="25" [near]="1" [far]="10000">
    <three-position [x]="0" [y]="0" [z]="1" [type]="'up'"></three-position>
    <three-position [x]="600" [y]="1150" [z]="5"></three-position>
    <three-lookat [x]="-100" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene>
    <three-light
      type="Hemisphere"
      [intensity]="0.5"
      [skyColor]="'0x8888fff'"
      [groundColor]="'0xff8888'"
    >
      <three-position [x]="0" [y]="1" [z]="0"></three-position>
    </three-light>
    <three-light
      type="directional"
      [color]="'0xffffff'"
      [intensity]="1"
      [castShadow]="true"
    >
      <three-position [x]="0" [y]="4" [z]="4" [normalize]="true"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'models/assimp/octaminator/Octaminator.assimp'">
      <three-position [x]="0" [y]="-100" [z]="0"></three-position>
      <three-rotation [x]="90" [y]="0" [z]="0"></three-rotation>
      <three-mixer [type]="'Virtulous'" [debug]="true" [timeScale]="1"></three-mixer>
    </three-mesh>
  </three-scene>
</three-renderer>
