<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">threejs</a> - Transmission with Premultiplied Alpha (right) and without (left)
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [toneMapping]="'ACESFilmicToneMapping'"
  [toneMappingExposure]="controls.exposure"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="40" [near]="1" [far]="2000">
    <three-position [x]="0" [y]="0" [z]="120"></three-position>
  </three-camera>
  <three-scene #scene [background]="hdrCubeRenderTarget">
    <three-light
      [type]="'SpotLight'"
      [color]="'0xffffff'"
      [intensity]="controls.lightIntensity"
      [angle]="30"
    >
      <three-position [x]="100" [y]="200" [z]="100"></three-position>
    </three-light>
    <three-light
      [type]="'SpotLight'"
      [color]="'0xffffff'"
      [intensity]="controls.lightIntensity"
      [angle]="30"
    >
      <three-position [x]="-100" [y]="-200" [z]="-100"></three-position>
    </three-light>
    <three-shared>
      <three-texture #hdrCubeRenderTarget [storageName]="'royal_esplanade_1k.hdr'" [storageOption]="{ path : 'textures/equirectangular/'}" [cubeType]="'angular'"></three-texture>
      <three-geometry
        #geometry
        [type]="'SphereGeometry'"
        [radius]="20"
        [widthSegments]="64"
        [heightSegments]="32"
      ></three-geometry>
      <three-material 
        #material
        [type]="'MeshPhysicalMaterial'" 
        [color]="controls.color"
        [metalness]="0"
        [roughness]="0"
        [alphaTest]="0.5"
        [envMap]="hdrCubeRenderTarget"
        [envMapIntensity]="controls.envMapIntensity"
        [depthWrite]="false"
        [transmission]="controls.transmission"
        [opacity]="1"
        [transparent]="true"
      >
        <three-texture [textureType]="'alphaMap'" [canvas]="'white'" [magFilter]="'NearestFilter'" [wrap]="'RepeatWrapping'" [repeatX]="1" [repeatY]="3.5"></three-texture>
      </three-material>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh [geometry]="geometry">
        <three-position [x]="-30" [y]="0" [z]="0"></three-position>
        <three-material [refer]="material"></three-material>
        <three-mesh  [geometry]="geometry" [renderOrder]="-1">
          <three-position [x]="0" [y]="0" [z]="0"></three-position>
          <three-material [refer]="material" [side]="'BackSide'"></three-material>
        </three-mesh>
      </three-mesh>
      <three-mesh [geometry]="geometry">
        <three-position [x]="30" [y]="0" [z]="0"></three-position>
        <three-material [refer]="material" [premultipliedAlpha]="true"></three-material>
        <three-mesh  [geometry]="geometry" [renderOrder]="-1">
          <three-position [x]="0" [y]="0" [z]="0"></three-position>
          <three-material [refer]="material" [premultipliedAlpha]="true" [side]="'BackSide'"></three-material>
        </three-mesh>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
