<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - Backgrounds: ClearPass, TexturePass and CubeTexturePass<br/>
  by <a href="https://clara.io" target="_blank" rel="noopener">Ben Houston</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-composer [scene]="scene" [camera]="camera">
    <three-pass [type]="'ClearPass'" [enabled]="controls.clearPass" [clearColor]="controls.clearColor" [clearAlpha]="controls.clearAlpha"></three-pass>
    <three-pass [type]="'TexturePass'" [texture]="map" [enabled]="controls.texturePass" [opacity]="controls.texturePassOpacity"></three-pass>
    <three-pass [type]="'CubeTexturePass'" [texture]="cubeMap" [enabled]="controls.cubeTexturePass" [opacity]="controls.cubeTexturePassOpacity"></three-pass>
    <three-pass [type]="'RenderPass'" [enabled]="controls.renderPass" [clear]="false"></three-pass>
    <three-pass [type]="'ShaderPass'" [shader]="'CopyShader'"></three-pass>
  </three-composer>
  <three-shared>
    <three-texture #map [image]="'textures/hardwood2_diffuse.jpg'"></three-texture>
    <three-texture #cubeMap [image]="'textures/cube/pisa/'" [cubeImage]="['','png']"></three-texture>
  </three-shared>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera #camera [type]="'perspective'" [fov]="65" [near]="1" [far]="10">
    <three-position [x]="0" [y]="0" [z]="7"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-light
      [type]="'PointLight'"
      [color]="'0xddffdd'"
      [intensity]="1.0"
    >
      <three-position [x]="70" [y]="-70" [z]="-70"></three-position>
    </three-light>
    <three-light
      [type]="'PointLight'"
      [color]="'0xddffdd'"
      [intensity]="1.0"
    >
      <three-position [x]="70" [y]="-70" [z]="70"></three-position>
    </three-light>
    <three-light
      [type]="'PointLight'"
      [color]="'0xddffdd'"
      [intensity]="1.0"
    >
      <three-position [x]="70" [y]="70" [z]="-70"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'SphereGeometry'"
        [radius]="1"
        [widthSegments]="48"
        [heightSegments]="24"
      ></three-geometry>
      <three-material [type]="'MeshStandardMaterial'" [roughness]="0.75" [color]="'hsl(0.5,1.0,0.3)'"></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
