<div id="info">
  <a [href]="'https://threejs.org'" [target]="'_blank'" [rel]="'noopener'">three.js</a> webgl - geometries
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0x000000'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-shared>
    <three-material #material [type]="'MeshPhong'" [side]="'double'">
      <three-texture [textureType]="'map'" [image]="'/assets/examples/textures/uv_grid_opengl.jpg'" [wrapS]="'Repeat'" [wrapT]="'Repeat'" [anisotropy]="16"></three-texture>
    </three-material>
    <three-rotation (onLoad)="setRotation($event)" [x]="0" [y]="0" [z]="0"></three-rotation>
  </three-shared>
  <three-scene #scene>
    <three-light
      [type]="'Ambient'"
      [color]="'0xcccccc'"
      [intensity]="0.4"
    >
    </three-light>
    <three-camera [type]="'perspective'" (onLoad)="setCamera($event)" [fov]="45" [near]="1" [far]="2000">
      <three-position [x]="0" [y]="400" [z]="800"></three-position>
      <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
      <three-light
        [type]="'Point'"
        [color]="'0xffffff'"
        [intensity]="0.8"
      >
      </three-light>
    </three-camera>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh [material]="material" [rotation]="rotation">
        <three-position [x]="-300" [y]="0" [z]="200"></three-position>
        <three-geometry
          [type]="'Sphere'"
          [radius]="75"
          [widthSegments]="20"
          [heightSegments]="10"
        ></three-geometry>
      </three-mesh>
      <three-mesh [material]="material" [rotation]="rotation">
        <three-position [x]="-100" [y]="0" [z]="200"></three-position>
        <three-geometry
          [type]="'Icosahedron'"
          [radius]="75"
          [detail]="1"
        ></three-geometry>
      </three-mesh>
      <three-mesh [material]="material" [rotation]="rotation">
        <three-position [x]="100" [y]="0" [z]="200"></three-position>
        <three-geometry
          [type]="'Octahedron'"
          [radius]="75"
          [detail]="2"
        ></three-geometry>
      </three-mesh>
      <three-mesh [material]="material" [rotation]="rotation">
        <three-position [x]="300" [y]="0" [z]="200"></three-position>
        <three-geometry
          [type]="'Tetrahedron'"
          [radius]="75"
          [detail]="0"
        ></three-geometry>
      </three-mesh>
      <three-mesh [material]="material" [rotation]="rotation">
        <three-position [x]="-300" [y]="0" [z]="0"></three-position>
        <three-geometry
          [type]="'Plane'"
          [width]="100"
          [height]="100"
          [widthSegments]="4"
          [heightSegments]="4"
        ></three-geometry>
      </three-mesh>
      <three-mesh [material]="material" [rotation]="rotation">
        <three-position [x]="-100" [y]="0" [z]="0"></three-position>
        <three-geometry
          [type]="'Box'"
          [width]="100"
          [height]="100"
          [depth]="100"
          [heightSegments]="4"
          [widthSegments]="4"
          [depthSegments]="4"
        ></three-geometry>
      </three-mesh>
      <three-mesh [material]="material" [rotation]="rotation">
        <three-position [x]="100" [y]="0" [z]="0"></three-position>
        <three-geometry
          [type]="'Circle'"
          [radius]="50"
          [segments]="20"
        ></three-geometry>
      </three-mesh>
      <three-mesh [material]="material">
        <three-position [x]="300" [y]="0" [z]="0"></three-position>
        <three-geometry
          [type]="'Ring'"
          [innerRadius]="10"
          [outerRadius]="50"
          [thetaSegments]="20"
          [phiSegments]="5"
        ></three-geometry>
      </three-mesh>
      <three-mesh [material]="material" [rotation]="rotation">
        <three-position [x]="-300" [y]="0" [z]="-200"></three-position>
        <three-geometry
          [type]="'Cylinder'"
          [radiusTop]="25"
          [radiusBottom]="75"
          [height]="100"
          [radialSegments]="40"
          [heightSegments]="5"
        ></three-geometry>
      </three-mesh>
      <three-mesh [material]="material" [rotation]="rotation">
        <three-position [x]="-100" [y]="0" [z]="-200"></three-position>
        <three-geometry
          [type]="'Lathe'"
          [segments]="20"
          [points]="points"
        ></three-geometry>
      </three-mesh>
      <three-mesh [material]="material" [rotation]="rotation">
        <three-position [x]="100" [y]="0" [z]="-200"></three-position>
        <three-geometry
          [type]="'Torus'"
          [radius]="50"
          [tube]="20"
          [radialSegments]="20"
          [tubularSegments]="20"
        ></three-geometry>
      </three-mesh>
      <three-mesh [material]="material" [rotation]="rotation">
        <three-position [x]="300" [y]="0" [z]="-200"></three-position>
        <three-geometry
          [type]="'TorusKnot'"
          [radius]="50"
          [tube]="10"
          [radialSegments]="50"
          [tubularSegments]="20"
        ></three-geometry>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
