<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - lines WebGL demo
</div>
<three-renderer
  [controlType]="'orbit'"
  [autoRotate]="true"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="80" [near]="1" [far]="3000">
    <three-position [x]="0" [y]="0" [z]="1000"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene>
    <three-shared>
      <three-geometry
        #geometry
        [type]="'Buffer'"
        [position]="vertices"
      ></three-geometry>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let info of parameters" [type]="'LineSegments'" [geometry]="geometry">
        <three-position [x]="0" [y]="0" [z]="0"></three-position>
        <three-scale [x]="info.scale" [y]="info.scale" [z]="info.scale"></three-scale>
        <three-rotation [x]="0" [y]="info.rotation" [z]="0"></three-rotation>
        <three-material [type]="'LineBasic'" [color]="info.color" [opacity]="info.opacity"></three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
