<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
	lines WebGL demo
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, enableDamping: true, autoRotate: true }"
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="80" [near]="1" [far]="3000">
		<ngx3js-position [x]="0" [y]="0" [z]="1000"></ngx3js-position>
		<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	</ngx3js-camera>
	<ngx3js-scene #scene>
		<ngx3js-shared>
			<ngx3js-geometry
				#geometry
				[type]="'Buffer'"
				[attrPosition]="vertices"
			></ngx3js-geometry>
		</ngx3js-shared>
		<ngx3js-mesh (onLoad)="setMesh($event)">
			<ngx3js-mesh
				*ngFor="let info of parameters"
				[type]="'LineSegments'"
				[geometry]="geometry"
			>
				<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
				<ngx3js-scale
					[x]="info.scale"
					[y]="info.scale"
					[z]="info.scale"
				></ngx3js-scale>
				<ngx3js-rotation [x]="0" [y]="info.rotation" [z]="0"></ngx3js-rotation>
				<ngx3js-material
					[type]="'LineBasic'"
					[color]="info.color"
					[opacity]="info.opacity"
				></ngx3js-material>
			</ngx3js-mesh>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
