<div class="info dark">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
	webgl gpgpu birds + GLTF mesh<br />
	Flamingo by
	<a href="https://mirada.com/" target="_blank" rel="noopener">mirada</a> from
	<a href="http://www.ro.me/" target="_blank" rel="noopener">rome</a><br />
	Move mouse to disturb birds.
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, enableDamping: true }"
	[statsMode]="0"
	[antialias]="true"
	[clearColor]="'0xffffff'"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	[useEvent]="'pointermove'"
	(eventListener)="onPointerMove($event)"
	(onLoad)="setRender($event)"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="75" [near]="1" [far]="3000">
		<ngx3js-position [x]="0" [y]="0" [z]="350"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene [background]="backgroundColor">
		<ngx3js-fog [color]="backgroundColor" [near]="100" [far]="1000"></ngx3js-fog>
		<ngx3js-light [type]="'HemisphereLight'" [skyColor]="backgroundColor" [groundColor]="'0xffffff'" [intensity]="1.6">
			<ngx3js-position [x]="0" [y]="50" [z]="0"></ngx3js-position>
		</ngx3js-light>
		<ngx3js-light [type]="'DirectionalLight'" [color]="'0x00CED1'" [intensity]="0.6">
			<ngx3js-position [x]="-1" [y]="1.75" [z]="1" [multiply]="30"></ngx3js-position>
		</ngx3js-light>
		
		<ngx3js-shared>
			<ngx3js-material
				#material
				[type]="'ShaderMaterial'"
				[uniforms]="{
					color: { type: 'color', value: '0xff2200' },
					texturePosition: { value: null },
					textureVelocity: { value: null },
					time: { type: 'number', value: 1.0 },
					delta: { type: 'number', value: 0.0 }
				}"
				[shader]="'ShaderDemo11'"
				[side]="'double'"
			></ngx3js-material>
		</ngx3js-shared>
		<ngx3js-mesh (onLoad)="setMesh($event)" *ngIf="bird" [geometry]="bird" [castShadow]="true" [receiveShadow]="true">
			<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-rotation [x]="0" [y]="90" [z]="0"></ngx3js-rotation>
			<ngx3js-material
				[type]="'MeshStandardMaterial'"
				[vertexColors]="true"
				[flatShading]="true"
				[roughness]="1"
				[metalness]="0"
			></ngx3js-material>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
