<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
	webgl physically based shading testbed
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, enableDamping: true }"
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="45" [near]="2" [far]="10000">
		<ngx3js-position [x]="500" [y]="400" [z]="1200"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene [background]="'0xa0a0a0'">
		<ngx3js-fog [color]="'0x000000'" [near]="1000" [far]="10000"></ngx3js-fog>
		<ngx3js-light [type]="'Ambient'" [color]="'0x3f2806'"></ngx3js-light>
		<ngx3js-light
			[type]="'Point'"
			[color]="'0xffaa00'"
			[intensity]="1"
			[distance]="5000"
		></ngx3js-light>
		<ngx3js-light
			#sunLight
			[type]="'directional'"
			[color]="'0xffffff'"
			[intensity]="0.3"
			[castShadow]="true"
			[shadowCameraTop]="750"
			[shadowCameraBottom]="-750"
			[shadowCameraLeft]="-750"
			[shadowCameraRight]="750"
			[shadowCameraNear]="controls.shadowCameraNear"
			[shadowCameraFar]="controls.shadowCameraFar"
			[shadowMapSizeWidth]="1024"
			[shadowMapSizeHeight]="1024"
			[shadowBias]="controls.shadowBias"
		>
			<ngx3js-position [x]="1000" [y]="2000" [z]="1000"></ngx3js-position>
		</ngx3js-light>
		<ngx3js-helper
			[type]="'Camera'"
			[target]="sunLight"
			[visible]="controls.shadowCameraVisible"
		></ngx3js-helper>
		<ngx3js-shared>
			<ngx3js-geometry
				#sphereGeometry
				[type]="'sphere'"
				[radius]="100"
				[widthSegments]="64"
				[heightSegments]="32"
			></ngx3js-geometry>
			<ngx3js-geometry
				#torusGeometry
				[type]="'torus'"
				[radius]="240"
				[tube]="60"
				[radialSegments]="32"
				[tubularSegments]="64"
			></ngx3js-geometry>
			<ngx3js-geometry
				#cubeGeometry
				[type]="'box'"
				[width]="150"
				[height]="150"
				[depth]="150"
			></ngx3js-geometry>
			<ngx3js-geometry
				#bigCube
				[type]="'box'"
				[width]="50"
				[height]="500"
				[depth]="50"
			></ngx3js-geometry>
			<ngx3js-geometry
				#midCube
				[type]="'box'"
				[width]="50"
				[height]="200"
				[depth]="50"
			></ngx3js-geometry>
			<ngx3js-geometry
				#smallCube
				[type]="'box'"
				[width]="100"
				[height]="100"
				[depth]="100"
			></ngx3js-geometry>
			<ngx3js-material
				#materialLambert
				[type]="'MeshPhong'"
				[color]="'0xffffff'"
				[shininess]="50"
			>
				<ngx3js-texture
					[image]="'textures/disturb.jpg'"
					[repeatX]="1"
					[repeatY]="1"
					[wrapS]="'repeat'"
					[wrapT]="'repeat'"
					[encoding]="'sRGB'"
				></ngx3js-texture>
			</ngx3js-material>
			<ngx3js-material
				#materialPhong
				[type]="'MeshPhong'"
				[color]="'0xffffff'"
				[shininess]="50"
				[specular]="'0x999999'"
			>
				<ngx3js-texture
					[image]="'textures/lava/lavatile.jpg'"
					[repeatX]="6"
					[repeatY]="2"
					[wrapS]="'repeat'"
					[wrapT]="'repeat'"
					[encoding]="'sRGB'"
				></ngx3js-texture>
			</ngx3js-material>
			<ngx3js-material
				#materialPhongCube
				[type]="'MeshPhong'"
				[color]="'0xffffff'"
				[shininess]="50"
				[specular]="'0x999999'"
			>
			</ngx3js-material>
			<ngx3js-material #materialColor [type]="'MeshPhong'" [color]="'0xffffff'">
			</ngx3js-material>
		</ngx3js-shared>
		<ngx3js-mesh (onLoad)="setMesh($event)">
			<ngx3js-mesh [geometry]="torusGeometry" [material]="materialPhong">
				<ngx3js-position [x]="0" [y]="100" [z]="0"></ngx3js-position>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="cubeGeometry" [material]="materialLambert">
				<ngx3js-position [x]="350" [y]="75" [z]="300"></ngx3js-position>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="sphereGeometry" [material]="materialPhongCube">
				<ngx3js-position [x]="350" [y]="100" [z]="-350"></ngx3js-position>
				<ngx3js-camera
					[type]="'CubePingPong'"
					[near]="1"
					[far]="10000"
					[material]="materialPhongCube"
				>
				</ngx3js-camera>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="bigCube" [material]="materialColor">
				<ngx3js-position [x]="-500" [y]="250" [z]="0"></ngx3js-position>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="smallCube" [material]="materialColor">
				<ngx3js-position [x]="-500" [y]="50" [z]="-150"></ngx3js-position>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="midCube" [material]="materialColor">
				<ngx3js-position [x]="500" [y]="100" [z]="0"></ngx3js-position>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="smallCube" [material]="materialColor">
				<ngx3js-position [x]="500" [y]="50" [z]="-150"></ngx3js-position>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="midCube" [material]="materialColor">
				<ngx3js-position [x]="0" [y]="100" [z]="-500"></ngx3js-position>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="smallCube" [material]="materialColor">
				<ngx3js-position [x]="-150" [y]="50" [z]="-500"></ngx3js-position>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="midCube" [material]="materialColor">
				<ngx3js-position [x]="0" [y]="100" [z]="500"></ngx3js-position>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="smallCube" [material]="materialColor">
				<ngx3js-position [x]="-150" [y]="50" [z]="500"></ngx3js-position>
			</ngx3js-mesh>
			<ngx3js-mesh [material]="materialColor">
				<ngx3js-position [x]="0" [y]="600" [z]="0"></ngx3js-position>
				<ngx3js-rotation [x]="0" [y]="45" [z]="0"></ngx3js-rotation>
				<ngx3js-geometry
					[type]="'box'"
					[width]="500"
					[height]="10"
					[depth]="10"
				></ngx3js-geometry>
			</ngx3js-mesh>
			<ngx3js-mesh [material]="materialColor">
				<ngx3js-position [x]="0" [y]="600" [z]="0"></ngx3js-position>
				<ngx3js-geometry
					[type]="'box'"
					[width]="250"
					[height]="10"
					[depth]="10"
				></ngx3js-geometry>
			</ngx3js-mesh>
			<ngx3js-mesh [material]="materialColor">
				<ngx3js-position [x]="-300" [y]="100" [z]="300"></ngx3js-position>
				<ngx3js-geometry
					[type]="'Sphere'"
					[radius]="100"
					[widthSegments]="32"
					[heightSegments]="26"
				></ngx3js-geometry>
			</ngx3js-mesh>
			<ngx3js-mesh [storageName]="'models/gltf/SittingBox.glb'">
				<ngx3js-scale [multiply]="200"></ngx3js-scale>
				<ngx3js-mixer [action]="'base'">
					<ngx3js-clip [name]="'base'" [index]="0"></ngx3js-clip>
				</ngx3js-mixer>
			</ngx3js-mesh>
		</ngx3js-mesh>
		<ngx3js-mesh [receiveShadow]="true">
			<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-rotation [x]="-90" [y]="0" [z]="0"></ngx3js-rotation>
			<ngx3js-scale [multiply]="1000"></ngx3js-scale>
			<ngx3js-geometry
				[type]="'Plane'"
				[width]="100"
				[height]="100"
			></ngx3js-geometry>
			<ngx3js-material
				[type]="'MeshPhong'"
				[color]="'0xffffff'"
				[shininess]="80"
				[specular]="'0xffffff'"
			>
				<ngx3js-texture
					[image]="'textures/patterns/bright_squares256.png'"
					[repeatX]="50"
					[repeatY]="50"
					[wrapT]="'repeat'"
					[wrapS]="'repeat'"
					[magFilter]="'Nearest'"
					[encoding]="'sRGB'"
				></ngx3js-texture>
			</ngx3js-material>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
