<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
  Material Blending
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="70" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="0" [z]="600"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="-1"></three-position>
      <three-geometry
        [type]="'Plane'"
        [width]="4000"
        [height]="2000"
      ></three-geometry>
      <three-material [type]="'MeshBasic'">
        <three-texture [width]="128" [height]="128" [program]="canvasProgram" [wrapS]="'Repeat'" [wrapT]="'Repeat'" [repeatX]="128" [repeatY]="64"></three-texture>
      </three-material>
      <three-mesh *ngFor="let mesh of meshInfos">
        <three-position [x]="mesh.x" [y]="mesh.y" [z]="mesh.z"></three-position>
        <three-geometry
          [type]="'Plane'"
          [width]="100"
          [height]="100"
        ></three-geometry>
        <three-material [type]="'MeshBasic'" [transparent]="true" [blending]="mesh.blending">
          <three-texture [image]="mesh.map"></three-texture>
        </three-material>
        <three-mesh>
          <three-position [x]="0" [y]="-75" [z]="0"></three-position>
          <three-geometry
            [type]="'Plane'"
            [width]="100"
            [height]="25"
          ></three-geometry>
          <three-material [type]="'MeshBasic'" [transparent]="true">
            <three-texture [program]="labelProgram" [text]="mesh.name" [width]="128" [height]="32"></three-texture>
          </three-material>
        </three-mesh>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
