<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">threejs</a> - Physical Material Reflectivity (reflectance at F0)<br/>
  example by <a href="http://clara.io/" target="_blank" rel="noopener">Ben Houston</a>.
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  [outputEncoding]="'sRGBEncoding'"
  [toneMappingExposure]="controls.exposure"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="40" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="-10" [z]="20*3.5"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0x000000'">
    <three-light
      [type]="'AmbientLight'"
      [color]="'0x222222'"
    ></three-light>
    <three-light
      [type]="'PointLight'"
      [color]="'0xffffff'"
      [castShadow]="true"
    ><three-position [x]="150" [y]="10" [z]="0"></three-position></three-light>
    <three-light
      [type]="'PointLight'"
      [color]="'0xffffff'"
      [castShadow]="true"
    ><three-position [x]="-150" [y]="0" [z]="0"></three-position></three-light>
    <three-light
      [type]="'PointLight'"
      [color]="'0xffffff'"
      [castShadow]="true"
    ><three-position [x]="0" [y]="-10" [z]="-150"></three-position></three-light>
    <three-light
      [type]="'PointLight'"
      [color]="'0xffffff'"
      [castShadow]="true"
    ><three-position [x]="0" [y]="0" [z]="150"></three-position></three-light>
    <three-shared>
      <three-geometry
        #emerald
        [storageName]="'models/obj/emerald.obj'"
      ></three-geometry>
      <three-texture #hdrEquirect 
        [storageName]="'royal_esplanade_1k.hdr'" 
        [storageOption]="{ path : 'textures/equirectangular/'}"
        [cubeType]="'Equirectangular'"
      ></three-texture>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-mesh [geometry]="emerald">
        <three-material 
          [type]="'MeshPhysicalMaterial'" 
          [color]="gemBackMaterialColor"
          [metalness]="1"
          [roughness]="0"
          [opacity]="0.5"
          [side]="'BackSide'"
          [transparent]="true"
          [reflectivity]="controls.reflectivity"
          [envMap]="hdrEquirect"
          [envMapIntensity]="5"
          [premultipliedAlpha]="true"
        ></three-material>
      </three-mesh>
      <three-mesh [geometry]="emerald">
        <three-material 
          [type]="'MeshPhysicalMaterial'" 
          [color]="gemBackMaterialColor"
          [metalness]="0"
          [roughness]="0"
          [opacity]="0.25"
          [side]="'FrontSide'"
          [transparent]="true"
          [reflectivity]="controls.reflectivity"
          [envMap]="hdrEquirect"
          [envMapIntensity]="10"
          [premultipliedAlpha]="true"
          [windowExport]="'MeshPhysicalMaterial'"
        ></three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
