<div class="info dark">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - MMDLoader test<br />
  <a href="https://github.com/mrdoob/three.js/tree/master/examples/models/mmd#readme" target="_blank" rel="noopener">MMD
    Assets license</a><br />
  Copyright
  <a href="https://sites.google.com/view/evpvp/" target="_blank" rel="noopener">Model Data</a>
  <a href="http://www.nicovideo.jp/watch/sm13147122" target="_blank" rel="noopener">Dance Data</a>
  <a href="http://www.nicovideo.jp/watch/sm11938255" target="_blank" rel="noopener">Audio Data</a><br />
  Camera is customized from <a href="http://www.nicovideo.jp/watch/sm19168559" target="_blank" rel="noopener">this
    Data</a>
</div>
<ngx3js-renderer [controlType]="'orbit'" [statsMode]="0" [antialias]="true" [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true" [guiControl]="controls" [guiParams]="controlsParams" (onRender)="onRender($event)">
  <ngx3js-scene #scene>
    <ngx3js-camera [type]="'perspective'" [fov]="45" [near]="0.1" [far]="2000"
      [storageName]="'models/mmd/vmds/wavefile_camera.vmd'">
      <ngx3js-mixer [type]="'MMDAnimationHelper'" [animationHelper]="animationHelper"></ngx3js-mixer>
      <ngx3js-position [x]="0" [y]="20" [z]="30"></ngx3js-position>
      <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
      <ngx3js-listener></ngx3js-listener>
    </ngx3js-camera>
    <ngx3js-physics></ngx3js-physics>
    <ngx3js-mesh [type]="'light'" 
      [lightOptions]="{
        type : 'ambient', color : '0x121212'
      }"
    ></ngx3js-mesh>
    <ngx3js-mesh [type]="'light'" 
      [lightOptions]="{
        type : 'directional', color : '0xffffff', intensity : 0.2
      }"
      [castShadow]="true"
    >
      <ngx3js-position [x]="-40" [y]="60" [z]="-10"></ngx3js-position>
      <ngx3js-lookat [refer]="scene"></ngx3js-lookat>
    </ngx3js-mesh>
    <ngx3js-mesh [helperType]="'polargrid'" [helperOptions]="{ radius : 30 , radials : 10 }">
      <ngx3js-position [x]="0" [y]="-10" [z]="0"></ngx3js-position>
      <ngx3js-audio [type]="'audio'" [url]="'models/mmd/audios/wavefile_short.mp3'">
        <ngx3js-mixer [type]="'MMDAnimationHelper'" [animationHelper]="animationHelper" [delayTime]="160 * 1 / 30">
        </ngx3js-mixer>
      </ngx3js-audio>
    </ngx3js-mesh>
    <ngx3js-mesh [storageName]="'models/mmd/miku/miku_v2.pmd'" [storageOption]="{
          vmdUrl : ['models/mmd/vmds/wavefile_v2.vmd']
        }" [castShadow]="true">
      <ngx3js-mixer [type]="'MMDAnimationHelper'" #animationHelper [afterglow]="2.0" [gravity]="-9.8 * 10"
        [physics]="true"></ngx3js-mixer>
      <ngx3js-position [x]="0" [y]="-10" [z]="0"></ngx3js-position>
    </ngx3js-mesh>
  </ngx3js-scene>
</ngx3js-renderer>