<div class="info dark">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
	webgl2 - volume - instancing
</div>
<ngx3js-renderer
	[type]="'webgl2'"
	[controlType]="'orbit'"
	[controlOptions]="{
		enablePan: false,
		enableDamping: true,
		autoRotate: true,
		autoRotateSpeed: -1.0
	}"
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="60" [near]="0.1" [far]="1000" (onLoad)="setCamera($event)">
		<ngx3js-position [x]="0" [y]="0" [z]="4"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-shared>
		<ngx3js-geometry
			#geometry
			[type]="'box'"
			[width]="1"
			[height]="1"
			[depth]="1"
		></ngx3js-geometry>
	</ngx3js-shared>

	<ngx3js-scene #scene>
		<ngx3js-mesh (onLoad)="setMesh($event)">
			<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-mesh *ngFor="let info of instancedMeshInfo" 
				[type]="'InstancedMesh'" 
				[count]="50000" 
				[geometry]="geometry"
				[makeMatrix]="makeMatrix"
				(onLoad)="setInstancedMesh($event)"
			>
				<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
				<ngx3js-material
					[type]="'RawShaderMaterial'"
					[vertexShader]="vertexShader"
					[fragmentShader]="fragmentShader"
					[uniforms]="{ map : { value : info.map }, cameraPos : { value : info.cameraPos }}"
					[glslVersion]="'GLSL3'"
					[side]="'backside'"
				></ngx3js-material>
			</ngx3js-mesh>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
