<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - Resolution-Independent Vector Fonts. <a href="https://github.com/mrdoob/three.js/issues/4746">info</a>.
  todo
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="50" [y]="100" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="50" [near]="1" [far]="10000">
    <three-position [x]="50" [y]="100" [z]="500"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0xf0f0f0'">
    <three-shared>
      <three-geometry
        #geometry
        [type]="'text'"
        [text]="'&'"
        [size]="180"
      ></three-geometry>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh [geometry]="geometry">
        <three-position [x]="-200" [y]="0" [z]="0"></three-position>
        <three-material 
          [type]="'MeshBasic'" 
          [color]="'0x0000ff'"
          [side]="'double'"
          [wireframe]="true"
        ></three-material>
      </three-mesh>
      <three-mesh [geometry]="geometry">
        <three-position [x]="0" [y]="0" [z]="0"></three-position>
        <three-material 
          [type]="'shader'" 
          [uniforms]="{ color : { type : 'color', value : '0x2cff00'}}"
          [fragmentShader]="fragmentShader"
          [vertexShader]="vertexShader"
          [side]="'double'"
        ></three-material>
      </three-mesh>
      <three-mesh [geometry]="geometry">
        <three-position [x]="200" [y]="0" [z]="0"></three-position>
        <three-material 
          [type]="'MeshBasic'" 
          [color]="'0xff0000'"
          [side]="'double'"
          [wireframe]="true"
        ></three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
