<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - todo
</div>
<ngx3js-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
  <ngx3js-camera [type]="'perspective'" [fov]="70" [near]="1" [far]="1000">
    <ngx3js-position [x]="0" [y]="0" [z]="500"></ngx3js-position>
    <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
  </ngx3js-camera>
  <ngx3js-scene #scene>
    <ngx3js-mesh (onLoad)="setMesh($event)">
      <ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
      <ngx3js-geometry
        [type]="geometryInfo.type"
        [overrideParams]="geometryInfo"
        [sphereScale]="160"
      ></ngx3js-geometry>
      <ngx3js-material 
        [type]="'MeshBasic'" 
        [color]="'0xfefefe'"
        [wireframe]="true"
        [opacity]="0.5"
      ></ngx3js-material>
      <ngx3js-helper 
        [type]="'VertexNormals'"
        [name]="geometryInfo.type"
        [size]="10"
      ></ngx3js-helper>
    </ngx3js-mesh>
  </ngx3js-scene>
</ngx3js-renderer>
