<div [id]="'info'">
  <a [href]="'https://threejs.org'" [target]="'_blank'" [rel]="'noopener'">three.js</a> -
  Skeletal Animation Blending (model from
  <a [href]="'https://www.mixamo.com/'" [target]="'_blank'" [rel]="'noopener'">mixamo.com</a
  >)<br />
  Note: crossfades are possible with blend weights being set to (1,0,0), (0,1,0)
  or (0,0,1)
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="70" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="0" [z]="500"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="geometryInfo.type"
        [params]="geometryInfo"
        [sphereScale]="160"
      ></three-geometry>
      <three-material 
        [type]="'MeshBasic'" 
        [color]="'0xfefefe'"
        [wireframe]="true"
        [opacity]="0.5"
      ></three-material>
      <three-helper 
        [type]="'VertexNormals'"
        [name]="geometryInfo.type"
        [size]="10"
      ></three-helper>
    </three-mesh>
  </three-scene>
</three-renderer>
