<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - screen space ambient occlusion<br/>
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-composer [scene]="scene" [camera]="camera">
    <three-pass [type]="'SSAOPass'" [kernelRadius]="16" (onLoad)="setSsaoPass($event)"></three-pass>
  </three-composer>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera #camera [type]="'perspective'" [fov]="65" [near]="100" [far]="700">
    <three-position [x]="0" [y]="0" [z]="500"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0xaaaaaa'">
    <three-light [type]="'HemisphereLight'"></three-light>
    <three-light [type]="'DirectionalLight'"></three-light>
    <three-shared>
      <three-geometry
        #geometry
        [type]="'box'"
        [width]="10"
        [height]="10"
        [depth]="10"
      ></three-geometry>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let info of meshInfos" [geometry]="geometry">
        <three-position [x]="info.position.x" [y]="info.position.y" [z]="info.position.z"></three-position>
        <three-rotation [x]="info.rotation.x" [y]="info.rotation.y" [z]="info.rotation.z"></three-rotation>
        <three-scale [multiply]="info.scale"></three-scale>
        <three-material [type]="'meshlambert'" [color]="info.color"></three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
