<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - Skeletal Animation Blending (model from
  <a href="https://www.mixamo.com/" target="_blank" rel="noopener">mixamo.com</a>)<br />
  Note: crossfades are possible with blend weights being set to (1,0,0), (0,1,0) or (0,0,1)
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="90" [near]="0.1" [far]="100">
    <three-position [x]="0" [y]="0" [z]="0.01"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0xa0a0a0'">
    <three-mesh *ngIf="canvasList && canvasList.length == 6" (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'box'"
        [width]="1"
        [height]="1"
        [depth]="1"
      >
        <three-scale [x]="1" [y]="1" [z]="-1"></three-scale>
      </three-geometry>
      <three-material *ngFor="let canvas of canvasList" [type]="'MeshBasic'">
        <three-texture [canvas]="canvas"></three-texture>
      </three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
