<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - point lights WebGL demo.<br />
  Walt Disney head by <a href="http://davidoreilly.com/post/18087489343/disneyhead" target="_blank" rel="noopener">David OReilly</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true, autoRotate : true  }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="50" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="0" [z]="100"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene>
    <three-shared>
      <three-geometry #lightGeometry [type]="'Sphere'" [radius]="0.5" [widthSegments]="16" [heightSegments]="8"></three-geometry>
    </three-shared>
    <three-mesh
        [type]="'light'"
        [lightOptions]="{
          type : 'Point',
          color : '0xff0040',
          intensity : 2,
          distance : 50
        }"
        (onLoad)="setLight1($event)"
      >
      <three-position [x]="0" [y]="20" [z]="0"></three-position>
      <three-mesh [geometry]="lightGeometry">
        <three-material [type]="'MeshBasic'" [color]="'0xff0040'"></three-material>
      </three-mesh>
    </three-mesh>
    <three-mesh
        [type]="'light'"
        [lightOptions]="{
          type : 'Point',
          color : '0x0040ff',
          intensity : 2,
          distance : 50
        }"
        (onLoad)="setLight2($event)"
      >
      <three-position [x]="0" [y]="20" [z]="0"></three-position>
      <three-mesh [geometry]="lightGeometry">
        <three-material [type]="'MeshBasic'" [color]="'0x0040ff'"></three-material>
      </three-mesh>
    </three-mesh>
    <three-mesh
        [type]="'light'"
        [lightOptions]="{
          type : 'Point',
          color : '0x80ff80',
          intensity : 2,
          distance : 50
        }"
        (onLoad)="setLight3($event)"
      >
      <three-position [x]="0" [y]="20" [z]="0"></three-position>
      <three-mesh [geometry]="lightGeometry">
        <three-material [type]="'MeshBasic'" [color]="'0x80ff80'"></three-material>
      </three-mesh>
    </three-mesh>
    <three-mesh
        [type]="'light'"
        [lightOptions]="{
          type : 'Point',
          color : '0xffaa00',
          intensity : 2,
          distance : 50
        }"
        (onLoad)="setLight4($event)"
      >
      <three-position [x]="0" [y]="20" [z]="0"></three-position>
      <three-mesh [geometry]="lightGeometry">
        <three-material [type]="'MeshBasic'" [color]="'0xffaa00'"></three-material>
      </three-mesh>
    </three-mesh>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'models/obj/walt/WaltHead.obj'">
      <three-position [x]="0" [y]="-30" [z]="0"></three-position>
      <three-scale [multiply]="0.8"></three-scale>
    </three-mesh>
  </three-scene>
</three-renderer>
