<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
	point lights WebGL demo.<br />
	Walt Disney head by
	<a
		href="http://davidoreilly.com/post/18087489343/disneyhead"
		target="_blank"
		rel="noopener"
		>David OReilly</a
	>
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, enableDamping: true, autoRotate: true }"
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="50" [near]="1" [far]="1000">
		<ngx3js-position [x]="0" [y]="0" [z]="100"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene>
		<ngx3js-shared>
			<ngx3js-geometry
				#lightGeometry
				[type]="'Sphere'"
				[radius]="0.5"
				[widthSegments]="16"
				[heightSegments]="8"
			></ngx3js-geometry>
		</ngx3js-shared>
		<ngx3js-mesh
			[type]="'light'"
			[lightOptions]="{
				type: 'Point',
				color: '0xff0040',
				intensity: 2,
				distance: 50
			}"
			(onLoad)="setLight1($event)"
		>
			<ngx3js-position [x]="0" [y]="20" [z]="0"></ngx3js-position>
			<ngx3js-mesh [geometry]="lightGeometry">
				<ngx3js-material
					[type]="'MeshBasic'"
					[color]="'0xff0040'"
				></ngx3js-material>
			</ngx3js-mesh>
		</ngx3js-mesh>
		<ngx3js-mesh
			[type]="'light'"
			[lightOptions]="{
				type: 'Point',
				color: '0x0040ff',
				intensity: 2,
				distance: 50
			}"
			(onLoad)="setLight2($event)"
		>
			<ngx3js-position [x]="0" [y]="20" [z]="0"></ngx3js-position>
			<ngx3js-mesh [geometry]="lightGeometry">
				<ngx3js-material
					[type]="'MeshBasic'"
					[color]="'0x0040ff'"
				></ngx3js-material>
			</ngx3js-mesh>
		</ngx3js-mesh>
		<ngx3js-mesh
			[type]="'light'"
			[lightOptions]="{
				type: 'Point',
				color: '0x80ff80',
				intensity: 2,
				distance: 50
			}"
			(onLoad)="setLight3($event)"
		>
			<ngx3js-position [x]="0" [y]="20" [z]="0"></ngx3js-position>
			<ngx3js-mesh [geometry]="lightGeometry">
				<ngx3js-material
					[type]="'MeshBasic'"
					[color]="'0x80ff80'"
				></ngx3js-material>
			</ngx3js-mesh>
		</ngx3js-mesh>
		<ngx3js-mesh
			[type]="'light'"
			[lightOptions]="{
				type: 'Point',
				color: '0xffaa00',
				intensity: 2,
				distance: 50
			}"
			(onLoad)="setLight4($event)"
		>
			<ngx3js-position [x]="0" [y]="20" [z]="0"></ngx3js-position>
			<ngx3js-mesh [geometry]="lightGeometry">
				<ngx3js-material
					[type]="'MeshBasic'"
					[color]="'0xffaa00'"
				></ngx3js-material>
			</ngx3js-mesh>
		</ngx3js-mesh>
		<ngx3js-mesh
			(onLoad)="setMesh($event)"
			[storageName]="'models/obj/walt/WaltHead.obj'"
		>
			<ngx3js-position [x]="0" [y]="-30" [z]="0"></ngx3js-position>
			<ngx3js-scale [multiply]="0.8"></ngx3js-scale>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
