<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - instanced circle billboards - colors
  <div id="notSupported" style="display:none">Sorry, your graphics card + browser does not support hardware instancing</div>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="50" [near]="1" [far]="5000">
    <three-position [x]="0" [y]="0" [z]="1400"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-scale [multiply]="500"></three-scale>
      <three-geometry
        [type]="'instanced'"
        [attrIndex]="index"
        [attributes]="attributes"
        [attrTranslate]="translateArray"
      ></three-geometry>
      <three-material 
        [type]="'RawShaderMaterial'" 
        [uniforms]="{
          map : { type : 'texture', value : 'textures/sprites/circle.png'},
          time : { type : 'number', value : 0.0 }
        }"
        [shader]="'ScaleColor'"
        [depthTest]="true"
        [depthWrite]="true"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
