<three-renderer  [statsMode]="0" [antialias]="true" [clearColor]="'0xffffff'" [shadowMapEnabled]="true" [guiControl]="controls" [guiParams]="controlsParams" (onRender)="onRender($event)">
    <three-camera #camera [type]="'perspective'" [fov]="45" [near]="0.1" [far]="2000">
        <three-position [x]="-30" [y]="40" [z]="30"></three-position>
        <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
    </three-camera>
    <three-scene #scene >
        <three-mesh [type]="'light'" [lightOptions]="{ type : 'ambient', color : '0x121212' }"></three-mesh>
        <three-mesh [type]="'light'" [lightOptions]="{ type : 'directional', color : '0xffffff' , intensity : 0.2  }" [castShadow]="true" >
            <three-position [x]="-40" [y]="60" [z]="-10"></three-position>
            <three-lookat [refer]="scene"></three-lookat>
        </three-mesh>
        <three-mesh *ngIf="tubePoints" [castShadow]="false">
            <three-position [x]="0" [y]="0" [z]="0"></three-position>
            <three-geometry [type]="'Tube'"
                [tubularSegments]="60"
                [radius]="0.01"
            >
                <three-curve [type]="'line3'" [points]="tubePoints"></three-curve>
            </three-geometry>
            <three-material [type]="'MeshBasic'" [color]="'0xff0000'" [transparent]="true" [opacity]="0.4" [wireframe]="controls.wireframe"></three-material>
        </three-mesh>

        <three-mesh #cylinder >
            <three-position [x]="0" [y]="0" [z]="1"></three-position>
            <three-scale [x]="scalingStep.x" [y]="scalingStep.y" [z]="scalingStep.z"></three-scale>
            <three-geometry [type]="'cylinder'" [radiusTop]="2" [radiusBottom]="2" [height]="20" [radialSegments]="20"></three-geometry>
            <three-material [type]="'meshlambert'" [color]="'0x77ff77'" [wireframe]="controls.wireframe"></three-material>
        </three-mesh>
        <three-mesh #sphere>
            <three-position [x]="spherePosition.x" [y]="spherePosition.y" [z]="spherePosition.z"></three-position>
            <three-geometry [type]="'Sphere'" [radius]="4" [widthSegments]="20" [heightSegments]="20"></three-geometry>
            <three-material [type]="'meshlambert'" [color]="'0x7777ff'" [wireframe]="controls.wireframe"></three-material>
        </three-mesh>
        <three-mesh #box>
            <three-position [x]="-9" [y]="10" [z]="0"></three-position>
            <three-rotation [x]="rotation.x" [y]="rotation.y" [z]="rotation.z"></three-rotation>
            <three-geometry [type]="'box'" [width]="4" [height]="4" [depth]="4"></three-geometry>
            <three-material [type]="'meshlambert'" [color]="'0xff0000'" [wireframe]="controls.wireframe"></three-material>
        </three-mesh>
        <three-mesh [receiveShadow]="true">
            <three-position [x]="15" [y]="0" [z]="0"></three-position>
            <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
            <three-geometry [type]="'Plane'" [width]="60" [height]="20"></three-geometry>
            <three-material [type]="'MeshPhong'" [color]="'0xffffff'"></three-material>
        </three-mesh>
    </three-scene>
</three-renderer>
