<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener noreferrer"
		>three.js</a
	>
	- partial texture update <br />
	replace parts of an existing texture with all data of another texture
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, enableDamping: true }"
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="70" [near]="0.01" [far]="10">
		<ngx3js-position [x]="0" [y]="0" [z]="2"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene>
		<ngx3js-mesh (onLoad)="setMesh($event)">
			<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-geometry
				[type]="'PlaneGeometry'"
				[width]="2"
				[height]="2"
			></ngx3js-geometry>
			<ngx3js-material [type]="'MeshBasicMaterial'">
				<ngx3js-texture
					[image]="'textures/floors/FloorsCheckerboard_S_Diffuse.jpg'"
					[minFilter]="'LinearFilter'"
					[generateMipmaps]="false"
					[format]="'RGBFormat'"
					(onLoad)="setDiffuseMap($event)"
				></ngx3js-texture>
			</ngx3js-material>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
