<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener noreferrer">three.js</a> - partial texture update <br/>
  replace parts of an existing texture with all data of another texture
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="70" [near]="0.01" [far]="10">
    <three-position [x]="0" [y]="0" [z]="2"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'PlaneGeometry'"
        [width]="2"
        [height]="2"
      ></three-geometry>
      <three-material [type]="'MeshBasicMaterial'">
        <three-texture [image]="'textures/floors/FloorsCheckerboard_S_Diffuse.jpg'" [minFilter]="'LinearFilter'" [generateMipmaps]="false" (onLoad)="setDiffuseMap($event)"></three-texture>
      </three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
