#header {
	display: flex;
	height: var(--header-height);
	border-bottom: var(--border-style);
	align-items: center;
	h1 {
		padding-left: var(--panel-padding);
		flex: 1;
		display: flex;
		align-items: center;
		color: var(--color-blue);
		font-size: 18px;
		line-height: 24px;
		font-weight: 500;
	}	
	#sections {
		display: flex;
		justify-content: center;
		z-index: 1000;
		position: relative;
		height: 100%;
		align-items: center;
		font-weight: 500;
		a {
			padding: 0 7px;
			height: 100%;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;	
			color: var(--secondary-text-color);
			&.selected {
				color: var(--text-color);
				&:after {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					bottom: -1px;
					border-bottom: 1px solid var(--text-color);
				}
			}		
		}
	}
	#version {
		border: 1px solid var(--color-blue);
		color: var(--color-blue);
		border-radius: 4px;
		line-height: 16px;
		padding: 0px 2px;
		margin-left: 6px;
		font-size: .9rem;
	}
}
