<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - webgl - compressed KTX textures<br />
	<a href="https://www.khronos.org/opengles/sdk/tools/KTX/file_format_spec/">Khronos Texture</a> is a lightweight file format for OpenGL
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="50" [near]="1" [far]="2000">
    <three-position [x]="0" [y]="0" [z]="1000"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene>
    <three-shared>
      <three-geometry
        #boxGeometry
        [type]="'box'"
        [width]="200"
        [height]="200"
        [depth]="200"
      ></three-geometry>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh [geometry]="boxGeometry">
        <three-position [x]="-300" [y]="0" [z]="0"></three-position>
        <three-material [type]="'MeshBasic'" >
          <three-texture [storageName]="'textures/compressed/disturb_BC1.ktx'"></three-texture>
        </three-material>
      </three-mesh>
      <three-mesh [geometry]="boxGeometry">
        <three-position [x]="0" [y]="0" [z]="0"></three-position>
        <three-material [type]="'MeshBasic'" 
          [depthTest]="false"
          [transparent]="true"
          [side]="'Double'"
        >
          <three-texture [storageName]="'textures/compressed/lensflare_BC3.ktx'"></three-texture>
        </three-material>
      </three-mesh>
      <three-mesh [geometry]="boxGeometry">
        <three-position [x]="300" [y]="0" [z]="0"></three-position>
        <three-material [type]="'MeshBasic'" >
          <three-texture [storageName]="'textures/compressed/disturb_BC1.ktx'"></three-texture>
        </three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
