<div [id]="'info'">
  <a [href]="'https://threejs.org'" [target]="'_blank'" [rel]="'noopener'">three.js</a> - procedural 3D text by <a [href]="'http://www.lab4games.net/zz85/blog'" [target]="'_blank'" [rel]="'noopener'">zz85</a> &amp; alteredq<br/>
  type to enter new text, drag to spin the text<br/>
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="150" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="30" [near]="1" [far]="1500">
    <three-position [x]="0" [y]="400" [z]="700"></three-position>
    <three-lookat [x]="0" [y]="150" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene [background]="'0x000000'">
    <three-fog [color]="'0x000000'" [near]="250" [far]="1400" ></three-fog>
    <three-light
      [type]="'Directional'"
      [color]="'0xffffff'"
      [intensity]="0.125"
    >
      <three-position [x]="0" [y]="0" [z]="1" [normalize]="true"></three-position>
    </three-light>
    <three-light
      [type]="'Point'"
      [color]="controls.color"
      [intensity]="1.5"
    >
      <three-position [x]="0" [y]="100" [z]="90"></three-position>
    </three-light>
    <three-shared>
      <three-geometry
        #geometry
        [type]="'text'"
        [font]="controls.fontName"
        [weight]="controls.fontWeight"
        [text]="controls.text"
        [size]="controls.size"
        [height]="controls.height"
        [curveSegments]="controls.curveSegments"
        [bevelThickness]="controls.bevelThickness"
        [bevelSize]="controls.bevelSize"
        [bevelEnabled]="controls.bevelEnabled"
        [textAlign]="'center'"
      ></three-geometry>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="100" [z]="0"></three-position>
      <three-mesh [geometry]="geometry">
        <three-position [x]="0" [y]="controls.hover" [z]="0"></three-position>
        <three-rotation [x]="0" [y]="0" [z]="0"></three-rotation>
        <three-material [type]="'MeshPhong'" [color]="'0xffffff'" [flatShading]="true"></three-material>
        <three-material [type]="'MeshPhong'" [color]="'0xffffff'"></three-material>
      </three-mesh>
      <three-mesh [geometry]="geometry">
        <three-position [x]="0" [y]="-controls.hover" [z]="controls.height"></three-position>
        <three-rotation [x]="180" [y]="0" [z]="0"></three-rotation>
        <three-material [type]="'MeshPhong'" [color]="'0xffffff'" [flatShading]="true"></three-material>
        <three-material [type]="'MeshPhong'" [color]="'0xffffff'"></three-material>
      </three-mesh>
    </three-mesh>
    <three-mesh [receiveShadow]="true">
      <three-position [x]="0" [y]="100" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'Plane'"
        [width]="10000"
        [height]="10000"
      ></three-geometry>
      <three-material
        [type]="'MeshBasic'"
        [color]="'0xffffff'"
        [opacity]="0.5"
        [transparent]="true"
        [side]="'double'"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
