<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - buffergeometry drawrange<br/>
  by <a href="https://twitter.com/fernandojsg">fernandojsg</a> todo
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="4000">
    <three-position [x]="0" [y]="0" [z]="1750"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-shared>
      <three-mesh #box>
        <three-geometry
          [type]="'box'"
          [width]="800"
          [height]="800"
          [depth]="800"
        ></three-geometry>
      </three-mesh>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-helper [type]="'BoxHelper'" [target]="box" [materialColor]="'0x101010'" [materialBlending]="'AdditiveBlending'" [materialTransparent]="true">
      </three-helper>

      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'box'"
        [width]="1"
        [height]="1"
        [depth]="1"
      ></three-geometry>
      <three-material [type]="'meshlambert'" [color]="'0xff0000'"></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
