<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - Procedural Effects Example by <a href="https://clara.io" target="_blank" rel="noopener">Ben Houston</a><br/><br/>
</div>
<ngx3js-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
  <ngx3js-camera #camera [type]="'OrthographicCamera'" [left]="-1" [right]="1" [top]="1" [bottom]="-1" [near]="-10" [far]="10">
    <ngx3js-position [x]="0" [y]="0" [z]="1"></ngx3js-position>
  </ngx3js-camera>
  <ngx3js-scene #scene>
    <ngx3js-mesh (onLoad)="setMesh($event)">
      <ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
      <ngx3js-rotation [x]="0" [y]="0" [z]="0"></ngx3js-rotation>
      <ngx3js-scale [x]="1024" [y]="1024" [z]="1"></ngx3js-scale>
      
      <ngx3js-geometry
        [type]="'PlaneGeometry'"
        [width]="2"
        [height]="2"
      ></ngx3js-geometry>
      <ngx3js-material [type]="'ShaderMaterial'" [shader]="controls.procedure"></ngx3js-material>
    </ngx3js-mesh>
  </ngx3js-scene>
</ngx3js-renderer>
