<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - Procedural Effects Example by <a href="https://clara.io" target="_blank" rel="noopener">Ben Houston</a><br/><br/>
</div>
<three-renderer
  [controlType]="'or1bit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera #camera [type]="'OrthographicCamera'" [left]="-1" [right]="1" [top]="1" [bottom]="-1" [near]="-10" [far]="10">
    <three-position [x]="0" [y]="0" [z]="1"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-rotation [x]="0" [y]="0" [z]="0"></three-rotation>
      <three-scale [x]="1024" [y]="1024" [z]="1"></three-scale>
      
      <three-geometry
        [type]="'PlaneGeometry'"
        [width]="2"
        [height]="2"
      ></three-geometry>
      <three-material [type]="'ShaderMaterial'" [vertexShader]="vertexShader" [fragmentShader]="fragmentShader"></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
