<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - box projected cubemap environment mapping. <br> created by <a href="https://codercat.tk" target="_blank" rel="noopener">codercat</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true, maxDistance : 400, minDistance : 10 }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="-10" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="800">
    <three-position [x]="280" [y]="106" [z]="-5"></three-position>
  </three-camera>
  <three-camera #cubeCamera [type]="'CubeCamera'" [near]="1" [far]="1000">
    <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
    <three-position [x]="0" [y]="-49" [z]="0"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-light
      #blueRectLight
      [type]="'RectAreaLight'"
      [color]="'0x9aaeff'"
      [intensity]="10"
      [width]="50"
      [height]="50"
    >
      <three-position [x]="99" [y]="5" [z]="0"></three-position>
      <three-lookat [x]="0" [y]="5" [z]="0"></three-lookat>
      <three-helper [type]="'RectAreaLightHelper'"></three-helper>
    </three-light>
    <three-light
      #redRectLight
      [type]="'RectAreaLight'"
      [color]="'0xf3aaaa'"
      [intensity]="10"
      [width]="50"
      [height]="50"
    >
      <three-position [x]="-99" [y]="5" [z]="0"></three-position>
      <three-lookat [x]="0" [y]="5" [z]="0"></three-lookat>
      <three-helper [type]="'RectAreaLightHelper'"></three-helper>
    </three-light>
    <three-shared>
      <three-material 
        #defaultMat
        [type]="'MeshPhysicalMaterial'" 
        [envMap]="cubeCamera"
        [roughness]="1"
        [roughnessMap]="{ value : 'textures/lava/lavatile.jpg' , options : 'RepeatWrapping,repeat=2x1'}"
      ></three-material>
      <three-material 
        #boxProjectedMat
        [type]="'MeshPhysicalMaterial'" 
        [color]="'0xffffff'"
        [envMap]="cubeCamera"
        [roughness]="1"
        [roughnessMap]="{ value : 'textures/lava/lavatile.jpg' , options : 'RepeatWrapping,repeat=2x1'}"
        [onBeforeCompile]="onBeforeCompile"
      ></three-material>
      <three-material 
        #wallMat
        [type]="'MeshPhysicalMaterial'" 
        [map]="'textures/brick_diffuse.jpg'"
        [bumpMap]="'textures/brick_bump.jpg'"
        [roughness]="0.6"
      ></three-material>
      <three-geometry
        #planeGeo
        [type]="'PlaneGeometry'"
        [width]="100"
        [height]="100"
      ></three-geometry>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh #planeBack1 [geometry]="planeGeo" [material]="wallMat">
        <three-position [x]="-50" [y]="0" [z]="-50"></three-position>
        <three-rotation [x]="0" [y]="0" [z]="0"></three-rotation>
      </three-mesh>
      <three-mesh #planeBack2 [geometry]="planeGeo" [material]="wallMat">
        <three-position [x]="50" [y]="0" [z]="-50"></three-position>
        <three-rotation [x]="0" [y]="0" [z]="0"></three-rotation>
      </three-mesh>
      <three-mesh #planeFront1 [geometry]="planeGeo" [material]="wallMat">
        <three-position [x]="-50" [y]="0" [z]="50"></three-position>
        <three-rotation [x]="0" [y]="180" [z]="0"></three-rotation>
      </three-mesh>
      <three-mesh #planeFront2 [geometry]="planeGeo" [material]="wallMat">
        <three-position [x]="50" [y]="0" [z]="50"></three-position>
        <three-rotation [x]="0" [y]="180" [z]="0"></three-rotation>
      </three-mesh>
      <three-mesh #planeRight [geometry]="planeGeo" [material]="wallMat">
        <three-position [x]="100" [y]="0" [z]="0"></three-position>
        <three-rotation [x]="0" [y]="-90" [z]="0"></three-rotation>
      </three-mesh>
      <three-mesh #planeLeft [geometry]="planeGeo" [material]="wallMat">
        <three-position [x]="-100" [y]="0" [z]="0"></three-position>
        <three-rotation [x]="0" [y]="90" [z]="0"></three-rotation>
      </three-mesh>
    </three-mesh>
    <three-mesh #groundPlane [material]="controls.boxProjected ? boxProjectedMat : defaultMat">
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-position [x]="0" [y]="-49" [z]="0"></three-position>
      <three-geometry
        [type]="'PlaneGeometry'"
        [width]="200"
        [height]="100"
        [widthSegments]="100"
      ></three-geometry>
    </three-mesh>
  </three-scene>
</three-renderer>
