<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - NURBS curve and surface example
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="150" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="50" [near]="1" [far]="2000">
    <three-position [x]="0" [y]="150" [z]="750"></three-position>
    <three-lookat [x]="0" [y]="150" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene [background]="'0xf0f0f0'">
    <three-light
      [type]="'Ambient'"
      [color]="'0x808080'"
    ></three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="1"
    >
      <three-position [x]="1" [y]="1" [z]="1"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="50" [z]="0"></three-position>
      <three-mesh [type]="'line'">
        <three-position [x]="200" [y]="-100" [z]="0"></three-position>
        <three-geometry
          [type]="'geometry'"
          [points]="controlPoints"
        ></three-geometry>
        <three-material
          [type]="'LineBasic'"
          [color]="'0x333333'"
          [opacity]="0.25"
          [transparent]="true"
        ></three-material>
      </three-mesh>
      <three-mesh [type]="'line'">
        <three-position [x]="200" [y]="-100" [z]="0"></three-position>
        <three-geometry
          [type]="'geometry'"
          [points]="nurbsCurvePoints"
        ></three-geometry>
        <three-material
          [type]="'LineBasic'"
          [color]="'0x333333'"
        ></three-material>
      </three-mesh>
      <three-mesh>
        <three-position [x]="-200" [y]="100" [z]="0"></three-position>
        <three-geometry
          [type]="'parametric'"
          [parametric]="nurbsSurface"
          [slices]="20"
          [stacks]="20"
        ></three-geometry>
        <three-material
          [type]="'MeshLambert'"
          [side]="'double'"
        >
          <three-texture 
            [image]="'textures/uv_grid_opengl.jpg'"
            [wrapT]="'Repeat'"
            [wrapS]="'Repeat'"
            [anisotropy]="16"
          ></three-texture>
        </three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
