<div [id]="'info'">
  <a [href]="'https://threejs.org'" [target]="'_blank'" [rel]="'noopener'">three.js</a> - lensflares<br/>
  textures from <a [href]="'http://www.ro.me'" [target]="'_blank'" [rel]="'noopener'">ro.me</a><br/>
  fly with WASD/RF/QE + mouse
</div>
<three-renderer
  [controlType]="'fly'"
  [movementSpeed]="250"
  [rollSpeed]="5"
  [autoForward]="false"
  [dragToLook]="false"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="40" [near]="1" [far]="15000">
    <three-position [x]="0" [y]="0" [z]="250"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene [background]="'0x010303'">
    <three-fog [color]="'0x010303'" [near]="3500"  [far]="15000"></three-fog>
    <three-light
      [type]="'directional'"
      [color]="'0xd89126'"
      [intensity]="0.05"
      [castShadow]="true"
      [shadowCameraTop]="2"
      [shadowCameraBottom]="-2"
      [shadowCameraLeft]="-2"
      [shadowCameraRight]="2"
      [shadowCameraNear]="0.1"
      [shadowCameraFar]="40"
    >
      <three-position [x]="0" [y]="-1" [z]="0" [normalize]="true"></three-position>
    </three-light>
    <three-mesh *ngFor="let light of lightInfo" [type]="'light'" 
      [lightType]="'Point'" 
      [color]="light.color"
      [intensity]="1.5"
      [distance]="2000"
    >
      <three-position [x]="light.x" [y]="light.x" [z]="light.z"></three-position>
      <three-mesh [type]="'lensflare'">
        <three-lensflareelement
          [image]="'textures/lensflare/lensflare0.png'"
          [size]="700"
          [distance]="0"
          [color]="light.color"
        ></three-lensflareelement>
        <three-lensflareelement
          [image]="'textures/lensflare/lensflare3.png'"
          [size]="60"
          [distance]="0.6"
        ></three-lensflareelement>
        <three-lensflareelement
          [image]="'textures/lensflare/lensflare3.png'"
          [size]="70"
          [distance]="0.7"
        ></three-lensflareelement>
        <three-lensflareelement
          [image]="'textures/lensflare/lensflare3.png'"
          [size]="120"
          [distance]="0.9"
        ></three-lensflareelement>
        <three-lensflareelement
          [image]="'textures/lensflare/lensflare3.png'"
          [size]="70"
          [distance]="1"
        ></three-lensflareelement>
      </three-mesh>      
    </three-mesh>
    <three-shared>
      <three-geometry
        #boxGeometry
        [type]="'box'"
        [width]="250"
        [height]="250"
        [depth]="250"
      ></three-geometry>
      <three-material 
        #boxMaterial
        [type]="'MeshPhong'" 
        [color]="'0xffffff'"
        [specular]="'0xffffff'"
        [shininess]="50"
      ></three-material>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let box of boxInfo" [geometry]="boxGeometry" [material]="boxMaterial">
        <three-position [x]="box.position.x" [y]="box.position.y" [z]="box.position.z"></three-position>
        <three-rotation [x]="box.rotation.x" [y]="box.rotation.y" [z]="box.rotation.z"></three-rotation>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
