<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - exporter - obj<br /><br />
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="70" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="0" [z]="400"></three-position>
  </three-camera>
  <three-scene #scene (onLoad)="setScene($event)">
    <three-light
      [type]="'AmbientLight'"
      [color]="'0xffffff'"
      [intensity]="0.2"
    ></three-light>
    <three-light
      [type]="'DirectionalLight'"
      [color]="'0xffffff'"
    >
      <three-position [x]="200" [y]="100" [z]="400" [normalize]="true"></three-position>
    </three-light>
    <three-shared>
      <three-material #material [type]="'MeshLambertMaterial'" [color]="'0x00cc00'" [side]="'doubleside'"></three-material>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngIf="controls.type === 'triangle'" [material]="material">
        <three-position [x]="0" [y]="0" [z]="0"></three-position>
        <three-geometry
          [type]="'BufferGeometry'"
          [attrPosition]="vertices"
          [computeVertexNormals]="true"
        ></three-geometry>
      </three-mesh>
      <three-mesh *ngIf="controls.type === 'cube'" [material]="material">
        <three-position [x]="0" [y]="0" [z]="0"></three-position>
        <three-geometry
          [type]="'BoxGeometry'"
          [width]="100"
          [height]="100"
          [depth]="100"
        ></three-geometry>
      </three-mesh>
      <three-mesh *ngIf="controls.type === 'cylinder'" [material]="material">
        <three-position [x]="0" [y]="0" [z]="0"></three-position>
        <three-geometry
          [type]="'CylinderGeometry'"
          [radiusTop]="50"
          [radiusBottom]="50"
          [height]="100"
          [radialSegments]="30"
          [heightSegments]="1"
        ></three-geometry>
      </three-mesh>
      <three-mesh *ngIf="controls.type === 'multiple'">
        <three-mesh [material]="material">
          <three-position [x]="-200" [y]="0" [z]="0"></three-position>
          <three-geometry
            [type]="'BufferGeometry'"
            [attrPosition]="vertices"
            [computeVertexNormals]="true"
          ></three-geometry>
        </three-mesh>
        <three-mesh [material]="material">
          <three-position [x]="0" [y]="0" [z]="0"></three-position>
          <three-geometry
            [type]="'BoxGeometry'"
            [width]="100"
            [height]="100"
            [depth]="100"
          ></three-geometry>
        </three-mesh>
        <three-mesh [material]="material">
          <three-position [x]="200" [y]="0" [z]="0"></three-position>
          <three-geometry
            [type]="'CylinderGeometry'"
            [radiusTop]="50"
            [radiusBottom]="50"
            [height]="100"
            [radialSegments]="30"
            [heightSegments]="1"
          ></three-geometry>
        </three-mesh>
      </three-mesh>
      <three-mesh *ngIf="controls.type === 'transformed'">
        <three-mesh [material]="material">
          <three-position [x]="-200" [y]="0" [z]="0"></three-position>
          <three-rotation [x]="0" [y]="45" [z]="0"></three-rotation>
          <three-geometry
            [type]="'BufferGeometry'"
            [attrPosition]="vertices"
            [computeVertexNormals]="true"
          ></three-geometry>
        </three-mesh>
        <three-mesh [material]="material">
          <three-position [x]="0" [y]="0" [z]="0"></three-position>
          <three-rotation [x]="0" [y]="45" [z]="0"></three-rotation>
          <three-geometry
            [type]="'BoxGeometry'"
            [width]="100"
            [height]="100"
            [depth]="100"
          ></three-geometry>
        </three-mesh>
        <three-mesh [material]="material">
          <three-position [x]="200" [y]="0" [z]="0"></three-position>
          <three-rotation [x]="0" [y]="45" [z]="0"></three-rotation>
          <three-geometry
            [type]="'CylinderGeometry'"
            [radiusTop]="50"
            [radiusBottom]="50"
            [height]="100"
            [radialSegments]="30"
            [heightSegments]="1"
          ></three-geometry>
        </three-mesh>
      </three-mesh>
      <three-mesh *ngIf="controls.type === 'points'" [type]="'Points'">
        <three-position [x]="0" [y]="0" [z]="0"></three-position>
        <three-geometry
          [type]="'BufferGeometry'"
          [attrPosition]="points"
          [attrColor]="colors"
        ></three-geometry>
        <three-material [type]="'PointsMaterial'" [size]="10" [vertexColors]="true"></three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
