<div id="info">
  This example may potentially trigger seizures for people with <strong>photosensitive epilepsy</strong>.
</div>
<three-renderer
  [controlType]="'orbit'"
  [autoRotate]="true"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-composer [scene]="scene" [camera]="camera">
    <three-pass [type]="'RenderPass'"></three-pass>
    <three-pass [type]="'GlitchPass'" [goWild]="controls.wildGlitch"></three-pass>
  </three-composer>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera #camera [type]="'perspective'" [fov]="70" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="0" [z]="400"></three-position>
  </three-camera>
  <three-shared>
    <three-geometry
      #geometry
      [type]="'SphereGeometry'"
      [radius]="1"
      [widthSegments]="4"
      [heightSegments]="4"
    ></three-geometry>
  </three-shared>
  <three-scene #scene>
    <three-fog [color]="'0x000000'" [near]="1" [far]="1000"></three-fog>
    <three-light 
      [type]="'AmbientLight'"
      [color]="'0x222222'"
    ></three-light>
    <three-light 
      [type]="'DirectionalLight'"
      [color]="'0xffffff'"
    >
      <three-position [x]="1" [y]="1" [z]="1"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let info of sphereInfos" [geometry]="geometry">
        <three-position [x]="info.position.x" [y]="info.position.y" [z]="info.position.z" [normalize]="true" [multiply]="info.position.multiply"></three-position>
        <three-rotation [x]="info.rotation.x" [y]="info.rotation.y" [z]="info.rotation.z"></three-rotation>
        <three-scale [multiply]="info.scale"></three-scale>
        <three-material [type]="'MeshPhongMaterial'" [color]="info.color" [flatShading]="true"></three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
