<div [id]="'info'">
  <a [href]="'https://threejs.org'" [target]="'_blank'" [rel]="'noopener'">three.js</a> - THREE.RectAreaLight<br/>
  by <a [href]="'http://github.com/abelnation'" [target]="'_blank'" [rel]="'noopener'">abelnation</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="5" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="5" [z]="-15"></three-position>
    <three-lookat [x]="0" [y]="5" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene >
    <three-light
      [type]="'RectArea'"
      [color]="'0xff0000'"
      [intensity]="5"
      [width]="4"
      [height]="10"
    >
      <three-position [x]="-5" [y]="5" [z]="5"></three-position>
      <three-helper [type]="'light'"></three-helper>
    </three-light>
    <three-light
      [type]="'RectArea'"
      [color]="'0x00ff00'"
      [intensity]="5"
      [width]="4"
      [height]="10"
    >
      <three-position [x]="0" [y]="5" [z]="5"></three-position>
      <three-helper [type]="'light'"></three-helper>
    </three-light>
    <three-light
      [type]="'RectArea'"
      [color]="'0x0000ff'"
      [intensity]="5"
      [width]="4"
      [height]="10"
    >
      <three-position [x]="5" [y]="5" [z]="5"></three-position>
      <three-helper [type]="'light'"></three-helper>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)" [name]="'meshKnot'">
      <three-position [x]="0" [y]="5" [z]="0"></three-position>
      <three-geometry
        [type]="'TorusKnot'"
        [radius]="1.5"
        [tube]="0.5"
        [radialSegments]="200"
        [tubularSegments]="16"
      ></three-geometry>
      <three-material [type]="'meshstandard'" [color]="'0xffffff'" [roughness]="0" [metalness]="0"></three-material>
    </three-mesh>
    <three-mesh [receiveShadow]="true">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-rotation [x]="0" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'Box'"
        [width]="2000"
        [height]="0.1"
        [depth]="2000"
      ></three-geometry>
      <three-material
        [type]="'MeshStandard'"
        [color]="'0x808080'"
        [roughness]="0.1"
        [metalness]="0"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>

