<div class="info dark">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
	map controls
</div>
<ngx3js-renderer
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-control
		[type]="'MapControls'"
		[screenSpacePanning]="controls.screenSpacePanning"
	>
		<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	</ngx3js-control>
	<ngx3js-camera [type]="'perspective'" [fov]="60" [near]="1" [far]="1000">
		<ngx3js-position [x]="400" [y]="200" [z]="0"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene [background]="'0xcccccc'">
		<ngx3js-fog
			[type]="'FogExp2'"
			[color]="'0xcccccc'"
			[density]="0.002"
		></ngx3js-fog>
		<ngx3js-light [type]="'AmbientLight'" [color]="'0x222222'"> </ngx3js-light>
		<ngx3js-light #dirLight1 [type]="'DirectionalLight'" [color]="'0xffffff'">
			<ngx3js-position [x]="1" [y]="1" [z]="1"></ngx3js-position>
		</ngx3js-light>
		<ngx3js-light #dirLight2 [type]="'DirectionalLight'" [color]="'0x002288'">
			<ngx3js-position [x]="-1" [y]="-1" [z]="-1"></ngx3js-position>
		</ngx3js-light>
		<ngx3js-shared>
			<ngx3js-geometry
				#geometry
				[type]="'BoxGeometry'"
				[width]="1"
				[height]="1"
				[depth]="1"
			>
				<ngx3js-translation [x]="0" [y]="0.5" [z]="0"></ngx3js-translation>
			</ngx3js-geometry>
			<ngx3js-material
				#material
				[type]="'MeshPhongMaterial'"
				[color]="'0xffffff'"
				[flatShading]="true"
			></ngx3js-material>
		</ngx3js-shared>
		<ngx3js-mesh (onLoad)="setMesh($event)">
			<ngx3js-mesh
				*ngFor="let info of meshInfos"
				[geometry]="geometry"
				[material]="material"
				[matrixAutoUpdate]="false"
			>
				<ngx3js-position
					[x]="info.position.x"
					[y]="info.position.y"
					[z]="info.position.z"
				></ngx3js-position>
				<ngx3js-scale
					[x]="info.scale.x"
					[y]="info.scale.y"
					[z]="info.scale.z"
				></ngx3js-scale>
			</ngx3js-mesh>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
