<three-renderer [controlType]="'orbit'" [statsMode]="0" [antialias]="true" [clearColor]="'0x000000'" [shadowMapEnabled]="true" [guiControl]="controls" [guiParams]="controlsParams" (onRender)="onRender($event)">
    <three-camera [type]="'perspective'" [fov]="45" [near]="0.1" [far]="2000">
        <three-position [x]="-20" [y]="50" [z]="40"></three-position>
        <three-lookat [x]="10" [y]="0" [z]="0"></three-lookat>
    </three-camera>
    <three-scene #scene>
        <three-mesh type="light" lightType="ambient" [color]="'0x121212'"></three-mesh>
        <three-mesh type="light" lightType="directional" [color]="'0xa0a0a0'" [intensity]="0.2" [castShadow]="true" >
            <three-position [x]="-40" [y]="60" [z]="-10"></three-position>
            <three-lookat [x]="0" [y]="3" [z]="2"></three-lookat>
        </three-mesh>
        <three-mesh *ngIf="!controls.asParticles">
            <three-position [x]="0" [y]="3" [z]="2"></three-position>
            <three-rotation [x]="rotation.x" [y]="rotation.y" [z]="rotation.z"></three-rotation>
            <three-geometry 
                [type]="'TorusKnot'" 
                [radius]="controls.radius" 
                [tube]="controls.tube" 
                [radialSegments]="controls.radialSegments" 
                [tubularSegments]="controls.tubularSegments"
                [p]="controls.p" 
                [q]="controls.q" 
            ></three-geometry>
            <three-material type="MeshNormal"
                [side]="'front'"
                [wireframe]="controls.wireframe"
            ></three-material>
        </three-mesh>
        <three-mesh *ngIf="controls.asParticles" [type]="'Points'">
            <three-position [x]="0" [y]="3" [z]="2"></three-position>
            <three-rotation [x]="rotation.x" [y]="rotation.y" [z]="rotation.z"></three-rotation>
            <three-geometry 
                [type]="'TorusKnot'" 
                [radius]="controls.radius" 
                [tube]="controls.tube" 
                [radialSegments]="controls.radialSegments" 
                [tubularSegments]="controls.tubularSegments"
                [p]="controls.p" 
                [q]="controls.q" 
            ></three-geometry>
            <three-material type="Points"
                [color]="'0xffffff'"
                [size]="3"
                [transparent]="true"
                [alphaTest]="1"
                [blending]="'additive'"
                [depthTest]="false"
                [wireframe]="controls.wireframe"
            >
                <three-texture [program]="textureProgram" [width]="textureSize.width" [height]="textureSize.height"></three-texture>
            </three-material>
        </three-mesh>
    </three-scene>
</three-renderer>