<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - misc_legacy
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true, autoRotate : true, autoRotateSpeed : -1.0 }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [outputEncoding]="'sRGBEncoding'"
  [toneMapping]="'ACESFilmicToneMapping'"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="50" [near]="0.1" [far]="20">
    <three-position [x]="1.5" [y]="0.2" [z]="1.5"></three-position>
  </three-camera>
  <three-scene #scene [background]="envMap" [backgroundType]="'background-environment'">
    <three-shared>
      <three-texture #envMap [storageName]="'textures/equirectangular/venice_sunset_1k.hdr'" [cubeType]="'Equirectangular'"></three-texture>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'models/gltf/BoomBox/glTF-Binary/BoomBox.glb'">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-rotation [x]="0" [y]="180" [z]="0"></three-rotation>
      <three-scale [multiply]="50"></three-scale>
    </three-mesh>
  </three-scene>
</three-renderer>
