<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - misc_legacy
</div>
<ngx3js-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true, autoRotate : true, autoRotateSpeed : -1.0 }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [outputEncoding]="'sRGBEncoding'"
  [toneMapping]="'ACESFilmicToneMapping'"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
  <ngx3js-camera [type]="'perspective'" [fov]="50" [near]="0.1" [far]="20">
    <ngx3js-position [x]="1.5" [y]="0.2" [z]="1.5"></ngx3js-position>
  </ngx3js-camera>
  <ngx3js-scene #scene >
    <ngx3js-texture [type]="'background-environment'" [storageName]="'textures/equirectangular/venice_sunset_1k.hdr'" [cubeType]="'Equirectangular'"></ngx3js-texture>
    <ngx3js-mesh (onLoad)="setMesh($event)" [storageName]="'models/gltf/BoomBox/glTF-Binary/BoomBox.glb'">
      <ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
      <ngx3js-rotation [x]="0" [y]="180" [z]="0"></ngx3js-rotation>
      <ngx3js-scale [multiply]="50"></ngx3js-scale>
    </ngx3js-mesh>
  </ngx3js-scene>
</ngx3js-renderer>
