<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - webgl layers
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true, autoRotate : true  }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-scene #scene [background]="'0xf0f0f0'">
    <three-camera [type]="'perspective'" 
      [fov]="70" 
      [near]="1" 
      [far]="10000" 
      [layers]="[0,1,2]"
      (onLoad)="setCamera($event)">
      <three-position [x]="0" [y]="0" [z]="100"></three-position>
      <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
      <three-light
        [type]="'Point'"
        [color]="'0xffffff'"
        [intensity]="1"
        [layers]="[0,1,2]"
      >
      </three-light>
    </three-camera>
    <three-shared>
      <three-geometry
        #boxGeometry
        [type]="'box'"
        [width]="20"
        [height]="20"
        [depth]="20"
      ></three-geometry>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let box of layers" [layers]="box.layers"  [geometry]="boxGeometry" >
        <three-position [x]="box.position.x" [y]="box.position.y" [z]="box.position.z"></three-position>
        <three-rotation [x]="box.rotation.x" [y]="box.rotation.y" [z]="box.rotation.z"></three-rotation>
        <three-scale [x]="box.scale.x" [y]="box.scale.y" [z]="box.scale.z"></three-scale>
        <three-material [type]="'meshlambert'" [color]="box.color"></three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
