<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - decal splatter<br />
  click to shoot
</div>
<ngx3js-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan: false, enableDamping: true, minDistance: 50, maxDistance: 200 }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0x000000'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  [useEvent]="'change,pointerdown,pointerup,pointermove'"
  (eventListener)="setEventListener($event)"
  (onRender)="onRender($event)"
>
  <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
  <ngx3js-camera (onLoad)="setCamera($event)" [type]="'perspective'" [fov]="45" [near]="1" [far]="1000">
    <ngx3js-position [x]="0" [y]="0" [z]="120"></ngx3js-position>
    <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
  </ngx3js-camera>
  <ngx3js-scene #scene>
    <ngx3js-light [type]="'Ambient'" [color]="'0x443333'">
      <ngx3js-position [x]="0" [y]="20" [z]="0"></ngx3js-position>
    </ngx3js-light>
    <ngx3js-light [type]="'directional'" [color]="'0xffddcc'" [intensity]="1">
      <ngx3js-position [x]="1" [y]="0.75" [z]="0.5"></ngx3js-position>
    </ngx3js-light>
    <ngx3js-light [type]="'directional'" [color]="'0xccccff'" [intensity]="1">
      <ngx3js-position [x]="-1" [y]="0.75" [z]="-0.5"></ngx3js-position>
    </ngx3js-light>
    <ngx3js-mesh (onLoad)="setMouseHelper($event)" [visible]="true">
      <ngx3js-geometry [type]="'box'" [width]="1" [height]="1" [depth]="1"></ngx3js-geometry>
      <ngx3js-material [type]="'MeshNormal'" [color]="'0xff0000'"></ngx3js-material>
    </ngx3js-mesh>
    <ngx3js-mesh [type]="'line'" (onLoad)="setMouseLine($event)" [visible]="true">
      <ngx3js-geometry
        [type]="'geometry'"
        [points]="[
          { x: 0, y: 0, z: 0 },
          { x: 0, y: 0, z: 0 }
        ]"
      ></ngx3js-geometry>
      <ngx3js-material [type]="'LineBasic'" [color]="'0xff0000'"></ngx3js-material>
    </ngx3js-mesh>
    <ngx3js-mesh *ngFor="let decal of decals">
      <ngx3js-material [type]="'MeshPhong'" [color]="decal.color" [specular]="'0x444444'" [normalScaleX]="1" [normalScaleY]="1" [shininess]="30" [transparent]="true" [depthTest]="true" [depthWrite]="true" [polygonOffset]="true" [polygonOffsetFactor]="-4" [wireframe]="false">
        <ngx3js-texture [type]="'map'" [image]="'textures/decal/decal-diffuse.png'"></ngx3js-texture>
        <ngx3js-texture [type]="'normalMap'" [image]="'textures/decal/decal-normal.jpg'"></ngx3js-texture>
      </ngx3js-material>
      <ngx3js-geometry
        [type]="'decal'"
        [positionX]="decal.position.x"
        [positionY]="decal.position.y"
        [positionZ]="decal.position.z"
        [orientationX]="decal.orientation.x"
        [orientationY]="decal.orientation.y"
        [orientationZ]="decal.orientation.z"
        [sizeX]="decal.scale"
        [sizeY]="decal.scale"
        [sizeZ]="decal.scale"
        [mesh]="mesh"
      ></ngx3js-geometry>
    </ngx3js-mesh>
    <ngx3js-mesh (onLoad)="setMesh($event)" #mesh [storageName]="'models/gltf/LeePerrySmith/LeePerrySmith.glb'">
      <ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
      <ngx3js-scale [x]="10" [y]="10" [z]="10"></ngx3js-scale>
      <ngx3js-material [type]="'MeshPhong'" [specular]="'0x111111'" [shininess]="25">
        <ngx3js-texture [type]="'map'" [image]="'models/gltf/LeePerrySmith/Map-COL.jpg'"></ngx3js-texture>
        <ngx3js-texture [type]="'specularMap'" [image]="'models/gltf/LeePerrySmith/Map-SPEC.jpg'"></ngx3js-texture>
        <ngx3js-texture [type]="'normalMap'" [image]="'models/gltf/LeePerrySmith/Infinite-Level_02_Tangent_SmoothUV.jpg'"></ngx3js-texture>
      </ngx3js-material>
    </ngx3js-mesh>
  </ngx3js-scene>
</ngx3js-renderer>
