<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - webgl normalmap demo.<br/>
  <a href="http://graphics.cs.williams.edu/data/meshes.xml#14" target="_blank" rel="noopener">Lee Perry-Smith</a> head.
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="27" [near]="1" [far]="10000">
    <three-position [x]="0" [y]="0" [z]="1200"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0x111111'">
    <three-light
      [type]="'AmbientLight'"
      [color]="'0x444444'"
    ></three-light>
    <three-light
      [type]="'PointLight'"
      [color]="'0xffffff'"
      [intensity]="1.25"
      [distance]="1000"
    >
      <three-position [x]="0" [y]="0" [z]="600"></three-position>
    </three-light>
    <three-light
      [type]="'DirectionalLight'"
      [color]="'0xffffff'"
    >
      <three-position [x]="1" [y]="-0.5" [z]="-1"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-scale [multiply]="100"></three-scale>
      <three-geometry [storageName]="'models/gltf/LeePerrySmith/LeePerrySmith.glb'"></three-geometry>
      <three-material 
        [type]="'MeshPhongMaterial'" 
        [color]="'0xdddddd'"
        [specular]="'0x222222'"
        [shininess]="35"
        [map]="'models/gltf/LeePerrySmith/Map-COL.jpg'"
        [specularMap]="'models/gltf/LeePerrySmith/Map-SPEC.jpg'"
        [normalMap]="'models/gltf/LeePerrySmith/Infinite-Level_02_Tangent_SmoothUV.jpg'"
        [normalScale]="0.8"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
