<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
	simple global illumination (<a
		href="http://www.iquilezles.org/www/articles/simplegi/simplegi.htm"
		>article</a
	>)
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, enableDamping: true }"
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="70" [near]="0.1" [far]="100">
		<ngx3js-position [x]="0" [y]="0" [z]="4"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene>
		<ngx3js-mesh (onLoad)="setMesh($event)">
			<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-geometry
				[type]="'TorusKnotGeometry'"
				[radius]="0.75"
				[tube]="0.3"
				[radialSegments]="128"
				[tubularSegments]="32"
				[p]="1"
			></ngx3js-geometry>
			<ngx3js-material
				[type]="'MeshBasicMaterial'"
				[vertexColors]="true"
			></ngx3js-material>
		</ngx3js-mesh>
		<ngx3js-mesh>
			<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-rotation [x]="0" [y]="0" [z]="0"></ngx3js-rotation>
			<ngx3js-geometry
				[type]="'BoxGeometry'"
				[width]="3"
				[height]="3"
				[depth]="3"
			></ngx3js-geometry>
			<ngx3js-material
				*ngFor="let color of boxColors"
				[type]="'MeshBasicMaterial'"
				[color]="color"
				[side]="'backside'"
			></ngx3js-material>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
