<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - simple global illumination (<a href="http://www.iquilezles.org/www/articles/simplegi/simplegi.htm">article</a>)
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="70" [near]="0.1" [far]="100">
    <three-position [x]="0" [y]="0" [z]="4"></three-position>
  </three-camera>
  <three-scene >
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'TorusKnotGeometry'"
        [radius]="0.75"
        [tube]="0.3"
        [radialSegments]="128"
        [tubularSegments]="32"
        [p]="1"
      ></three-geometry>
      <three-material [type]="'MeshBasicMaterial'" [vertexColors]="true"></three-material>
    </three-mesh>
    <three-mesh>
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-rotation [x]="0" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'BoxGeometry'"
        [width]="3"
        [height]="3"
        [depth]="3"
      ></three-geometry>
      <three-material
        *ngFor="let color of boxColors"
        [type]="'MeshBasicMaterial'"
        [color]="color"
        [side]="'backside'"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
