<div id="info">
  <a [href]="'https://threejs.org'" [target]="'_blank'" [rel]="'noopener'">three.js</a> - vox loader (<a [href]="'https://ephtracy.github.io/'" [target]="'_blank'" [rel]="'noopener'">Magica Voxel</a>)
</div>
<three-renderer
  [controlType]="'orbit'"
  [autoRotate]="true"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="50" [near]="0.01" [far]="10">
    <three-position [x]="0.175" [y]="0.075" [z]="0.175"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene>
    <three-light
      [type]="'Hemisphere'"
      [skyColor]="'0x888888'"
      [groundColor]="'0x444444'"
      [intensity]="1"
    >
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="0.75"
    >
      <three-position [x]="1.5" [y]="3" [z]="2.5"></three-position>
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="0.5"
    >
      <three-position [x]="-1.5" [y]="-3" [z]="-2.5"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'models/vox/monu10.vox'">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-scale [multiply]="0.0015"></three-scale>
    </three-mesh>
  </three-scene>
</three-renderer>
