<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - Tone Mapping<br />
  Battle Damaged Sci-fi Helmet by
  <a href="https://sketchfab.com/theblueturtle_" target="_blank" rel="noopener">theblueturtle_</a><br />
  <a href="https://hdrihaven.com/hdri/?h=royal_esplanade" target="_blank" rel="noopener">Royal Esplanade</a> by <a href="https://hdrihaven.com/" target="_blank" rel="noopener">HDRI Haven</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [toneMapping]="'ACESFilmic'"
  [outputEncoding]="'sRGBEncoding'"
  [toneMappingExposure]="1.0"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
  (onLoad)="setRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="-0.2"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="0.25" [far]="20">
    <three-position [x]="-1.8" [y]="0.6" [z]="2.7"></three-position>
  </three-camera>
  <three-scene #scene [background]="texture" [backgroundType]="'background-environment-angular'">
    <three-shared>
      <three-texture #texture [storageName]="'venice_sunset_1k.hdr'" [storageOption]="{ path : 'textures/equirectangular/'}"></three-texture>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'DamagedHelmet.gltf'" [storageOption]="{ path : 'models/gltf/DamagedHelmet/glTF/'}">
    </three-mesh>
  </three-scene>
</three-renderer>
