<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
  Material Blending - Custom
</div>

<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="80" [near]="1" [far]="10000">
    <three-position [x]="0" [y]="0" [z]="700"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="-1"></three-position>
      <three-geometry
        [type]="'Plane'"
        [width]="4000"
        [height]="2000"
      ></three-geometry>
      <three-material [type]="'MeshBasic'">
        <three-texture 
          [width]="128" 
          [height]="128" 
          [program]="backgroundInfo.program" 
          [image]="backgroundInfo.image"
          [wrapS]="backgroundInfo.wrapS" 
          [wrapT]="backgroundInfo.wrapT" 
          [repeatX]="backgroundInfo.repeatX" 
          [repeatY]="backgroundInfo.repeatY"
        ></three-texture>
      </three-material>
      <three-mesh *ngFor="let mesh of labelDstInfos">
        <three-position [x]="mesh.position.x" [y]="mesh.position.y" [z]="mesh.position.z"></three-position>
        <three-geometry
          [type]="'Plane'"
          [width]="100"
          [height]="25"
        ></three-geometry>
        <three-material [type]="'MeshBasic'" 
          [transparent]="true"
        >
          <three-texture [width]="128" [height]="32" [program]="labelProgramDst" [text]="mesh.name"></three-texture>
        </three-material>
      </three-mesh>
      <three-mesh *ngFor="let mesh of labelSrcInfos">
        <three-position [x]="mesh.position.x" [y]="mesh.position.y" [z]="mesh.position.z"></three-position>
        <three-geometry
          [type]="'Plane'"
          [width]="100"
          [height]="25"
        ></three-geometry>
        <three-material [type]="'MeshBasic'" 
          [transparent]="true"
        >
          <three-texture [width]="128" [height]="32" [program]="labelProgramSrc" [text]="mesh.name"></three-texture>
        </three-material>
      </three-mesh>
      <three-mesh *ngFor="let mesh of meshInfos">
        <three-position [x]="mesh.position.x" [y]="mesh.position.y" [z]="mesh.position.z"></three-position>
        <three-geometry
          [type]="'Plane'"
          [width]="100"
          [height]="100"
        ></three-geometry>
        <three-material [type]="'MeshBasic'" 
          [transparent]="true"
          [blending]="'Custom'"
          [blendSrc]="mesh.blendSrc"
          [blendDst]="mesh.blendDst"
          [blendEquation]="controls.equation"
        >
          <three-texture [image]="controls.foreground"  [premultiplyAlpha]="controls.premultiply"></three-texture>
        </three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>