<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - kinect todo
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="50" [near]="1" [far]="10000">
    <three-position [x]="0" [y]="0" [z]="500"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-mesh (onLoad)="setMesh($event)" [type]="'Points'">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'BufferGeometry'"
        [attrPosition]="vertices"
      ></three-geometry>
      <three-material [type]="'ShaderMaterial'" [uniforms]="{
          map : { type : 'video', value : 'textures/kinect.mp4', options : 'nearest'},
          width : { type : 'number', value : 640},
          height : { type : 'number', value : 480},
          nearClipping : { type : 'number', value : 850},
          farClipping : { type : 'number', value : 4000},
          pointSize : { type : 'number', value : 2},
          zOffset : { type : 'number', value : 1000}
        }"
        [vertexShader]="vertexShader"
        [fragmentShader]="fragmentShader"
        [blending]="'AdditiveBlending'"
        [depthTest]="false"
        [depthWrite]="false"
        [transparent]="true"
      >
      </three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
