<div class="info dark">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - webgl terrain raycasting demo
</div>
<ngx3js-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  [useEvent]="'mousemove'"
  (eventListener)="setEventListener($event)"
  (onRender)="onRender($event)"
>
  <ngx3js-lookat [x]="1000" [y]="1400" [z]="0"></ngx3js-lookat>
  <ngx3js-camera [type]="'perspective'" [fov]="60" [near]="1" [far]="20000" (onLoad)="setCamera($event)">
    <ngx3js-position [x]="2000" [y]="2000" [z]="1000"></ngx3js-position>
  </ngx3js-camera>

  <ngx3js-scene #scene [background]="'0xbfd1e5'">
    <ngx3js-mesh (onLoad)="setHelper($event)">
      <ngx3js-geometry [type]="'Cone'" [radius]="20" [height]="100" [radialSegments]="3">
        <ngx3js-translation [x]="0" [y]="50" [z]="0"></ngx3js-translation>
        <ngx3js-rotation [x]="90" [y]="0" [z]="0"></ngx3js-rotation>
      </ngx3js-geometry>
      <ngx3js-material [type]="'MeshNormal'"></ngx3js-material>
    </ngx3js-mesh>
    <ngx3js-mesh (onLoad)="setMesh($event)">
      <ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
      <ngx3js-geometry
        #geometry
        [type]="'perlin'"
        [perlinType]="'terrain'"
        [width]="7500"
        [height]="10"
        [depth]="7500"
        [widthSegments]="256"
        [depthSegments]="256"
      ></ngx3js-geometry>
      <ngx3js-material [type]="'MeshBasic'">
        <ngx3js-texture [perlin]="geometry"></ngx3js-texture>
      </ngx3js-material>
    </ngx3js-mesh>
  </ngx3js-scene>
</ngx3js-renderer>
