<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - buffergeometry - particles
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [autoRotate]="true"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="27" [near]="5" [far]="3500">
    <three-position [x]="0" [y]="0" [z]="2750"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0x050505'">
    <three-fog [color]="'0x050505'" [near]="2000" [far]="3500"></three-fog>
    <three-mesh (onLoad)="setMesh($event)" [type]="'Points'">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'BufferGeometry'"
        [attrPosition]="positions"
        [attrColor]="colors"
        [computeBoundingSphere]="true"
      ></three-geometry>
      <three-material [type]="'PointsMaterial'" [size]="15" [vertexColors]="true"></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>