<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener noreferrer">three.js</a> - Scalable Ambient Occlusion (SAO)<br/>
  shader by <a href="http://clara.io">Ben Houston</a> / Post-processing pass by <a href="http://ludobaka.github.io">Ludobaka</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0x000000'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-composer [scene]="scene" [camera]="camera">
    <three-pass [type]="'RenderPass'"></three-pass>
    <three-pass 
      [type]="'SAOPass'" 
      [depthTexture]="false" 
      [useNormals]="true"
      [output]="'default'"
      [saoBias]="0.5"
      [saoIntensity]="0.18"
      [saoScale]="1"
      [saoKernelRadius]="100"
      [saoMinResolution]="0"
      [saoBlur]="true"
      [saoBlurRadius]="8"
      [saoBlurStdDev]="4"
      [saoBlurDepthCutoff]="0.01"
      (onLoad)="setSaoPass($event)"
    ></three-pass>
  </three-composer>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera #camera [type]="'perspective'" [fov]="65" [near]="3" [far]="10">
    <three-position [x]="0" [y]="0" [z]="7"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-light
      [type]="'PointLight'"
      [color]="'0xddffdd'"
      [intensity]="0.8"
    ><three-position [x]="-70" [y]="-70" [z]="70"></three-position></three-light>
    <three-light
      [type]="'PointLight'"
      [color]="'0xffdddd'"
      [intensity]="0.8"
    ><three-position [x]="-70" [y]="70" [z]="70"></three-position></three-light>
    <three-light
      [type]="'PointLight'"
      [color]="'0xddddff'"
      [intensity]="0.8"
    ><three-position [x]="70" [y]="70" [z]="70"></three-position></three-light>
    <three-light
      [type]="'AmbientLight'"
      [color]="'0xffffff'"
      [intensity]="0.05"
    ></three-light>
    <three-shared>
      <three-geometry
        #sphereGeometry
        [type]="'SphereGeometry'"
        [radius]="3"
        [widthSegments]="48"
        [heightSegments]="24"
      ></three-geometry>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let info of meshInfos" [geometry]="sphereGeometry">
        <three-position [x]="info.position.x" [y]="info.position.y" [z]="info.position.z"></three-position>
        <three-rotation [x]="info.rotation.x" [y]="info.rotation.y" [z]="info.rotation.z"></three-rotation>
        <three-scale [multiply]="info.scale"></three-scale>
        <three-material [type]="'MeshStandardMaterial'" [color]="info.color" [roughness]="info.roughness" [metalness]="info.metalness"></three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
