<div id="info">
  <a href="https://threejs.org" target="_blank">three.js</a> - X-File Loader <br>
  <a href="https://github.com/adrs2002/threeXfileLoader" target="_new">see more info and samples</a> <br /><br/>
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="5" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="2000">
    <three-position [x]="0" [y]="1" [z]="0" [type]="'up'"></three-position>
    <three-position [x]="2" [y]="10" [z]="-28"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-light
      [type]="'Ambient'"
      [color]="'0xaaaaaa'"
    >
    </three-light>
    <three-light
      type="directional"
      [color]="'0xffffff'"
      [intensity]="1"
    >
      <three-position [x]="10" [y]="100" [z]="-10" [normalize]="true"></three-position>
    </three-light>
    <three-light
      type="directional"
      [color]="'0x777666'"
      [intensity]="1"
    >
      <three-position [x]="-1" [y]="-1" [z]="-1" [normalize]="true"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'models/xfile/SSR06_model.x'">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-scale [x]="-1" [y]="1" [z]="1"></three-scale>
    </three-mesh>
  </three-scene>
</three-renderer>
