<div class="info">
  <a href="https://threejs.org" target="_blank">three.js</a> - X-File Loader <br>
  <a href="https://github.com/adrs2002/threeXfileLoader" target="_new">see more info and samples</a> <br /><br/>
</div>
<ngx3js-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <ngx3js-lookat [x]="0" [y]="5" [z]="0"></ngx3js-lookat>
  <ngx3js-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="2000">
    <ngx3js-position [x]="0" [y]="1" [z]="0" [type]="'up'"></ngx3js-position>
    <ngx3js-position [x]="2" [y]="10" [z]="-28"></ngx3js-position>
  </ngx3js-camera>
  <ngx3js-scene #scene>
    <ngx3js-light
      [type]="'Ambient'"
      [color]="'0xaaaaaa'"
    >
    </ngx3js-light>
    <ngx3js-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="1"
    >
      <ngx3js-position [x]="10" [y]="100" [z]="-10" [normalize]="true"></ngx3js-position>
    </ngx3js-light>
    <ngx3js-light
      [type]="'directional'"
      [color]="'0x777666'"
      [intensity]="1"
    >
      <ngx3js-position [x]="-1" [y]="-1" [z]="-1" [normalize]="true"></ngx3js-position>
    </ngx3js-light>
    <ngx3js-mesh (onLoad)="setMesh($event)" [storageName]="'models/xfile/SSR06_model.x'">
      <ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
      <ngx3js-scale [x]="-1" [y]="1" [z]="1"></ngx3js-scale>
    </ngx3js-mesh>
  </ngx3js-scene>
</ngx3js-renderer>
