<div class="info dark">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - multiple canvases - circle
</div>
<ngx3js-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [autoClear]="true"
  [clearColor]="'0x555555'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
  <ngx3js-camera [type]="'perspective'" [fov]="20" [near]="1" [far]="20000">
    <ngx3js-position [x]="0" [y]="0" [z]="1800"></ngx3js-position>
  </ngx3js-camera>
  <ngx3js-viewer [type]="'canvas'" [canvasOptions]="canvasOptions" [x]="viewPort.x" [y]="viewPort.y" [width]="viewPort.width" [height]="viewPort.height"></ngx3js-viewer>
  <ngx3js-scene #scene [background]="'0xffffff'">
    <ngx3js-light
      [type]="'AmbientLight'"
      [color]="'0xffffff'"
      [intensity]="0.2"
    ></ngx3js-light>
    <ngx3js-light
      [type]="'DirectionalLight'"
      [color]="'0xffffff'"
    >
      <ngx3js-position [x]="0" [y]="0" [z]="1" [normalize]="true"></ngx3js-position>
    </ngx3js-light>
    <ngx3js-shared>
      <ngx3js-geometry
        #geometry1
        [type]="'IcosahedronGeometry'"
        [radius]="200"
        [detail]="1"
        [onInit]="setIcosahedronGeometry"
      ></ngx3js-geometry>
      <ngx3js-geometry
        #shadowGeo
        [type]="'PlaneGeometry'"
        [width]="300"
        [height]="300"
        [widthSegments]="1"
        [heightSegments]="1"
      ></ngx3js-geometry>
      <ngx3js-material 
        #shadowMaterial 
        [type]="'MeshBasicMaterial'" 
        [transparent]="true"
      >
        <ngx3js-texture [type]="'map'" [program]="'shadow'" [width]="128" [height]="128"></ngx3js-texture>
      </ngx3js-material>
      <ngx3js-material 
        #material 
        [type]="'MeshPhongMaterial'" 
        [color]="'0xffffff'" 
        [flatShading]="true" 
        [vertexColors]="true" 
        [shininess]="0"
      ></ngx3js-material>
      <ngx3js-material 
        #wireframeMaterial 
        [type]="'MeshBasicMaterial'" 
        [color]="'0x000000'"
        [wireframe]="true"
        [transparent]="true"
      ></ngx3js-material>
    </ngx3js-shared>
    <ngx3js-mesh (onLoad)="setMesh($event)">
      <ngx3js-mesh *ngFor="let info of ballInfos">
        <ngx3js-mesh [geometry]="geometry1" [material]="material">
          <ngx3js-position [x]="info.x" [y]="0" [z]="0"></ngx3js-position>
          <ngx3js-rotation [x]="info.rx" [y]="0" [z]="0"></ngx3js-rotation>
          <ngx3js-mesh [geometry]="geometry1" [material]="wireframeMaterial"></ngx3js-mesh>
        </ngx3js-mesh>
        <ngx3js-mesh [geometry]="shadowGeo" [material]="shadowMaterial">
          <ngx3js-position [x]="info.x" [y]="-250" [z]="0"></ngx3js-position>
          <ngx3js-rotation [x]="-90" [y]="0" [z]="0"></ngx3js-rotation>
        </ngx3js-mesh>
      </ngx3js-mesh>
    </ngx3js-mesh>
  </ngx3js-scene>
</ngx3js-renderer>
