<div id="info" class="dark">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - multiple canvases - circle
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [autoClear]="true"
  [clearColor]="'0x555555'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="20" [near]="1" [far]="20000">
    <three-position [x]="0" [y]="0" [z]="1800"></three-position>
  </three-camera>
  <three-viewer [type]="'canvas'" [x]="'0%'" [y]="'0%'" [width]="'100%'" [height]="'100%'"></three-viewer>
  <three-scene #scene [background]="'0xffffff'">
    <three-light
      [type]="'AmbientLight'"
      [color]="'0xffffff'"
      [intensity]="0.2"
    ></three-light>
    <three-light
      [type]="'DirectionalLight'"
      [color]="'0xffffff'"
    >
      <three-position [x]="0" [y]="0" [z]="1" [normalize]="true"></three-position>
    </three-light>
    <three-shared>
      <three-geometry
        #geometry1
        [type]="'IcosahedronGeometry'"
        [radius]="200"
        [detail]="1"
        [onInit]="setIcosahedronGeometry"
      ></three-geometry>
      <three-geometry
        #shadowGeo
        [type]="'PlaneGeometry'"
        [width]="300"
        [height]="300"
        [widthSegments]="1"
        [heightSegments]="1"
      ></three-geometry>
      <three-material 
        #shadowMaterial 
        [type]="'MeshBasicMaterial'" 
      >
        <three-texture [textureType]="'map'" [program]="'shadow'" [width]="128" [height]="128"></three-texture>
      </three-material>
      <three-material 
        #material 
        [type]="'MeshPhongMaterial'" 
        [color]="'0xffffff'" 
        [flatShading]="true" 
        [vertexColors]="true" 
        [shininess]="0"
      ></three-material>
      <three-material 
        #wireframeMaterial 
        [type]="'MeshBasicMaterial'" 
        [color]="'0x000000'"
        [wireframe]="true"
        [transparent]="true"
      ></three-material>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let info of ballInfos">
        <three-mesh [geometry]="geometry1" [material]="material">
          <three-position [x]="info.x" [y]="0" [z]="0"></three-position>
          <three-rotation [x]="info.rx" [y]="0" [z]="0"></three-rotation>
          <three-mesh [geometry]="geometry1" [material]="wireframeMaterial"></three-mesh>
        </three-mesh>
        <three-mesh [geometry]="shadowGeo" [material]="shadowMaterial">
          <three-position [x]="info.x" [y]="-250" [z]="0"></three-position>
          <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
        </three-mesh>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
