<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - dynamic geometry<br />
  left click: forward, right click: backward
</div>
<three-renderer
  [controlType]="'FirstPerson'"
  [controlOptions]="{ movementSpeed : 500 , lookSpeed : 0.1 }"
  [statsMode]="0"
  [antialias]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="60" [near]="1" [far]="2000">
    <three-position [x]="0" [y]="200" [z]="-500"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene [background]="'0xaaccff'">
    <three-helper [type]="'Axes'" [size]="500"></three-helper>
    <three-fog [type]="'exp2'" [color]="'0xaaccff'" [density]="0.0007"></three-fog>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'Plane'"
        [width]="20000"
        [height]="20000"
        [widthSegments]="127"
        [heightSegments]="127"
      ></three-geometry>
      <three-material [type]="'MeshBasic'" [color]="'0x0044ff'" [side]="'double'">
        <three-texture 
          [image]="'textures/water.jpg'"
          [wrapS]="'Repeat'"
          [wrapT]="'Repeat'"
          [repeatX]="5"
          [repeatY]="5"
        ></three-texture>
      </three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
