<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - custom attributes example
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true, autoRotate : true  }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="30" [near]="1" [far]="10000">
    <three-position [x]="0" [y]="0" [z]="300"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0x050505'">
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'SphereGeometry'"
        [radius]="50"
        [widthSegments]="128"
        [heightSegments]="64"
        [autoDisplacement]="true"
        [autoDisplacementSize]="1"
      ></three-geometry>
      <three-material 
        [type]="'ShaderMaterial'"
        [uniforms]="{
          amplitude : { type : 'number', value : 1.0 },
          color : { type : 'color', value : '0xff2200' },
          colorTexture : { type : 'texture', value : 'textures/water.jpg', options : 'wraprepeat'}
        }"
        [shader]="'CustomAttributes'"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
