<three-renderer [controlType]="'orbit'" [controlOptions]="{ enablePan: false, enableDamping: true }" [cssType]="'css3d'" [statsMode]="0" [antialias]="true" [clearColor]="'0xffffff'" [shadowMapEnabled]="true">
  <three-lookat [x]="0" [y]="-100" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="5000">
    <three-position [x]="400" [y]="400" [z]="400"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0xf0f0f0'">
    <three-physics></three-physics>
    <three-light
      [type]="'Ambient'"
      [color]="'0xffffff'"
      [intensity]="0.3"
    >
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="1.525"
    >
      <three-position [x]="1" [y]="1" [z]="3" [normalize]="true"></three-position>
    </three-light>
    <three-mesh>
      <three-geometry 
        [type]="'capsule'" 
        [radius]="30" 
        [phiStart]="0"
        [phiLength]="360"
        [radialSegments]="30" 
        [heightSegments]="2"
        [height]="100"
      ></three-geometry>
      <three-material [type]="'lambert'" [color]="'0xffffff'" [flatShading]="true">
        <three-texture 
          [image]="'textures/grid.png'"
          [wrap]="'RepeatWrapping'"
          [repeat]="40"
        ></three-texture>
      </three-material>
      <three-rigidbody [type]="'box'" [width]="60" [height]="160" [depth]="60" [mass]="1"></three-rigidbody>
    </three-mesh>
    <three-mesh [receiveShadow]="true">
      <three-position [x]="0" [y]="-200" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'box'"
        [width]="1000"
        [height]="1000"
        [depth]="40"
      ></three-geometry>
      <three-material
        [type]="'MeshPhong'"
        [color]="'0xf0f0f0'"
        [depthWrite]="false"
      >
        <three-texture 
          [image]="'textures/grid.png'"
          [wrap]="'RepeatWrapping'"
          [repeat]="40"
        ></three-texture>
      </three-material>
      <three-rigidbody [mass]="0"></three-rigidbody>
    </three-mesh>
  </three-scene>
</three-renderer>
