<three-renderer [controlType]="'orbit'" [controlOptions]="{ enablePan: false, enableDamping: true }" [cssType]="'css3d'" [statsMode]="0" [antialias]="true" [clearColor]="'0xffffff'" [shadowMapEnabled]="true">
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="1000">
    <three-position [x]="200" [y]="200" [z]="200"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0xf0f0f0'">
    <three-light
      [type]="'Ambient'"
      [color]="'0x111111'"
    >
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="1.525"
    >
      <three-position [x]="1" [y]="0" [z]="0" [normalize]="true"></three-position>
    </three-light>
    <three-helper [type]="'axis'" [size]="10"></three-helper>
    <three-mesh>
      <three-geometry 
        [type]="'capsule'" 
        [radius]="50" 
        [phiStart]="0"
        [phiLength]="360"
        [radialSegments]="30" 
        [heightSegments]="2"
        [height]="150"
      ></three-geometry>
      <three-material [type]="'lambert'" [color]="'0xffffff'" [flatShading]="true">
        <three-texture 
          [image]="'textures/grid.png'"
          [wrap]="'RepeatWrapping'"
          [repeat]="40"
        ></three-texture>
      </three-material>
    </three-mesh>
    <three-mesh [type]="'LineSegments'">
        <three-geometry [type]="'rope'" [width]="300" [widthSegments]="30"></three-geometry>
        <three-material [type]="'LineBasicMaterial'" [color]="'0xff0000'" [linewidth]="5"></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
