<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - MDDLoader
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="35" [near]="0.1" [far]="100">
    <three-position [x]="8" [y]="8" [z]="8"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'models/mdd/cube.mdd'">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'box'"
        [width]="1"
        [height]="1"
        [depth]="1"
      ></three-geometry>
      <three-material [type]="'MeshNormal'" [morphTargets]="true"></three-material>
      <three-mixer [action]="'base'">
        <three-clip [name]="'base'" [index]="0"></three-clip>
      </three-mixer>
    </three-mesh>
  </three-scene>
</three-renderer>
