<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
	collada loader - kinematics<br />
	robot from
	<a
		href="https://github.com/rdiankov/collada_robots"
		target="_blank"
		rel="noopener"
		>collada robots</a
	>
	tween
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, enableDamping: true }"
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="5" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="2000">
		<ngx3js-position [x]="0" [y]="10" [z]="20"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene>
		<ngx3js-light
			[type]="'Hemisphere'"
			[skyColor]="'0xffeeee'"
			[groundColor]="'0x111122'"
		>
		</ngx3js-light>
		<ngx3js-helper
			[type]="'Grid'"
			[size]="20"
			[divisions]="20"
			[color1]="'0x888888'"
			[color2]="'0x444444'"
		></ngx3js-helper>
		<ngx3js-mesh (onLoad)="setPointLight($event)">
			<ngx3js-position [x]="30" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-geometry
				[type]="'Sphere'"
				[radius]="4"
				[widthSegments]="8"
				[heightSegments]="8"
			></ngx3js-geometry>
			<ngx3js-material
				[type]="'MeshBasic'"
				[color]="'0xffffff'"
			></ngx3js-material>
			<ngx3js-light [type]="'Point'" [color]="'0xffffff'" [intensity]="0.3">
			</ngx3js-light>
		</ngx3js-mesh>
		<ngx3js-mesh
			(onLoad)="setMesh($event)"
			[storageName]="'models/collada/abb_irb52_7_120.dae'"
		>
			<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-rotation [x]="-90" [y]="0" [z]="0"></ngx3js-rotation>
			<ngx3js-scale [multiply]="10"></ngx3js-scale>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
