<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - webgl cube reflection demo.<br/>
  skybox by <a href="http://ict.debevec.org/~debevec/" target="_blank" rel="noopener">Paul Debevec</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="1" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="60" [near]="1" [far]="100000">
    <three-position [x]="0" [y]="0" [z]="3200"></three-position>
  </three-camera>
  <three-scene #scene [background]="background">
    <three-shared>
      <three-texture #background [image]="'textures/cube/pisa/'" [cubeImage]="['','png']"></three-texture>
      <three-geometry
        #geometry
        [type]="'Sphere'"
        [radius]="100"
        [widthSegments]="32"
        [heightSegments]="16"
      ></three-geometry>
      <three-material 
        #material
        [type]="'MeshBasic'" 
        [color]="'0xffffff'"
        [envMap]="background"
      ></three-material>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let sphere of sphereInfos" [geometry]="geometry" [material]="material">
        <three-position [x]="sphere.x" [y]="sphere.y" [z]="sphere.z"></three-position>
        <three-scale [multiply]="sphere.scale"></three-scale>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
