<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - shader material demo. featuring lava shader by <a href="http://irrlicht.sourceforge.net/phpBB2/viewtopic.php?t=21057" target="_blank" rel="noopener">TheGameMaker</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [autoRotate]="true"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="35" [near]="1" [far]="3000">
    <three-position [x]="0" [y]="0" [z]="4"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-rotation [x]="17.19" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'Torus'"
        [radius]="0.65"
        [tube]="0.3"
        [radialSegments]="30"
        [tubularSegments]="30"
      ></three-geometry>
      <three-material [type]="'shader'" 
        [uniforms]="{ 
          fogDensity : { type : 'number', value : 0.45 },
          fogColor : { type : 'v3', value : [0,0,0] },
          time : { type : 'number', value : 1 },
          uvScale : { type : 'v2', value : [3.0,1.0] },
          texture1 : { type : 'texture', value : 'textures/lava/cloud.png', options : 'wrapRepeat'},
          texture2 : { type : 'texture', value : 'textures/lava/lavatile.jpg', options : 'wrapRepeat'}
        }"
        [fragmentShader]="fragmentShader"
        [vertexShader]="vertexShader"
      ></three-material>
      <three-controller [controller]="'uniforms'" [params]="{ key : 'time', speed : controls.speed }"></three-controller>
    </three-mesh>
  </three-scene>
</three-renderer>
