<div class="info dark">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> <br>
  Ammo.js physics soft body rope demo<br>Press Q or A to move the arm.
</div>
<ngx3js-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  [useEvent]="'keydown,keyup'"
  (eventListener)="onKeyDown($event)"
  (onRender)="onRender($event)"
>
  <ngx3js-lookat [x]="0" [y]="2" [z]="0"></ngx3js-lookat>
  <ngx3js-camera [type]="'perspective'" [fov]="60" [near]="0.2" [far]="2000">
    <ngx3js-position [x]="-12" [y]="7" [z]="4"></ngx3js-position>
  </ngx3js-camera>
  <ngx3js-scene #scene [background]="'0xbfd1e5'">
    <ngx3js-physics [gravity]="-9.8">
      <ngx3js-physics-constraint 
        [type]="'hinge'"
        [source1]="pylon"
        [source2]="arm"
        [pivot1x]="0"
        [pivot1y]="pylonHeight * 0.5"
        [pivot1z]="0"
        [pivot2x]="0"
        [pivot2y]="-0.2"
        [pivot2z]="-armLength * 0.5"
        [axisy]="1"
        [enableMotor]="true"
        [targetVelocity]="armMovement * 30"
        [maxMotorImpulse]="50"
      ></ngx3js-physics-constraint>
    </ngx3js-physics>
    <ngx3js-light
      [type]="'AmbientLight'"
      [color]="'0x404040'"
    ></ngx3js-light>
    <ngx3js-light
      [type]="'DirectionalLight'"
      [color]="'0xffffff'"
      [intensity]="1"
      [castShadow]="true"
      [shadowCameraTop]="10"
      [shadowCameraBottom]="-10"
      [shadowCameraLeft]="-10"
      [shadowCameraRight]="10"
      [shadowCameraNear]="2"
      [shadowCameraFar]="50"
      [shadowMapSize]="1024"
      [shadowBias]="-0.003"
    >
      <ngx3js-position [x]="-7" [y]="10" [z]="15"></ngx3js-position>
    </ngx3js-light>
    <ngx3js-mesh (onLoad)="setMesh($event)">
      <ngx3js-mesh *ngFor="let info of wallInfos;let idx = index;" [name]="'Wall ' + idx">
        <ngx3js-position [x]="info.x" [y]="info.y" [z]="info.z"></ngx3js-position>
        <ngx3js-geometry
          [type]="'box'"
          [width]="info.width"
          [height]="info.height"
          [depth]="info.depth"
        ></ngx3js-geometry>
        <ngx3js-material [type]="'MeshPhongMaterial'" [color]="info.color"></ngx3js-material>
        <ngx3js-rigidbody [mass]="info.mass" [friction]="0.5"></ngx3js-rigidbody>
      </ngx3js-mesh>
      <ngx3js-mesh #base [receiveShadow]="true" [castShadow]="true">
        <ngx3js-position [x]="clothPos.x" [y]="0.1" [z]="clothPos.z - armLength"></ngx3js-position>
        <ngx3js-geometry
          [type]="'box'"
          [width]="1"
          [height]="0.2"
          [depth]="1"
        ></ngx3js-geometry>
        <ngx3js-material [type]="'MeshPhongMaterial'" [color]="'0x606060'"></ngx3js-material>
        <ngx3js-rigidbody [mass]="0"></ngx3js-rigidbody>
      </ngx3js-mesh>
      <ngx3js-mesh #pylon [receiveShadow]="true" [castShadow]="true">
        <ngx3js-position [x]="clothPos.x" [y]="pylonHeight * 0.5" [z]="clothPos.z - armLength"></ngx3js-position>
        <ngx3js-geometry
          [type]="'box'"
          [width]="0.4"
          [height]="pylonHeight"
          [depth]="0.4"
        ></ngx3js-geometry>
        <ngx3js-material [type]="'MeshPhongMaterial'" [color]="'0x606060'"></ngx3js-material>
        <ngx3js-rigidbody [mass]="0" [margin]="0.05"></ngx3js-rigidbody>
      </ngx3js-mesh>
      <ngx3js-mesh #arm [name]="'Arm'" [receiveShadow]="true" [castShadow]="true">
        <ngx3js-position [x]="clothPos.x" [y]="pylonHeight + 0.2" [z]="clothPos.z - 0.5*armLength"></ngx3js-position>
        <ngx3js-geometry
          [type]="'box'"
          [width]="0.4"
          [height]="0.4"
          [depth]="armLength + 0.4"
        ></ngx3js-geometry>
        <ngx3js-material [type]="'MeshPhongMaterial'" [color]="'0x606060'"></ngx3js-material>
        <ngx3js-rigidbody [mass]="2" [margin]="0.05"></ngx3js-rigidbody>
      </ngx3js-mesh>
      <ngx3js-mesh #ball [name]="'Ball'">
        <ngx3js-position [x]="-3" [y]="2" [z]="0"></ngx3js-position>
        <ngx3js-geometry
          [type]="'SphereGeometry'"
          [radius]="0.6"
          [widthSegments]="20"
          [heightSegments]="20"
        ></ngx3js-geometry>
        <ngx3js-material [type]="'MeshPhongMaterial'" [color]="'0x202020'"></ngx3js-material>
        <ngx3js-rigidbody [mass]="1.2" [friction]="0.5"></ngx3js-rigidbody>
      </ngx3js-mesh>
      <ngx3js-mesh #rope [name]="'Rope'" [type]="'LineSegments'">
        <ngx3js-position [x]="-3" [y]="2+0.3+2" [z]="0"></ngx3js-position>
        <ngx3js-geometry
          [type]="'RopeGeometry'"
          [width]="4"
          [widthSegments]="10"
        ></ngx3js-geometry>
        <ngx3js-material 
          [type]="'LineBasicMaterial'"
          [color]="'0x000000'"
        >
        </ngx3js-material>
        <ngx3js-rigidbody 
          [mass]="3" 
          [margin]="0.05*3" 
          [isSoftBody]="true"
          [viterations]="10"
          [piterations]="10"
          >
          <ngx3js-rigidbody-node 
            [type]="'Anchor'" 
            [node]="0" 
            [body]="ball" 
            [disableCollisionBetweenLinkedBodies]="true" 
            [influence]="1"
          ></ngx3js-rigidbody-node>
          <ngx3js-rigidbody-node 
            [type]="'Anchor'" 
            [node]="10" 
            [body]="arm" 
            [disableCollisionBetweenLinkedBodies]="true" 
            [influence]="1"
          ></ngx3js-rigidbody-node>
        </ngx3js-rigidbody>
      </ngx3js-mesh>
    </ngx3js-mesh>
    <ngx3js-mesh [receiveShadow]="true">
      <ngx3js-position [x]="0" [y]="-0.5" [z]="0"></ngx3js-position>
      <ngx3js-rotation [x]="0" [y]="0" [z]="0"></ngx3js-rotation>
      <ngx3js-geometry
        [type]="'BoxGeometry'"
        [width]="40"
        [height]="1"
        [depth]="40"
      ></ngx3js-geometry>
      <ngx3js-material
        [type]="'MeshPhongMaterial'"
        [color]="'0xFFFFFF'"
      >
        <ngx3js-texture 
          [image]="'textures/grid.png'"
          [wrap]="'RepeatWrapping'"
          [repeat]="40"
        ></ngx3js-texture>
      </ngx3js-material>
      <ngx3js-rigidbody [mass]="0" [friction]="0.5"></ngx3js-rigidbody>
    </ngx3js-mesh>
  </ngx3js-scene>
</ngx3js-renderer>
