<div class="info dark">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> <br>
  Ammo.js physics soft body rope demo<br>Press Q or A to move the arm.
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  [useEvent]="'keydown,keyup'"
  (eventListener)="onKeyDown($event)"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="2" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="60" [near]="0.2" [far]="2000">
    <three-position [x]="-12" [y]="7" [z]="4"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0xbfd1e5'">
    <three-physics [gravity]="-9.8">
      <three-physics-constraint 
        [type]="'hinge'"
        [source1]="pylon"
        [source2]="arm"
        [pivot1x]="0"
        [pivot1y]="pylonHeight * 0.5"
        [pivot1z]="0"
        [pivot2x]="0"
        [pivot2y]="-0.2"
        [pivot2z]="-armLength * 0.5"
        [axisy]="1"
        [enableMotor]="true"
        [targetVelocity]="armMovement * 30"
        [maxMotorImpulse]="50"
      ></three-physics-constraint>
    </three-physics>
    <three-light
      [type]="'AmbientLight'"
      [color]="'0x404040'"
    ></three-light>
    <three-light
      [type]="'DirectionalLight'"
      [color]="'0xffffff'"
      [intensity]="1"
      [castShadow]="true"
      [shadowCameraTop]="10"
      [shadowCameraBottom]="-10"
      [shadowCameraLeft]="-10"
      [shadowCameraRight]="10"
      [shadowCameraNear]="2"
      [shadowCameraFar]="50"
      [shadowMapSize]="1024"
      [shadowBias]="-0.003"
    >
      <three-position [x]="-7" [y]="10" [z]="15"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let info of wallInfos;let idx = index;" [name]="'Wall ' + idx">
        <three-position [x]="info.x" [y]="info.y" [z]="info.z"></three-position>
        <three-geometry
          [type]="'box'"
          [width]="info.width"
          [height]="info.height"
          [depth]="info.depth"
        ></three-geometry>
        <three-material [type]="'MeshPhongMaterial'" [color]="info.color"></three-material>
        <three-rigidbody [mass]="info.mass" [friction]="0.5"></three-rigidbody>
      </three-mesh>
      <three-mesh #base [receiveShadow]="true" [castShadow]="true">
        <three-position [x]="clothPos.x" [y]="0.1" [z]="clothPos.z - armLength"></three-position>
        <three-geometry
          [type]="'box'"
          [width]="1"
          [height]="0.2"
          [depth]="1"
        ></three-geometry>
        <three-material [type]="'MeshPhongMaterial'" [color]="'0x606060'"></three-material>
        <three-rigidbody [mass]="0"></three-rigidbody>
      </three-mesh>
      <three-mesh #pylon [receiveShadow]="true" [castShadow]="true">
        <three-position [x]="clothPos.x" [y]="pylonHeight * 0.5" [z]="clothPos.z - armLength"></three-position>
        <three-geometry
          [type]="'box'"
          [width]="0.4"
          [height]="pylonHeight"
          [depth]="0.4"
        ></three-geometry>
        <three-material [type]="'MeshPhongMaterial'" [color]="'0x606060'"></three-material>
        <three-rigidbody [mass]="0" [margin]="0.05"></three-rigidbody>
      </three-mesh>
      <three-mesh #arm [name]="'Arm'" [receiveShadow]="true" [castShadow]="true">
        <three-position [x]="clothPos.x" [y]="pylonHeight + 0.2" [z]="clothPos.z - 0.5*armLength"></three-position>
        <three-geometry
          [type]="'box'"
          [width]="0.4"
          [height]="0.4"
          [depth]="armLength + 0.4"
        ></three-geometry>
        <three-material [type]="'MeshPhongMaterial'" [color]="'0x606060'"></three-material>
        <three-rigidbody [mass]="2" [margin]="0.05"></three-rigidbody>
      </three-mesh>
      <three-mesh #ball [name]="'Ball'">
        <three-position [x]="-3" [y]="2" [z]="0"></three-position>
        <three-geometry
          [type]="'SphereGeometry'"
          [radius]="0.6"
          [widthSegments]="20"
          [heightSegments]="20"
        ></three-geometry>
        <three-material [type]="'MeshPhongMaterial'" [color]="'0x202020'"></three-material>
        <three-rigidbody [mass]="1.2" [friction]="0.5"></three-rigidbody>
      </three-mesh>
      <three-mesh #rope [name]="'Rope'" [type]="'LineSegments'">
        <three-position [x]="-3" [y]="2+0.3+2" [z]="0"></three-position>
        <three-geometry
          [type]="'RopeGeometry'"
          [width]="4"
          [widthSegments]="10"
        ></three-geometry>
        <three-material 
          [type]="'LineBasicMaterial'"
          [color]="'0x000000'"
        >
        </three-material>
        <three-rigidbody 
          [mass]="3" 
          [margin]="0.05*3" 
          [isSoftBody]="true"
          [viterations]="10"
          [piterations]="10"
          >
          <three-rigidbody-node 
            [type]="'Anchor'" 
            [node]="0" 
            [body]="ball" 
            [disableCollisionBetweenLinkedBodies]="true" 
            [influence]="1"
          ></three-rigidbody-node>
          <three-rigidbody-node 
            [type]="'Anchor'" 
            [node]="10" 
            [body]="arm" 
            [disableCollisionBetweenLinkedBodies]="true" 
            [influence]="1"
          ></three-rigidbody-node>
        </three-rigidbody>
      </three-mesh>
    </three-mesh>
    <three-mesh [receiveShadow]="true">
      <three-position [x]="0" [y]="-0.5" [z]="0"></three-position>
      <three-rotation [x]="0" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'BoxGeometry'"
        [width]="40"
        [height]="1"
        [depth]="40"
      ></three-geometry>
      <three-material
        [type]="'MeshPhongMaterial'"
        [color]="'0xFFFFFF'"
      >
        <three-texture 
          [image]="'textures/grid.png'"
          [wrap]="'RepeatWrapping'"
          [repeat]="40"
        ></three-texture>
      </three-material>
      <three-rigidbody [mass]="0" [friction]="0.5"></three-rigidbody>
    </three-mesh>
  </three-scene>
</three-renderer>
