<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> read float pixels webgl example<br/>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="85" [near]="1" [far]="10000">
    <three-position [x]="0" [y]="0" [z]="500"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
    >
      <three-position [x]="0" [y]="0" [z]="1" [normalize]="true"></three-position>
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffaaaa'"
      [intensity]="1.5"
    >
      <three-position [x]="0" [y]="0" [z]="-1" [normalize]="true"></three-position>
    </three-light>
    <three-shared>
      <three-geometry
        #geometry
        [type]="'Torus'"
        [radius]="100"
        [tube]="25"
        [radialSegments]="15"
        [tubularSegments]="30"
      ></three-geometry>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-mesh [geometry]="geometry">
        <three-position [x]="0" [y]="0" [z]="0"></three-position>
        <three-scale [multiply]="1.5"></three-scale>
        <three-material [type]="'MeshPhong'" [color]="'0x555555'" [specular]="'0xffaa00'" [shininess]="5"></three-material>
      </three-mesh>
      <three-mesh [geometry]="geometry">
        <three-position [x]="0" [y]="150" [z]="0"></three-position>
        <three-scale [multiply]="0.75"></three-scale>
        <three-rotation [x]="0" [y]="90" [z]="0"></three-rotation>
        <three-material [type]="'MeshPhong'" [color]="'0x550000'" [specular]="'0xff2200'" [shininess]="5"></three-material>
      </three-mesh>
    </three-mesh>
    <three-mesh>
      <three-position [x]="0" [y]="0" [z]="-200"></three-position>
      <three-geometry [type]="'plane'" [width]="10000" [height]="10000"></three-geometry>
      <three-material [type]="'Shader'" [shader]="'ColorRandom'" [uniforms]="{ time: { type : 'number', value: 0.0 } }" (onLoad)="setMaterial($event)"></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
