<div [id]="'info'">
  <a [href]="'https://threejs.org'" [target]="'_blank'" [rel]="'noopener'">three.js</a> - GLTFLoader + <a [href]="'https://github.com/KhronosGroup/glTF/tree/master/extensions/2.0/Khronos/KHR_materials_variants'" [target]="'_blank'" [rel]="'noopener'">KHR_materials_variants</a> extension<br />
  <a [href]="'https://github.com/pushmatrix/glTF-Sample-Models/tree/master/2.0/MaterialsVariantsShoe'" [target]="'_blank'" [rel]="'noopener'">Materials Variants Shoe</a> by
  <a [href]="'https://github.com/Shopify'" [target]="'_blank'" [rel]="'noopener'">Shopify, Inc</a><br />
  <a [href]="'https://hdrihaven.com/hdri/?h=royal_esplanade'" [target]="'_blank'" [rel]="'noopener'">Royal Esplanade</a> by <a [href]="'https://hdrihaven.com/'" [target]="'_blank'" [rel]="'noopener'">HDRI Haven</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0.5" [z]="-0.2"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="0.25" [far]="20">
    <three-position [x]="2.5" [y]="1.5" [z]="3.0"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene [background]="'0xa0a0a0'">
    <three-material 
      [materialType]="'background-environment-angular'"
      [storageName]="'textures/equirectangular/quarry_01_1k.hdr'">
    </three-material>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'models/gltf/MaterialsVariantsShoe/glTF/MaterialsVariantsShoe.gltf'">
      <three-scale [x]="10" [y]="10" [z]="10"></three-scale>
    </three-mesh>
  </three-scene>
</three-renderer>
