<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - TGA texture example by <a href="https://github.com/DaoshengMu/" target="_blank" rel="noopener">Daosheng Mu</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="0.1" [far]="1000">
    <three-position [x]="0" [y]="50" [z]="250"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene>
    <three-light
      [type]="'Ambient'"
      [color]="'0xffffff'"
      [intensity]="0.4"
    >
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="1"
    >
      <three-position [x]="1" [y]="1" [z]="1"></three-position>
    </three-light>
    <three-shared>
      <three-geometry
        #boxGeometry
        [type]="'box'"
        [width]="50"
        [height]="50"
        [depth]="50"
      ></three-geometry>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh [geometry]="boxGeometry">
        <three-position [x]="-50" [y]="0" [z]="0"></three-position>
        <three-material [type]="'MeshPhong'" [color]="'0xffffff'">
          <three-texture [storageName]="'textures/crate_grey8.tga'"></three-texture>
        </three-material>
      </three-mesh>
      <three-mesh [geometry]="boxGeometry">
        <three-position [x]="50" [y]="0" [z]="0"></three-position>
        <three-material [type]="'MeshPhong'" [color]="'0xffffff'">
          <three-texture [storageName]="'textures/crate_color8.tga'"></three-texture>
        </three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
