<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - color lines<br/>
  <a href="http://en.wikipedia.org/wiki/Hilbert_curve">Hilbert curve</a> thanks to <a href="http://www.openprocessing.org/visuals/?visualID=15599">Thomas Diewald</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="33" [near]="1" [far]="10000">
    <three-position [x]="0" [y]="0" [z]="1000"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-mesh *ngFor="let line of geometryInfos" [type]="'line'">
        <three-position [x]="line.x" [y]="line.y" [z]="line.z"></three-position>
        <three-scale [x]="line.scale" [y]="line.scale" [z]="line.scale"></three-scale>
        <three-geometry
          [type]="'Buffer'"
          [attrPosition]="line.position"
          [attrColor]="line.color"
        ></three-geometry>
        <three-material [type]="'LineBasic'" [color]="'0xffffff'" [vertexColors]="true"></three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
