<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - simple skinning
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="1000">
    <three-position [x]="18" [y]="6" [z]="18"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0xa0a0a0'">
    <three-fog [color]="'0xa0a0a0'" [near]="70" [far]="100"></three-fog>
    <three-light
      [type]="'Hemisphere'"
      [skyColor]="'0xffffff'"
      [groundColor]="'0x444444'"
      [intensity]="0.6"
    >
      <three-position [x]="0" [y]="200" [z]="0"></three-position>
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="0.8"
      [castShadow]="true"
      [shadowCameraTop]="18"
      [shadowCameraBottom]="-10"
      [shadowCameraLeft]="-12"
      [shadowCameraRight]="12"
    >
      <three-position [x]="0" [y]="20" [z]="10"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'models/gltf/SimpleSkinning.gltf'">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-mixer [action]="'run'">
        <three-clip [name]="'run'" [index]="0"></three-clip>
      </three-mixer>
    </three-mesh>
    <three-helper [type]="'GridHelper'" [size]="500" [divisions]="100" [color1]="'0x000000'" [opacity]="0.2">
      <three-position [x]="0" [y]="-5" [z]="0"></three-position>
    </three-helper>
    <three-mesh [receiveShadow]="true">
      <three-position [x]="0" [y]="-5" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'Plane'"
        [width]="500"
        [height]="500"
      ></three-geometry>
      <three-material
        [type]="'MeshPhong'"
        [color]="'0x999999'"
        [depthWrite]="false"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
