<div class="info dark">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - MMDLoader test<br />
  <a href="https://github.com/mrdoob/three.js/tree/master/examples/models/mmd#readme" target="_blank" rel="noopener">MMD Assets license</a><br />
  Copyright
  <a href="https://sites.google.com/view/evpvp/" target="_blank" rel="noopener">Model Data</a>
  <a href="http://www.nicovideo.jp/watch/sm13147122" target="_blank" rel="noopener">Dance Data</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true , minDistance: 10 , maxDistance: 100 }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="2000" (onLoad)="setCamera($event)">
    <three-position [x]="0" [y]="0" [z]="30"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene [background]="'0xffffff'">
    <three-physics></three-physics>
    <three-light
      [type]="'Ambient'"
      [color]="'0x666666'"
    >
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0x887766'"
      [intensity]="1"
      [castShadow]="true"
    >
      <three-position [x]="-1" [y]="1" [z]="1" [normalize]="true"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'models/mmd/miku/miku_v2.pmd'" [storageOption]="{ vmdUrl : 'models/mmd/vmds/wavefile_v2.vmd'}">
      <three-position [x]="0" [y]="-10" [z]="0"></three-position>
      <three-mixer [type]="'MMDAnimationHelper'" [mmdHelpers]="['iksolver','physics']" [afterglow]="2.0" [gravity]="-9.8 * 10" [physics]="true" (onLoad)="setMixer($event)"></three-mixer>
    </three-mesh>
    <three-helper [type]="'PolarGrid'" [radius]="30" [radials]="10">
      <three-position [x]="0" [y]="-10" [z]="0"></three-position>
    </three-helper>
  </three-scene>
</three-renderer>
