<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - ShadowMapViewer example by <a href="https://github.com/arya-s">arya-s</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-viewer [type]="'shadowmapviewer'" [x]="10" [y]="-10" [width]="'15%'" [height]="'width'" [light]="dirLight"></three-viewer>
  <three-viewer [type]="'shadowmapviewer'" [x]="-10" [y]="-10" [width]="'15%'" [height]="'width'" [light]="spotLight"></three-viewer>
  
  <three-lookat [x]="0" [y]="2" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="15" [z]="35"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-light
      [type]="'AmbientLight'"
      [color]="'0x404040'"
    >
    </three-light>
    <three-light
      #spotLight
      [type]="'SpotLight'"
      [color]="'0xffffff'"
      [name]="'Spot Light'"
      [angle]="36"
      [penumbra]="0.3"
      [castShadow]="true"
      [shadowCameraNear]="8"
      [shadowCameraFar]="30"
      [shadowMapSize]="1024"
    >
      <three-position [x]="10" [y]="10" [z]="5"></three-position>
      <three-helper [type]="'CameraHelper'"></three-helper>
    </three-light>
    <three-light
      #dirLight
      [type]="'DirectionalLight'"
      [color]="'0xffffff'"
      [intensity]="1"
      [name]="'Dir. Light'"
      [castShadow]="true"
      [shadowCameraNear]="1"
      [shadowCameraFar]="10"
      [shadowCameraRight]="15"
      [shadowCameraLeft]="-15"
      [shadowCameraTop]="15"
      [shadowCameraBottom]="-15"
      [shadowMapSize]="1024"
    >
      <three-position [x]="0" [y]="10" [z]="0"></three-position>
      <three-helper [type]="'CameraHelper'"></three-helper>
    </three-light>
    <three-shared>
      <three-material 
        #material
        [type]="'MeshPhongMaterial'" 
        [color]="'0xff0000'" 
        [shininess]="150" 
        [specular]="'0x222222'"
      ></three-material>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh [castShadow]="true" [receiveShadow]="true" [material]="material">
        <three-scale [multiply]="1/18"></three-scale>
        <three-position [x]="0" [y]="3" [z]="0"></three-position>
        <three-geometry
          [type]="'TorusKnotGeometry'"
          [radius]="25"
          [tube]="8"
          [radialSegments]="75"
          [tubularSegments]="20"
        ></three-geometry>
      </three-mesh>
      <three-mesh [castShadow]="true" [receiveShadow]="true" [material]="material">
        <three-position [x]="8" [y]="3" [z]="8"></three-position>
        <three-geometry
          [type]="'BoxGeometry'"
          [width]="3"
          [height]="3"
          [depth]="3"
        ></three-geometry>
      </three-mesh>
    </three-mesh>
    <three-mesh [receiveShadow]="true" [castShadow]="false">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-scale [multiply]="3"></three-scale>
      <three-geometry
        [type]="'BoxGeometry'"
        [width]="10"
        [height]="0.15"
        [depth]="10"
      ></three-geometry>
      <three-material
        [type]="'MeshPhong'"
        [color]="'0xa0adaf'"
        [shininess]="150"
        [specular]="'0x111111'"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
