<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
  PMREM directional light test <a href="https://github.com/elalish" target="_blank" rel="noopener">Emmett Lalish</a>
  <br>Top row is white metal
  <br>Middle row is white dielectric
  <br>Bottom row is black dielectric.
  <br>Mouse-out is a standard Directional Light.
  <br>Mouse-over is a PMREM of the skybox: a single bright pixel representing the same directional light source.
  <br>The difference between these renders indicates the error in the PMREM approximations.
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true, minDistance : 4, maxDistance : 20 }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  [physicallyCorrectLights]="true"
  [toneMapping]="'ACESFilmicToneMapping'"
  [toneMappingExposure]="1"
  [useEvent]="'mouseover,mouseout'"
  (eventListener)="mouseEvent($event)"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="40" [near]="1" [far]="30">
    <three-position [x]="0" [y]="0" [z]="16"></three-position>
  </three-camera>
  <three-scene #scene [background]="radianceMap">
    <three-light
      [type]="'DirectionalLight'"
      [color]="'0xffffff'"
      [intensity]="0"
      (onLoad)="setLight($event)"
    >
      <three-position [setfrom]="'SphericalCoords'" [radius]="100" [phi]="-(213+0.5)/512*2" [theta]="90-(597+0.5)/512*2"></three-position>
    </three-light>
    <three-shared>
      <three-geometry
        #geometry
        [type]="'SphereGeometry'"
        [radius]="0.4"
        [widthSegments]="32"
        [heightSegments]="32"
      ></three-geometry>
      <three-tools #radianceMap [type]="'pmremtexture'" [storageName]="'spot1Lux.hdr'" [storageOption]="{ path : 'textures/equirectangular/'}"></three-tools>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let info of meshInfos" [geometry]="geometry">
        <three-position [x]="info.x" [y]="info.y" [z]="0"></three-position>
        <three-material 
          [type]="'MeshPhysicalMaterial'" 
          [color]="info.color"
          [roughness]="info.roughness"
          [metalness]="info.metalness"
          [envMap]="radianceMap"
          [envMapIntensity]="1"
        ></three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
