<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - Float volume render test (mip / isosurface)
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [type]="'webgl2'"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="64" [y]="64" [z]="128"></three-lookat>
  <three-camera [type]="'OrthographicCamera'" [near]="1" [far]="1000" [zoom]="'auto'">
    <three-position [x]="0" [y]="64" [z]="128"></three-position>
    <three-position [type]="'up'" [x]="0" [y]="0" [z]="1"></three-position>
  </three-camera>
  <three-shared (onLoad)="setColorMapTexture($event)">
    <three-texture #viridis [name]="'viridis'" [image]="'textures/cm_viridis.png'"></three-texture>
    <three-texture #gray [name]="'gray'" [image]="'textures/cm_gray.png'"></three-texture>
  </three-shared>
  <three-scene #scene>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'box'"
        [width]="128"
        [height]="128"
        [depth]="256"
      >
        <three-position [type]="'translate'" [x]="63.5" [y]="63.5" [z]="127.5"></three-position>
      </three-geometry>
      <three-material [type]="'ShaderMaterial'" 
        [shader]="'VolumeRenderShader1'"
        [uniforms]="{
          u_data : { type : 'texture3d', value : 'models/nrrd/stent.nrrd', options : 'RedFormat,FloatType,LinearFilter,unpackAlignment=1'},
          u_size : { type : 'vector3', value : [128,128,256 ]},
          u_clim : { type : 'vector2', value : [0,1]},
          u_renderstyle : { type : 'int', value : 1 },
          u_renderthreshold : { type : 'float', value : 0.15 },
          u_cmdata : { type : 'texture', value : viridis }
        }"
        [side]="'backside'"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
