<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - LWOLoader
  <P>Lightwave Object loader by <a href="https://discoverthreejs.com/" target="_blank" rel="noopener">Discover three.js</a></P>
  Models by <a href="https://onthez.com/" target="_blank" rel="noopener">on the z</a> - Environment images by <a href="https://hdrihaven.com/" target="_blank" rel="noopener">HDRI Haven</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="1" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="200">
    <three-position [x]="-0.7" [y]="14.6" [z]="43.2"></three-position>
    <three-lookat [x]="0" [y]="1" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene [background]="'0xa0a0a0'">
    <three-light
      type="Ambient"
      [color]="'0xaaaaaa'"
      [intensity]="1.75"
    >
    </three-light>
    <three-light
      type="directional"
      [color]="'0xffffff'"
      [intensity]="1"
      [castShadow]="true"
      [shadowCameraTop]="180"
      [shadowCameraBottom]="-100"
      [shadowCameraLeft]="-120"
      [shadowCameraRight]="120"
    >
      <three-position [x]="0" [y]="200" [z]="100"></three-position>
    </three-light>
    <three-light
      type="directional"
      [color]="'0xffffff'"
      [intensity]="0.7"
    >
      <three-position [x]="-100" [y]="200" [z]="-100"></three-position>
    </three-light>
    <three-light
      type="directional"
      [color]="'0xffffff'"
      [intensity]="0.4"
    >
      <three-position [x]="100" [y]="-200" [z]="100"></three-position>
    </three-light>
    <three-light
      type="directional"
      [color]="'0xffffff'"
      [intensity]="1"
    >
      <three-position [x]="-100" [y]="-100" [z]="100"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'models/lwo/Objects/LWO3/Demo.lwo'">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
    </three-mesh>
    <three-helper [type]="'grid'" [size]="200" [divisions]="20" [color1]="'0x000000'" [color2]="'0x000000'"></three-helper>
  </three-scene>
</three-renderer>
