<div id="info">
  <a [href]="'https://threejs.org'" [target]="'_blank'" [rel]="'noopener'">three.js</a> - geometry - catmull spline editor
</div>
<three-renderer
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  [useEvent]="['pointerdown','pointerup','pointermove']"
  (eventListener)="setEventListener($event)"
  (onRender)="onRender($event)"
>
  <three-control [type]="'Transform'" (onLoad)="setTransformControl($event)" (eventListener)="setTransformEventListener($event)"></three-control>
  <three-control
    [type]="'orbit'"
    [enablePan]="false"
    [enableDamping]="true"
    (onLoad)="setOrbitControl($event)"
  ></three-control>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-scene #scene [background]="'0xf0f0f0'">
    <three-camera [type]="'perspective'" [fov]="70" [near]="1" [far]="10000" (onLoad)="setCamera($event)">
      <three-position [x]="0" [y]="250" [z]="1000"></three-position>
      <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
    </three-camera>
    <three-light
      [type]="'Ambient'"
      [color]="'0xf0f0f0'"
    >
    </three-light>
    <three-light
      [type]="'Spot'"
      [color]="'0xffffff'"
      [intensity]="1.5"
      [castShadow]="true"
      [angle]="36"
      [shadowBias]="- 0.000222"
      [shadowCameraNear]="200"
      [shadowCameraFar]="2000"
      [shadowMapSizeWidth]="1024"
      [shadowMapSizeHeight]="1024"
    >
      <three-position [x]="0" [y]="1500" [z]="200"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-mesh *ngFor="let curve of catmullRomCurves" [type]="'line'" [visible]="curve.visible" [castShadow]="true">
        <three-geometry
          [type]="'geometry'"
          [curveSegments]="200"
          [tension]="curve.tension"
          [curvePath]="curve.curvePath"
          [curveType]="curve.curveType"
        ></three-geometry>
        <three-material [type]="'LineBasic'" [opacity]="0.35" [color]="curve.color"></three-material>
      </three-mesh>
      <three-mesh *ngFor="let box of positions" (onLoad)="setPointMesh($event)" (onDestory)="unsetPointMesh($event)">
        <three-position [x]="box.x" [y]="box.y" [z]="box.z"></three-position>
        <three-geometry
          [type]="'box'"
          [width]="20"
          [height]="20"
          [depth]="20"
        ></three-geometry>
        <three-material [type]="'meshlambert'" [color]="box.color"></three-material>
      </three-mesh>
    </three-mesh>
    <three-mesh [receiveShadow]="true">
      <three-position [x]="0" [y]="-200" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'Plane'"
        [width]="2000"
        [height]="2000"
      ></three-geometry>
      <three-material
        [type]="'Shadow'"
        [opacity]="0.2"
      ></three-material>
      <three-helper [type]="'Grid'" [size]="2000" [divisions]="100">
        <three-position [x]="0" [y]="-199" [z]="0"></three-position>
      </three-helper>
    </three-mesh>
  </three-scene>
</three-renderer>
