<div class="info dark">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> car materials<br/>
  Ferrari 458 Italia model by <a href="https://sketchfab.com/models/57bf6cc56931426e87494f554df1dab6" target="_blank" rel="noopener">vicent091036</a>
  todo
</div>
<ngx3js-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true , autoRotate : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <ngx3js-lookat [x]="0" [y]="0.5" [z]="0"></ngx3js-lookat>
  <ngx3js-camera [type]="'perspective'" [fov]="40" [near]="0.1" [far]="100">
    <ngx3js-position [x]="4.25" [y]="1.4" [z]="-4.5"></ngx3js-position>
  </ngx3js-camera>
  <ngx3js-scene #scene [background]="'0xeeeeee'" [environment]="'sceen.room'">
    <ngx3js-fog [color]="'0xeeeeee'" [near]="10" [far]="50"></ngx3js-fog>
    <ngx3js-helper 
      (onLoad)="setGridHelp($event)"
      [type]="'grid'" 
      [size]="100" 
      [divisions]="40"
      [color1]="'0x000000'"
      [color2]="'0x000000'"
      [opacity]="0.1"
      [depthWrite]="false"
    ></ngx3js-helper>
    <ngx3js-shared>
      <ngx3js-material 
        [type]="'MeshPhysical'"
        [color]="'0xff0000'"
        [metalness]="0.6"
        [roughness]="0.4"
        [clearcoat]="0.05"
        [clearcoatRoughness]="0.05"
      >
      </ngx3js-material>
    </ngx3js-shared>
    <ngx3js-mesh (onLoad)="setMesh($event)" [storageName]="'models/gltf/ferrari.glb'" [storageOption]="{ useDraco : true, debugName : true, decoderPath : 'js/libs/draco/gltf/' }">
      <ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
      <ngx3js-material 
        [type]="'MeshPhysical'"
        [color]="controls.glass"
        [refName]="['glass']"
        [metalness]="0"
        [roughness]="0.1"
        [transmission]="0.9"
        [opacity]="0.5"
        [transparent]="true"
      >
      </ngx3js-material>
      <ngx3js-material 
        [type]="'MeshPhysical'"
        [color]="controls.body"
        [refName]="['body']"
        [metalness]="0.6"
        [roughness]="0.4"
        [clearcoat]="0.05"
        [clearcoatRoughness]="0.05"
      >
      </ngx3js-material>
      <ngx3js-material 
        [type]="'MeshStandard'"
        [color]="controls.detail"
        [refName]="['rim_fl','rim_fr','rim_rr','rim_rl','trim']"
        [metalness]="1.0"
        [roughness]="0.5"
      >
      </ngx3js-material>
    </ngx3js-mesh>
  </ngx3js-scene>
</ngx3js-renderer>
