<div id="info">
  <a href="https://threejs.org">Three.js</a> cube map refraction demo<br/>
  Lucy model from <a href="http://graphics.stanford.edu/data/3Dscanrep/">Stanford 3d scanning repository</a><br/>
  Texture by <a href="http://www.humus.name/index.php?page=Textures" target="_blank" rel="noopener">Humus</a>
</div>
<three-renderer
  [controlType]="'plane'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="50" [near]="1" [far]="100000">
    <three-position [x]="0" [y]="0" [z]="-4000"></three-position>
  </three-camera>
  <three-scene #scene [background]="textureCube">
    <three-light
      [type]="'AmbientLight'"
      [color]="'0xffffff'"
    ></three-light>
    <three-shared>
      <three-texture
        #textureCube
        [image]="'textures/cube/Park3Med/'"
        [cubeImage]="['','jpg']"
        [mapping]="'CubeRefraction'"
      ></three-texture>
      <three-geometry #geometry [storageName]="'models/ply/binary/Lucy100k.ply'" [computeVertexNormals]="true"></three-geometry>
    </three-shared>
    <three-light
      [type]="'Ambient'"
      [color]="'0xffffff'"
    >
    </three-light>
    <three-light
      (onLoad)="setLight($event)"
      [type]="'PointLight'"
      [color]="'0xffffff'"
      [intensity]="2"
    >
      <three-mesh>
        <three-scale [multiply]="0.05"></three-scale>
        <three-geometry [type]="'Sphere'" [radius]="100" [widthSegments]="16" [heightSegments]="8"></three-geometry>
        <three-material [type]="'MeshBasic'" [color]="'0xffffff'"></three-material>
      </three-mesh>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-mesh [geometry]="geometry" [windowExport]="'mesh01'"> 
        <three-position [x]="0" [y]="0" [z]="0"></three-position>
        <three-scale [multiply]="1.5"></three-scale>
        <three-material [type]="'MeshPhongMaterial'" [color]="'0xffffff'" [envMap]="textureCube" [refractionRatio]="0.98"></three-material>
      </three-mesh>
      <three-mesh [geometry]="geometry">
        <three-position [x]="-1500" [y]="0" [z]="0"></three-position>
        <three-scale [multiply]="1.5"></three-scale>
        <three-material [type]="'MeshPhongMaterial'" [color]="'0xccfffd'" [envMap]="textureCube" [refractionRatio]="0.985"></three-material>
      </three-mesh>
      <three-mesh [geometry]="geometry">
        <three-position [x]="1500" [y]="0" [z]="0"></three-position>
        <three-scale [multiply]="1.5"></three-scale>
        <three-material [type]="'MeshPhongMaterial'" [color]="'0xccddff'" [envMap]="textureCube" [refractionRatio]="0.985" [reflectivity]="0.9"></three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
