<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
	ngx camera
</div>
<ngx3js-renderer
	[statsMode]="0"
	[antialias]="true"
	[controlType]="'orbit'"
	[controlOptions]="{
		enablePan: false,
		enableDamping: true,
		minDistance: 5,
		maxDistance: 20
	}"
	[clearColor]="controls.environment.clearColor"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-camera 
		[type]="controls.camera.type" 
		[autoClear]="true"
		[near]="controls.camera.near" 
		[far]="controls.camera.far" 
		[fov]="controls.perspective.fov" 
		[aspect]="controls.perspective.aspect"
		[orthoSize]="controls.orthographic.orthoSize"
		[left]="controls.orthographic.left"
		[right]="controls.orthographic.right"
		[top]="controls.orthographic.top"
		[bottom]="controls.orthographic.bottom"
		[viewport]="controls.viewport.enable"
		[viewportType]="controls.viewport.viewportType"
		[x]="controls.viewport.x + '%'"
		[y]="controls.viewport.y + '%'"
		[width]="controls.viewport.width + '%'"
		[height]="controls.viewport.height + '%'"
		[scissorTest]="controls.scissorTest.enable"
		[scissorX]="controls.scissorTest.x + '%'"
		[scissorY]="controls.scissorTest.y + '%'"
		[scissorWidth]="controls.scissorTest.width + '%'"
		[scissorHeight]="controls.scissorTest.height + '%'"
		(onLoad)="setCamera($event)"
	>
		<ngx3js-position [x]="cameraPosition.x" [y]="cameraPosition.y" [z]="cameraPosition.z"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene [background]="controls.environment.background">
		<ngx3js-light
			[type]="'directional'"
			[color]="'0xffffff'"
			[intensity]="1"
			[castShadow]="true"
		>
			<ngx3js-position [x]="-3" [y]="10" [z]="10"></ngx3js-position>
		</ngx3js-light>
		<ngx3js-light [type]="'AmbientLight'" [color]="'0x6688cc'"></ngx3js-light>
		<ngx3js-shared>
			<ngx3js-geometry
				#geometry
				[type]="'TorusKnotGeometry'"
				[radius]="1.5"
				[tube]="0.34"
				[radiusSegments]="100"
				[tubularSegments]="64"
			></ngx3js-geometry>
			<ngx3js-material
				#material
				[type]="'MeshStandardMaterial'"
			>
				<ngx3js-texture
					[type]="'map'"
					[image]="'textures/crate.gif'"
				></ngx3js-texture>
			</ngx3js-material>
		</ngx3js-shared>
		<ngx3js-mesh (onLoad)="setMesh($event)" [geometry]="geometry" [material]="material" [castShadow]="true">
			<ngx3js-mesh [geometry]="geometry" [material]="material" [castShadow]="true">
				<ngx3js-position [x]="0" [y]="0" [z]="-10"></ngx3js-position>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="geometry" [material]="material" [castShadow]="true">
				<ngx3js-position [x]="-10" [y]="0" [z]="0"></ngx3js-position>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="geometry" [material]="material" [castShadow]="true">
				<ngx3js-position [x]="10" [y]="0" [z]="0"></ngx3js-position>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="geometry" [material]="material" [castShadow]="true">
				<ngx3js-position [x]="0" [y]="0" [z]="10"></ngx3js-position>
			</ngx3js-mesh>
			<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
		</ngx3js-mesh>
		<ngx3js-mesh [type]="'text'" [text]="controls.camera.type" [size]="0.2">
			<ngx3js-position [x]="0" [y]="2.5" [z]="1.7"></ngx3js-position>
		</ngx3js-mesh>
		<ngx3js-helper
			[name]="'gridHelper'"
			[type]="'GridHelper'"
			[size]="100"
			[divisions]="50"
			[color1]="'0x888888'"
			[color2]="'0x444444'"
		>
			<ngx3js-position [x]="0" [y]="-2.6" [z]="0"></ngx3js-position>
		</ngx3js-helper>
		<ngx3js-mesh [receiveShadow]="true">
			<ngx3js-position [x]="0" [y]="-2.5" [z]="0"></ngx3js-position>
			<ngx3js-rotation [x]="-90" [y]="0" [z]="0"></ngx3js-rotation>
			<ngx3js-geometry [type]="'plane'" [width]="10" [height]="10"></ngx3js-geometry>
			<ngx3js-material [type]="'MeshPhongMaterial'" [color]="'0xffffff'"></ngx3js-material>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
