<three-renderer [controlType]="'orbit'" [statsMode]="0" [antialias]="true" [clearColor]="'0xffffff'" [shadowMapEnabled]="true" [guiControl]="controls" [guiParams]="controlsParams" (onRender)="onRender($event)">
    <three-camera [type]="'perspective'" [fov]="45" [near]="0.1" [far]="2000">
        <three-position [x]="-50" [y]="40" [z]="60"></three-position>
        <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
    </three-camera>
    <three-scene #scene>
        <three-mesh type="light" lightType="ambient" [color]="'0x121212'"></three-mesh>
        <three-mesh type="light" lightType="directional" [color]="'0xffffff'" [intensity]="0.2" [castShadow]="true" >
            <three-position [x]="-40" [y]="60" [z]="-10"></three-position>
            <three-lookat [position]="scene"></three-lookat>
        </three-mesh>
        <three-mesh [storageName]="'/assets/sample_assets/models/ogre/ogro.md2'">
            <three-position [x]="0" [y]="0" [z]="0"></three-position>
            <three-rotation [x]="rotation.x" [y]="rotation.y" [z]="rotation.z"></three-rotation>
            <three-material type="meshlambert" 
                [morphTargets]="true"
                [morphNormals]="true"
                [wireframe]="controls.wireframe"
            >
                <three-texture [image]="'/assets/sample_assets/models/ogre/skins/skin.jpg'"></three-texture>
            </three-material>
            <three-mixer [action]="controls.action" [duration]="1" [timeScale]="controls.timeScale">
                <three-clip [name]="'crattack'"></three-clip>
                <three-clip [name]="'stand'"></three-clip>
                <three-clip [name]="'run'"></three-clip>
                <three-clip [name]="'attack'"></three-clip>
                <three-clip [name]="'paina'"></three-clip>
                <three-clip [name]="'painb'"></three-clip>
                <three-clip [name]="'painc'"></three-clip>
                <three-clip [name]="'jump'"></three-clip>
                <three-clip [name]="'flip'"></three-clip>
                <three-clip [name]="'salute_alt'"></three-clip>
                <three-clip [name]="'bumflop'"></three-clip>
                <three-clip [name]="'wavealt'"></three-clip>
                <three-clip [name]="'sniffsniff'"></three-clip>
                <three-clip [name]="'crattack'"></three-clip>
                <three-clip [name]="'crpain'"></three-clip>
                <three-clip [name]="'crdeath'"></three-clip>
                <three-clip [name]="'deatha'"></three-clip>
                <three-clip [name]="'deathb'"></three-clip>
                <three-clip [name]="'deathc'"></three-clip>
                <three-clip [name]="'boomhc'"></three-clip>
              </three-mixer>
        </three-mesh>
    </three-scene>
</three-renderer>