<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl2 - volume - cloud
</div>
<three-renderer
  [type]="'webgl2'"
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="60" [near]="0.1" [far]="100" (onLoad)="setCamera($event)">
    <three-position [x]="0" [y]="0" [z]="1.5"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-mesh #sky>
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'SphereGeometry'"
        [radius]="10"
      ></three-geometry>
      <three-material [type]="'MeshBasicMaterial'" [side]="'back'">
        <three-texture [program]="'bluesky'" [width]="1" [height]="32"></three-texture>
      </three-material>
    </three-mesh>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'box'"
        [width]="1"
        [height]="1"
        [depth]="1"
      ></three-geometry>
      <three-material 
        [type]="'RawShaderMaterial'" 
        [shader]="'cloudshader'" 
        [uniforms]="{ map : { type :'DataTexture3D', value : 'cloud' , options : 'RedFormat,LinearFilter,unpackAlignment=1'} }"
        [glslVersion]="'GLSL3'"
        [transparent]="true"
        [side]="'back'"
      >
      </three-material>
    </three-mesh>
  </three-scene>
</three-renderer>