<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - webgl_postprocessing
</div>
<three-renderer
  [controlType]="'orbit'"
  [autoRotate]="true"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-composer [camera]="camera" [scene]="scene" [viewport]="true" [x]="0" [y]="0" [width]="'50%'" [height]="'50%'" [clear]="true">
    <three-pass [type]="'RenderPass'"></three-pass>
    <three-pass [type]="'ShaderPass'" [shader]="'DotScreen'" [uniforms]="{ scale :  2 }"></three-pass>
    <three-pass [type]="'ShaderPass'" [shader]="'RGBShift'" [uniforms]="{ amount :  0.0015 }"></three-pass>
  </three-composer>
  <three-composer [camera]="camera" [scene]="scene" [viewport]="true" [x]="'50%'" [y]="0" [width]="'50%'" [height]="'50%'">
    <three-pass [type]="'RenderPass'"></three-pass>
    <three-pass [type]="'ShaderPass'" [shader]="'DotScreen'" [uniforms]="{ scale :  4 }"></three-pass>
    <three-pass [type]="'ShaderPass'" [shader]="'RGBShift'" [uniforms]="{ amount :  0.0015 }"></three-pass>
  </three-composer>
  <three-composer [camera]="camera" [scene]="scene" [viewport]="true" [x]="0" [y]="'50%'" [width]="'50%'" [height]="'50%'">
    <three-pass [type]="'RenderPass'"></three-pass>
    <three-pass [type]="'ShaderPass'" [shader]="'DotScreen'" [uniforms]="{ scale :  6 }"></three-pass>
    <three-pass [type]="'ShaderPass'" [shader]="'RGBShift'" [uniforms]="{ amount :  0.0015 }"></three-pass>
  </three-composer>
  <three-composer [camera]="camera" [scene]="scene" [viewport]="true" [x]="'50%'" [y]="'50%'" [width]="'50%'" [height]="'50%'">
    <three-pass [type]="'RenderPass'"></three-pass>
    <three-pass [type]="'ShaderPass'" [shader]="'DotScreen'" [uniforms]="{ scale :  8 }"></three-pass>
    <three-pass [type]="'ShaderPass'" [shader]="'RGBShift'" [uniforms]="{ amount :  0.0015 }"></three-pass>
  </three-composer>
  <three-composer [camera]="camera" [scene]="scene" [viewport]="true" [x]="'15%'" [y]="'15%'" [width]="'70%'" [height]="'70%'" >
    <three-pass [type]="'RenderPass'"></three-pass>
    <three-pass [type]="'ShaderPass'" [shader]="'DotScreen'" [uniforms]="{ scale :  2 }"></three-pass>
    <three-pass [type]="'ShaderPass'" [shader]="'RGBShift'" [uniforms]="{ amount :  0.0015 }"></three-pass>
  </three-composer>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera #camera [type]="'perspective'" [fov]="70" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="0" [z]="400"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-fog [color]="'0x000000'" [near]="1" [far]="1000"></three-fog>
    <three-light
      [type]="'AmbientLight'"
      [color]="'0x222222'"
    ></three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
    >
      <three-position [x]="1" [y]="1" [z]="1"></three-position>
    </three-light>
    <three-shared>
      <three-geometry
        #geometry
        [type]="'SphereGeometry'"
        [radius]="1"
        [widthSegments]="4"
        [heightSegments]="4"
      ></three-geometry>
      <three-material #material [type]="'MeshPhongMaterial'" [color]="'0xffffff'" [flatShading]="true"></three-material>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let info of meshInfos" [geometry]="geometry" [material]="material">
        <three-position [x]="info.position.x" [y]="info.position.y" [z]="info.position.z" [multiply]="info.position.multiply"></three-position>
        <three-rotation [x]="info.rotation.x" [y]="info.rotation.y" [z]="info.rotation.z"></three-rotation>
        <three-scale [multiply]="info.scale"></three-scale>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
