<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - instancing demo (single triangle)
  <div id="notSupported" style="display:none">Sorry your graphics card + browser does not support hardware instancing</div>
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="50" [near]="1" [far]="10">
    <three-position [x]="0" [y]="0" [z]="2"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'InstancedBufferGeometry'"
        [instanceCount]="50000"
        [position]="positions"
        [offset]="offsets"
        [color]="colors"
        [orientationStart]="orientationsStart"
        [orientationEnd]="orientationsEnd"
      ></three-geometry>
      <three-material 
        [type]="'RawShaderMaterial'"
        [uniforms]="{ 
          time : { type : 'number', value : 1.0 },
          sineTime : { type : 'number', value : 1.0 }
        }"
        [vertexShader]="vertexShader"
        [fragmentShader]="fragmentShader"
        [side]="'double'"
        [transparent]="true"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
