<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - texture filtering example<br/>
  painting by <a href="http://en.wikipedia.org/wiki/Basket_of_Fruit_%28Caravaggio%29">Caravaggio</a>
</div>
<div class="bottom">
  <div id="lbl_left" class="lbl">
		Floor <span class="g">(128x128)</span><br/>
		mag: <span class="c">Linear</span><br/>
		min: <span class="c">LinearMipmapLinear</span><br/>
		<br/>
		Painting <span class="g">(748x600)</span><br/>
		mag: <span class="c">Linear</span><br/>
		min: <span class="c">Linear</span>
  </div>
  <div id="lbl_right" class="lbl">
		Floor <br/>
		mag: <span class="c">Nearest</span><br/>
		min: <span class="c">Nearest</span><br/>
		<br/>
		Painting <br/>
		mag: <span class="c">Nearest</span><br/>
		min: <span class="c">Nearest</span>
	</div>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-composer [scissorTest]="true" [scissorX]="0" [scissorY]="0" [scissorWidth]="'50%-1'" [scissorHeight]="'100%'" [scene]="scene1" [camera]="camera">
    <three-pass #renderPass [type]="'RenderPass'" [scene]="scene1" [camera]="camera"></three-pass>
    <three-pass [refer]="copyPass"></three-pass>
  </three-composer>
  <three-composer [scissorTest]="true" [scissorX]="'50%'" [scissorY]="0" [scissorWidth]="'50%'" [scissorHeight]="'100%'" [scene]="scene2" [camera]="camera">
    <three-pass #renderPass [type]="'RenderPass'" [scene]="scene2" [camera]="camera"></three-pass>
    <three-pass [refer]="copyPass"></three-pass>
  </three-composer>
  <three-control [type]="'plane'"></three-control>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera #camera [type]="'perspective'" [fov]="35" [near]="1" [far]="5000">
    <three-position [x]="0" [y]="0" [z]="1500"></three-position>
  </three-camera>
  <three-shared>
    <three-pass #copyPass [type]="'ShaderPass'" [shader]="'CopyShader'"></three-pass>
    <three-geometry
      #geometry
      [type]="'PlaneGeometry'"
      [width]="100"
      [height]="100"
    ></three-geometry>
    <three-texture 
      #texturePainting1 
      [image]="'textures/758px-Canestra_di_frutta_(Caravaggio).jpg'"
      [minFilter]="'LinearFilter'"
      [magFilter]="'LinearFilter'"
      [mapping]="'UVMapping'"
    ></three-texture>
    <three-texture 
      #texturePainting2 
      [image]="'textures/758px-Canestra_di_frutta_(Caravaggio).jpg'"
      [minFilter]="'NearestFilter'"
      [magFilter]="'NearestFilter'"
    ></three-texture>
    <three-texture 
      #textureCanvas1 
      [program]="'checkpattern'"
      [magFilter]="'LinearFilter'"
      [minFilter]="'LinearMipmapLinearFilter'"
      [wrap]="'RepeatWrapping'"
      [repeat]="1000"
      [width]="128"
      [height]="128"
      [programParam]="{ color : '#fff'}"
    ></three-texture>
    <three-texture 
      #textureCanvas2 
      [program]="'checkpattern'"
      [magFilter]="'NearestFilter'"
      [minFilter]="'NearestFilter'"
      [wrap]="'RepeatWrapping'"
      [repeat]="1000"
      [width]="128"
      [height]="128"
      [programParam]="{ color : '#fff'}"
    ></three-texture>
  </three-shared>
  <three-scene #scene1 [background]="'0x000000'">
    <three-fog [color]="'0x000000'" [near]="1500" [far]="4000"></three-fog>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh [geometry]="geometry">
        <three-position [x]="0" [y]="0" [z]="0"></three-position>
        <three-scale [x]="7.58" [y]="6"></three-scale>
        <three-material [type]="'MeshBasicMaterial'" [color]="'0xffffff'" [map]="texturePainting1"></three-material>
      </three-mesh>
      <three-mesh [geometry]="geometry">
        <three-position [x]="0" [y]="0" [z]="-10"></three-position>
        <three-scale [x]="7.58*1.1" [y]="6*1.1"></three-scale>
        <three-material [type]="'MeshBasicMaterial'" [color]="'0x000000'"></three-material>
      </three-mesh>
      <three-mesh #meshShadow [geometry]="geometry">
        <three-position [x]="0" [y]="-1.1*600/2" [z]="-1.1*600/2"></three-position>
        <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
        <three-scale [x]="7.58*1.1" [y]="6*1.1"></three-scale>
        <three-material [type]="'MeshBasicMaterial'" [color]="'0x000000'" [opacity]="0.75" [transparent]="true"></three-material>
      </three-mesh>
    </three-mesh>
    <three-mesh #meshCanvas1 [geometry]="geometry">
      <three-position [x]="0" [y]="- 1.117 * 600 / 2" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-scale [multiply]="1000"></three-scale>
      <three-material [type]="'MeshBasicMaterial'" [map]="textureCanvas1" [side]="'double'" [transparent]="true">
      </three-material>
    </three-mesh>
  </three-scene>
  <three-scene #scene2 [background]="'0x000000'">
    <three-fog [color]="'0x000000'" [near]="1500" [far]="4000"></three-fog>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh [geometry]="geometry">
        <three-position [x]="0" [y]="0" [z]="0"></three-position>
        <three-scale [x]="7.58" [y]="6"></three-scale>
        <three-material [type]="'MeshBasicMaterial'" [color]="'0xffccaa'" [map]="texturePainting2"></three-material>
      </three-mesh>
      <three-mesh [geometry]="geometry">
        <three-position [x]="0" [y]="0" [z]="-10"></three-position>
        <three-scale [x]="7.58*1.1" [y]="6*1.1"></three-scale>
        <three-material [type]="'MeshBasicMaterial'" [color]="'0x000000'"></three-material>
      </three-mesh>
      <three-mesh #meshShadow [geometry]="geometry">
        <three-position [x]="0" [y]="-1.1*600/2" [z]="-1.1*600/2"></three-position>
        <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
        <three-scale [x]="7.58*1.1" [y]="6*1.1"></three-scale>
        <three-material [type]="'MeshBasicMaterial'" [color]="'0x000000'" [opacity]="0.75" [transparent]="true"></three-material>
      </three-mesh>
    </three-mesh>
    <three-mesh #meshCanvas2 [geometry]="geometry">
      <three-position [x]="0" [y]="- 1.117 * 600 / 2" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-scale [multiply]="1000"></three-scale>
      <three-material [type]="'MeshBasicMaterial'" [color]="'0xffccaa'" [map]="textureCanvas2" [side]="'double'" [transparent]="true">
      </three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
