<three-renderer [controlType]="'orbit'" [statsMode]="0" [antialias]="true" [clearColor]="'0xEEEEEE'" [shadowMapEnabled]="true" [guiControl]="controls" [guiParams]="controlsParams" (onRender)="onRender($event)">
    <three-camera [type]="'perspective'" [fov]="45" [near]="0.1" [far]="2000">
        <three-position [x]="-20" [y]="50" [z]="40"></three-position>
        <three-lookat [x]="10" [y]="0" [z]="0"></three-lookat>
    </three-camera>
    <three-scene #scene>
        <three-mesh [type]="'light'" [lightType]="'ambient'" [color]="'0x121212'"></three-mesh>
        <three-mesh [type]="'light'" [lightType]="'directional'" [color]="'0xa0a0a0'" [intensity]="0.2" [castShadow]="true" >
            <three-position [x]="-40" [y]="60" [z]="-10"></three-position>
            <three-lookat [refer]="scene"></three-lookat>
        </three-mesh>
        <three-mesh>
            <three-position [x]="0" [y]="3" [z]="2"></three-position>
            <three-rotation [x]="rotation.x" [y]="rotation.y" [z]="rotation.z"></three-rotation>
            <three-geometry
                [type]="'text'"
                [text]="text"
                [size]="controls.size"
                [height]="controls.height"
                [weight]="controls.weight"
                [font]="controls.font"
                [bevelThickness]="controls.bevelThickness"
                [bevelSize]="controls.bevelSize"
                [bevelSegments]="controls.bevelSegments"
                [bevelEnabled]="controls.bevelEnabled"
                [curveSegments]="controls.curveSegments"
                [steps]="controls.steps"
            ></three-geometry>
            <three-material [type]="'MeshNormal'"
                [color]="'0x00ff00'"
                [opacity]="0.7"
                [transparent]="true"
                [side]="'double'"
                [wireframe]="controls.wireframe"
            ></three-material>
        </three-mesh>
    </three-scene>
</three-renderer>