<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - postprocessing - FXAA<br />
  Left scene processed with FXAA, right scene is rendered without anti-aliasing.
</div>
<three-renderer
  [controlType]="'orbit'"
  [autoRotate]="true"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera #camera [type]="'perspective'" [fov]="45" [near]="1" [far]="2000">
    <three-position [x]="0" [y]="0" [z]="500"></three-position>
  </three-camera>
  <three-composer [scene]="scene" [camera]="camera" [viewport]="true" [x]="0" [y]="0" [width]="'50%'" [height]="'100%'" [viewportAspect]="true" [clear]="true">
    <three-pass [refer]="renderPass"></three-pass>
    <three-pass [type]="'ShaderPass'" [shader]="'FXAAShader'"></three-pass>
  </three-composer>
  <three-composer [scene]="scene" [camera]="camera" [viewport]="true" [x]="'50%'" [y]="0" [width]="'50%'" [height]="'100%'" [viewportAspect]="true">
    <three-pass [refer]="renderPass"></three-pass>
    <three-pass [type]="'ShaderPass'" [shader]="'CopyShader'"></three-pass>
  </three-composer>
  <three-scene #scene [background]="'0xffffff'">
    <three-fog [color]="'0xcccccc'" [near]="100" [far]="1500"></three-fog>
    <three-light
      [type]="'Hemisphere'"
      [skyColor]="'0xffffff'"
      [groundColor]="'0x444444'"
    >
      <three-position [x]="0" [y]="1000" [z]="0"></three-position>
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="0.8"
    >
      <three-position [x]="-3000" [y]="1000" [z]="-1000"></three-position>
    </three-light>
    <three-shared>
      <three-pass #renderPass [type]="'RenderPass'"></three-pass>
      <three-geometry
        #geometry
        [type]="'TetrahedronGeometry'"
        [radius]="10"
      ></three-geometry>
      <three-material 
        #material
        [type]="'MeshStandardMaterial'" 
        [color]="'0xee0808'"
        [flatShading]="true"
      ></three-material>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let info of meshInfos" [geometry]="geometry" [material]="material">
        <three-position [x]="info.position.x" [y]="info.position.y" [z]="info.position.z"></three-position>
        <three-rotation [x]="info.rotation.x" [y]="info.rotation.y" [z]="info.rotation.z"></three-rotation>
        <three-scale [multiply]="info.scale"></three-scale>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
