<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - webgl_performance
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  [useEvent]="'mousemove'"
  (eventListener)="onMouseMove($event)"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="60" [near]="1" [far]="10000" (onLoad)="setCamera($event)">
    <three-position [x]="0" [y]="0" [z]="3200"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0xffffff'">
    <three-shared>
      <three-geometry
        #geometry
        [storageName]="'models/json/suzanne_buffergeometry.json'"
        [computeVertexNormals]="true"
      ></three-geometry>
      <three-material #material [type]="'MeshNormal'" ></three-material>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let info of meshInfos" [geometry]="geometry" [material]="material">
        <three-position [x]="info.position.x" [y]="info.position.y" [z]="info.position.z"></three-position>
        <three-rotation [x]="info.rotation.x" [y]="info.rotation.y" [z]="info.rotation.z"></three-rotation>
        <three-scale [x]="info.scale.x" [y]="info.scale.y" [z]="info.scale.z"></three-scale>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
