<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - webgl ocean
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="55" [near]="1" [far]="20000">
    <three-position [x]="30" [y]="30" [z]="100"></three-position>
  </three-camera>
  <three-scene #scene [environment]="sky">
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="1" [z]="0"></three-position>
      <three-geometry
        [type]="'box'"
        [width]="30"
        [height]="30"
        [depth]="30"
      ></three-geometry>
      <three-material [type]="'MeshStandard'" [roughness]="0"></three-material>
    </three-mesh>
    <three-mesh #sky [type]="'sky'"
      [uniforms]="{
        sunPosition : { type : 'v3', value : sunDirection },
        turbidity : { type : 'number', value : 10 },
        rayleigh : { type : 'number', value : 2 },
        mieCoefficient : { type : 'number', value : 0.005 },
        mieDirectionalG : { type : 'number', value : 0.8 }
      }"
    >
      <three-scale [multiply]="10000"></three-scale>
    </three-mesh>
    <three-mesh [type]="'water'" 
      [sunColor]="'0xffffff'"
      [waterColor]="'0x001e0f'"
      [sunDirection]="sunDirection"
      [textureWidth]="512"
      [textureHeight]="512"
      [alpha]="controls.water.alpha"
      [distortionScale]="controls.water.distortionScale"
      [uniforms]="{
        size : { type : 'number', value : controls.water.size }
      }"
    >
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'Plane'"
        [width]="10000"
        [height]="10000"
      ></three-geometry>
      <three-texture [textureType]="'waterNormals'" [image]="'textures/waternormals.jpg'" [wrapS]="'repeat'" [wrapT]="'repeat'"></three-texture>
      <three-controller [type]="'uniforms'" [controlParams]="{ key : 'time', speed : 0.1 }"></three-controller>
    </three-mesh>
  </three-scene>
</three-renderer>
