<div id="info" class="dark">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
  <a href="https://google.github.io/filament/Filament.md.html#toc4.7.2" target="_blank" rel="noopener">White Furnace</a> energy conservation test by <a href="https://jsantell.com/" target="_blank" rel="noopener">Jordan Santell</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  [useEvent]="'mouseout,mouseover'"
  (eventListener)="mouseEvent($event)"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="40" [near]="1" [far]="30">
    <three-position [x]="0" [y]="0" [z]="18"></three-position>
  </three-camera>
  <three-scene #scene [background]="radianceMap">
    <three-shared>
      <three-geometry
        #geometry
        [type]="'SphereGeometry'"
        [radius]="0.4"
        [widthSegments]="32"
        [heightSegments]="32"
      ></three-geometry>
      <three-tools #radianceMap [type]="'pmremtexture'" [background]="'0xcccccc'"></three-tools>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let info of objectInfos" [geometry]="geometry">
        <three-position [x]="info.x" [y]="info.y" [z]="0"></three-position>
        <three-material 
          [type]="'MeshPhysicalMaterial'" 
          [roughness]="info.roughness" 
          [metalness]="info.metalness"
          [color]="'0xffffff'"
          [envMap]="radianceMap"
          [envMapIntensity]="1"
          [reflectivity]="1"
        ></three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
