<div class="info dark">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
	<a
		href="https://google.github.io/filament/Filament.md.html#toc4.7.2"
		target="_blank"
		rel="noopener"
		>White Furnace</a
	>
	energy conservation test by
	<a href="https://jsantell.com/" target="_blank" rel="noopener"
		>Jordan Santell</a
	>
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, enableDamping: true }"
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	[useEvent]="'mouseout,mouseover'"
	(eventListener)="mouseEvent($event)"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="40" [near]="1" [far]="30">
		<ngx3js-position [x]="0" [y]="0" [z]="18"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene [background]="radianceMap">
		<ngx3js-shared>
			<ngx3js-geometry
				#geometry
				[type]="'SphereGeometry'"
				[radius]="0.4"
				[widthSegments]="32"
				[heightSegments]="32"
			></ngx3js-geometry>
			<ngx3js-tools
				#radianceMap
				[type]="'pmremtexture'"
				[background]="'0xcccccc'"
			></ngx3js-tools>
		</ngx3js-shared>
		<ngx3js-mesh (onLoad)="setMesh($event)">
			<ngx3js-mesh *ngFor="let info of objectInfos" [geometry]="geometry">
				<ngx3js-position [x]="info.x" [y]="info.y" [z]="0"></ngx3js-position>
				<ngx3js-material
					[type]="'MeshPhysicalMaterial'"
					[roughness]="info.roughness"
					[metalness]="info.metalness"
					[color]="'0xffffff'"
					[envMap]="radianceMap"
					[envMapIntensity]="1"
					[reflectivity]="1"
				></ngx3js-material>
			</ngx3js-mesh>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
