<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - webgl_postprocessing_masking
</div>
<ngx3js-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [autoClear]="false"
  [clearColor]="'0xe0e0e0'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <ngx3js-composer 
    [scene]="scene1"
    [camera]="camera"
    [useRenderTarget]="true" 
    [minFilter]="'LinearFilter'" 
    [magFilter]="'LinearFilter'" 
    [format]="'RGBFormat'"
    [stencilBuffer]="true"
    [clear]="true"
  >
    <ngx3js-pass [type]="'ClearPass'"></ngx3js-pass>
    <ngx3js-pass [type]="'MaskPass'" [scene]="scene1" [camera]="camera"></ngx3js-pass>
    <ngx3js-pass [type]="'TexturePass'" [texture]="texture1"></ngx3js-pass>
    <ngx3js-pass [type]="'ClearMaskPass'"></ngx3js-pass>
    <ngx3js-pass [type]="'MaskPass'" [scene]="scene2" [camera]="camera"></ngx3js-pass>
    <ngx3js-pass [type]="'TexturePass'" [texture]="texture2"></ngx3js-pass>
    <ngx3js-pass [type]="'ClearMaskPass'"></ngx3js-pass>
    <ngx3js-pass [type]="'ShaderPass'" [shader]="'CopyShader'"></ngx3js-pass>
  </ngx3js-composer>
  <ngx3js-shared>
    <ngx3js-texture #texture1 [image]="'textures/758px-Canestra_di_frutta_(Caravaggio).jpg'" [minFilter]="'LinearFilter'"></ngx3js-texture>
    <ngx3js-texture #texture2 [image]="'textures/2294472375_24a3b8ef46_o.jpg'"></ngx3js-texture>
    <ngx3js-pass #clearMaskPass [type]="'ClearMaskPass'"></ngx3js-pass>
  </ngx3js-shared>
  <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
  <ngx3js-camera #camera [type]="'perspective'" [fov]="50" [near]="1" [far]="1000">
    <ngx3js-position [x]="0" [y]="0" [z]="10"></ngx3js-position>
  </ngx3js-camera>
  <ngx3js-scene #scene1>
    <ngx3js-mesh (onLoad)="setBox($event)">
      <ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
      <ngx3js-geometry
        [type]="'box'"
        [width]="4"
        [height]="4"
        [depth]="4"
      ></ngx3js-geometry>
    </ngx3js-mesh>
  </ngx3js-scene>
  <ngx3js-scene #scene2>
    <ngx3js-mesh (onLoad)="setTorus($event)">
      <ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
      <ngx3js-geometry
        [type]="'TorusGeometry'"
        [radius]="3"
        [tube]="1"
        [radialSegments]="16"
        [tubularSegments]="32"
      ></ngx3js-geometry>
    </ngx3js-mesh>
  </ngx3js-scene>

</ngx3js-renderer>
