<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - webgl_postprocessing_masking
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [autoClear]="false"
  [clearColor]="'0xe0e0e0'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-composer 
    [scene]="scene1"
    [camera]="camera"
    [useRenderTarget]="true" 
    [minFilter]="'LinearFilter'" 
    [magFilter]="'LinearFilter'" 
    [format]="'RGBFormat'"
    [stencilBuffer]="true"
    [clear]="true"
  >
    <three-pass [type]="'ClearPass'"></three-pass>
    <three-pass [type]="'MaskPass'" [scene]="scene1" [camera]="camera"></three-pass>
    <three-pass [type]="'TexturePass'" [texture]="texture1"></three-pass>
    <three-pass [type]="'ClearMaskPass'"></three-pass>
    <three-pass [type]="'MaskPass'" [scene]="scene2" [camera]="camera"></three-pass>
    <three-pass [type]="'TexturePass'" [texture]="texture2"></three-pass>
    <three-pass [type]="'ClearMaskPass'"></three-pass>
    <three-pass [type]="'ShaderPass'" [shader]="'CopyShader'"></three-pass>
  </three-composer>
  <three-shared>
    <three-texture #texture1 [image]="'textures/758px-Canestra_di_frutta_(Caravaggio).jpg'" [minFilter]="'LinearFilter'"></three-texture>
    <three-texture #texture2 [image]="'textures/2294472375_24a3b8ef46_o.jpg'"></three-texture>
    <three-pass #clearMaskPass [type]="'ClearMaskPass'"></three-pass>
  </three-shared>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera #camera [type]="'perspective'" [fov]="50" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="0" [z]="10"></three-position>
  </three-camera>
  <three-scene #scene1>
    <three-mesh (onLoad)="setBox($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'box'"
        [width]="4"
        [height]="4"
        [depth]="4"
      ></three-geometry>
    </three-mesh>
  </three-scene>
  <three-scene #scene2>
    <three-mesh (onLoad)="setTorus($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'TorusGeometry'"
        [radius]="3"
        [tube]="1"
        [radialSegments]="16"
        [tubularSegments]="32"
      ></three-geometry>
    </three-mesh>
  </three-scene>

</three-renderer>
