<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - morph targets - horse<br/>
  model by <a href="https://mirada.com/" target="_blank" rel="noopener">mirada</a> from <a href="http://www.ro.me" target="_blank" rel="noopener">rome</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [autoRotate]="true"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="150" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="50" [near]="1" [far]="10000">
    <three-position [x]="600" [y]="300" [z]="0"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0xf0f0f0'">
    <three-light
      [type]="'directional'"
      [color]="'0xefefff'"
      [intensity]="1.5"
    >
      <three-position [x]="1" [y]="1" [z]="1" [normalize]="true"></three-position>
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffefef'"
      [intensity]="1.5"
    >
      <three-position [x]="-1" [y]="-1" [z]="-1" [normalize]="true"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'models/gltf/Horse.glb'">
      <three-scale [x]="1.5" [y]="1.5" [z]="1.5"></three-scale>
      <three-mixer [action]="'run'">
        <three-clip [index]="0" [name]="'run'"></three-clip>
      </three-mixer>
    </three-mesh>
  </three-scene>
</three-renderer>
