<div class="info dark">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - anisotropic texture filtering example
  todo
</div>
<div class="bottom">
  <div id="lbl_left" class="lbl">
		anisotropy: <span class="c" id="val_left">{{anisotropy}}</span><br/>
		</div>

		<div id="lbl_right" class="lbl">
		anisotropy: <span class="c" id="val_right">1</span><br/>
		</div>
</div>
<ngx3js-renderer
  [controlType]="'plane'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
  (onLoad)="setRender($event)"
>
  <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
  <ngx3js-camera #camera [type]="'perspective'" [fov]="35" [near]="1" [far]="25000">
    <ngx3js-position [x]="0" [y]="100" [z]="1500"></ngx3js-position>
  </ngx3js-camera>
  <ngx3js-composer [scissorTest]="true" [scissorX]="0" [scissorY]="0" [scissorWidth]="'50%-1'" [scissorHeight]="'100%'" [scene]="scene1" [camera]="camera">
    <ngx3js-pass #renderPass [type]="'RenderPass'" [scene]="scene1" [camera]="camera"></ngx3js-pass>
    <ngx3js-pass #copyPass [type]="'ShaderPass'" [shader]="'CopyShader'"></ngx3js-pass>
  </ngx3js-composer>
  <ngx3js-composer [scissorTest]="true" [scissorX]="'50%'" [scissorY]="0" [scissorWidth]="'50%'" [scissorHeight]="'100%'" [scene]="scene2" [camera]="camera">
    <ngx3js-pass #renderPass [type]="'RenderPass'" [scene]="scene2" [camera]="camera"></ngx3js-pass>
    <ngx3js-pass #copyPass [type]="'ShaderPass'" [shader]="'CopyShader'"></ngx3js-pass>
  </ngx3js-composer>
  <ngx3js-scene #scene1 [background]="'0xf2f7ff'">
    <ngx3js-fog [color]="'0xf2f7ff'" [near]="1" [far]="25000"></ngx3js-fog>
    <ngx3js-light
      [type]="'AmbientLight'"
      [color]="'0xeef0ff'"
    ></ngx3js-light>
    <ngx3js-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="2"
    >
      <ngx3js-position [x]="1" [y]="1" [z]="1"></ngx3js-position>
    </ngx3js-light>
    <ngx3js-mesh (onLoad)="setMesh($event)">
      <ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
      <ngx3js-scale [multiply]="1000"></ngx3js-scale>
      <ngx3js-rotation [x]="-90" [y]="0" [z]="0"></ngx3js-rotation>
      <ngx3js-geometry
        [type]="'PlaneGeometry'"
        [width]="100"
        [height]="100"
      ></ngx3js-geometry>
      <ngx3js-material [type]="'MeshPhongMaterial'" [color]="'0xffffff'">
        <ngx3js-texture [image]="'textures/crate.gif'" [anisotropy]="anisotropy" [wrap]="'RepeatWrapping'" [repeat]="512"></ngx3js-texture>
      </ngx3js-material>
    </ngx3js-mesh>
  </ngx3js-scene>
  <ngx3js-scene #scene2 [background]="'0xf2f7ff'">
    <ngx3js-fog [color]="'0xf2f7ff'" [near]="1" [far]="25000"></ngx3js-fog>
    <ngx3js-light
      [type]="'AmbientLight'"
      [color]="'0xeef0ff'"
    ></ngx3js-light>
    <ngx3js-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="2"
    >
      <ngx3js-position [x]="1" [y]="1" [z]="1"></ngx3js-position>
    </ngx3js-light>
    <ngx3js-mesh (onLoad)="setMesh($event)">
      <ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
      <ngx3js-scale [multiply]="1000"></ngx3js-scale>
      <ngx3js-rotation [x]="-90" [y]="0" [z]="0"></ngx3js-rotation>
      <ngx3js-geometry
        [type]="'PlaneGeometry'"
        [width]="100"
        [height]="100"
      ></ngx3js-geometry>
      <ngx3js-material [type]="'MeshPhongMaterial'" [color]="'0xffffff'">
        <ngx3js-texture [image]="'textures/crate.gif'" [anisotropy]="1" [wrap]="'RepeatWrapping'" [repeat]="512"></ngx3js-texture>
      </ngx3js-material>
    </ngx3js-mesh>
  </ngx3js-scene>
</ngx3js-renderer>
