<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - interactive - raycasting - points 
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [controlAutoRotate]="true"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  [useEvent]="['move']"
  (eventListener)="onMouseMove($event)"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="0.1" [far]="100000" 
    [raycasterThreshold]="0.1"
    (onLoad)="setCamera($event)">
    <three-position [x]="10" [y]="10" [z]="10"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene>
    <three-shared>
      <three-geometry
        #sphereGeometry
        [type]="'Sphere'"
        [radius]="0.1"
        [widthSegments]="32"
        [heightSegments]="32"
      ></three-geometry>
      <three-material
        #sphereMaterial
        [type]="'MeshBasic'"
        [color]="'0xff0000'"
      ></three-material>
    </three-shared>
    <three-mesh (onLoad)="setSphere($event)">
      <three-mesh *ngFor="let info of sphereIndex" [geometry]="sphereGeometry" [material]="sphereMaterial"></three-mesh>
    </three-mesh>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh [type]="'Points'">
        <three-scale [x]="5" [y]="10" [z]="10"></three-scale>
        <three-position [x]="-5" [y]="0" [z]="0"></three-position>
        <three-geometry
          [type]="'buffer'"
          [attributes]="pointCloudInfo"
        ></three-geometry>
        <three-material type="Points" [size]="0.05" [vertexColors]="true"></three-material>
      </three-mesh>
      <three-mesh [type]="'Points'">
        <three-scale [x]="5" [y]="10" [z]="10"></three-scale>
        <three-position [x]="0" [y]="0" [z]="0"></three-position>
        <three-geometry
          [type]="'buffer'"
          [attributes]="indexedPointcloud"
        ></three-geometry>
        <three-material type="Points" [size]="0.05" [vertexColors]="true"></three-material>
      </three-mesh>
      <three-mesh [type]="'Points'">
        <three-scale [x]="5" [y]="10" [z]="10"></three-scale>
        <three-position [x]="5" [y]="0" [z]="0"></three-position>
        <three-geometry
          [type]="'buffer'"
          [attributes]="indexedWithOffsetPointcloud"
          [addGroup]="true"
        ></three-geometry>
        <three-material type="Points" [size]="0.05" [vertexColors]="true"></three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
