<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - Webgl Trails
</div>
<three-renderer
  [controlType]="'orbit'"
  [autoRotate]="true"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [preserveDrawingBuffer]="true"
  [autoClearColor]="false"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="60" [near]="0.1" [far]="10">
    <three-position [x]="0" [y]="0" [z]="1"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-mesh (onLoad)="setMesh($event)" [type]="'Points'">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'BufferGeometry'"
        [position]="positions"
        [color]="colors"
      ></three-geometry>
      <three-material [type]="'PointsMaterial'" [size]="4" [vertexColors]="true" [depthTest]="true" [sizeAttenuation]="false"></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
