<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - GCode loader
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true , autoRotate : true , minDistance: 10 , maxDistance: 100 }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="1" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="60" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="0" [z]="70"></three-position>
    <three-lookat [x]="0" [y]="1" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'models/gcode/benchy.gcode'">
      <three-position [x]="-100" [y]="-20" [z]="100"></three-position>
    </three-mesh>
  </three-scene>
</three-renderer>
