<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
  PLY loader test by <a href="https://github.com/menway" target="_blank" rel="noopener">Wei Meng</a>.<br/>
  Image from <a href="http://people.sc.fsu.edu/~jburkardt/data/ply/ply.html">John Burkardt</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [autoRotate]="true"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="-0.1" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="35" [near]="1" [far]="15">
    <three-position [x]="3" [y]="0.15" [z]="3"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0x72645b'">
    <three-fog [color]="'0x72645b'" [near]="2" [far]="15"></three-fog>
    <three-light
      [type]="'Hemisphere'"
      [skyColor]="'0x443333'"
      [groundColor]="'0x111122'"
    >
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="1.35"
      [castShadow]="true"
      [shadowCameraTop]="1"
      [shadowCameraBottom]="-1"
      [shadowCameraLeft]="-1"
      [shadowCameraRight]="1"
      [shadowCameraNear]="1"
      [shadowCameraFar]="4"
      [shadowMapSizeWidth]="1024"
      [shadowMapSizeHeight]="1024"
    >
      <three-position [x]="1" [y]="1" [z]="1"></three-position>
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffaa00'"
      [intensity]="1"
      [castShadow]="true"
      [shadowCameraTop]="1"
      [shadowCameraBottom]="-1"
      [shadowCameraLeft]="-1"
      [shadowCameraRight]="1"
      [shadowCameraNear]="1"
      [shadowCameraFar]="4"
      [shadowMapSizeWidth]="1024"
      [shadowMapSizeHeight]="1024"
    >
      <three-position [x]="0.5" [y]="1" [z]="-1"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh [storageName]="'models/ply/ascii/dolphins.ply'" [receiveShadow]="true">
        <three-position [x]="-0.2" [y]="0" [z]="0.3"></three-position>
        <three-scale [multiply]="0.001"></three-scale>
        <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
        <three-material [type]="'MeshStandard'" [color]="'0x0055ff'" [flatShading]="true"></three-material>
      </three-mesh>
      <three-mesh [storageName]="'models/ply/binary/Lucy100k.ply'" [receiveShadow]="true">
        <three-position [x]="-0.2" [y]="-0.02" [z]="-0.2"></three-position>
        <three-scale [multiply]="0.0006"></three-scale>
        <three-material [type]="'MeshStandard'" [color]="'0x0055ff'" [flatShading]="true"></three-material>
      </three-mesh>
    </three-mesh>
    <three-mesh [receiveShadow]="true">
      <three-position [x]="0" [y]="-0.5" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'Plane'"
        [width]="40"
        [height]="40"
      ></three-geometry>
      <three-material
        [type]="'MeshPhong'"
        [color]="'0x999999'"
        [specular]="'0x101010'"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
