<div id="info">
  <a [href]="'https://threejs.org'" [target]="'_blank'" [rel]="'noopener'">three.js</a> - Texture loader using ImageBitmap
</div>
<three-renderer
  [controlType]="'orbit'"
  [autoRotate]="true"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="30" [near]="1" [far]="1500">
    <three-position [x]="0" [y]="4" [z]="7"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene>
    <three-shared>
      <three-material #material1 [type]="'MeshBasic'">
        <three-texture [loaderType]="'image'" [image]="'textures/planets/earth_atmos_2048.jpg'"></three-texture>
      </three-material>
      <three-material #material2 [type]="'MeshBasic'" [color]="'0xff8888'">
        <three-texture [loaderType]="'ImageBitmap'" [image]="'textures/planets/earth_atmos_2048.jpg'"></three-texture>
      </three-material>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let cube of cubeInfos" [material]="cube.material == 'material1' ? material1 : material2">
        <three-position [x]="cube.position.x" [y]="cube.position.y" [z]="cube.position.z"></three-position>
        <three-rotation [x]="cube.rotation.x" [y]="cube.rotation.y" [z]="cube.rotation.z"></three-rotation>
        <three-geometry
          [type]="'box'"
          [width]="1"
          [height]="1"
          [depth]="1"
        ></three-geometry>
      </three-mesh>
    </three-mesh>
    <three-helper [type]="'grid'" [size]="4" [divisions]="12" [color1]="'0x888888'" [color2]="'0x444444'"></three-helper>
  </three-scene>
</three-renderer>
