<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - Texture loader using ImageBitmap
</div>
<ngx3js-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true , autoRotate : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
  <ngx3js-camera [type]="'perspective'" [fov]="30" [near]="1" [far]="1500">
    <ngx3js-position [x]="0" [y]="4" [z]="7"></ngx3js-position>
    <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
  </ngx3js-camera>
  <ngx3js-scene #scene>
    <ngx3js-shared>
      <ngx3js-material #material1 [type]="'MeshBasic'">
        <ngx3js-texture [loaderType]="'image'" [image]="'textures/planets/earth_atmos_2048.jpg'"></ngx3js-texture>
      </ngx3js-material>
      <ngx3js-material #material2 [type]="'MeshBasic'" [color]="'0xff8888'">
        <ngx3js-texture [loaderType]="'ImageBitmap'" [image]="'textures/planets/earth_atmos_2048.jpg'"></ngx3js-texture>
      </ngx3js-material>
    </ngx3js-shared>
    <ngx3js-mesh (onLoad)="setMesh($event)">
      <ngx3js-mesh *ngFor="let cube of cubeInfos" [material]="cube.material == 'material1' ? material1 : material2">
        <ngx3js-position [x]="cube.position.x" [y]="cube.position.y" [z]="cube.position.z"></ngx3js-position>
        <ngx3js-rotation [x]="cube.rotation.x" [y]="cube.rotation.y" [z]="cube.rotation.z"></ngx3js-rotation>
        <ngx3js-geometry
          [type]="'box'"
          [width]="1"
          [height]="1"
          [depth]="1"
        ></ngx3js-geometry>
      </ngx3js-mesh>
    </ngx3js-mesh>
    <ngx3js-helper [type]="'grid'" [size]="4" [divisions]="12" [color1]="'0x888888'" [color2]="'0x444444'"></ngx3js-helper>
  </ngx3js-scene>
</ngx3js-renderer>
