<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - buffergeometry - indexed
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [autoRotate]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="27" [near]="1" [far]="3500">
    <three-position [x]="0" [y]="0" [z]="64"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0x050505'">
    <three-light
      [type]="'Hemisphere'"
    ></three-light>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'BufferGeometry'"
        [index]="indices"
        [position]="vertices"
        [normal]="normals"
        [color]="colors"
      ></three-geometry>
      <three-material [type]="'MeshPhongMaterial'" [side]="'double'" [vertexColors]="true"></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
