<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> css2d - label</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [cssType]="'css2d'"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="0.1" [far]="200">
    <three-position [x]="10" [y]="5" [z]="20"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="1"
    >
      <three-position [x]="0" [y]="0" [z]="1"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh #earth>
        <three-position [x]="0" [y]="0" [z]="0"></three-position>
        <three-geometry
          [type]="'SphereGeometry'"
          [radius]="1"
          [widthSegments]="16"
          [heightSegments]="16"
        ></three-geometry>
        <three-material 
          [type]="'MeshPhongMaterial'" 
          [specular]="'0x333333'"
          [shininess]="5"
          [map]="'textures/planets/earth_atmos_2048.jpg'"
          [specularMap]="'textures/planets/earth_specular_2048.jpg'"
          [normalMap]="'textures/planets/earth_normal_2048.jpg'"
          [normalScale]="0.85"
        ></three-material>
        <three-mesh [type]="'css2d'" [cssStyle]="{ 
          textContent : 'Earth' , 
          className : 'label'
        }">
          <three-position [x]="0" [y]="1" [z]="0"></three-position>
        </three-mesh>
      </three-mesh>
      <three-mesh #moon (onLoad)="setMoon($event)">
        <three-position [x]="0" [y]="0" [z]="0"></three-position>
        <three-geometry
          [type]="'SphereGeometry'"
          [radius]="0.27"
          [widthSegments]="16"
          [heightSegments]="16"
        ></three-geometry>
        <three-material 
          [shininess]="5"
          [map]="'textures/planets/moon_1024.jpg'"
        ></three-material>
        <three-mesh [type]="'css2d'" [cssStyle]="{ 
          textContent : 'Moon' , 
          className : 'label'
        }">
          <three-position [x]="0" [y]="0.27" [z]="0"></three-position>
        </three-mesh>
      </three-mesh>
    </three-mesh>
    <three-helper [type]="'AxesHelper'" [size]="5"></three-helper>
  </three-scene>
</three-renderer>
