#docs {
  #panel {
    #language {
      font-family: 'Roboto Mono', monospace;
      font-size: 1rem;
      font-weight: 500;
      color: var(--text-color);
      border: 0px;
      background-image: url(/assets/examples/files/ic_arrow_drop_down_black_24dp.svg);
      background-size: var(--icon-size);
      background-repeat: no-repeat;
      background-position: right center;
      background-color: var(--background-color);
      padding: 2px 24px 4px 24px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin-right: 10px;
      text-align-last: right;
    }

    #language:focus {
      outline: none;
    }

    h2 {
      padding: 0;
      margin: 16px 0;
      font-size: calc(var(--font-size) - 1px);
      line-height: var(--line-height);
      font-weight: 500;
      color: var(--color-blue);
    }
    h3 {
      margin: 0;
      font-weight: 500;
      font-size: calc(var(--font-size) - 1px);
      line-height: var(--line-height);
      color: var(--secondary-text-color);
    }
    #content a:hover,
    #content a:hover .spacer,
    #content .selected > a {
      color: var(--color-blue);
    }
    #content .selected > a {
      text-decoration: underline;
    }
  }
}
