<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - morph targets<br/>
  by <a href="https://discoverthreejs.com/" target="_blank" rel="noopener">Discover three.js</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-scene #scene [background]="'0x8FBCD4'">
    <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="50">
      <three-position [x]="0" [y]="0" [z]="20"></three-position>
      <three-light
        [type]="'point'"
        [color]="'0xffffff'"
        [intensity]="1"
      >
      </three-light>
    </three-camera>
    <three-light
      [type]="'Ambient'"
      [color]="'0x8FBCD4'"
      [intensity]="0.4"
    >
    </three-light>
    <three-shared>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'box'"
        [width]="2"
        [height]="2"
        [depth]="2"
        [widthSegments]="32"
        [heightSegments]="32"
        [depthSegments]="32"
        (onLoad)="setGeometry($event)"
      ></three-geometry>
      <three-material [type]="'MeshPhong'" [color]="'0xff0000'" [flatShading]="true" [morphTargets]="true"></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
