<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - materials - clearcoat
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  [toneMapping]="'ACESFilmicToneMapping'"
  [toneMappingExposure]="1.25"
  [outputEncoding]="'sRGBEncoding'"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="27" [near]="1" [far]="10000">
    <three-position [x]="0" [y]="0" [z]="1000"></three-position>
  </three-camera>
  <three-scene #scene [background]="hdrCubeMap" >
    <three-shared>
      <three-texture #hdrCubeMap [image]="'textures/cube/pisaHDR/'" [cubeImage]="['','hdr']" [loaderType]="'hdrcubetexture'" [cubeType]="'cubemap'"></three-texture>
      <three-geometry
        #geometry
        [type]="'SphereGeometry'"
        [radius]="80"
        [widthSegments]="64"
        [heightSegments]="32"
      ></three-geometry>
      <three-texture #diffuse [image]="'textures/carbon/Carbon.png'" [encoding]="'sRGBEncoding'" [wrap]="'RepeatWrapping'" [repeat]="10"></three-texture>
      <three-texture #normalMap [image]="'textures/carbon/Carbon_Normal.png'" [wrap]="'RepeatWrapping'"></three-texture>
      <three-texture #normalMap2 [image]="'textures/water/Water_1_M_Normal.jpg'"></three-texture>
      <three-texture #normalMap3 [canvas]="'FlakesTexture'" [wrap]="'RepeatWrapping'" [repeatX]="10" [repeatY]="6" [anisotropy]="16"></three-texture>
      <three-texture #normalMap4 [image]="'textures/golfball.jpg'"></three-texture>
      <three-texture #clearcoatNormalMap [image]="'textures/pbr/Scratched_gold/Scratched_gold_01_1K_Normal.png'"></three-texture>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh (onLoad)="setParticleLight($event)">
        <three-geometry 
          [type]="'SphereGeometry'"
          [radius]="4"
          [widthSegments]="8"
          [heightSegments]="8"
        ></three-geometry>
        <three-material 
          [type]="'MeshBasicMaterial'" 
          [color]="'0xffffff'"
        ></three-material>
        <three-light [type]="'PointLight'" [color]="'0xffffff'" [intensity]="1"></three-light>
      </three-mesh>
      <three-mesh [geometry]="geometry">
        <three-position [x]="-100" [y]="100" [z]="0"></three-position>
        <three-material 
          [type]="'MeshPhysicalMaterial'"
          [clearcoat]="1.0"
          [clearcoatRoughness]="0.1"
          [metalness]="0.9"
          [roughness]="0.5"
          [color]="'0x0000ff'"
          [normalMap]="normalMap3"
          [normalScale]="0.15"
        ></three-material>
      </three-mesh>
      <three-mesh [geometry]="geometry">
        <three-position [x]="100" [y]="100" [z]="0"></three-position>
        <three-material 
          [type]="'MeshPhysicalMaterial'"
          [roughness]="0.5"
          [clearcoat]="1.0"
          [clearcoatRoughness]="0.1"
          [map]="diffuse"
          [normalMap]="normalMap"
        ></three-material>
      </three-mesh>
      <three-mesh [geometry]="geometry">
        <three-position [x]="-100" [y]="-100" [z]="0"></three-position>
        <three-material 
          [type]="'MeshPhysicalMaterial'"
          [metalness]="0.0"
          [roughness]="0.1"
          [clearcoat]="1.0"
          [normalMap]="normalMap4"
          [clearcoatNormalMap]="clearcoatNormalMap"
          [clearcoatNormalScaleX]="2.0"
          [clearcoatNormalScaleY]="-2.0"
        ></three-material>
      </three-mesh>
      <three-mesh [geometry]="geometry">
        <three-position [x]="100" [y]="-100" [z]="0"></three-position>
        <three-material 
          [type]="'MeshPhysicalMaterial'"
          [clearcoat]="1.0"
          [metalness]="1.0"
          [color]="'0xff0000'"
          [normalMap]="normalMap2"
          [normalScale]="0.15"
          [clearcoatNormalMap]="clearcoatNormalMap"
          [clearcoatNormalScaleX]="2.0"
          [clearcoatNormalScaleY]="-2.0"
        ></three-material>
      </three-mesh>

    </three-mesh>
  </three-scene>
</three-renderer>
