<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener noreferrer"
		>three.js</a
	>
	framebuffer to texture
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, enableDamping: true }"
	[statsMode]="0"
	[autoClear]="false"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera
		[type]="'perspective'"
		[fov]="70"
		[near]="1"
		[far]="1000"
		[scene]="scene"
	>
		<ngx3js-position [x]="0" [y]="0" [z]="20"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-camera
		#orthographicCamera
		[type]="'OrthographicCamera'"
		[near]="1"
		[far]="10"
		[scene]="sceneOrtho"
		[orthoSize]="400"
		(onRender)="onBeforeRenderOrthographicCamera($event)"
	>
		<ngx3js-position [x]="0" [y]="0" [z]="10"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene>
		<ngx3js-mesh (onLoad)="setMesh($event)" [type]="'line'">
			<ngx3js-position [x]="0" [y]="1" [z]="0"></ngx3js-position>
			<ngx3js-scale [x]="0.05" [y]="0.05" [z]="0.05"></ngx3js-scale>
			<ngx3js-geometry
				[type]="'BufferGeometry'"
				[onInit]="loadGeometry"
			></ngx3js-geometry>
			<ngx3js-material
				[type]="'LineBasicMaterial'"
				[vertexColors]="true"
			></ngx3js-material>
		</ngx3js-mesh>
	</ngx3js-scene>
	<ngx3js-scene #sceneOrtho>
		<ngx3js-mesh [type]="'Sprite'">
			<ngx3js-position
				[camera]="orthographicCamera"
				[x]="-0.7"
				[y]="0.7"
				[z]="1"
			></ngx3js-position>
			<ngx3js-scale
				[x]="textureSize / 2"
				[y]="textureSize / 2"
				[z]="1"
			></ngx3js-scale>
			<ngx3js-material [type]="'SpriteMaterial'" [side]="'double'">
				<ngx3js-texture
					[type]="'map'"
					[data]="spriteData"
					[width]="textureSize"
					[height]="textureSize"
					[format]="'RGBFormat'"
					(onLoad)="setTexture($event)"
				></ngx3js-texture>
			</ngx3js-material>
		</ngx3js-mesh>
		<ngx3js-mesh [type]="'line'">
			<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-scale
				[x]="textureSize / 2"
				[y]="textureSize / 2"
				[z]="1"
			></ngx3js-scale>
			<ngx3js-geometry
				[type]="'PlaneGeometry'"
				[meshType]="'wireframesimple'"
				[width]="1"
				[height]="1"
			></ngx3js-geometry>
			<ngx3js-material
				[type]="'LineBasicMaterial'"
				[color]="'0xffffff'"
			></ngx3js-material>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
