<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - todo
</div>
<ngx3js-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true , minDistance: 2 , maxDistance: 20 }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0x263238'"
  [shadowMapEnabled]="true"
  [localClippingEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <ngx3js-shared>
    <ngx3js-plane #plane1 (onLoad)="setLocalPlane($event)" [x]="-1" [y]="0" [z]="0" [w]="0"></ngx3js-plane>
    <ngx3js-plane #plane2 (onLoad)="setLocalPlane($event)" [x]="0" [y]="-1" [z]="0" [w]="0"></ngx3js-plane>
    <ngx3js-plane #plane3 (onLoad)="setLocalPlane($event)" [x]="0" [y]="0" [z]="-1" [w]="0"></ngx3js-plane>
  </ngx3js-shared>
  <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
  <ngx3js-camera [type]="'perspective'" [fov]="36" [near]="1" [far]="100">
    <ngx3js-position [x]="2" [y]="2" [z]="2"></ngx3js-position>
    <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
  </ngx3js-camera>
  <ngx3js-scene>
    <ngx3js-light
      [type]="'Ambient'"
      [color]="'0xffffff'"
      [intensity]="0.5"
    >
    </ngx3js-light>
    <ngx3js-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="1"
      [castShadow]="true"
      [shadowCameraTop]="2"
      [shadowCameraBottom]="-2"
      [shadowCameraLeft]="-2"
      [shadowCameraRight]="2"
      [shadowMapSizeWidth]="1024"
      [shadowMapSizeHeight]="1024"
    >
      <ngx3js-helper [type]="'light'" [color]="'0xffffff'" [size]="1"></ngx3js-helper>
      <ngx3js-position [x]="5" [y]="10" [z]="7.5"></ngx3js-position>
    </ngx3js-light>
    <ngx3js-mesh (onLoad)="setMesh($event)" [castShadow]="true" [color]="'0xE91E63'" [metalness]="0.1" [roughness]="0.75" [renderOrder]="6" [usePlaneStencil]="true">
      <ngx3js-helper (onLoad)="setLocalHelper($event)" [type]="'plane'" [visible]="false" [size]="1.3" [color]="'0xffffff'"></ngx3js-helper>
      <ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
      <ngx3js-geometry
        [type]="'TorusKnot'"
        [radius]="0.4"
        [tube]="0.15"
        [radialSegments]="220"
        [tubularSegments]="60"
      ></ngx3js-geometry>
      <ngx3js-material [type]="'MeshStandard'" 
        [color]="'0xFFC107'"
        [metalness]="0.1"
        [roughness]="0.75"
        [clippingPlanes]="[plane1,plane2,plane3]"
        [clipShadows]="true"
        [side]="'double'"
        [shadowSide]="'double'"
      ></ngx3js-material>
    </ngx3js-mesh>
    <ngx3js-mesh [receiveShadow]="true" [castShadow]="false">
        <ngx3js-rotation [x]="-90" [y]="0" [z]="0"></ngx3js-rotation>
        <ngx3js-position [x]="0" [y]="-1" [z]="0"></ngx3js-position>
        <ngx3js-geometry [type]="'plane'" [width]="9" [height]="9"></ngx3js-geometry>
        <ngx3js-material [type]="'MeshPhong'" [color]="'0x121212'" [opacity]="0.25" [side]="'double'"></ngx3js-material>
    </ngx3js-mesh>
  </ngx3js-scene>
</ngx3js-renderer>
