<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - MD2 Loader -
  Character by <a href="http://planetquake.gamespy.com/View.php?view=Quake2.Detail&id=368">Brian Collins</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="50" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="40" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="150" [z]="400"></three-position>
    <three-lookat [x]="0" [y]="50" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene [background]="'0x050505'">
    <three-fog [color]="'0x050505'" [near]="400" [far]="1000"></three-fog>
    <three-light
      [type]="'Ambient'"
      [color]="'0x222222'"
    >
    </three-light>
    <three-light
      [type]="'spot'"
      [color]="'0xffffff'"
      [intensity]="5"
      [distance]="1000"
      [angle]="28"
      [penumbra]="0.5"
      [shadowMapSizeWidth]="1024"
      [shadowMapSizeHeight]="1024"
    >
      <three-position [x]="200" [y]="250" [z]="500"></three-position>
    </three-light>
    <three-light
      [type]="'spot'"
      [color]="'0xffffff'"
      [intensity]="5"
      [distance]="1000"
      [angle]="28"
      [penumbra]="0.5"
      [shadowMapSizeWidth]="1024"
      [shadowMapSizeHeight]="1024"
    >
      <three-position [x]="-100" [y]="350" [z]="350"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'models/md2/ratamahatta/ratamahatta.md2'" [storageOption]="config">
      <three-scale [x]="3" [y]="3" [z]="3"></three-scale>
      <three-mixer [action]="controls.animation" [type]="'Character'" [skin]="controls.skinIdx" [weapon]="controls.weaponIdx" [debug]="true"></three-mixer>
    </three-mesh>
    <three-mesh [receiveShadow]="true">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'Plane'"
        [width]="2000"
        [height]="2000"
      ></three-geometry>
      <three-material
        [type]="'MeshPhong'"
        [color]="'0xffffff'"
      >
        <three-texture [image]="'textures/terrain/grasslight-big.jpg'"
          [repeatX]="8"
          [repeatY]="8"
          [wrapS]="'Repeat'"
          [wrapT]="'Repeat'"
          [encoding]="'sRGB'"
        ></three-texture>
      </three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
