<div id="info" class="dark">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - Object3D.lookAt() example
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="40" [near]="1" [far]="15000">
    <three-position [x]="0" [y]="0" [z]="3200"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0xffffff'">
    <three-shared>
      <three-geometry
        #geometry
        [type]="'CylinderGeometry'"
        [radiusTop]="0"
        [radiusBottom]="10"
        [height]="100"
        [heightSegments]="12"
      >
        <three-rotation [x]="90"></three-rotation>
      </three-geometry>
      <three-material #material [type]="'MeshNormalMaterial'"></three-material>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let info of meshInfos" [geometry]="geometry" [material]="material">
        <three-position [x]="info.x" [y]="info.y" [z]="info.z"></three-position>
        <three-scale [multiply]="info.scale"></three-scale>
      </three-mesh>
    </three-mesh>
    <three-mesh #sphere (onLoad)="setSphere($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'SphereGeometry'"
        [radius]="100"
        [widthSegments]="20"
        [heightSegments]="20"
      ></three-geometry>
      <three-material
        [type]="'MeshNormalMaterial'"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
