<div class="info dark">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
	Object3D.lookAt() example
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, enableDamping: true }"
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="40" [near]="1" [far]="15000">
		<ngx3js-position [x]="0" [y]="0" [z]="3200"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene [background]="'0xffffff'">
		<ngx3js-shared>
			<ngx3js-geometry
				#geometry
				[type]="'CylinderGeometry'"
				[radiusTop]="0"
				[radiusBottom]="10"
				[height]="100"
				[heightSegments]="12"
			>
				<ngx3js-rotation [x]="90"></ngx3js-rotation>
			</ngx3js-geometry>
			<ngx3js-material
				#material
				[type]="'MeshNormalMaterial'"
			></ngx3js-material>
		</ngx3js-shared>
		<ngx3js-mesh (onLoad)="setMesh($event)">
			<ngx3js-mesh
				*ngFor="let info of meshInfos"
				[geometry]="geometry"
				[material]="material"
			>
				<ngx3js-position
					[x]="info.x"
					[y]="info.y"
					[z]="info.z"
				></ngx3js-position>
				<ngx3js-scale [multiply]="info.scale"></ngx3js-scale>
			</ngx3js-mesh>
		</ngx3js-mesh>
		<ngx3js-mesh #sphere (onLoad)="setSphere($event)">
			<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-geometry
				[type]="'SphereGeometry'"
				[radius]="100"
				[widthSegments]="20"
				[heightSegments]="20"
			></ngx3js-geometry>
			<ngx3js-material [type]="'MeshNormalMaterial'"></ngx3js-material>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
