<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener noreferrer">three.js</a> - RGB Halftone post-processing by
  <a href="https://github.com/meatbags" target="_blank">Xavier Burrow</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true , autoRotate : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-composer [scene]="scene" [camera]="camera">
    <three-pass [type]="'RenderPass'"></three-pass>
    <three-pass [type]="'HalftonePass'" [uniforms]="uniforms" [width]="1024" [height]="1024"></three-pass>
  </three-composer>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera #camera [type]="'perspective'" [fov]="75" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="0" [z]="12"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0x444444'">
    <three-shared>
      <three-geometry
        #boxGeometry
        [type]="'box'"
        [width]="2"
        [height]="2"
        [depth]="2"
      ></three-geometry>
      <three-material #boxMaterial [type]="'ShaderMaterial'" [shader]="'ColorRainbow'"></three-material>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let info of boxInfos" [material]="boxMaterial" [geometry]="boxGeometry">
        <three-position [x]="info.position.x" [y]="info.position.y" [z]="info.position.z"></three-position>
        <three-rotation [x]="info.rotation.x" [y]="info.rotation.y" [z]="info.rotation.z"></three-rotation>
      </three-mesh>
    </three-mesh>
    <three-mesh>
      <three-position [x]="0" [y]="-10" [z]="0"></three-position>
      <three-geometry
        [type]="'Box'"
        [width]="100"
        [height]="1"
        [depth]="100"
      ></three-geometry>
      <three-material
        [type]="'MeshPhong'"
      ></three-material>
    </three-mesh>
    <three-light [type]="'PointLight'" [color]="'0xffffff'" [intensity]="1" [distance]="50" [decay]="2">
      <three-position [x]="0" [y]="2" [z]="0"></three-position>
    </three-light>
  </three-scene>
</three-renderer>
