<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener noreferrer">three.js</a> - RGB Halftone post-processing by
  <a href="https://github.com/meatbags" target="_blank">Xavier Burrow</a>
</div>
<ngx3js-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true , autoRotate : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <ngx3js-composer [scene]="scene" [camera]="camera">
    <ngx3js-pass [type]="'RenderPass'"></ngx3js-pass>
    <ngx3js-pass [type]="'HalftonePass'" [uniforms]="uniforms" [width]="1024" [height]="1024"></ngx3js-pass>
  </ngx3js-composer>
  <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
  <ngx3js-camera #camera [type]="'perspective'" [fov]="75" [near]="1" [far]="1000">
    <ngx3js-position [x]="0" [y]="0" [z]="12"></ngx3js-position>
  </ngx3js-camera>
  <ngx3js-scene #scene [background]="'0x444444'">
    <ngx3js-shared>
      <ngx3js-geometry
        #boxGeometry
        [type]="'box'"
        [width]="2"
        [height]="2"
        [depth]="2"
      ></ngx3js-geometry>
      <ngx3js-material #boxMaterial [type]="'ShaderMaterial'" [shader]="'ColorRainbow'"></ngx3js-material>
    </ngx3js-shared>
    <ngx3js-mesh (onLoad)="setMesh($event)">
      <ngx3js-mesh *ngFor="let info of boxInfos" [material]="boxMaterial" [geometry]="boxGeometry">
        <ngx3js-position [x]="info.position.x" [y]="info.position.y" [z]="info.position.z"></ngx3js-position>
        <ngx3js-rotation [x]="info.rotation.x" [y]="info.rotation.y" [z]="info.rotation.z"></ngx3js-rotation>
      </ngx3js-mesh>
    </ngx3js-mesh>
    <ngx3js-mesh>
      <ngx3js-position [x]="0" [y]="-10" [z]="0"></ngx3js-position>
      <ngx3js-geometry
        [type]="'Box'"
        [width]="100"
        [height]="1"
        [depth]="100"
      ></ngx3js-geometry>
      <ngx3js-material
        [type]="'MeshPhong'"
      ></ngx3js-material>
    </ngx3js-mesh>
    <ngx3js-light [type]="'PointLight'" [color]="'0xffffff'" [intensity]="1" [distance]="50" [decay]="2">
      <ngx3js-position [x]="0" [y]="2" [z]="0"></ngx3js-position>
    </ngx3js-light>
  </ngx3js-scene>
</ngx3js-renderer>
