<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener noreferrer">three.js</a> webaudio - orientation<br/>
  music by <a href="http://www.newgrounds.com/audio/listen/376737" target="_blank" rel="noopener noreferrer">skullbeatz</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="0.1" [far]="100">
    <three-position [x]="3" [y]="2" [z]="3"></three-position>
    <three-listener></three-listener>
  </three-camera>
  <three-scene #scene [background]="'0xa0a0a0'">
    <three-fog [color]="'0xa0a0a0'" [near]="2" [far]="20"></three-fog>
    <three-light
      [type]="'Hemisphere'"
      [skyColor]="'0xffffff'"
      [groundColor]="'0x444444'"
    >
      <three-position [x]="0" [y]="20" [z]="0"></three-position>
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="1"
      [castShadow]="true"
      [shadowCameraTop]="1"
      [shadowCameraBottom]="-1"
      [shadowCameraLeft]="-1"
      [shadowCameraRight]="1"
      [shadowCameraNear]="0.1"
      [shadowCameraFar]="20"
    >
      <three-position [x]="5" [y]="5" [z]="0"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh [storageName]="'models/gltf/BoomBox/glTF-Binary/BoomBox.glb'" [castShadow]="true">
        <three-position [x]="0" [y]="0.2" [z]="0"></three-position>
        <three-scale [multiply]="20"></three-scale>
        <three-rotation [x]="0" [y]="-180" [z]="0"></three-rotation>
        <three-audio 
          [url]="'sounds/376737_Skullbeatz___Bad_Cat_Maste.mp3'"
          [refDistance]="1"
          [coneInnerAngle]="180"
          [coneOuterAngle]="230"
          [coneOuterGain]="0.1"
        >
            <three-rotation [x]="0" [y]="180" [z]="0"></three-rotation>
          <three-helper [type]="'PositionalAudioHelper'" [range]="0.1"></three-helper>
      </three-audio>
      </three-mesh>
      <three-mesh>
        <three-position [x]="0" [y]="0.5" [z]="-0.5"></three-position>
        <three-geometry 
          [type]="'BoxGeometry'"
          [width]="2"
          [height]="1"
          [depth]="0.1"
        ></three-geometry>
        <three-material 
          [type]="'MeshBasicMaterial'"
          [color]="'0xff0000'"
          [transparent]="true"
          [opacity]="0.5"
        ></three-material>
      </three-mesh>
    </three-mesh>
    <three-mesh>
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'PlaneGeometry'"
        [width]="50"
        [height]="50"
      ></three-geometry>
      <three-material [type]="'MeshPhongMaterial'" [color]="'0x999999'" [depthWrite]="false"></three-material>
    </three-mesh>
    <three-helper [type]="'GridHelper'" [size]="50" [divisions]="50" [color1]="'0x888888'" [color2]="'0x888888'"></three-helper>
  </three-scene>
</three-renderer>
