<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - texture rotation
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="40" [near]="1" [far]="1000">
    <three-position [x]="10" [y]="15" [z]="25"></three-position>
  </three-camera>
  <three-scene #scene >
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'box'"
        [width]="10"
        [height]="10"
        [depth]="10"
      ></three-geometry>
      <three-material [type]="'MeshBasicMaterial'">
        <three-texture 
          [textureType]="'map'"
          [image]="'textures/uv_grid_opengl.jpg'"
          [wrap]="'RepeatWrapping'"
          [offsetX]="controls.offsetX"
          [offsetY]="controls.offsetY"
          [repeatX]="controls.repeatX"
          [repeatY]="controls.repeatY"
          [centerX]="controls.centerX"
          [centerY]="controls.centerY"
          [rotation]="controls.rotation"
          [anisotropy]="16"
        ></three-texture>
      </three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
