<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - multiple scenes comparison<br />
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0x000000'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera #camera [type]="'perspective'" [fov]="35" [near]="0.1" [far]="100">
    <three-position [x]="0" [y]="0" [z]="6"></three-position>
  </three-camera>
  <three-composer [scissorTest]="true" [scissorX]="layoutFirst.x" [scissorY]="layoutFirst.y" [scissorWidth]="layoutFirst.width" [scissorHeight]="layoutFirst.height" [scene]="scene1" [camera]="camera">
    <three-pass [type]="'RenderPass'" [scene]="scene1" [camera]="camera"></three-pass>
    <three-pass [type]="'ShaderPass'" [shader]="'CopyShader'"></three-pass>
  </three-composer>
  <three-composer [scissorTest]="true" [scissorX]="layoutSecond.x" [scissorY]="layoutSecond.y" [scissorWidth]="layoutSecond.width" [scissorHeight]="layoutSecond.height" [scene]="scene2" [camera]="camera">
    <three-pass [type]="'RenderPass'" [scene]="scene2" [camera]="camera"></three-pass>
    <three-pass [type]="'ShaderPass'" [shader]="'CopyShader'"></three-pass>
  </three-composer>
  <three-shared>
    <three-geometry
      #geometry
      [type]="'IcosahedronGeometry'"
      [radius]="1"
      [detail]="3"
    ></three-geometry>
  </three-shared>
  <three-scene #scene1 [background]="'0xBCD48F'">
    <three-light
      [type]="'Hemisphere'"
      [skyColor]="'0xffffff'"
      [groundColor]="'0x444444'"
      [intensity]="1"
    >
      <three-position [x]="-2" [y]="2" [z]="2"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)" [geometry]="geometry">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-material [type]="'MeshStandardMaterial'"></three-material>
    </three-mesh>
  </three-scene>
  <three-scene #scene2 [background]="'0x8FBCD4'">
    <three-light
      [type]="'Hemisphere'"
      [skyColor]="'0xffffff'"
      [groundColor]="'0x444444'"
      [intensity]="1"
    >
      <three-position [x]="-2" [y]="2" [z]="2"></three-position>
    </three-light>
    <three-mesh [geometry]="geometry">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-material [type]="'MeshStandardMaterial'" [wireframe]="true"></three-material>
    </three-mesh>
  </three-scene>

</three-renderer>
