<three-renderer [localClippingEnabled]="true" [controlType]="'orbit'" [statsMode]="0" [antialias]="true"
    [clearColor]="'0x000000'" [shadowMapEnabled]="true" [guiControl]="controls" [guiParams]="controlsParams"
    (onRender)="onRender($event)">
    <three-plane [x]="1" [y]="0" [z]="0" [w]="0"></three-plane>
    <three-camera [type]="'perspective'" [fov]="45" [near]="0.1" [far]="2000">
        <three-position [x]="20" [y]="0" [z]="-20"></three-position>
        <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
    </three-camera>
    <three-scene #scene>
        <three-mesh type="light" lightType="ambient" [color]="'0x121212'"></three-mesh>
        <three-mesh type="light" lightType="directional" [color]="'0xffffff'" [intensity]="0.2" [castShadow]="true">
            <three-position [x]="-40" [y]="60" [z]="-10"></three-position>
            <three-lookat [refer]="scene"></three-lookat>
        </three-mesh>
        <three-mesh>
            <three-rotation [x]="rotation.x" [y]="rotation.y" [z]="rotation.z"></three-rotation>
            <three-geometry [type]="'sphere'" [radius]="5" [widthSegments]="30" [heightSegments]="30">
            </three-geometry>
            <three-material type="meshlambert" [color]="'0xff0000'" [wireframe]="controls.wireframe"></three-material>
            <three-mesh [helperType]="'plane'">
                <three-position [x]="3" [y]="0" [z]="0"></three-position>
                <three-geometry [type]="'sphere'" [radius]="10" [widthSegments]="30" [heightSegments]="30">
                </three-geometry>
                <three-material type="meshlambert" [color]="'0xff0000'" [wireframe]="controls.wireframe" [clipShadows]="true" [clipIntersection]="true">
                    <three-plane [x]="1" [y]="0" [z]="0" [w]="0"></three-plane>
                    <three-plane [x]="0" [y]="-1" [z]="0" [w]="0"></three-plane>
                    <three-plane [x]="0" [y]="0" [z]="-1" [w]="0"></three-plane>
                </three-material>
            </three-mesh>
        </three-mesh>
    </three-scene>
</three-renderer>