<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - XYZ loader<br/>
  asset from <a href="https://people.math.sc.edu/Burkardt/data/xyz/xyz.html" target="_blank" rel="noopener">people.math.sc.edu</a> via GNU LGPL
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true , autoRotate : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-scene #scene>
    <three-camera [type]="'perspective'" [fov]="50" [near]="0.1" [far]="100">
      <three-position [x]="10" [y]="7" [z]="10"></three-position>
    </three-camera>
    <three-mesh (onLoad)="setMesh($event)" [type]="'Points'">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry [storageName]="'models/xyz/helix_201.xyz'"
        [center]="true"
      ></three-geometry>
      <three-material [type]="'Points'" [size]="0.1" [vertexColors]="false"></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
