<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - OBJLoader test
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true , autoRotate : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-scene #scene>

    <three-light
      [type]="'Ambient'"
      [color]="'0xcccccc'"
      [intensity]="0.4"
    >
    </three-light>
    <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="2000">
      <three-position [x]="0" [y]="0" [z]="250"></three-position>
      <three-light
        [type]="'point'"
        [color]="'0xffffff'"
        [intensity]="0.8"
      >
      </three-light>
    </three-camera>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'male02.obj'" [storageOption]="{ material : 'male02_dds.mtl', path : 'models/obj/male02/' }">
      <three-position [x]="0" [y]="-95" [z]="0"></three-position>
    </three-mesh>
  </three-scene>
</three-renderer>
