<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - shapes extrusion via geodata
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="50" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="0" [z]="200"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene [background]="'0xb0b0b0'">
    <three-light
      type="Ambient"
      [color]="'0xcccccc'"
      [intensity]="0.2"
    >
    </three-light>
    <three-light
      type="directional"
      [color]="'0xffffff'"
      [intensity]="0.6"
    >
      <three-position [x]="0.75" [y]="0.75" [z]="1.0" [normalize]="true"></three-position>
    </three-light>
    <three-helper [type]="'Grid'" [size]="160" [divisions]="10" >
      <three-rotation [x]="90" [y]="0" [z]="0"></three-rotation>
    </three-helper>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh name="Taipei">
        <three-position [x]="-365" [y]="125" [z]="10"></three-position>
        <three-rotation [x]="180" [y]="0" [z]="0"></three-rotation>
        <three-mesh *ngFor="let map of taipeiMap" [name]="map.name" [visible]="map.visible">
          <three-position [x]="0" [y]="0" [z]="20-map.depth"></three-position>
          <three-geometry
            [type]="'Extrude'"
            [depth]="map.depth"
            [steps]="1"
            [bevelEnabled]="false"
          >
            <three-svg [path]="map.path"></three-svg>
          </three-geometry>
          <three-material [type]="'MeshLambert'" [color]="map.color" [emissive]="map.color" [transparent]="true" [opacity]="0.9"></three-material>
        </three-mesh>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
