<three-renderer [controlType]="'orbit'" [statsMode]="0" [antialias]="true" [clearColor]="'0x000000'" [shadowMapEnabled]="true" [guiControl]="controls" [guiParams]="controlsParams" (onRender)="onRender($event)">
    <three-camera [type]="'perspective'" [fov]="45" [near]="0.1" [far]="2000">
        <three-position [x]="20" [y]="0" [z]="150"></three-position>
        <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
    </three-camera>
    <three-texture #baseTexture
        [image]="'/assets/textures/particles/sprite-sheet.png'"
        [repeatX]="1/5" [repeatY]="1"
        [offsetY]="0"
    ></three-texture>
    <three-scene #scene>
        <three-light type="ambient" [color]="'0x121212'"></three-light>
        <three-light type="directional" [color]="'0xa0a0a0'" [intensity]="0.2" [castShadow]="true" >
            <three-position [x]="-40" [y]="60" [z]="-10"></three-position>
            <three-lookat [position]="scene"></three-lookat>
        </three-light>
        <three-mesh>
            <three-rotation [x]="rotation.x" [y]="rotation.y" [z]="rotation.z"></three-rotation>
            <three-mesh *ngFor="let sprit of spritePosition" [type]="'Sprite'">
                <three-position [x]="sprit.x" [y]="sprit.y" [z]="sprit.z"></three-position>
                <three-scale [x]="sprit.size" [y]="sprit.size" [z]="sprit.size"></three-scale>
                <three-material [type]="'Sprite'"
                    [opacity]="0.6"
                    [transparent]="false"
                    [color]="'0xffffff'"
                    [blending]="'Additive'"
                    [depthTest]="false"
                    [wireframe]="controls.wireframe"
                >
                    <three-texture 
                        [link]="baseTexture"
                        [offsetX]=" 0.2 * sprit.sprite "
                    ></three-texture>
                </three-material>
            </three-mesh>
            </three-mesh>
    </three-scene>
</three-renderer>