<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - Edge Split modifier
</div>
<three-renderer
  [controlType]="'orbit'"
  [minZoom]="1"
  [rollSpeed]="0.35"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="75" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="0" [z]="4"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-light
      [type]="'Hemisphere'"
      [skyColor]="'0xffffff'"
      [groundColor]="'0x444444'"
    >
    </three-light>
    <three-shared>
      <three-texture #texture [image]="'models/obj/cerberus/Cerberus_A.jpg'"></three-texture>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'models/obj/cerberus/Cerberus.obj'">
      <three-position [x]="-1.5" [y]="0" [z]="0"></three-position>
      <three-rotation [x]="0" [y]="-90" [z]="0"></three-rotation>
      <three-scale [multiply]="3.5"></three-scale>
      <three-material 
        [type]="'MeshStandard'" 
        [color]="'0xffffff'" 
        [flatShading]="!controls.smoothShading"
        [map]="controls.showMap ? texture : null"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
