<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
</div>
<three-renderer
  [type]="'SVGRenderer'"
  [quality]="'low'"
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true, autoRotate : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="75" [near]="1" [far]="10000">
    <three-position [x]="0" [y]="0" [z]="500"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0xf0f0f0'">
    <three-fog [color]="'0xa0a0a0'" [near]="10" [far]="50"></three-fog>
    <three-light
      [type]="'AmbientLight'"
      [color]="'0x80ffff'"
    ></three-light>
    <three-light
      [type]="'DirectionalLight'"
      [color]="'0xffff00'"
      [intensity]="1"
    >
      <three-position [x]="-1" [y]="0.5" [z]="0"></three-position>
    </three-light>
    <three-shared>
      <three-geometry
        #boxGeometry
        [type]="'BoxGeometry'"
        [width]="100"
      ></three-geometry>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh>
        <three-position [x]="0" [y]="0" [z]="0"></three-position>
        <three-scale [multiply]="2"></three-scale>
        <three-geometry
          [storageName]="'models/json/QRCode_buffergeometry.json'"
        ></three-geometry>
        <three-material [type]="'MeshLambertMaterial'" [vertexColors]="true"></three-material>
      </three-mesh>
      <three-mesh [geometry]="boxGeometry">
        <three-position [x]="500" [y]="0" [z]="0"></three-position>
        <three-rotation [x]="'random'" [y]="'random'" [z]="0"></three-rotation>
        <three-scale [multiply]="2"></three-scale>
        <three-material [type]="'MeshBasicMaterial'" [color]="'0x0000ff'" [opacity]="0.5" [transparent]="true"></three-material>
      </three-mesh>
      <three-mesh [geometry]="boxGeometry">
        <three-position [x]="500" [y]="500" [z]="0"></three-position>
        <three-rotation [x]="'random'" [y]="'random'" [z]="0"></three-rotation>
        <three-scale [multiply]="2"></three-scale>
        <three-material [type]="'MeshBasicMaterial'" [color]="'random'"></three-material>
      </three-mesh>
      <three-mesh>
        <three-position [x]="0" [y]="-500" [z]="0"></three-position>
        <three-geometry [type]="'PlaneGeometry'" [width]="100" [height]="100"></three-geometry>
        <three-material [type]="'MeshBasicMaterial'" [color]="'random'" [side]="'double'"></three-material>
      </three-mesh>
      <three-mesh>
        <three-position [x]="0" [y]="-500" [z]="0"></three-position>
        <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
        <three-scale [multiply]="2"></three-scale>
        <three-geometry [type]="'CylinderGeometry'" [radiusTop]="20" [radiusBottom]="100" [height]="200" [heightSegments]="10"></three-geometry>
        <three-material [type]="'MeshBasicMaterial'" [color]="'random'"></three-material>
      </three-mesh>
      <three-mesh name="group">
        <three-position [x]="0" [y]="0" [z]="0"></three-position>
        <three-scale [multiply]="2"></three-scale>
        <three-geometry [type]="'BufferGeometry'" [attrPosition]="vertices" [attrColor]="colors"></three-geometry>
        <three-material [type]="'MeshBasicMaterial'" [vertexColors]="true" [side]="'double'"></three-material>
      </three-mesh>
      <three-mesh *ngFor="let info of spriteInfos" [type]="'Sprite'">
        <three-position [x]="info.x" [y]="info.y" [z]="info.z"></three-position>
        <three-scale [x]="64" [y]="64" [z]="1"></three-scale>
        <three-material [type]="'SpriteMaterial'" [color]="info.color"></three-material>
      </three-mesh>
      <three-mesh *ngFor="let info of nodeInfos" [type]="'svg'" [cssTag]="node">
        <three-position [x]="info.x" [y]="info.y" [z]="info.z"></three-position>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
