<three-renderer [controlType]="'orbit'" [statsMode]="0" [antialias]="true" [clearColor]="'0xaaaaff'" [shadowMapEnabled]="true" [guiControl]="controls" [guiParams]="controlsParams" (onRender)="onRender($event)">
    <three-camera [type]="'perspective'" [fov]="45" [near]="0.1" [far]="2000">
        <three-position [x]="30" [y]="30" [z]="30"></three-position>
        <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
        <three-pass #renderPass [type]="'render'"></three-pass>
        <three-pass #horizontalBlur [type]="'Shader'"
          [shader]="'HorizontalBlur'"
          [enabled]="controls.hBlur"
          [uniforms]="{ h : 1 / 100 }"
        ></three-pass>
        <three-pass #verticalBlur [type]="'Shader'"
          [shader]="'VerticalBlur'"
          [enabled]="controls.vBlur"
          [uniforms]="{ v : 1 / 100 }"
        ></three-pass>
        <three-pass #horizontalTiltShift [type]="'Shader'"
          [shader]="'HorizontalTiltShift'"
          [enabled]="controls.hTilt"
          [uniforms]="{ h : 1 / 100, r : controls.hTiltR }"
        ></three-pass>
        <three-pass #verticalTiltShift [type]="'Shader'"
          [shader]="'VerticalTiltShift'"
          [enabled]="controls.vTilt"
          [uniforms]="{ v : 1 / 100, r : controls.vTiltR }"
        ></three-pass>
        <three-pass #triangleBlur [type]="'Shader'"
          [shader]="'TriangleBlur'"
          [enabled]="controls.triBlur"
          [uniforms]="{ deltaX : controls.deltaX, deltaY : controls.deltaY }"
          [textureId]="'texture'"
        ></three-pass>
        <three-pass #effectCopy [type]="'Shader'" [shader]="'Copy'" [renderToScreen]="true"></three-pass>
    </three-camera>
    <three-scene #scene>
        <three-mesh [type]="'light'" [lightType]="'directional'" [color]="'0xffffff'" [intensity]="0.8" >
            <three-position [x]="30" [y]="30" [z]="30"></three-position>
        </three-mesh>
        <three-mesh [type]="'light'" [lightType]="'Spot'"
            [color]="'0xffffff'"
            [intensity]="0.6"
            [shadowMapSizeWidth]="4096"
            [shadowMapSizeHeight]="4096"
            [shadowCameraFov]="120"
            [shadowCameraNear]="1"
            [shadowCameraFar]="200"
        >
            <three-position [x]="-30" [y]="30" [z]="-100"></three-position>
            <three-lookat [x]="-10" [y]="0" [z]="-10"></three-lookat>
        </three-mesh>
        <three-mesh [receiveShadow]="true">
            <three-position [x]="-150" [y]="0" [z]="-150"></three-position>
            <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
            <three-geometry [type]="'box'" [width]="1600" [height]="1600" [depth]="0.1" [widthSegments]="40" [heightSegments]="40"></three-geometry>
            <three-material [type]="'MeshPhong'" [color]="'0xffffff'" [normalScaleX]="0.6" [normalScaleY]="0.6">
                <three-texture
                    [textureType]="'map'"
                    [image]="'/assets/sample_assets/textures/general/floor-wood.jpg'"
                    [wrapS]="'Repeat'"
                    [wrapT]="'Repeat'"
                    [repeatX]="80"
                    [repeatY]="80"
                ></three-texture>
            </three-material>
        </three-mesh>
        <three-mesh *ngFor="let cube of cubes" [castShadow]="true">
            <three-position [x]="cube.position.x" [y]="cube.position.y" [z]="cube.position.z"></three-position>
            <three-rotation [refer]="refrotation"></three-rotation>
            <three-geometry [refer]="refgeometry"></three-geometry>
            <three-material [type]="'MeshPhong'" [color]="cube.color" [opacity]="0.8" [transparent]="true" [wireframe]="controls.wireframe"></three-material>
        </three-mesh>
    </three-scene>
    <three-shared>
        <three-geometry #refgeometry [type]="'box'" [width]="3" [height]="4" [depth]="3"></three-geometry>
        <three-rotation #refrotation [x]="rotation.x" [y]="rotation.y" [z]="rotation.z"></three-rotation>
    </three-shared>
</three-renderer>
