<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
	ngx pipes
	<br />
	<div class="color-info">
		ngx3jsColor :
		{{ controls.colorPipes.color1 | ngx3jsColor: 'hex' }}
		{{ controls.colorPipes.opertaor }}
		{{ controls.colorPipes.color2 | ngx3jsColor: 'hex' }}
		=
		{{
			controls.colorPipes.color1
				| ngx3jsColor
					: controls.colorPipes.returnType
					: controls.colorPipes.color2
					: controls.colorPipes.opertaor
					: controls.colorPipes.alpha
		}}
		<span
			class="color-preview"
			[style.backgroundColor]="
				controls.colorPipes.color1
					| ngx3jsColor
						: controls.colorPipes.returnType
						: controls.colorPipes.color2
						: controls.colorPipes.opertaor
						: controls.colorPipes.alpha
			"
			>&nbsp;</span
		>
	</div>
	<br />
	<div class="angle-info">
		ngx3jsAngle :
		{{ orgAngle | number: '1.2-2' }}
		<span class="unit">{{ controls.anglePipes.type }}</span> &thickapprox;
		{{
			orgAngle
				| ngx3jsAngle: controls.anglePipes.returnType:controls.anglePipes.type
				| number: '1.2-2'
		}}
		<span class="unit">{{ controls.anglePipes.returnType }}</span>
	</div>
	<br />
	<div class="asset-info">
		ngx3jsAsset :
		{{ controls.asstesPipes.image }}
		=
		{{ controls.asstesPipes.image | ngx3jsAsset }}
	</div>
</div>
<ngx3js-renderer
	[statsMode]="0"
	[antialias]="true"
	[controlType]="'orbit'"
	[controlOptions]="{
		enablePan: false,
		enableDamping: true,
		minDistance: 5,
		maxDistance: 20
	}"
	[clearColor]="'0x000000'"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-camera
		[type]="'perspective'"
		[clearColor]="'0x000000'"
		[clearAlpha]="0"
		[fov]="40"
		[near]="1"
		[far]="1000"
		[viewport]="true"
		[x]="0"
		[y]="0"
		[width]="'100%'"
		[height]="'100%'"
	>
		<ngx3js-position [x]="0" [y]="5" [z]="10"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene [background]="'0x000000'">
		<ngx3js-light
			[type]="'directional'"
			[color]="'0xffffff'"
			[intensity]="1"
			[castShadow]="true"
		>
			<ngx3js-position [x]="-3" [y]="10" [z]="10"></ngx3js-position>
		</ngx3js-light>
		<ngx3js-light [type]="'AmbientLight'" [color]="'0x6688cc'"></ngx3js-light>
		<ngx3js-shared>
			<ngx3js-geometry
				#geometry
				[type]="'BoxGeometry'"
				[width]="3"
				[height]="3"
				[depth]="3"
			></ngx3js-geometry>
			<ngx3js-material
				#material
				[type]="'MeshStandardMaterial'"
				[color]="'0xffffff'"
			>
				<ngx3js-texture
					[type]="'map'"
					[image]="controls.asstesPipes.image"
				></ngx3js-texture>
			</ngx3js-material>
		</ngx3js-shared>
		<ngx3js-mesh
			(onLoad)="setMesh($event)"
			[geometry]="geometry"
			[material]="material"
			[castShadow]="true"
		>
			<ngx3js-mesh
				[geometry]="geometry"
				[material]="material"
				[castShadow]="true"
			>
				<ngx3js-position [x]="0" [y]="0" [z]="-10"></ngx3js-position>
			</ngx3js-mesh>
			<ngx3js-mesh
				[geometry]="geometry"
				[material]="material"
				[castShadow]="true"
			>
				<ngx3js-position [x]="-10" [y]="0" [z]="0"></ngx3js-position>
			</ngx3js-mesh>
			<ngx3js-mesh
				[geometry]="geometry"
				[material]="material"
				[castShadow]="true"
			>
				<ngx3js-position [x]="10" [y]="0" [z]="0"></ngx3js-position>
			</ngx3js-mesh>
			<ngx3js-mesh
				[geometry]="geometry"
				[material]="material"
				[castShadow]="true"
			>
				<ngx3js-position [x]="0" [y]="0" [z]="10"></ngx3js-position>
			</ngx3js-mesh>
			<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
		</ngx3js-mesh>
		<ngx3js-helper
			[name]="'gridHelper'"
			[type]="'GridHelper'"
			[size]="100"
			[divisions]="50"
			[color1]="'0x888888'"
			[color2]="'0x444444'"
		>
			<ngx3js-position [x]="0" [y]="-2.6" [z]="0"></ngx3js-position>
		</ngx3js-helper>
		<ngx3js-mesh [receiveShadow]="true">
			<ngx3js-position [x]="0" [y]="-2.5" [z]="0"></ngx3js-position>
			<ngx3js-rotation
				[x]="-90"
				[y]="0"
				[z]="orgAngle | ngx3jsAngle: 'degree':controls.anglePipes.type"
			></ngx3js-rotation>
			<ngx3js-geometry
				[type]="'plane'"
				[width]="10"
				[height]="10"
			></ngx3js-geometry>
			<ngx3js-material
				[type]="'MeshPhongMaterial'"
				[color]="
					controls.colorPipes.color1
						| ngx3jsColor
							: controls.colorPipes.returnType
							: controls.colorPipes.color2
							: controls.colorPipes.opertaor
							: controls.colorPipes.alpha
				"
			></ngx3js-material>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
