<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
  <a href="https://github.com/google/draco" target="_blank" rel="noopener">DRACO</a> loader
</div>
<three-renderer
  [controlType]="'orbit'"
  [autoRotate]="true"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0.1" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="35" [near]="0.1" [far]="15">
    <three-position [x]="0" [y]="0.25" [z]="0.5"></three-position>
    <three-lookat [x]="0" [y]="0.1" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene [background]="'0x443333'">
    <three-fog [color]="'0x443333'" [near]="1" [far]="4" ></three-fog>
    <three-light
      [type]="'Hemisphere'"
      [skyColor]="'0x443333'"
      [groundColor]="'0x111122'"
    >
    </three-light>
    <three-light
      [type]="'Spot'"
      [angle]="11.25"
      [penumbra]="0.5"
      [distance]="1000"
      [castShadow]="true"
    >
      <three-position [x]="-1" [y]="1" [z]="1"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'models/draco/bunny.drc'" [receiveShadow]="true">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-material [type]="'MeshStandard'" [color]="'0x606060'"></three-material>
    </three-mesh>
    <three-mesh [receiveShadow]="true">
      <three-position [x]="0" [y]="0.03" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'Plane'"
        [width]="8"
        [height]="8"
      ></three-geometry>
      <three-material
        [type]="'MeshPhong'"
        [color]="'0x999999'"
        [specular]="'0x101010'"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
