<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - sky + sun shader
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  [toneMapping]="'acesfilmic'"
  [toneMappingExposure]="0.5"
  (onRender)="onRender($event)"
  (onLoad)="setRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="60" [near]="100" [far]="2000000">
    <three-position [x]="0" [y]="100" [z]="2000"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-helper [type]="'grid'" [size]="10000" [divisions]="2" [color1]="'0xffffff'" [color2]="'0xffffff'"></three-helper>
    <three-mesh 
      (onLoad)="setMesh($event)" 
      [type]="'sky'"
      [uniforms]="{
        sunPosition : { type : 'v3', value : sunDirection },
        turbidity : { type : 'number', value : controls.turbidity },
        rayleigh : { type : 'number', value : controls.rayleigh },
        mieCoefficient : { type : 'number', value : controls.mieCoefficient },
        mieDirectionalG : { type : 'number', value : controls.mieDirectionalG }
      }"
    >
      <three-scale [multiply]="450000"></three-scale>
    </three-mesh>
  </three-scene>
</three-renderer>
