<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
	arcball controls<br />
	<a
		href="http://www.polycount.com/forum/showthread.php?t=130641"
		target="_blank"
		rel="noopener"
		>Cerberus(FFVII Gun) model</a
	>
	by Andrew Maximov.
</div>
<ngx3js-renderer
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[outputEncoding]="'sRGBEncoding'"
	[toneMapping]="'ReinhardToneMapping'"
	[toneMappingExposure]="3"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
	[clearAlpha]="0"
	[clearColor]="'0xffffff'"
	[alpha]="true"
>
	<ngx3js-control
		[type]="'arcball'"
		[gizmoVisible]="true"
		(onLoad)="setControl($event)"
	></ngx3js-control>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="45" [near]="0.01" [far]="2000">
		<ngx3js-position [x]="0" [y]="0" [z]="2.5"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene>
		<ngx3js-texture
			[type]="'environment'"
			[storageName]="'textures/equirectangular/venice_sunset_1k.hdr'"
			[mapping]="'EquirectangularReflectionMapping'"
		></ngx3js-texture>
		<ngx3js-light
			[type]="'HemisphereLight'"
			[skyColor]="'0x443333'"
			[groundColor]="'0x222233'"
			[intensity]="4"
		></ngx3js-light>
		<ngx3js-mesh
			(onLoad)="setMesh($event)"
			[storageName]="'models/obj/cerberus/Cerberus.obj'"
		>
			<ngx3js-rotation [x]="0" [y]="90" [z]="0"></ngx3js-rotation>
			<ngx3js-position [x]="0.25" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-material
				[refName]="'*'"
				[type]="'MeshStandardMaterial'"
				[roughness]="1"
				[metalness]="1"
			>
				<ngx3js-texture
					[type]="'map'"
					[image]="'models/obj/cerberus/Cerberus_A.jpg'"
					[encoding]="'sRGBEncoding'"
					[wrapS]="'RepeatWrapping'"
				></ngx3js-texture>
				<ngx3js-texture
					[type]="'metalnessMap'"
					[image]="'models/obj/cerberus/Cerberus_RM.jpg'"
					[wrapS]="'RepeatWrapping'"
				></ngx3js-texture>
				<ngx3js-texture
					[type]="'roughnessMap'"
					[image]="'models/obj/cerberus/Cerberus_RM.jpg'"
					[wrapS]="'RepeatWrapping'"
				></ngx3js-texture>
				<ngx3js-texture
					[type]="'normalMap'"
					[image]="'models/obj/cerberus/Cerberus_N.jpg'"
					[wrapS]="'RepeatWrapping'"
				></ngx3js-texture>
			</ngx3js-material>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
