<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
	<span id="waterSize"></span> webgl gpgpu water<br />
	Move mouse to disturb water.<br />
	'W' key toggles wireframe.
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, enableDamping: true }"
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	[useEvent]="'pointermove,keydown'"
	(eventListener)="onPointerMove($event)"
	(onLoad)="setRender($event)"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="75" [near]="1" [far]="3000" (onLoad)="setCamera($event)">
		<ngx3js-position [x]="0" [y]="200" [z]="350"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene>
		<ngx3js-light
			[type]="'DirectionalLight'"
			[color]="'0xffffff'"
			[intensity]="1.0"
		>
			<ngx3js-position [x]="300" [y]="400" [z]="175"></ngx3js-position>
		</ngx3js-light>
		<ngx3js-light
			[type]="'DirectionalLight'"
			[color]="'0x40A040'"
			[intensity]="0.6"
		>
			<ngx3js-position [x]="-100" [y]="350" [z]="-200"></ngx3js-position>
		</ngx3js-light>
		<ngx3js-mesh (onLoad)="setMesh($event)" [matrixAutoUpdate]="false">
			<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-rotation [x]="-90" [y]="0" [z]="0"></ngx3js-rotation>
			<ngx3js-geometry
				[type]="'PlaneGeometry'"
				[width]="BOUNDS"
				[height]="BOUNDS"
				[widthSegments]="WIDTH - 1"
				[heightSegments]="WIDTH - 1"
			></ngx3js-geometry>
			<ngx3js-material
				[type]="'ShaderMaterial'"
				[uniforms]="waterUniforms"
				[vertexShader]="waterVertexShader"
				[fragmentShader]="waterFragmentShader"
				[lights]="true"
				[color]="'0x0040C0'"
				[specular]="'0x111111'"
				[shininess]="50"
				[defines]="{
					WIDTH : WIDTH.toFixed( 1 ),
					BOUNDS : BOUNDS.toFixed( 1 )
				}"
			></ngx3js-material>
		</ngx3js-mesh>
		<ngx3js-mesh [matrixAutoUpdate]="false" (onLoad)="setMeshRay($event)">
			<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-rotation [x]="-90" [y]="0" [z]="0"></ngx3js-rotation>
			<ngx3js-geometry
				[type]="'PlaneGeometry'"
				[width]="BOUNDS"
				[height]="BOUNDS"
				[widthSegments]="1"
				[heightSegments]="1"
			></ngx3js-geometry>
			<ngx3js-material
				[type]="'MeshBasicMaterial'"
				[color]="'0xFFFFFF'"
				[visible]="false"
			></ngx3js-material>
		</ngx3js-mesh>
		<ngx3js-shared>
			<ngx3js-geometry
				#sphereGeometry
				[type]="'SphereGeometry'"
				[radius]="4"
				[widthSegments]="24"
				[heightSegments]="12"
			></ngx3js-geometry>
			<ngx3js-material
				#sphereMaterial
				[type]="'MeshPhongMaterial'"
				[color]="'0xFFFF00'"
			></ngx3js-material>
		</ngx3js-shared>
		<ngx3js-mesh (onLoad)="setSpheres($event)">
			<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-mesh *ngFor="let info of sphereInfos" [geometry]="sphereGeometry" [material]="sphereMaterial" [userData]="{ velocity : info.velocity }">
				<ngx3js-position [x]="info.x" [y]="info.y" [z]="info.z"></ngx3js-position>
			</ngx3js-mesh>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
