<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - spotlight by <a href="http://master-domain.com" target="_blank" rel="noopener">Master James</a><br />
</div>
<three-renderer
  [controlType]="'orbit'"
  [autoRotate]="true"
  [enablePan]="false"
  [minDistance]="20"
  [maxDistance]="500"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="35" [near]="1" [far]="1000">
    <three-position [x]="160" [y]="40" [z]="10"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene>
    <three-light [type]="'Ambient'" [color]="'0xffffff'" [intensity]="0.1"></three-light>
    <three-light
      [type]="'Spot'"
      [color]="'0xffffff'"
      [angle]="45"
      [intensity]="1"
      [penumbra]="0.1"
      [decay]="2"
      [distance]="200"
      [castShadow]="true"
      [shadowMapSizeWidth]="512"
      [shadowMapSizeHeight]="512"
      [shadowCameraNear]="10"
      [shadowCameraFar]="200"
      [shadowFocus]="1"
      (onLoad)="setSpotLight($event)"
      >
      <three-position [x]="15" [y]="40" [z]="35"></three-position>
      <three-helper [type]="'light'" (onLoad)="setLightHelper($event)"></three-helper>
      <three-helper [type]="'camera'" (onLoad)="setShadowCameraHelper($event)"></three-helper>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="5" [z]="0"></three-position>
      <three-geometry
        [type]="'Cylinder'"
        [radiusTop]="5"
        [radiusBottom]="5"
        [height]="2"
        [radialSegments]="32"
        [heightSegments]="1"
        [openEnded]="false"
      ></three-geometry>
      <three-material [type]="'MeshPhong'" [color]="'0x4080ff'" [dithering]="true"></three-material>
    </three-mesh>
    <three-mesh [receiveShadow]="true">
      <three-position [x]="0" [y]="-1" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'Plane'"
        [width]="2000"
        [height]="2000"
      ></three-geometry>
      <three-material
        [type]="'MeshPhong'"
        [color]="'0x808080'"
        [dithering]="true"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
