<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">threejs</a> - Example of an IBL (Image based lighting) pipeline based around<br> equirectangular EXR lightprobe data. Created by <a href="https://github.com/richardmonette" target="_blank" rel="noopener">Richard Monette</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [outputEncoding]="'sRGB'"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="40" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="0" [z]="120"></three-position>
  </three-camera>
  <three-scene #scene [background]="controls.envMap == 'EXR' ? exrBackground : pngBackground" [backgroundType]="'backgroundangular'">
    <three-shared>
      <three-texture #pngBackground [image]="'textures/equirectangular.png'" [encoding]="'sRGB'"></three-texture>
      <three-texture #exrBackground [storageName]="'textures/piz_compressed.exr'"></three-texture>
    </three-shared>
    <three-light
      [type]="'Hemisphere'"
      [skyColor]="'0xffffff'"
      [groundColor]="'0x444444'"
    >
      <three-position [x]="0" [y]="20" [z]="0"></three-position>
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="1"
      [castShadow]="true"
      [shadowCameraTop]="2"
      [shadowCameraBottom]="-2"
      [shadowCameraLeft]="-2"
      [shadowCameraRight]="2"
      [shadowCameraNear]="0.1"
      [shadowCameraFar]="40"
    >
      <three-position [x]="-3" [y]="10" [z]="-10"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'TorusKnot'"
        [radius]="18"
        [tube]="8"
        [radialSegments]="150"
        [tubularSegments]="20"
      ></three-geometry>
      <three-material [type]="'MeshStandard'" [metalness]="controls.metalness" [roughness]="controls.roughness"></three-material>
    </three-mesh>
    <three-mesh [receiveShadow]="true" [visible]="controls.debug">
      <three-position [x]="0" [y]="-50" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'Plane'"
        [width]="200"
        [height]="200"
      ></three-geometry>
      <three-material [type]="'MeshBasic'" ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
