<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">threejs</a> - Example of an IBL (Image based lighting) pipeline based around<br> equirectangular EXR lightprobe data. Created by <a href="https://github.com/richardmonette" target="_blank" rel="noopener">Richard Monette</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [outputEncoding]="'sRGB'"
  [toneMapping]="'ACESFilmic'"
  [toneMappingExposure]="controls.exposure"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="40" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="0" [z]="120"></three-position>
  </three-camera>
  <three-scene #scene [background]="controls.envMap == 'EXR' ? exrBackground : pngBackground" [backgroundType]="'background'">
    <three-shared>
      <three-texture #pngBackground [image]="'textures/equirectangular.png'" [encoding]="'sRGB'" [cubeType]="'equirectangular'"></three-texture>
      <three-texture #exrBackground [storageName]="'textures/piz_compressed.exr'"  [cubeType]="'equirectangular'"></three-texture>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'TorusKnot'"
        [radius]="18"
        [tube]="8"
        [radialSegments]="150"
        [tubularSegments]="20"
      ></three-geometry>
      <three-material 
        [type]="'MeshStandard'" 
        [metalness]="controls.metalness" 
        [roughness]="controls.roughness" 
        [envMapIntensity]="1.0"
        [envMap]="controls.envMap == 'EXR' ? exrBackground : pngBackground"
      >
      </three-material>
    </three-mesh>
    <three-mesh [receiveShadow]="true" [visible]="controls.debug">
      <three-position [x]="0" [y]="-50" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'Plane'"
        [width]="200"
        [height]="200"
      ></three-geometry>
      <three-material [type]="'MeshBasic'" ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
