<div id="info">
  <a href="http://threejs.org" target="_blank">threejs</a> - WebGL - Multiple Render Targets<br/>
  Renders geometry into a G-Buffer.<br/>
  Visualized here is the color and normal data from the G-Buffer.<br/>
  Created by <a href="http://twitter.com/mattdesl" target="_blank">@mattdesl</a>.
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="70" [near]="1" [far]="10">
    <three-position [x]="0" [y]="0" [z]="4"></three-position>
  </three-camera>
  <three-scene #scene >
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'TorusKnotGeometry'"
        [radius]="1"
        [tube]="0.3"
        [radiusSegments]="128"
        [tubularSegments]="64"
      ></three-geometry>
      <three-material [type]="'RawShaderMaterial'" [shader]="'ShaderDemo13'"
        [uniforms]="{
          tDiffuse: { type : 'texture', value: 'textures/brick_diffuse.jpg', options : 'RepeatWrapping' },
          repeat: { type : 'v2', value: [ 5, 0.5] }
        }"
        [glslVersion]="'GLSL3'"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
