<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - webgl wireframe demo
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="40" [near]="1" [far]="500">
    <three-position [x]="0" [y]="0" [z]="150"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-shared>
      <three-geometry
        #geometry
        [storageName]="'models/json/WaltHeadLo_buffergeometry.json'"
        [onInit]="setGeometry"
      ></three-geometry>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh [geometry]="geometry">
        <three-position [x]="-40" [y]="0" [z]="0"></three-position>
        <three-material [type]="'MeshBasicMaterial'" [color]="'0xe0e0ff'" [wireframe]="true"></three-material>
      </three-mesh>
      <three-mesh [geometry]="geometry">
        <three-position [x]="40" [y]="0" [z]="0"></three-position>
        <three-material [type]="'ShaderMaterial'" [shader]="'wireframe'" [uniforms]="{ widthFactor : { type :'number', value : controls.widthFactor } }" [extensions]="'derivatives'"></three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
