<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - Rhino 3DM loader todo
</div>
<ngx3js-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true , autoRotate : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
  <ngx3js-camera [type]="'perspective'" [fov]="60" [near]="1" [far]="1000">
    <ngx3js-position [x]="26" [y]="-40" [z]="5"></ngx3js-position>
    <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
  </ngx3js-camera>
  <ngx3js-scene #scene>
    <ngx3js-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="2"
      [castShadow]="true"
    >
      <ngx3js-position [x]="0" [y]="0" [z]="2"></ngx3js-position>
    </ngx3js-light>
    <ngx3js-mesh (onLoad)="setMesh($event)" [storageName]="'models/3dm/Rhino_Logo.3dm'">
      <ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
    </ngx3js-mesh>
  </ngx3js-scene>
</ngx3js-renderer>
