<div id="info"><a href="https://threejs.org" target="_blank">three.js</a> - fat lines</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0x000000'"
  [clearAlpha]="0.0"
  [minDistance]="10"
  [maxDistance]="500"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" 
    #mainCamera
    [autoClear]="false" [fov]="40" [near]="1" [far]="1000"
    [viewport]="true" [x]="0" [y]="0" [width]="'100%'" [height]="'100%'"
  >
    <three-position [x]="-40" [y]="0" [z]="60"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-camera [type]="'perspective'" 
    [clearColor]="'0x222222'" [clearAlpha]="1" [clearDepth]="true" 
    [fov]="40" [near]="1" [far]="1000" 
    [viewport]="true" [x]="20" [y]="20" [width]="'25%'" [height]="'width'"
    [scissorTest]="true" [scissorX]="'x'" [scissorY]="'y'" [scissorWidth]="'width'" [scissorHeight]="'height'"
    [referObject3d]="mainCamera"
  >
    <three-position [x]="-40" [y]="0" [z]="50"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh [type]="'Line2'" [visible]="true">
        <three-geometry
          [type]="'Line'"
          [position]="positions"
          [color]="colors"
        ></three-geometry>
        <three-material 
          type="Line" 
          [color]="'0xffffff'" 
          [linewidth]="5" 
          [vertexColors]="true" 
          [dashed]="false"
          [resolutionX]="1024"
          [resolutionY]="768"
        ></three-material>
      </three-mesh>
      <three-mesh [type]="'Line'">
        <three-geometry
          [type]="'Buffer'"
          [position]="positions"
          [color]="colors"
        ></three-geometry>
        <three-material type="LineBasic" [color]="'0xffffff'" [vertexColors]="true"></three-material>
      </three-mesh>
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
    </three-mesh>
  </three-scene>
</three-renderer>
