<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> buffergeometry - selective - draw
  <div id="title"></div>
  <div id="ui"><a href="#" id="hideLines">CULL SOME LINES</a> - <a href="#" id="showAllLines">SHOW ALL LINES</a></div>
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  [autoRotate]="true"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="0.01" [far]="10">
    <three-position [x]="0" [y]="0" [z]="3.5"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-light
      [type]="'AmbientLight'"
      [color]="'0x444444'"
    >
    </three-light>
    <three-mesh (onLoad)="setMesh($event)" [type]="'LineSegments'">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'BufferGeometry'"
        [attrPosition]="linePositions"
        [attrVertColor]="lineColors"
        [attrVisible]="lineVisible"
      ></three-geometry>
      <three-material 
        [type]="'ShaderMaterial'" 
        [vertexShader]="vertexshader"
        [fragmentShader]="fragmentshader"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
