<div [id]="'info'">
  <a [href]="'https://threejs.org'" [target]="'_blank'" [rel]="'noopener'">three.js</a> collada loader - skinning<br/>
  Dancing Stormtrooper by <a [href]="'https://sketchfab.com/strykerdoesgames'" [target]="'_blank'" [rel]="'noopener'">StrykerDoesAnimation</a>, <a [href]="'https://creativecommons.org/licenses/by/4.0/'" [target]="'_blank'" [rel]="'noopener'">CC Attribution</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [autoRotate]="true"
  [screenSpacePanning]="true"
  [minDistance]="5"
  [maxDistance]="40"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="2" [z]="0"></three-lookat>
  <three-scene #scene>
    <three-camera [type]="'perspective'" [fov]="25" [near]="1" [far]="1000">
      <three-position [x]="15" [y]="10" [z]="-15"></three-position>
      <three-lookat [x]="0" [y]="2" [z]="0"></three-lookat>
      <three-light [type]="'Point'" [color]="'0xffffff'" [intensity]="0.8"></three-light>
    </three-camera>
    <three-light
      [type]="'Ambient'"
      [color]="'0xffffff'"
      [intensity]="0.2"
    >
    </three-light>
    <three-helper [type]="'grid'" [size]="10" [divisions]="20" [color1]="'0x888888'" [color2]="'0x444444'"></three-helper>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'models/collada/stormtrooper/stormtrooper.dae'">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-mixer [action]="'dance'">
        <three-clip [name]="'dance'" [index]="0"></three-clip>
      </three-mixer>
    </three-mesh>
  </three-scene>
</three-renderer>
