<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
	collada loader - skinning<br />
	Dancing Stormtrooper by
	<a
		href="https://sketchfab.com/strykerdoesgames"
		target="_blank"
		rel="noopener"
		>StrykerDoesAnimation</a
	>,
	<a
		href="https://creativecommons.org/licenses/by/4.0/"
		target="_blank"
		rel="noopener"
		>CC Attribution</a
	>
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{
		enablePan: false,
		enableDamping: true,
		autoRotate: true,
		minDistance: 5,
		maxDistance: 40,
		screenSpacePanning: true
	}"
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="2" [z]="0"></ngx3js-lookat>
	<ngx3js-scene #scene>
		<ngx3js-camera [type]="'perspective'" [fov]="25" [near]="1" [far]="1000">
			<ngx3js-position [x]="15" [y]="10" [z]="-15"></ngx3js-position>
			<ngx3js-light
				[type]="'Point'"
				[color]="'0xffffff'"
				[intensity]="0.8"
			></ngx3js-light>
		</ngx3js-camera>
		<ngx3js-light [type]="'Ambient'" [color]="'0xffffff'" [intensity]="0.2">
		</ngx3js-light>
		<ngx3js-helper
			[type]="'grid'"
			[size]="10"
			[divisions]="20"
			[color1]="'0x888888'"
			[color2]="'0x444444'"
		></ngx3js-helper>
		<ngx3js-mesh
			(onLoad)="setMesh($event)"
			[storageName]="'models/collada/stormtrooper/stormtrooper.dae'"
		>
			<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-mixer [action]="'dance'">
				<ngx3js-clip [name]="'dance'" [index]="0"></ngx3js-clip>
			</ngx3js-mixer>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
