<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - (normal + ao + displacement + environment) map demo.<br />
  ninja head from <a href="https://gpuopen.com/archive/gamescgi/amd-gpu-meshmapper/" target="_blank" rel="noopener">AMD GPU MeshMapper</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true , autoRotate : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="10000">
    <three-position [x]="0" [y]="0" [z]="1500"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-light
      [type]="'Ambient'"
      [color]="'0xff0000'"
      [intensity]="controls.ambientIntensity"
    >
    </three-light>
    <three-light
      [type]="'Point'"
      [color]="'0xff0000'"
      [intensity]="0.5"
    >
      <three-position [x]="0" [y]="0" [z]="2500"></three-position>
    </three-light>
    <three-light
      [type]="'Point'"
      [color]="'0xff6666'"
      [intensity]="1"
    >
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
    </three-light>
    <three-light
      [type]="'Point'"
      [color]="'0x0000ff'"
      [intensity]="0.5"
    >
      <three-position [x]="-1000" [y]="0" [z]="1000"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'models/obj/ninja/ninjaHead_Low.obj'" [storageOption]="{ autoCenter : true }">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-scale [multiply]="25"></three-scale>
      <three-material 
        [type]="'MeshStandard'" 
        [color]="'0x888888'"
        [roughness]="controls.roughness"
        [metalness]="controls.metalness"
        [normalScaleX]="1"
        [normalScaleY]="-1"
        [aoMapIntensity]="1"
        [displacementScale]="controls.displacementScale"
        [displacementBias]="-0.428408"
        [envMapIntensity]="controls.envMapIntensity"
        [side]="'double'"
      >
        <three-texture [textureType]="'normalMap'" [image]="'models/obj/ninja/normal.png'"></three-texture>
        <three-texture [textureType]="'aoMap'" [image]="'models/obj/ninja/ao.jpg'"></three-texture>
        <three-texture [textureType]="'displacementMap'" [image]="'models/obj/ninja/displacement.jpg'"></three-texture>
        <three-texture [textureType]="'envMap'" [image]="'textures/cube/SwedishRoyalCastle/'" [cubeImage]="['','jpg']" [encoding]="'sRGB'"></three-texture>
      </three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
