<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> svg - lines
</div>
<three-renderer
  [type]="'svg'"
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="33" [near]="0.1" [far]="100">
    <three-position [x]="0" [y]="0" [z]="10"></three-position>
  </three-camera>
  <three-shared>
    <three-geometry
      #geometry
      [type]="'BufferGeometry'"
      [attrPosition]="vertices"
    ></three-geometry>
  </three-shared>
  <three-scene #scene [background]="'0x000000'">
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let info of lines" [name]="info.name" [type]="'line'" [geometry]="geometry">
        <three-position [x]="0" [y]="0" [z]="0"></three-position>
        <three-scale [multiply]="info.scale"></three-scale>
        <three-material [type]="'LineBasicMaterial'" [color]="info.color" [linewidth]="10"></three-material>
      </three-mesh>
      <three-mesh [type]="'line'" [geometry]="geometry">
        <three-scale [multiply]="2"></three-scale>
        <three-material [type]="'LineDashedMaterial'" [color]="'blue'" [linewidth]="1" [dashSize]="10" [gapSize]="10"></three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
