<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
	effects - {{ controls.type}} / {{ controls.pass }}
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, enableDamping: true }"
	[statsMode]="0"
	[antialias]="true"
	[clearColor]="'0xffffff'"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	[guiOpen]="true"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="70" [near]="1" [far]="1000">
		<ngx3js-position [x]="0" [y]="150" [z]="500"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-composer [type]="controls.type" [invert]="true">
		<ngx3js-pass [type]="'RenderPass'"></ngx3js-pass>
		<ngx3js-pass
			[type]="controls.pass"
			[noiseIntensity]="controls.filmPass.noiseIntensity"
			[scanlinesIntensity]="controls.filmPass.scanlinesIntensity"
			[scanlinesCount]="controls.filmPass.scanlinesCount"
			[grayscale]="controls.filmPass.grayscale"
			[damp]="controls.afterimagePass.damp"
		></ngx3js-pass>

	</ngx3js-composer>
	<ngx3js-scene #scene [background]="'0x000000'">
		<ngx3js-light [type]="'Point'" [color]="'0xffffff'">
			<ngx3js-position [x]="500" [y]="500" [z]="500"></ngx3js-position>
		</ngx3js-light>
		<ngx3js-light [type]="'Point'" [color]="'0xffffff'" [intensity]="0.25">
			<ngx3js-position [x]="-500" [y]="-500" [z]="-500"></ngx3js-position>
		</ngx3js-light>
		<ngx3js-mesh (onLoad)="setMesh($event)">
			<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
			<ngx3js-geometry
				[type]="'Sphere'"
				[radius]="200"
				[widthSegments]="20"
				[heightSegments]="10"
			></ngx3js-geometry>
			<ngx3js-material
				[type]="'MeshPhong'"
				[color]="'0xff0000'"
			></ngx3js-material>
		</ngx3js-mesh>
		<ngx3js-mesh [receiveShadow]="true">
			<ngx3js-position [x]="0" [y]="-200" [z]="0"></ngx3js-position>
			<ngx3js-rotation [x]="-90" [y]="0" [z]="0"></ngx3js-rotation>
			<ngx3js-geometry
				[type]="'Plane'"
				[width]="400"
				[height]="400"
			></ngx3js-geometry>
			<ngx3js-material
				[type]="'MeshBasic'"
				[color]="'0xe0e0e0'"
			></ngx3js-material>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
