<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> physics - ammo.js instancing
</div>
<ngx3js-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <ngx3js-lookat [x]="0" [y]="0.5" [z]="0"></ngx3js-lookat>
  <ngx3js-camera [type]="'perspective'" [fov]="50" [near]="0.1" [far]="100">
    <ngx3js-position [x]="-1" [y]="1.5" [z]="2"></ngx3js-position>
  </ngx3js-camera>
  <ngx3js-scene #scene [background]="'0x666666'">
    <ngx3js-physics  [type]="'oimo'" [gravity]="-9.8" (onLoad)="setPhysics($event)"></ngx3js-physics>
    <ngx3js-light
      [type]="'Hemisphere'"
      [intensity]="0.35"
    ></ngx3js-light>
    <ngx3js-light
      [type]="'DirectionalLight'"
      [castShadow]="true"
      [shadowCameraZoom]="2"
    >
      <ngx3js-position [x]="5" [y]="5" [z]="5"></ngx3js-position>
    </ngx3js-light>
    <ngx3js-mesh (onLoad)="setMesh($event)">
      <ngx3js-mesh 
        [castShadow]="true" 
        [receiveShadow]="true" 
        [type]="'InstancedMesh'"
        [usage]="'DynamicDrawUsage'"
        [count]="100"
        [makeMatrix]="makeMatrix"
        [makeColor]="makeColor"
      >
        <ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
        <ngx3js-geometry
          [type]="'box'"
          [width]="0.1"
          [height]="0.1"
          [depth]="0.1"
        ></ngx3js-geometry>
        <ngx3js-material [type]="'MeshLambertMaterial'"></ngx3js-material>
        <ngx3js-rigidbody [mass]="1"></ngx3js-rigidbody>
      </ngx3js-mesh>
      <ngx3js-mesh 
        [castShadow]="true" 
        [receiveShadow]="true" 
        [type]="'InstancedMesh'"
        [usage]="'DynamicDrawUsage'"
        [count]="100"
        [makeMatrix]="makeMatrix"
        [makeColor]="makeColor"
      >
        <ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
        <ngx3js-geometry
          [type]="'IcosahedronGeometry'"
          [radius]="0.075"
          [detail]="3"
        ></ngx3js-geometry>
        <ngx3js-material [type]="'MeshLambertMaterial'"></ngx3js-material>
        <ngx3js-rigidbody [mass]="1"></ngx3js-rigidbody>
      </ngx3js-mesh>
    </ngx3js-mesh>
    <ngx3js-mesh [receiveShadow]="true">
      <ngx3js-position [x]="0" [y]="-2.5" [z]="0"></ngx3js-position>
      <ngx3js-geometry
        [type]="'BoxGeometry'"
        [width]="10"
        [height]="5"
        [depth]="10"
      ></ngx3js-geometry>
      <ngx3js-material
        [type]="'ShadowMaterial'"
        [color]="'0x111111'"
      ></ngx3js-material>
      <ngx3js-rigidbody [mass]="0"></ngx3js-rigidbody>
    </ngx3js-mesh>
  </ngx3js-scene>
</ngx3js-renderer>
