<three-renderer [controlType]="'orbit'" [statsMode]="0" [antialias]="true" [clearColor]="'0xaaaaff'" [shadowMapEnabled]="true" [guiControl]="controls" [guiParams]="controlsParams" (onRender)="onRender($event)">
    <three-camera [type]="'perspective'" [fov]="45" [near]="0.1" [far]="1000">
        <three-position [x]="-20" [y]="15" [z]="45"></three-position>
        <three-lookat [x]="10" [y]="0" [z]="0"></three-lookat>
    </three-camera>
    <three-scene #scene>
        <three-fog type="fog" [color]="'0xaaaaaa'" [near]="0.010" [far]="200"></three-fog>
        <three-mesh type="light" lightType="spot" [color]="'0xcccccc'" [castShadow]="false" [visible]="true">
            <three-position [x]="-40" [y]="60" [z]="-10"></three-position>
            <three-lookat [refer]="plane"></three-lookat>
        </three-mesh>
        <three-mesh type="light" lightType="directional"
            [color]="'#ffffff'"
            [castShadow]="true"
            [shadowCameraNear]="0.1"
            [shadowCameraFar]="200"
            [shadowCameraLeft]="-50"
            [shadowCameraRight]="50"
            [shadowCameraTop]="50"
            [shadowCameraBottom]="-50"
            [target]="plane"
        >
            <three-position [x]="30" [y]="10" [z]="-50"></three-position>
        </three-mesh>
        <three-mesh type="light" lightType="Hemisphere"
            [intensity]="controls.hemisphere ? controls.intensity : 0"
            [groundColor]="controls.color"
            [skyColor]="controls.skyColor"
        >
            <three-position [x]="0" [y]="500" [z]="0"></three-position>
        </three-mesh>
        <three-mesh #cube [castShadow]="true">
            <three-position [x]="0" [y]="3" [z]="0"></three-position>
            <three-rotation [x]="boxRotation.x" [y]="boxRotation.y" [z]="boxRotation.z"></three-rotation>
            <three-geometry type="box" [width]="4" [height]="4" [depth]="4"></three-geometry>
            <three-material type="meshlambert" [color]="'0xff3333'"></three-material>
        </three-mesh>
        <three-mesh #sphere [castShadow]="true">
            <three-position [x]="spherePosition.x" [y]="spherePosition.y" [z]="spherePosition.z"></three-position>
            <three-geometry type="Sphere" [radius]="4" [widthSegments]="25" [heightSegments]="25"></three-geometry>
            <three-material type="meshlambert" [color]="'0x7777ff'"></three-material>
        </three-mesh>
        <three-mesh #plane [receiveShadow]="true">
            <three-position [x]="15" [y]="0" [z]="0"></three-position>
            <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
            <three-geometry #planeGeometry type="plane" [width]="1000" [height]="200" [widthSegments]="20" [heightSegments]="20"></three-geometry>
            <three-material type="meshlambert" [color]="'0xffffff'">
                <three-texture
                    [image]="'/assets/textures/ground/grasslight-big.jpg'"
                    [wrapS]="'repeat'"
                    [wrapT]="'repeat'"
                    [repeatX]="4"
                    [repeatY]="4"
                ></three-texture>
            </three-material>
        </three-mesh>
    </three-scene>
</three-renderer>
