<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl demo :
  Earth diffuse and city lights by <a href="http://seanward.org" target="_blank" rel="noopener">Sean Ward</a>
  todo
</div>
<ngx3js-renderer [controlType]="'orbit'" [controlOptions]="{ enablePan : false , enableDamping : true, autoRotate : true, autoRotateSpeed : 1 }" [statsMode]="0" [antialias]="true" [shadowMapEnabled]="true" [guiControl]="controls" [guiParams]="controlsParams" [guiOpen]="true" (onRender)="onRender($event)">
  <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
  <ngx3js-camera [type]="'perspective'" [fov]="70" [near]="0.1" [far]="100000">
    <ngx3js-position [x]="700" [y]="400" [z]="800"></ngx3js-position>
  </ngx3js-camera>
  <ngx3js-scene #scene>
    <ngx3js-shared>
      <ngx3js-geometry #earthGeo [type]="'SphereGeometry'" [radius]="600" [widthSegments]="24" [heightSegments]="24"></ngx3js-geometry>
    </ngx3js-shared>
    <ngx3js-light [type]="'AmbientLight'" [color]="'0x050505'"></ngx3js-light>
    <ngx3js-light [type]="'directional'" [color]="'0xffffff'" [intensity]="controls.sunLight">
      <ngx3js-position [x]="2" [y]="0" [z]="10" [normalize]="true"></ngx3js-position>
    </ngx3js-light>
    <ngx3js-mesh (onLoad)="setMesh($event)">
      <ngx3js-mesh #sphereMesh [geometry]="earthGeo">
        <ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
        <ngx3js-material [type]="'MeshPhongMaterial'" [color]="'0xffffff'" [shininess]="200">
          <ngx3js-texture [type]="'map'" [image]="'textures/planets/earth_atmos_4096.jpg'" [encoding]="'sRGBEncoding'"></ngx3js-texture>
          <ngx3js-texture [type]="'specularMap'" [image]="'textures/planets/earth_specular_2048.jpg'" [encoding]="'sRGBEncoding'"></ngx3js-texture>
        </ngx3js-material>
      </ngx3js-mesh>
      <ngx3js-mesh #sphereLightsMesh [geometry]="earthGeo">
        <ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
        <ngx3js-material [type]="'MeshBasicMaterial'" [color]="'0xffffff'" [blending]="'AdditiveBlending'" [transparent]="true" [depthTest]="false">
          <ngx3js-texture [type]="'map'" [image]="'textures/planets/earth_lights_2048.png'" [encoding]="'sRGBEncoding'"></ngx3js-texture>
        </ngx3js-material>
      </ngx3js-mesh>
      <ngx3js-mesh #sphereCloudsMesh [geometry]="earthGeo">
        <ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
        <ngx3js-material [type]="'MeshLambertMaterial'" [color]="'0xffffff'" [blending]="'NormalBlending'" [transparent]="true" [depthTest]="false">
          <ngx3js-texture [type]="'map'" [image]="'textures/planets/earth_clouds_2048.png'" [encoding]="'sRGBEncoding'"></ngx3js-texture>
        </ngx3js-material>
      </ngx3js-mesh>
      <ngx3js-mesh #sphereAtmoMesh [geometry]="earthGeo">
        <ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
        <ngx3js-scale [multiply]="1.05"></ngx3js-scale>
        <ngx3js-material [type]="'ShaderMaterial'" [side]="'BackSide'" [transparent]="true" [lights]="true" 
            [uniforms]="uniforms"
            [vertexShader]="vertexShader"
            [fragmentShader]="fragmentShader"
        >
        </ngx3js-material>
      </ngx3js-mesh>
    </ngx3js-mesh>
  </ngx3js-scene>
</ngx3js-renderer>