<div id="info">
  <a [href]="'https://threejs.org'" [target]="'_blank'" [rel]="'noopener'">three.js</a> -
  <a [href]="'https://developers.google.com/kml/documentation/kmzarchives'" [target]="'_blank'" [rel]="'noopener'">KMZ</a> loader
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="35" [near]="1" [far]="500">
    <three-position [x]="0" [y]="5" [z]="10"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene [background]="'0x999999'">
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
    >
      <three-position [x]="0.5" [y]="1.0" [z]="0.5" [normalize]="true"></three-position>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'models/kmz/Box.kmz'">
      <three-position [x]="0" [y]="0.5" [z]="0"></three-position>
    </three-mesh>
    <three-helper [type]="'grid'" [size]="50" [divisions]="50" [color1]="'0xffffff'" [color2]="'0x555555'"></three-helper>
  </three-scene>
</three-renderer>
