<three-renderer [controlType]="'orbit'" [statsMode]="0" [antialias]="true" [clearColor]="'0xffffff'" [shadowMapEnabled]="true" [guiControl]="controls" [guiParams]="controlsParams" (onRender)="onRender($event)">
    <three-canvas>
        <three-transform 
            [anchorSeparat]="controls.anchorSeparat"
            [x]="controls.x"
            [y]="controls.y"
            [z]="controls.z"
            [width]="controls.width"
            [height]="controls.height"
            [left]="controls.left"
            [top]="controls.top"
            [right]="controls.right"
            [bottom]="controls.bottom"
            [anchorMinX]="controls.anchors.min.x"
            [anchorMinY]="controls.anchors.min.y"
            [anchorMaxX]="controls.anchors.max.x"
            [anchorMaxY]="controls.anchors.max.y"
            [pivotX]="controls.pivot.x"
            [pivotY]="controls.pivot.y"
            [rotationX]="controls.rotation.x"
            [rotationY]="controls.rotation.y"
            [rotationZ]="controls.rotation.z"
            [scaleX]="controls.scale.x"
            [scaleY]="controls.scale.y"
            [scaleZ]="controls.scale.z"
        ></three-transform>
        <three-background
            [backgroundColor]="'0xff12ff'"
            [border]="'3px solid red'"
            
        ></three-background>
    </three-canvas>
    <three-camera [type]="'perspective'" [fov]="45" [near]="0.1" [far]="2000">
        <three-position [x]="20" [y]="0" [z]="-20"></three-position>
        <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
    </three-camera>
    <three-scene #scene>
        <three-mesh type="light" lightType="ambient" [color]="'0x121212'"></three-mesh>
        <three-mesh type="light" lightType="directional" [color]="'0xffffff'" [intensity]="0.2" [castShadow]="true" >
            <three-position [x]="-40" [y]="60" [z]="-10"></three-position>
            <three-lookat [refer]="scene"></three-lookat>
        </three-mesh>
        <three-mesh>
            <three-position [x]="0" [y]="0" [z]="0"></three-position>
            <three-rotation [x]="rotation.x" [y]="rotation.y" [z]="rotation.z"></three-rotation>
            <three-geometry [type]="'box'" [width]="10" [height]="10" [depth]="10"></three-geometry>
            <three-material type="meshlambert" [color]="'0xff0000'" [wireframe]="controls.wireframe"></three-material>
        </three-mesh>
    </three-scene>
</three-renderer>