@import './main';
@import './page';
@import './prettify';


pre.prettyprint,
code.prettyprint {
	font-family: 'Roboto Mono', monospace;
	border-width: 5px 0 2px 0;
	border-style: solid none solid none;
	background-color:var(--background-color);
	border-color:var(--secondary-background-color);
	transition: border-color 3s, background-color 1s;
	&:hover {
		background-color: var(--secondary-background-color);
		border-color: var(--color-blue);
	}
}
pre {
	position: relative;
	>span.language-type {
		display: inline-block;
		position: absolute;
		right:-10px;
		top : 10px;
		padding: 2px 10px;
		border-radius: 10px;
		border-width: 2px;
		border-style: solid;
		transition: top 1s, opacity 1s;
		border-color: var(--secondary-background-color);
		background-color:var(--background-color);
		font-size: 0.8em;
		text-align: center;
		min-width: 70px;
		opacity: 1;
		font-style: italic;
		box-shadow: 3px 3px 3px 0px var(--background-color);
	}
	&:hover {
		>span.language-type {
			opacity: 0.7;
			top : calc(100% - 10px);
		}
	}
}



.lil-gui.root > div.children {
	background-color: var(--background-color);
	max-height: calc(100vh - 200px) !important;
}

#example-iframe #viewer-inner,
#example #viewer-inner {

	.debug {
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 0;
		z-index: 10;
		div.debug-stats,
		div.debug-controls {
			pointer-events: all;
			position: absolute;
			top:0;
			opacity: 0.1;
			transition: opacity 1s,left 1s,right 1s;
			&:hover {
				opacity: 1;
			}
		}
		div.debug-stats {
			width:80px;
			height: 48px;
			left:0;
		}
		div.debug-controls {
			right : 0;
			width:250px;
			height: 48px;
		}
	}
	.canvas {
		display: inline-block;
	}

	.three-canvas {
		position: absolute;
		perspective: 200px;
		left: 0;
		top: 0;
		right: auto;
		bottom: auto;
	}
	input.three-visual,
	textarea.three-visual,
	label.three-visual,
	form.three-visual > label {
		display: block;
		overflow: hidden;
		padding: 0;
		margin: 0;
		resize: none;
	}
	.three-visual {
		box-sizing: border-box;
		position: absolute;
		left: 0;
		top: 0;
		right: auto;
		bottom: auto;
		pointer-events: none;
	}

	div.bottom,
	div.info {
		opacity: 0.3;
		transition: opacity 0.5s, top 0.5s;
		position: absolute;
		top: 0px;
		left: 0;
		right: 0;
		padding: 10px;
		font-size: 13px;
		box-sizing: border-box;
		text-align: center;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		pointer-events: all;
		color: #ffffff;
		background-color: rgba(255, 255, 255, 0.2);
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
		z-index: 10;
		&:hover {
			opacity: 0.7;
		}
		p {
			margin: 0.2em 0;
		}
		strong.shadow {
			box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
			border:1px solid #000000;
			background-color: rgba(0,0,0,0.7);
			display: inline-block;
			padding:3px 10px;
			border-radius: 5px;
		}
		a {
			pointer-events: auto;
			color: #ff0;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		&.dark {
			color: #444;
			a {
				color: #08f;
			}
		}
		.lbl {
			text-align: left;
			position: absolute;
			bottom: 5px;
			z-index: 100;
			text-shadow: #000 1px 1px 1px;
			background-color: rgba(151, 80, 80, 0.85);
			padding: 1em;
			border: 2px solid #000;
			.g {
				color: #aaa;
			}
			.c {
				color: #fa0;
			}
			&.canvas {
				pointer-events: all;
				padding: 0;
				overflow: hidden;
				> canvas {
					background-color: white;
				}
				> button.clear-btn {
					position: absolute;
					left: 0px;
					top: 0px;
					border-radius: 0 0 3px 0;
					width: 1rem;
					height: 1rem;
					border: 0 none;
					font-size: 0.7rem;
					background-color: #000000;
					color: white;
					margin: 0;
					padding: 0;
				}
			}
			&#lbl_left {
				border-radius: 2px 15px 2px 2px;
				left: 5px;
			}
			&#lbl_right {
				border-radius: 15px 2px 2px 2px;
				right: 5px;
			}
		}
	}

	div.bottom {
		position: absolute;
		top: auto;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 0;
	}
}

#example-iframe.view-screen #viewer-inner,
#example #viewer-inner {
	div.info {
		display: none;
	}
}

div#example-iframe,
div#example,
div#docs {
	div.dummy-iframe {
		background-color: var(--secondary-background-color);
		width: 100%;
		height: 216px;
		position: relative;
		&::before {
			content: 'Scroll window to view this example demo.';
			position: absolute;
			display: inline-block;
			left : 50%;
			top : 50%;
			text-align: center;
			width: 400px;
			margin-left: -200px;
			margin-top: -15px;
		}		
	}
	#panel #content h2:after,
	#panel #content h3:after {
		content: '';
		display: block;
		position: absolute;
		left:0;
		top :0;
		bottom: 0;
		right: 0;
		background-color: var(--background-color);
		opacity: 0.95;
		z-index: -1;
	}
	#panel #content h2,
	#panel #content h3{
		position: sticky;
		left:0;right:0;
		padding: 3px 10px;
		border-bottom: 1px solid var(--secondary-background-color);
	}
	#panel #content h2 {
		z-index: 100;
		top :0px;
	}
	#panel #content h3{
		top :33px;
		z-index: 99;
	}

	div.doc-body {
		h3.interface {
			color: var(--color-blue);
			a {
				font-size: 0.8em;
				vertical-align: middle;
				font-style: italic;
			}
		}
		h1 {
			position: sticky;
			&::after {
				content: '';
				display: block;
				position: absolute;
				left:0;
				top :0;
				bottom: 0;
				right: 0;
				background-color: var(--background-color);
				opacity: 0.7;
				z-index: -1;
			}
			border-bottom: 2px solid var(--text-color);
			top : 0;
			left : 0;
			right : 0;
			padding : 5px 10px;
			line-height: 100%;
			z-index: 100;
		}
		div.dummy-iframe,
		iframe {
			max-height: calc(100vh - 100px);
			border:2px solid var(--secondary-text-color);
			border-radius: 20px;
			overflow: hidden;
			transition: border-radius 0.5s;
			&:hover {
				border-radius: 0px;
			}
		}
		iframe {
			animation: loadingIframe 2s normal forwards ease-in-out;
		}
		@keyframes loadingIframe {
			0% {
				opacity: 0;
			}
			70% {
				opacity: 0.9;
			}
			100% {
				opacity: 1;
			}
		}
	}

	#inputWrapper>input::placeholder {
		padding-left: 10px;
		color:var(--text-color);
		opacity: 0.2;
		font-style: italic;
	}
	div.doc-body {
		.doc-top,
		a[id],
		h1[id],
		h2[id],
		h3[id],
		h4[id] {
			scroll-margin-top: 70px;
		}
	}
	hr.interface-line {
		margin: 1rem 0;
		border: 2px solid var(--secondary-text-color);
		&.top {
			border-width: 1px;
			margin-bottom: 1em;
		}
		&.bottom {
			margin-top: 1.5em;
		}
	}
	i.modifier {
		display: inline-block;
		line-height: 120%;
		font-size: 0.7em;
		padding: 0.1em 0.3em;
		margin-left: 0.5em;
		border-radius: 3px;
		border: var(--border-style);
		color: var(--background-color);
		background-color: var(--text-color);
		vertical-align: middle;
		&.modifier-public {
			color: var(--secondary-background-color);
			background-color: var(--secondary-text-color);
			display: none;
		}
		&.modifier-input {
			background-color: var(--color-blue);
		}
		&.modifier-output {
			background-color: var(--color-red);
		}
	}
	height: 100%;
	position: relative;
}

div#example-iframe #viewer-inner,
div#example div#viewer #viewer-inner {
	overflow: hidden;
}
div#viewer {
	position: absolute;
	border: 0px;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	padding-left: var(--panel-width);
	#viewer-inner {
		position: relative;
		box-sizing: border-box;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
	}
}

#example-iframe.view-screen #viewer-inner .debug {
	div.debug-stats {
		top : 5px;
		left : -70px;
		&:hover {
			left: 5px;
		}
	}
	div.debug-controls {
		top : 5px;
		right : -200px;
		&:hover {
			right: 5px;
		}
	}
}
/* mobile */

@media all and (max-width: 640px) {
	div#docs,
	div#example-iframe,
	div#example {
		#viewer-inner {
			.debug {
				position: static;
				div.debug-stats {
					z-index: 10;
					left : -70px;
					top : 3px;
					&:hover {
						left: 3px;
					}
				}
				div.debug-controls {
					overflow: hidden;
					z-index: 10;
					right : auto;
					top : auto;
					left : 3px;
					bottom : 3px;
					height: auto;
					div.lil-gui.root {
						position: relative !important;
					}
				}
			}
		}		
		div#viewer {
			height: calc(100% - var(--header-height));
			padding-left: 0;
		}
		pre.prettyprint,
		code.prettyprint {
			&:hover {
				border-radius: 0px;
			}
		}		
	}
}
