<div [id]="'info'">
  <a [href]="'https://threejs.org'" [target]="'_blank'" [rel]="'noopener'">three.js</a> - level of detail
</div>
<three-renderer
  [controlType]="'orbit'"
  [autoRotate]="true"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="15000">
    <three-position [x]="0" [y]="0" [z]="1000"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene>
    <three-fog [color]="'0x000000'" [near]="1" [far]="15000"></three-fog>
    <three-light
      [type]="'Point'"
      [color]="'0xff2200'"
    >
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="1"
    >
      <three-position [x]="0" [y]="0" [z]="1" [normalize]="true"></three-position>
    </three-light>
    <three-shared>
      <three-geometry
        #geometry1
        [type]="'Icosahedron'"
        [radius]="100"
        [detail]="16"
      ></three-geometry>
      <three-geometry
        #geometry2
        [type]="'Icosahedron'"
        [radius]="100"
        [detail]="8"
      ></three-geometry>
      <three-geometry
        #geometry3
        [type]="'Icosahedron'"
        [radius]="100"
        [detail]="4"
      ></three-geometry>
      <three-geometry
        #geometry4
        [type]="'Icosahedron'"
        [radius]="100"
        [detail]="2"
      ></three-geometry>
      <three-geometry
        #geometry5
        [type]="'Icosahedron'"
        [radius]="100"
        [detail]="1"
      ></three-geometry>
      <three-material #material [type]="'MeshLambert'" [color]="'0xffffff'" [wireframe]="true"></three-material>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-scale [multiply]="3.5"></three-scale>
      <three-mesh *ngFor="let pos of lodInfos" [type]="'lod'">
        <three-position [x]="pos.x" [y]="pos.y" [z]="pos.z"></three-position>
        <three-mesh [geometry]="geometry1" [material]="material" [loDistance]="50"></three-mesh>
        <three-mesh [geometry]="geometry2" [material]="material" [loDistance]="300"></three-mesh>
        <three-mesh [geometry]="geometry3" [material]="material" [loDistance]="1000"></three-mesh>
        <three-mesh [geometry]="geometry4" [material]="material" [loDistance]="2000"></three-mesh>
        <three-mesh [geometry]="geometry5" [material]="material" [loDistance]="8000"></three-mesh>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
