<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - level of detail
</div>
<ngx3js-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true , autoRotate : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
  <ngx3js-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="15000">
    <ngx3js-position [x]="0" [y]="0" [z]="1000"></ngx3js-position>
    <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
  </ngx3js-camera>
  <ngx3js-scene #scene>
    <ngx3js-fog [color]="'0x000000'" [near]="1" [far]="15000"></ngx3js-fog>
    <ngx3js-light
      [type]="'Point'"
      [color]="'0xff2200'"
    >
      <ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
    </ngx3js-light>
    <ngx3js-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="1"
    >
      <ngx3js-position [x]="0" [y]="0" [z]="1" [normalize]="true"></ngx3js-position>
    </ngx3js-light>
    <ngx3js-shared>
      <ngx3js-geometry
        #geometry1
        [type]="'Icosahedron'"
        [radius]="100"
        [detail]="16"
      ></ngx3js-geometry>
      <ngx3js-geometry
        #geometry2
        [type]="'Icosahedron'"
        [radius]="100"
        [detail]="8"
      ></ngx3js-geometry>
      <ngx3js-geometry
        #geometry3
        [type]="'Icosahedron'"
        [radius]="100"
        [detail]="4"
      ></ngx3js-geometry>
      <ngx3js-geometry
        #geometry4
        [type]="'Icosahedron'"
        [radius]="100"
        [detail]="2"
      ></ngx3js-geometry>
      <ngx3js-geometry
        #geometry5
        [type]="'Icosahedron'"
        [radius]="100"
        [detail]="1"
      ></ngx3js-geometry>
      <ngx3js-material #material [type]="'MeshLambert'" [color]="'0xffffff'" [wireframe]="true"></ngx3js-material>
    </ngx3js-shared>
    <ngx3js-mesh (onLoad)="setMesh($event)">
      <ngx3js-scale [multiply]="3.5"></ngx3js-scale>
      <ngx3js-mesh *ngFor="let pos of lodInfos" [type]="'lod'">
        <ngx3js-position [x]="pos.x" [y]="pos.y" [z]="pos.z"></ngx3js-position>
        <ngx3js-mesh [geometry]="geometry1" [material]="material" [loDistance]="50"></ngx3js-mesh>
        <ngx3js-mesh [geometry]="geometry2" [material]="material" [loDistance]="300"></ngx3js-mesh>
        <ngx3js-mesh [geometry]="geometry3" [material]="material" [loDistance]="1000"></ngx3js-mesh>
        <ngx3js-mesh [geometry]="geometry4" [material]="material" [loDistance]="2000"></ngx3js-mesh>
        <ngx3js-mesh [geometry]="geometry5" [material]="material" [loDistance]="8000"></ngx3js-mesh>
      </ngx3js-mesh>
    </ngx3js-mesh>
  </ngx3js-scene>
</ngx3js-renderer>
