<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener noreferrer">three.js</a> webaudio - timing<br/>
  sound effect by <a href="https://freesound.org/people/michorvath/sounds/269718/" target="_blank" rel="noopener noreferrer">michorvath</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [clearColor]="'0x000000'"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="0.1" [far]="100">
    <three-position [x]="7" [y]="3" [z]="7"></three-position>
    <three-listener></three-listener>
  </three-camera>
  <three-scene #scene>
    <three-light
      [type]="'AmbientLight'"
      [color]="'0xcccccc'"
      [intensity]="0.4"
    >
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="0.7"
      [castShadow]="true"
      [shadowCameraTop]="5"
      [shadowCameraBottom]="-5"
      [shadowCameraLeft]="-5"
      [shadowCameraRight]="5"
      [shadowCameraNear]="1"
      [shadowCameraFar]="20"
      [shadowMapSize]="1024"
    >
      <three-position [x]="0" [y]="5" [z]="5"></three-position>
    </three-light>
    <three-shared>
      <three-geometry
        #ballGeometry
        [type]="'SphereGeometry'"
        [radius]="0.3"
        [widthSegments]="32"
        [heightSegments]="16"
      ><three-translation [y]="0.3"></three-translation></three-geometry>
      <three-material
        #ballMaterial 
        [type]="'MeshLambertMaterial'" 
        [color]="'0xcccccc'"
      ></three-material>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let info of ballInfos" [geometry]="ballGeometry" [material]="ballMaterial" [userData]="{ down : false }">
        <three-position [x]="info.x" [y]="info.y" [z]="info.z"></three-position>
      </three-mesh>
    </three-mesh>
    <three-mesh [receiveShadow]="true">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'Plane'"
        [width]="10"
        [height]="10"
      ></three-geometry>
      <three-material
        [type]="'MeshLambertMaterial'"
        [color]="'0x4676b6'"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
