<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
	Progressive Lightmaps by
	<a href="https://github.com/zalo" target="_blank" rel="noopener">zalo</a
	><br />
	[Inspired by
	<a
		href="http://madebyevan.com/shaders/lightmap/"
		target="_blank"
		rel="noopener"
		>evanw's Lightmap Generation</a
	>]
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{
		enablePan: false,
		enableDamping: true,
		dampingFactor: 0.05,
		screenSpacePanning: true,
		minDistance: 100,
		maxDistance: 500,
		maxPolarAngle: 120
	}"
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onLoad)="setRender($event)"
	(onRender)="onRender($event)"
>
	<ngx3js-control [type]="'TransformControls'" (onLoad)="setTransformControl($event, 'lightOrigin')" (eventListener)="transformControlsEvent($event)"></ngx3js-control>
	<ngx3js-control [type]="'TransformControls'" (onLoad)="setTransformControl($event, 'mesh')" (eventListener)="transformControlsEvent($event)"></ngx3js-control>
	<ngx3js-lookat [x]="0" [y]="100" [z]="0"></ngx3js-lookat>
	<ngx3js-camera
		[name]="'Camera'"
		[type]="'PerspectiveCamera'"
		[fov]="70"
		[near]="1"
		[far]="1000"
		(onLoad)="setCamera($event)"
	>
		<ngx3js-position [x]="0" [y]="100" [z]="200"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene [background]="'0x949494'" (onLoad)="setScene($event)">
		<ngx3js-fog [color]="'0x949494'" [near]="1000" [far]="3000"></ngx3js-fog>
		<ngx3js-mesh (onLoad)="setLightOrigin($event)">
			<ngx3js-position [x]="60" [y]="150" [z]="100"></ngx3js-position>
		</ngx3js-mesh>
		<ngx3js-mesh (onLoad)="setLightTarget($event)">
			<ngx3js-position [x]="0" [y]="20" [z]="0"></ngx3js-position>
		</ngx3js-mesh>
		<ngx3js-mesh
			[name]="'Loaded Mesh'"
			(onLoad)="setMesh($event)"
			[storageName]="'models/gltf/ShadowmappableMesh.glb'"
			[castShadow]="true"
			[receiveShadow]="true"
		>
			<ngx3js-position [x]="0" [y]="-16" [z]="0"></ngx3js-position>
			<ngx3js-scale [multiply]="2"></ngx3js-scale>
		</ngx3js-mesh>
		<ngx3js-mesh [name]="'Ground Mesh'" [receiveShadow]="true" (onLoad)="setGround($event)">
			<ngx3js-position [x]="0" [y]="-0.1" [z]="0"></ngx3js-position>
			<ngx3js-rotation [x]="-90" [y]="0" [z]="0"></ngx3js-rotation>
			<ngx3js-geometry
				[type]="'PlaneBufferGeometry'"
				[width]="600"
				[height]="600"
			></ngx3js-geometry>
			<ngx3js-material
				[type]="'MeshPhongMaterial'"
				[color]="'0xffffff'"
				[depthWrite]="false"
			></ngx3js-material>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
