<div [id]="'info'">
  <a [href]="'https://threejs.org'" [target]="'_blank'" [rel]="'noopener'">three.js</a>
  <a [href]="'http://amf.wikispaces.com'" [target]="'_blank'" [rel]="'noopener'">AMF File format</a>
  <div>AMF loader test by <a [href]="'https://github.com/tamarintech'" [target]="'_blank'" [rel]="'noopener'">tamarintech</a></div>
  <div>Rook manufacturing file from <a [href]="'http://amf.wikispaces.com/AMF+test+files'" [target]="'_blank'" [rel]="'noopener'">AMF test files</a></div>
</div>
<three-renderer
  [controlType]="'orbit'"
  [autoRotate]="true"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="1.2" [z]="2"></three-lookat>
  <three-scene #scene [background]="'0x999999'">
    <three-camera [type]="'perspective'" [fov]="35" [near]="1" [far]="500">
      <three-position [x]="0" [y]="0" [z]="1" [type]="'up'"></three-position>
      <three-position [x]="0" [y]="-9" [z]="6"></three-position>
      <three-lookat [x]="0" [y]="1.2" [z]="2"></three-lookat>
      <three-light
        [type]="'Point'"
        [color]="'0xffffff'"
        [intensity]="0.8"
      >
      </three-light>
    </three-camera>
      <three-light
      [type]="'Ambient'"
      [color]="'0x999999'"
    >
    </three-light>
    <three-helper [type]="'Grid'" [size]="50" [divisions]="50" [color1]="'0x444444'" [color2]="'0x888888'">
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
    </three-helper>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'models/amf/rook.amf'">
    </three-mesh>
    <three-mesh [receiveShadow]="true">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'Plane'"
        [width]="100"
        [height]="100"
      ></three-geometry>
      <three-material
        [type]="'MeshPhong'"
        [color]="'0x999999'"
        [depthWrite]="false"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
