<div id="docs">
	<div id="panel" #panel class="searchUnFocused">
		<app-menu [menuType]="'home'" #menu></app-menu>
		<div id="panelScrim" (click)="menu.toggleMenu()"></div>
		<div id="contentWrapper">
			<div id="content">
				<div *ngFor="let item of searchMenu">
					<h2>{{ item.name }}</h2>
					<ul>
						<li *ngFor="let child of item.children">
							<a
								*ngIf="!child.isExtLink"
								href="#"
								[routerLink]="child.id"
								[ngClass]="child.selected ? 'selected' : 'unselected'"
								>{{ child.name }}</a
							>
							<a
								*ngIf="child.isExtLink"
								[href]="child.id"
								target="_blank"
								[ngClass]="child.selected ? 'selected' : 'unselected'"
								>{{ child.name }}</a
							>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="viewer">
		<div id="viewer-inner" #vierInner>
			<div class="doc-wraper">
				<a class="doc-top"></a>
				<div class="doc-body">
					<h1>Ngx3js Module</h1>
					<p class="desc">
						The aim of the project is to create an easy to use, lightweight,
						cross-browser, general purpose 3D library in angular. The current
						builds only include a WebGL renderer but WebGPU (experimental), SVG
						and CSS3D renderers are also available in the examples.
					</p>
					<h3>Ngx3js Install</h3>
					<pre><code data-type="shell" class="prettyprint hljs">npm install -g <span class="hljs-keyword">@angular/cli</span>
ng new my-app
cd my-app
npm install --save <span class="hljs-keyword">ngx3js</span>
node ./node_modules/ngx3js/bin/patch.js</code><span class="language-type">#shell</span></pre>

					<h3>Preview - ngx scene</h3>
					<br />
					<ngx3js-viewport-in [scrollEle]="vierInner" #scrollChecker1>
						<div class="dummy-iframe" *ngIf="!scrollChecker1.isVisible"></div>
						<iframe
							*ngIf="scrollChecker1.isVisible"
							src="#/viewer/ngx_scene"
						></iframe
						><br />
					</ngx3js-viewport-in>

					<h3>Preview - ngx light</h3>
					<br />
					<ngx3js-viewport-in [scrollEle]="vierInner" #scrollChecker2>
						<div class="dummy-iframe" *ngIf="!scrollChecker2.isVisible"></div>
						<iframe
							*ngIf="scrollChecker2.isVisible"
							src="#/viewer/ngx_light"
						></iframe
						><br />
					</ngx3js-viewport-in>

					<h3>Preview - ngx material</h3>
					<br />
					<ngx3js-viewport-in [scrollEle]="vierInner" #scrollChecker3>
						<div class="dummy-iframe" *ngIf="!scrollChecker3.isVisible"></div>
						<iframe
							*ngIf="scrollChecker3.isVisible"
							src="#/viewer/ngx_material"
						></iframe
						><br />
					</ngx3js-viewport-in>

					<h3>Preview - ngx geometry</h3>
					<br />
					<ngx3js-viewport-in [scrollEle]="vierInner" #scrollChecker4>
						<div class="dummy-iframe" *ngIf="!scrollChecker4.isVisible"></div>
						<iframe
							*ngIf="scrollChecker4.isVisible"
							src="#/viewer/ngx_geometry"
						></iframe
						><br />
					</ngx3js-viewport-in>

					<h3>Preview - ngx physics</h3>
					<br />
					<ngx3js-viewport-in [scrollEle]="vierInner" #scrollChecker5>
						<div class="dummy-iframe" *ngIf="!scrollChecker5.isVisible"></div>
						<iframe
							*ngIf="scrollChecker5.isVisible"
							src="#/viewer/ngx_physics"
						></iframe
						><br />
					</ngx3js-viewport-in>

					<h3>Preview - ngx curve</h3>
					<br />
					<ngx3js-viewport-in [scrollEle]="vierInner" #scrollChecker6>
						<div class="dummy-iframe" *ngIf="!scrollChecker6.isVisible"></div>
						<iframe
							*ngIf="scrollChecker6.isVisible"
							src="#/viewer/ngx_curve"
						></iframe
						><br />
					</ngx3js-viewport-in>
				</div>
			</div>
		</div>
	</div>
</div>
