<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - modifier tessellation
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="40" [near]="1" [far]="10000">
    <three-position [x]="-100" [y]="100" [z]="200"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0x050505'">
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'text'"
        [font]="'helvetiker_bold'"
        [text]="'THREE.JS'"
        [size]="40"
        [height]="5"
        [curveSegments]="3"
        [bevelThickness]="2"
        [bevelSize]="1"
        [bevelEnabled]="true"
        [center]="true"
        [tessellate]="true"
        [maxEdgeLength]="8"
        [maxIterations]="6"
        (onLoad)="setGeometry($event)"
      ></three-geometry>
      <three-material [visible]="true" [type]="'Shader'" [uniforms]="uniforms" [fragmentShader]="fragmentShader" [vertexShader]="vertexShader"></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
