<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
	ngx material <strong class="shadow">{{ controls.material.type }}</strong>
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{
		enablePan: false,
		enableDamping: true,
		minDistance: 5,
		maxDistance: 20
	}"
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="1000">
		<ngx3js-position [x]="0" [y]="3" [z]="10"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene [background]="textureCube">
		<ngx3js-fog [color]="'0xa0a0a0'" [near]="10" [far]="30"></ngx3js-fog>
		<ngx3js-light
			[type]="'directional'"
			[color]="'0xffffff'"
			[intensity]="1"
			[castShadow]="true"
			[shadowCameraTop]="6"
			[shadowCameraBottom]="-6"
			[shadowCameraLeft]="-6"
			[shadowCameraRight]="6"
			[shadowCameraNear]="0.1"
			[shadowCameraFar]="100"
		>
			<ngx3js-position [x]="-3" [y]="10" [z]="10"></ngx3js-position>
		</ngx3js-light>
		<ngx3js-shared>
			<ngx3js-texture
				#textureCube
				[image]="'textures/cube/Park3Med/'"
				[cubeImage]="['', 'jpg']"
				[mapping]="'CubeRefraction'"
			></ngx3js-texture>
			<ngx3js-texture
				#textureMap
				[type]="'map'"
				[image]="'textures/crate.gif'"
			></ngx3js-texture>
			<ngx3js-material
				#material
				[type]="controls.material.type"
				[color]="controls.material.color"
				[map]="controls.texture.map ? textureMap : 'none'"
				[envMap]="controls.texture.envMap ? textureCube : 'none'"
				[metalness]="controls.material.metalness"
				[roughness]="controls.material.roughness"
				[wireframe]="controls.material.wireframe"
				[transparent]="controls.material.transparent"
				[opacity]="controls.material.opacity"
				[flatShading]="controls.material.flatShading"
				[depthTest]="controls.material.depthTest"
				[depthWrite]="controls.material.depthWrite"
				[side]="controls.material.side"
				[dashSize]="1"
				[gapSize]="0.5"
				[uniforms]="uniforms"
				(onLoad)="setMaterial($event)"
			>
			</ngx3js-material>
		</ngx3js-shared>
		<ngx3js-mesh (onLoad)="setMesh($event)">
			<ngx3js-mesh [type]="meshType" [material]="material">
				<ngx3js-geometry
					[meshType]="meshType"
					[type]="'TeapotGeometry'"
					[size]="1.5"
					(onLoad)="setGeometry($event)"
				></ngx3js-geometry>
				<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
				<ngx3js-scale [x]="1.5" [y]="1.5" [z]="1.5"></ngx3js-scale>
			</ngx3js-mesh>
			<ngx3js-mesh>
				<ngx3js-rotation [x]="0" [y]="72 * 0" [z]="0"></ngx3js-rotation>
				<ngx3js-mesh [type]="meshType" [material]="material">
					<ngx3js-geometry
						[meshType]="meshType"
						[type]="'SphereGeometry'"
						[radius]="1"
						[widthSegments]="32"
						[heightSegments]="16"
						(onLoad)="setGeometry($event)"
					></ngx3js-geometry>
					<ngx3js-position [x]="5" [y]="0" [z]="0"></ngx3js-position>
				</ngx3js-mesh>
			</ngx3js-mesh>
			<ngx3js-mesh>
				<ngx3js-rotation [x]="0" [y]="72 * 1" [z]="0"></ngx3js-rotation>
				<ngx3js-mesh [type]="meshType" [material]="material">
					<ngx3js-geometry
						[meshType]="meshType"
						[type]="'BoxGeometry'"
						[width]="2"
						[height]="2"
						[depth]="2"
						(onLoad)="setGeometry($event)"
					></ngx3js-geometry>
					<ngx3js-position [x]="5" [y]="0" [z]="0"></ngx3js-position>
				</ngx3js-mesh>
			</ngx3js-mesh>
			<ngx3js-mesh>
				<ngx3js-rotation [x]="0" [y]="72 * 2" [z]="0"></ngx3js-rotation>
				<ngx3js-mesh [type]="meshType" [material]="material">
					<ngx3js-geometry
						[meshType]="meshType"
						[type]="'TorusKnotGeometry'"
						[radius]="1"
						[tube]="0.2"
						(onLoad)="setGeometry($event)"
					></ngx3js-geometry>
					<ngx3js-position [x]="5" [y]="0" [z]="0"></ngx3js-position>
				</ngx3js-mesh>
			</ngx3js-mesh>
			<ngx3js-mesh>
				<ngx3js-rotation [x]="0" [y]="72 * 3" [z]="0"></ngx3js-rotation>
				<ngx3js-mesh [type]="meshType" [material]="material">
					<ngx3js-geometry
						[meshType]="meshType"
						[type]="'DodecahedronGeometry'"
						[radius]="1"
						(onLoad)="setGeometry($event)"
					></ngx3js-geometry>
					<ngx3js-position [x]="5" [y]="0" [z]="0"></ngx3js-position>
				</ngx3js-mesh>
			</ngx3js-mesh>
			<ngx3js-mesh>
				<ngx3js-rotation [x]="0" [y]="72 * 4" [z]="0"></ngx3js-rotation>
				<ngx3js-mesh [type]="meshType" [material]="material">
					<ngx3js-geometry
						[meshType]="meshType"
						[type]="'OctahedronGeometry'"
						[radius]="1"
						(onLoad)="setGeometry($event)"
					></ngx3js-geometry>
					<ngx3js-position [x]="5" [y]="0" [z]="0"></ngx3js-position>
				</ngx3js-mesh>
			</ngx3js-mesh>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
