<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
	ngx matrial
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, enableDamping: true }"
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="1000">
		<ngx3js-position [x]="0" [y]="5" [z]="10"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene [background]="'0x000000'">
		<ngx3js-fog [color]="'0xa0a0a0'" [near]="10" [far]="50"></ngx3js-fog>
		<ngx3js-light
			[type]="'Hemisphere'"
			[skyColor]="'0xffffff'"
			[groundColor]="'0x444444'"
			[intensity]="0.5"
		>
			<ngx3js-position [x]="0" [y]="20" [z]="0"></ngx3js-position>
		</ngx3js-light>
		<ngx3js-light
			[type]="'directional'"
			[color]="'0xffffff'"
			[intensity]="1"
			[castShadow]="true"
			[shadowCameraTop]="6"
			[shadowCameraBottom]="-6"
			[shadowCameraLeft]="-6"
			[shadowCameraRight]="6"
			[shadowCameraNear]="0.1"
			[shadowCameraFar]="100"
		>
			<ngx3js-position [x]="-3" [y]="10" [z]="10"></ngx3js-position>
		</ngx3js-light>
		<ngx3js-shared>
			<ngx3js-geometry
				#geometry
				[type]="'TeapotGeometry'"
				[size]="0.7"
			></ngx3js-geometry>
		</ngx3js-shared>
		<ngx3js-helper
			[name]="'gridHelper'"
			[type]="'GridHelper'"
			[size]="100"
			[divisions]="10"
			[color1]="'0x888888'"
			[color2]="'0x444444'"
		>
			<ngx3js-position [x]="0" [y]="-1" [z]="0"></ngx3js-position>
		</ngx3js-helper>
		<ngx3js-mesh (onLoad)="setMesh($event)">

			<ngx3js-mesh [type]="'line'" [geometry]="geometry">
				<ngx3js-mesh [type]="'text'" [text]="'LineBasicMaterial'" [size]="0.15">
					<ngx3js-position [x]="0" [y]="0.7" [z]="0.7"></ngx3js-position>
				</ngx3js-mesh>
				<ngx3js-position [x]="-3" [y]="0" [z]="-3"></ngx3js-position>
				<ngx3js-material
					[type]="'LineBasicMaterial'"
					[color]="controls.color"
				></ngx3js-material>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="geometry">
				<ngx3js-mesh [type]="'text'" [text]="'MeshNormal'" [size]="0.15">
					<ngx3js-position [x]="0" [y]="0.7" [z]="0.7"></ngx3js-position>
				</ngx3js-mesh>
				<ngx3js-position [x]="0" [y]="0" [z]="-3"></ngx3js-position>
				<ngx3js-material
					[type]="'MeshNormal'"
					[color]="controls.color"
				></ngx3js-material>
			</ngx3js-mesh>
			<ngx3js-mesh [type]="'points'" [geometry]="geometry">
				<ngx3js-mesh [type]="'text'" [text]="'PointsMaterial'" [size]="0.15">
					<ngx3js-position [x]="0" [y]="0.7" [z]="0.7"></ngx3js-position>
				</ngx3js-mesh>
				<ngx3js-position [x]="3" [y]="0" [z]="-3"></ngx3js-position>
				<ngx3js-material
					[type]="'PointsMaterial'"
					[color]="controls.color"
					[size]="0.05"
				></ngx3js-material>
			</ngx3js-mesh>

			<ngx3js-mesh [geometry]="geometry">
				<ngx3js-mesh [type]="'text'" [text]="'MeshPhysicalMaterial'" [size]="0.15">
					<ngx3js-position [x]="0" [y]="0.7" [z]="0.7"></ngx3js-position>
				</ngx3js-mesh>
				<ngx3js-position [x]="-3" [y]="0" [z]="0"></ngx3js-position>
				<ngx3js-material
					[type]="'MeshPhysicalMaterial'"
					[color]="controls.color"
				></ngx3js-material>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="geometry">
				<ngx3js-mesh [type]="'text'" [text]="'MeshToonMaterial'" [size]="0.15">
					<ngx3js-position [x]="0" [y]="0.7" [z]="0.7"></ngx3js-position>
				</ngx3js-mesh>
				<ngx3js-position [x]="0" [y]="0" [z]="0"></ngx3js-position>
				<ngx3js-material
					[type]="'MeshToonMaterial'"
					[color]="controls.color"
				></ngx3js-material>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="geometry">
				<ngx3js-mesh [type]="'text'" [text]="'MeshLambertMaterial'" [size]="0.15">
					<ngx3js-position [x]="0" [y]="0.7" [z]="0.7"></ngx3js-position>
				</ngx3js-mesh>
				<ngx3js-position [x]="3" [y]="0" [z]="0"></ngx3js-position>
				<ngx3js-material
					[type]="'MeshLambertMaterial'"
					[color]="controls.color"
				></ngx3js-material>
			</ngx3js-mesh>

			<ngx3js-mesh [geometry]="geometry">
				<ngx3js-mesh [type]="'text'" [text]="'MeshPhongMaterial'" [size]="0.15">
					<ngx3js-position [x]="0" [y]="0.7" [z]="0.7"></ngx3js-position>
				</ngx3js-mesh>
				<ngx3js-position [x]="-3" [y]="0" [z]="3"></ngx3js-position>
				<ngx3js-material
					[type]="'MeshPhongMaterial'"
					[color]="controls.color"
				></ngx3js-material>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="geometry">
				<ngx3js-mesh [type]="'text'" [text]="'MeshBasicMaterial'" [size]="0.15">
					<ngx3js-position [x]="0" [y]="0.7" [z]="0.7"></ngx3js-position>
				</ngx3js-mesh>
				<ngx3js-position [x]="0" [y]="0" [z]="3"></ngx3js-position>
				<ngx3js-material
					[type]="'MeshBasicMaterial'"
					[color]="controls.color"
				></ngx3js-material>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="geometry">
				<ngx3js-mesh [type]="'text'" [text]="'MeshStandardMaterial'" [size]="0.15">
					<ngx3js-position [x]="0" [y]="0.7" [z]="0.7"></ngx3js-position>
				</ngx3js-mesh>
				<ngx3js-position [x]="3" [y]="0" [z]="3"></ngx3js-position>
				<ngx3js-material
					[type]="'MeshStandardMaterial'"
					[color]="controls.color"
				></ngx3js-material>
			</ngx3js-mesh>			
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
