<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - shader demo. featuring <a href="http://www.pouet.net/prod.php?which=52761" target="_blank" rel="noopener">Monjori by Mic</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="45" [near]="1" [far]="1000">
    <three-position [x]="0" [y]="0" [z]="-10"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'Plane'"
        [width]="2"
        [height]="2"
      ></three-geometry>
      <three-material [type]="'Shader'" [vertexShader]="vertexShader" [fragmentShader]="fragmentShader" [uniforms]="{ time : { type : 'number', value : 1.0 }}"></three-material>
      <three-controller [controller]="'uniforms'" [params]="{ key : 'time', speed : controls.speed }"></three-controller>
    </three-mesh>
  </three-scene>
</three-renderer>
