<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - dashed lines example
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="60" [near]="1" [far]="200">
    <three-position [x]="0" [y]="0" [z]="150"></three-position>
    <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  </three-camera>
  <three-scene #scene [background]="'0x111111'">
    <three-fog [color]="'0x111111'" [far]="200" [near]="150"></three-fog>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh [type]="'Line'">
        <three-geometry
          [type]="'Buffer'"
          [points]="samples"
        ></three-geometry>
        <three-material
          [type]="'LineDashed'"
          [color]="'0xffffff'"
          [dashSize]="1"
          [gapSize]="0.5"
        ></three-material>
      </three-mesh>
      <three-mesh [type]="'LineSegments'">
        <three-geometry
          [type]="'Buffer'"
          [attrPosition]="position"
        ></three-geometry>
        <three-material
          [type]="'LineDashed'"
          [color]="'0xffaa00'"
          [dashSize]="3"
          [gapSize]="1"
        ></three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
