<three-renderer [controlType]="'orbit'" [statsMode]="0" [antialias]="true" [clearColor]="'0xEEEEEE'" [guiControl]="controls" [guiParams]="controlsParams" (onRender)="onRender($event)">
    <three-camera [type]="'perspective'" [fov]="45" [near]="0.1" [far]="1000">
        <three-position [x]="-25" [y]="30" [z]="25"></three-position>
        <three-lookat [x]="10" [y]="0" [z]="0"></three-lookat>
    </three-camera>
    <three-scene #scene>
        <three-mesh 
            [type]="'light'" 
            [lightOptions]="{ type : 'ambient', color : controls.ambientColor }"></three-mesh>
        <three-mesh 
            [type]="'light'" 
            [lightOptions]="{ type : 'spot', color : '0xcccccc' }" [castShadow]="false" [visible]="true">
            <three-position [x]="-40" [y]="30" [z]="-10"></three-position>
            <three-lookat [refer]="plane"></three-lookat>
        </three-mesh>
        <three-mesh 
            [type]="'light'" 
            [lightOptions]="{ 
                type : 'directional', 
                color : controls.pointColor,
                intensity : controls.intensity,
                distance : controls.distance,
                castShadow : controls.castShadow,
                shadowCameraNear : 2,
                shadowCameraFar : 200,
                shadowCameraLeft : -50,
                shadowCameraRight: 50,
                shadowCameraTop : 50,
                shadowCameraBottom : -50,
                angle : controls.angle,
                target : target
            }"
        >
            <three-position [x]="sphereLightPosition.x" [y]="sphereLightPosition.y" [z]="sphereLightPosition.z"></three-position>
        </three-mesh>
        <three-mesh #cube [castShadow]="true">
            <three-position [x]="-4" [y]="3" [z]="0"></three-position>
            <three-rotation [x]="boxRotation.x" [y]="boxRotation.y" [z]="boxRotation.z"></three-rotation>
            <three-geometry [type]="'box'" [width]="4" [height]="4" [depth]="4"></three-geometry>
            <three-material [type]="'meshlambert'" [color]="'0xff0000'"></three-material>
        </three-mesh>
        <three-mesh [castShadow]="true">
            <three-position [x]="sphereLightPosition.x" [y]="sphereLightPosition.y" [z]="sphereLightPosition.z"></three-position>
            <three-geometry [type]="'Sphere'" [radius]="0.2"></three-geometry>
            <three-material [type]="'meshBasic'" [color]="'0xac6c25'"></three-material>
        </three-mesh>
        <three-mesh #sphere [castShadow]="true">
            <three-position [x]="spherePosition.x" [y]="spherePosition.y" [z]="spherePosition.z"></three-position>
            <three-geometry [type]="'Sphere'" [radius]="4" [widthSegments]="20" [heightSegments]="20"></three-geometry>
            <three-material [type]="'meshlambert'" [color]="'0x7777ff'"></three-material>
        </three-mesh>
        <three-mesh #plane [receiveShadow]="true">
            <three-position [x]="15" [y]="-5" [z]="0"></three-position>
            <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
            <three-geometry #planeGeometry [type]="'plane'" [width]="600" [height]="200" [widthSegments]="20" [heightSegments]="20"></three-geometry>
            <three-material [type]="'meshlambert'" [color]="'0xffffff'"></three-material>
        </three-mesh>
    </three-scene>
</three-renderer>
