<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - buffergeometry - lines - indexed
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="27" [near]="1" [far]="10000">
    <three-position [x]="0" [y]="0" [z]="9000"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-mesh (onLoad)="setMesh($event)" [type]="'LineSegments'">
      <three-position [x]="0" [y]="0" [z]="0"></three-position>
      <three-geometry
        [type]="'BufferGeometry'"
        [index]="indices"
        [position]="positions"
        [color]="colors"
        [computeBoundingSphere]="true"
        [center]="true"
      ></three-geometry>
      <three-material [type]="'LineBasicMaterial'" [vertexColors]="true"></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
