<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - tilt loader<br/>
  <a href="https://poly.google.com/view/ewUb8s99x_k" target="_blank" rel="noopener">TILTSPHERE</a> by <a href="https://poly.google.com/user/8CZPjCt8LvV" target="_blank" rel="noopener">Rosie Summers</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true , autoRotate : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="40" [z]="0"></three-lookat>
  <three-scene #scene [background]="'0xa0a0a0'">
    <three-camera [type]="'perspective'" [fov]="35" [near]="1" [far]="500">
      <three-position [x]="0" [y]="73" [z]="100"></three-position>
    </three-camera>
    <three-helper [type]="'grid'" [size]="50" [divisions]="50" [color1]="'0xffffff'" [color2]="'0x555555'"></three-helper>
    <three-mesh (onLoad)="setMesh($event)" [storageName]="'BRUSH_DOME.tilt'" [storageOption]="{ path : 'models/tilt/'}">
      <three-position [x]="0" [y]="1" [z]="0"></three-position>
    </three-mesh>
  </three-scene>
</three-renderer>
