<div class="info dark">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> css3d - sprites
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [cssType]="'css3d'"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="75" [near]="1" [far]="5000">
    <three-position [x]="600" [y]="400" [z]="1500"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0xffffff'">
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let info of particlesInfos"
        [type]="'css3dsprite'" [cssTag]="'img'"
        [cssStyle]="{ src : 'textures/sprite.png' }"
      >
        <three-position [x]="info.x" [y]="info.y" [z]="info.z"></three-position>
        <three-controller [type]="'tween'" [duration]="info.duration"></three-controller>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
