<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - cubemap customized mipmaps demo. Author <a href="https://github.com/AngusLang" target="_blank">Angus</a><br/>
  Left: webgl generated mipmaps<br/>
  Right: manual mipmaps<br/>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="50" [near]="1" [far]="10000">
    <three-position [x]="0" [y]="0" [z]="500"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-shared>
      <three-geometry
        #sphere
        [type]="'sphere'"
        [radius]="100"
        [widthSegments]="128"
        [heightSegments]="128"
      ></three-geometry>
      <three-texture #texture8 
        [image]="'textures/cube/angus/'" 
        [cubeImage]="['cube_m00_c00.jpg', 'cube_m00_c01.jpg', 'cube_m00_c02.jpg', 'cube_m00_c03.jpg', 'cube_m00_c04.jpg', 'cube_m00_c05.jpg']"  
        [minFilter]="'LinearMipMapLinearFilter'"
        [magFilter]="'LinearFilter'"
        [generateMipmaps]="true"
      ></three-texture>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh [geometry]="sphere">
        <three-position [x]="100" [y]="0" [z]="0"></three-position>
        <three-material [type]="'MeshBasic'" [color]="'0xffffff'" [envMap]="texture8"></three-material>
      </three-mesh>
      <three-mesh [geometry]="sphere">
        <three-position [x]="-100" [y]="0" [z]="0"></three-position>
        <three-material [type]="'MeshBasic'" [color]="'0xffffff'" [envMap]="texture8"></three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
