<three-renderer [controlType]="'firstperson'" [statsMode]="0" [antialias]="true" [clearColor]="'0x000'" [shadowMapEnabled]="true" [guiControl]="controls" [guiParams]="controlsParams" (onRender)="onRender($event)">
    <three-camera [type]="'perspective'" [fov]="45" [near]="0.1" [far]="2000">
        <three-position [x]="20" [y]="0" [z]="-20"></three-position>
        <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
    </three-camera>
    <three-scene #scene>
        <three-mesh [type]="'light'" [lightOptions]="{ type : 'ambient', color : '0x121212' }"></three-mesh>
        <three-mesh [type]="'light'" [lightOptions]="{ type : 'directional', color : '0xffffff' , intensity : 0.2  }" [castShadow]="true" >
            <three-position [x]="-40" [y]="60" [z]="-10"></three-position>
            <three-lookat [refer]="scene"></three-lookat>
        </three-mesh>
        <three-mesh [storageName]="'/assets/sample_assets/models/city.obj'">
            <three-position [x]="0" [y]="0" [z]="0"></three-position>
            <three-material [type]="'meshlambert'" [color]="'0xff0000'" [wireframe]="controls.wireframe"></three-material>
        </three-mesh>
    </three-scene>
</three-renderer>