<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - webgl - compressed textures<br/>
  leaf texture by <a href="http://opengameart.org/node/10505">lauris71</a>, explosion texture by <a href="http://opengameart.org/node/7728">bart</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="50" [near]="1" [far]="2000">
    <three-position [x]="0" [y]="0" [z]="1000"></three-position>
  </three-camera>
  <three-scene #scene>
    <three-shared>
      <three-geometry
        #boxGeometry
        [type]="'box'"
        [width]="200"
        [height]="200"
        [depth]="200"
      ></three-geometry>
      <three-texture 
        #map1
        [textureType]="'map'" 
        [storageName]="'textures/compressed/disturb_dxt1_nomip.dds'"
        [minFilter]="'Linear'"
        [magFilter]="'Linear'"
        [anisotropy]="4"
      ></three-texture>
      <three-texture 
        #map2
        [textureType]="'map'" 
        [storageName]="'textures/compressed/disturb_dxt1_mip.dds'"
        [anisotropy]="4"
      ></three-texture>
      <three-texture 
        #map3
        [textureType]="'map'" 
        [storageName]="'textures/compressed/hepatica_dxt3_mip.dds'"
        [anisotropy]="4"
      ></three-texture>
      <three-texture 
        #map4
        [textureType]="'map'" 
        [storageName]="'textures/compressed/explosion_dxt5_mip.dds'"
        [minFilter]="'Linear'"
        [magFilter]="'Linear'"
        [anisotropy]="4"
      ></three-texture>
      <three-texture 
        #map5
        [textureType]="'map'" 
        [storageName]="'textures/compressed/disturb_argb_nomip.dds'"
        [minFilter]="'Linear'"
        [magFilter]="'Linear'"
        [anisotropy]="4"
      ></three-texture>
      <three-texture 
        #map6
        [textureType]="'map'" 
        [storageName]="'textures/compressed/disturb_argb_mip.dds'"
        [anisotropy]="4"
      ></three-texture>
      <three-texture 
        #cubemap1
        [textureType]="'envMap'" 
        [storageName]="'textures/compressed/Mountains.dds'"
        [minFilter]="'Linear'"
        [magFilter]="'Linear'"
        [mapping]="'CubeReflection'"
      ></three-texture>
      <three-texture 
        #cubemap2
        [textureType]="'envMap'" 
        [storageName]="'textures/compressed/Mountains_argb_mip.dds'"
        [minFilter]="'Linear'"
        [magFilter]="'Linear'"
        [mapping]="'CubeReflection'"
      ></three-texture>
      <three-texture 
        #cubemap3
        [textureType]="'envMap'" 
        [storageName]="'textures/compressed/Mountains_argb_nomip.dds'"
        [minFilter]="'Linear'"
        [magFilter]="'Linear'"
        [mapping]="'CubeReflection'"
      ></three-texture>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh>
        <three-position [x]="-600" [y]="-200" [z]="0"></three-position>
        <three-geometry
          [type]="'Torus'"
          [radius]="100"
          [tube]="50"
          [radialSegments]="32"
          [tubularSegments]="16"
        ></three-geometry>
        <three-material [type]="'MeshBasic'" [map]="map1" [envMap]="cubemap1">
        </three-material>
      </three-mesh>
      <three-mesh [geometry]="boxGeometry">
        <three-position [x]="-200" [y]="-200" [z]="0"></three-position>
        <three-material [type]="'MeshBasic'" [map]="map2">
        </three-material>
      </three-mesh>
      <three-mesh [geometry]="boxGeometry">
        <three-position [x]="-200" [y]="200" [z]="0"></three-position>
        <three-material [type]="'MeshBasic'" [map]="map3" [alphaTest]="0.5" [side]="'bouble'">
        </three-material>
      </three-mesh>
      <three-mesh [geometry]="boxGeometry">
        <three-position [x]="-600" [y]="200" [z]="0"></three-position>
        <three-material [type]="'MeshBasic'" [map]="map4" [side]="'bouble'" [blending]="'Additive'">
        </three-material>
      </three-mesh>
      <three-mesh [geometry]="boxGeometry">
        <three-position [x]="200" [y]="200" [z]="0"></three-position>
        <three-material [type]="'MeshBasic'" [envMap]="cubemap2">
        </three-material>
      </three-mesh>
      <three-mesh [geometry]="boxGeometry">
        <three-position [x]="200" [y]="-200" [z]="0"></three-position>
        <three-material [type]="'MeshBasic'" [envMap]="cubemap3">
        </three-material>
      </three-mesh>
      <three-mesh [geometry]="boxGeometry">
        <three-position [x]="600" [y]="-200" [z]="0"></three-position>
        <three-material [type]="'MeshBasic'" [map]="map5">
        </three-material>
      </three-mesh>
      <three-mesh [geometry]="boxGeometry">
        <three-position [x]="600" [y]="200" [z]="0"></three-position>
        <three-material [type]="'MeshBasic'" [map]="map6">
        </three-material>
      </three-mesh>
    </three-mesh>

  </three-scene>
</three-renderer>
