<div class="info">
	<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> -
	webgl - compressed textures<br />
	leaf texture by <a href="http://opengameart.org/node/10505">lauris71</a>,
	explosion texture by <a href="http://opengameart.org/node/7728">bart</a>
</div>
<ngx3js-renderer
	[controlType]="'orbit'"
	[controlOptions]="{ enablePan: false, enableDamping: true }"
	[statsMode]="0"
	[antialias]="true"
	[shadowMapEnabled]="true"
	[guiControl]="controls"
	[guiParams]="controlsParams"
	(onRender)="onRender($event)"
>
	<ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
	<ngx3js-camera [type]="'perspective'" [fov]="50" [near]="1" [far]="2000">
		<ngx3js-position [x]="0" [y]="0" [z]="1000"></ngx3js-position>
	</ngx3js-camera>
	<ngx3js-scene #scene>
		<ngx3js-shared>
			<ngx3js-geometry
				#boxGeometry
				[type]="'box'"
				[width]="200"
				[height]="200"
				[depth]="200"
			></ngx3js-geometry>
			<ngx3js-texture
				#map1
				[type]="'map'"
				[storageName]="'textures/compressed/disturb_dxt1_nomip.dds'"
				[minFilter]="'Linear'"
				[magFilter]="'Linear'"
				[anisotropy]="4"
			></ngx3js-texture>
			<ngx3js-texture
				#map2
				[type]="'map'"
				[storageName]="'textures/compressed/disturb_dxt1_mip.dds'"
				[anisotropy]="4"
			></ngx3js-texture>
			<ngx3js-texture
				#map3
				[type]="'map'"
				[storageName]="'textures/compressed/hepatica_dxt3_mip.dds'"
				[anisotropy]="4"
			></ngx3js-texture>
			<ngx3js-texture
				#map4
				[type]="'map'"
				[storageName]="'textures/compressed/explosion_dxt5_mip.dds'"
				[minFilter]="'Linear'"
				[magFilter]="'Linear'"
				[anisotropy]="4"
			></ngx3js-texture>
			<ngx3js-texture
				#map5
				[type]="'map'"
				[storageName]="'textures/compressed/disturb_argb_nomip.dds'"
				[minFilter]="'Linear'"
				[magFilter]="'Linear'"
				[anisotropy]="4"
			></ngx3js-texture>
			<ngx3js-texture
				#map6
				[type]="'map'"
				[storageName]="'textures/compressed/disturb_argb_mip.dds'"
				[anisotropy]="4"
			></ngx3js-texture>
			<ngx3js-texture
				#cubemap1
				[type]="'envMap'"
				[storageName]="'textures/compressed/Mountains.dds'"
				[minFilter]="'Linear'"
				[magFilter]="'Linear'"
				[mapping]="'CubeReflection'"
			></ngx3js-texture>
			<ngx3js-texture
				#cubemap2
				[type]="'envMap'"
				[storageName]="'textures/compressed/Mountains_argb_mip.dds'"
				[minFilter]="'Linear'"
				[magFilter]="'Linear'"
				[mapping]="'CubeReflection'"
			></ngx3js-texture>
			<ngx3js-texture
				#cubemap3
				[type]="'envMap'"
				[storageName]="'textures/compressed/Mountains_argb_nomip.dds'"
				[minFilter]="'Linear'"
				[magFilter]="'Linear'"
				[mapping]="'CubeReflection'"
			></ngx3js-texture>
		</ngx3js-shared>
		<ngx3js-mesh (onLoad)="setMesh($event)">
			<ngx3js-mesh>
				<ngx3js-position [x]="-600" [y]="-200" [z]="0"></ngx3js-position>
				<ngx3js-geometry
					[type]="'Torus'"
					[radius]="100"
					[tube]="50"
					[radialSegments]="32"
					[tubularSegments]="16"
				></ngx3js-geometry>
				<ngx3js-material [type]="'MeshBasic'" [map]="map1" [envMap]="cubemap1">
				</ngx3js-material>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="boxGeometry">
				<ngx3js-position [x]="-200" [y]="-200" [z]="0"></ngx3js-position>
				<ngx3js-material [type]="'MeshBasic'" [map]="map2"> </ngx3js-material>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="boxGeometry">
				<ngx3js-position [x]="-200" [y]="200" [z]="0"></ngx3js-position>
				<ngx3js-material
					[type]="'MeshBasic'"
					[map]="map3"
					[alphaTest]="0.5"
					[side]="'bouble'"
				>
				</ngx3js-material>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="boxGeometry">
				<ngx3js-position [x]="-600" [y]="200" [z]="0"></ngx3js-position>
				<ngx3js-material
					[type]="'MeshBasic'"
					[map]="map4"
					[side]="'bouble'"
					[blending]="'Additive'"
				>
				</ngx3js-material>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="boxGeometry">
				<ngx3js-position [x]="200" [y]="200" [z]="0"></ngx3js-position>
				<ngx3js-material [type]="'MeshBasic'" [envMap]="cubemap2">
				</ngx3js-material>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="boxGeometry">
				<ngx3js-position [x]="200" [y]="-200" [z]="0"></ngx3js-position>
				<ngx3js-material [type]="'MeshBasic'" [envMap]="cubemap3">
				</ngx3js-material>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="boxGeometry">
				<ngx3js-position [x]="600" [y]="-200" [z]="0"></ngx3js-position>
				<ngx3js-material [type]="'MeshBasic'" [map]="map5"> </ngx3js-material>
			</ngx3js-mesh>
			<ngx3js-mesh [geometry]="boxGeometry">
				<ngx3js-position [x]="600" [y]="200" [z]="0"></ngx3js-position>
				<ngx3js-material [type]="'MeshBasic'" [map]="map6"> </ngx3js-material>
			</ngx3js-mesh>
		</ngx3js-mesh>
	</ngx3js-scene>
</ngx3js-renderer>
