<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - shadowmap - models by <a href="https://mirada.com/" target="_blank" rel="noopener">mirada</a> from <a href="http://www.ro.me" target="_blank" rel="noopener">rome</a><br />
  move camera with WASD / RF + mouse<br />
  t: toggle HUD
</div>
<ngx3js-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <ngx3js-viewer [type]="'shadowmapviewer'" [x]="10" [y]="-10" [width]="'25%'" [height]="'25%'" [light]="spotLight" [enabled]="controls.hudEnable"></ngx3js-viewer>
  <ngx3js-lookat [x]="0" [y]="0" [z]="0"></ngx3js-lookat>
  <ngx3js-camera [type]="'perspective'" [fov]="23" [near]="10" [far]="3000">
    <ngx3js-position [x]="700" [y]="50" [z]="1900"></ngx3js-position>
  </ngx3js-camera>
  <ngx3js-scene #scene [background]="'0x59472b'">
    <ngx3js-fog [color]="'0x59472b'" [near]="1000" [far]="3000"></ngx3js-fog>
    <ngx3js-light
      [type]="'Ambient'"
      [color]="'0xffffff'"
    >
    </ngx3js-light>
    <ngx3js-light
      #spotLight
      [type]="'Spot'"
      [color]="'0xffffff'"
      [intensity]="1"
      [distance]="0"
      [angle]="36"
      [penumbra]="0.3"
      [castShadow]="true"
      [shadowCameraNear]="1200"
      [shadowCameraFar]="2500"
      [shadowBias]="0.0001"
      [shadowMapSizeWidth]="2048"
      [shadowMapSizeHeight]="2048"
      >
      <ngx3js-position [x]="0" [y]="1500" [z]="1000"></ngx3js-position>
    </ngx3js-light>
    <ngx3js-shared>
      <ngx3js-material
        #planeMaterial
        [type]="'MeshPhong'"
        [color]="'0xffb851'"
      ></ngx3js-material>
      <ngx3js-mesh #horse [storageName]="'models/gltf/Horse.glb'"></ngx3js-mesh>
      <ngx3js-mesh #flamingo [storageName]="'models/gltf/Flamingo.glb'"></ngx3js-mesh>
      <ngx3js-mesh #stork [storageName]="'models/gltf/Stork.glb'"></ngx3js-mesh>
      <ngx3js-mesh #parrot [storageName]="'models/gltf/Parrot.glb'"></ngx3js-mesh>
      
    </ngx3js-shared>
    <ngx3js-mesh (onLoad)="setMesh($event)">
      <ngx3js-mesh *ngFor="let info of horsePositions" [sharedMesh]="horse">
        <ngx3js-rotation [x]="0" [y]="90" [z]="0"></ngx3js-rotation>
        <ngx3js-position [x]="info.x" [y]="info.y" [z]="info.z"></ngx3js-position>
        <ngx3js-mixer [action]="'run'" [delayTime]="info.delay">
          <ngx3js-clip [name]="'run'" [index]="0"></ngx3js-clip>
        </ngx3js-mixer>
      </ngx3js-mesh>
      <ngx3js-mesh *ngFor="let info of flamingoPositions"  [sharedMesh]="flamingo">
        <ngx3js-rotation [x]="0" [y]="90" [z]="0"></ngx3js-rotation>
        <ngx3js-position [x]="info.x" [y]="info.y" [z]="info.z"></ngx3js-position>
        <ngx3js-mixer [action]="'run'" [delayTime]="info.delay">
          <ngx3js-clip [name]="'run'" [index]="0"></ngx3js-clip>
        </ngx3js-mixer>
      </ngx3js-mesh>
      <ngx3js-mesh *ngFor="let info of flamingoPositions"  [sharedMesh]="stork">
        <ngx3js-rotation [x]="0" [y]="90" [z]="0"></ngx3js-rotation>
        <ngx3js-position [x]="info.x+120" [y]="info.y+20" [z]="info.z+10"></ngx3js-position>
        <ngx3js-mixer [action]="'run'" [delayTime]="info.delay">
          <ngx3js-clip [name]="'run'" [index]="0"></ngx3js-clip>
        </ngx3js-mixer>
      </ngx3js-mesh>
      <ngx3js-mesh *ngFor="let info of flamingoPositions"  [sharedMesh]="parrot">
        <ngx3js-rotation [x]="0" [y]="90" [z]="0"></ngx3js-rotation>
        <ngx3js-position [x]="info.x-120" [y]="info.y-20" [z]="info.z-10"></ngx3js-position>
        <ngx3js-mixer [action]="'run'" [delayTime]="info.delay">
          <ngx3js-clip [name]="'run'" [index]="0"></ngx3js-clip>
        </ngx3js-mixer>
      </ngx3js-mesh>
    </ngx3js-mesh>
    <ngx3js-mesh>
      <ngx3js-position [x]="0" [y]="-80" [z]="0"></ngx3js-position>
      <ngx3js-geometry
        [type]="'text'"
        [font]="'helvetiker_bold'"
        [text]="'THREE.JS'"
        [size]="200"
        [height]="50"
        [curveSegments]="12"
        [bevelThickness]="2"
        [bevelSize]="5"
        [bevelEnabled]="true"
        [center]="true"
      ></ngx3js-geometry>
      <ngx3js-material [type]="'MeshPhong'" [color]="'0xff0000'" [specular]="'0xffffff'"></ngx3js-material>
    </ngx3js-mesh>
    <ngx3js-mesh #cubes1 [material]="planeMaterial"> 
      <ngx3js-position [x]="0" [y]="-300" [z]="20"></ngx3js-position>
      <ngx3js-geometry 
        [type]="'box'"
        [width]="1500"
        [height]="220"
        [depth]="150"
      >
      </ngx3js-geometry>
    </ngx3js-mesh>
    <ngx3js-mesh #cubes2 [material]="planeMaterial"> 
      <ngx3js-position [x]="0" [y]="-300" [z]="20"></ngx3js-position>
      <ngx3js-geometry 
        [type]="'box'"
        [width]="1500"
        [height]="170"
        [depth]="250"
      >
      </ngx3js-geometry>
    </ngx3js-mesh>
    <ngx3js-mesh [receiveShadow]="true" [material]="planeMaterial">
      <ngx3js-position [x]="0" [y]="-250" [z]="0"></ngx3js-position>
      <ngx3js-rotation [x]="-90" [y]="0" [z]="0"></ngx3js-rotation>
      <ngx3js-scale [multiply]="100"></ngx3js-scale>
      <ngx3js-geometry
        [type]="'Plane'"
        [width]="100"
        [height]="100"
      ></ngx3js-geometry>
    </ngx3js-mesh>
  </ngx3js-scene>
</ngx3js-renderer>
