<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - shadowmap - models by <a href="https://mirada.com/" target="_blank" rel="noopener">mirada</a> from <a href="http://www.ro.me" target="_blank" rel="noopener">rome</a><br />
  move camera with WASD / RF + mouse<br />
  t: toggle HUD
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="23" [near]="10" [far]="3000">
    <three-position [x]="700" [y]="50" [z]="1900"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0x59472b'">
    <three-fog [color]="'0x59472b'" [near]="1000" [far]="3000"></three-fog>
    <three-light
      [type]="'Ambient'"
      [color]="'0xffffff'"
    >
    </three-light>
    <three-light
      [type]="'Spot'"
      [color]="'0xffffff'"
      [intensity]="1"
      [distance]="0"
      [angle]="36"
      [penumbra]="0.3"
      [castShadow]="true"
      [shadowCameraNear]="1200"
      [shadowCameraFar]="2500"
      [shadowBias]="0.0001"
      [shadowMapSizeWidth]="2048"
      [shadowMapSizeHeight]="2048"
      >
      <three-position [x]="0" [y]="1500" [z]="1000"></three-position>
    </three-light>
    <three-shared>
      <three-material
        #planeMaterial
        [type]="'MeshPhong'"
        [color]="'0xffb851'"
      ></three-material>
      <three-mesh #horse [storageName]="'models/gltf/Horse.glb'"></three-mesh>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh *ngFor="let info of horsePositions" [sharedMesh]="horse">
        <three-rotation [x]="0" [y]="90" [z]="0"></three-rotation>
        <three-position [x]="info.x" [y]="info.y" [z]="info.z"></three-position>
      </three-mesh>
      <three-mesh>
        <three-position [x]="0" [y]="-80" [z]="0"></three-position>
        <three-geometry
          [type]="'text'"
          [font]="'helvetiker_bold'"
          [text]="'THREE.JS'"
          [size]="200"
          [height]="50"
          [curveSegments]="12"
          [bevelThickness]="2"
          [bevelSize]="5"
          [bevelEnabled]="true"
          [center]="true"
        ></three-geometry>
        <three-material [type]="'MeshPhong'" [color]="'0xff0000'" [specular]="'0xffffff'"></three-material>
      </three-mesh>
      <three-mesh #cubes1 [material]="planeMaterial"> 
        <three-position [x]="0" [y]="-300" [z]="20"></three-position>
        <three-geometry 
          [type]="'box'"
          [width]="1500"
          [height]="220"
          [depth]="150"
        >
        </three-geometry>
      </three-mesh>
      <three-mesh #cubes2 [material]="planeMaterial"> 
        <three-position [x]="0" [y]="-300" [z]="20"></three-position>
        <three-geometry 
          [type]="'box'"
          [width]="1500"
          [height]="170"
          [depth]="250"
        >
        </three-geometry>
      </three-mesh>
    </three-mesh>
    <three-mesh [receiveShadow]="true" [material]="planeMaterial">
      <three-position [x]="0" [y]="-250" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-scale [multiply]="100"></three-scale>
      <three-geometry
        [type]="'Plane'"
        [width]="100"
        [height]="100"
      ></three-geometry>
    </three-mesh>
  </three-scene>
</three-renderer>
