<div id="info">
  <a [href]="'https://threejs.org'" [target]="'_blank'" [rel]="'noopener'">three.js</a> - TTFLoader using opentype by gero3
  <br/>type to enter new text, drag to spin the text
</div>
<three-renderer
  [controlType]="'orbit'"
  [enablePan]="false"
  [enableDamping]="true"
  [statsMode]="0"
  [antialias]="true"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  [useEvent]="['keypress','keydown']"
  (eventListener)="setKeyDown($event)"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="150" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="30" [near]="1" [far]="1500">
    <three-position [x]="0" [y]="400" [z]="700"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0x000000'">
    <three-fog [color]="'0x000000'" [near]="250" [far]="1400"></three-fog>
    <three-light
      [type]="'Hemisphere'"
      [skyColor]="'0xffffff'"
      [groundColor]="'0x444444'"
    >
      <three-position [x]="0" [y]="20" [z]="0"></three-position>
    </three-light>
    <three-light
      [type]="'directional'"
      [color]="'0xffffff'"
      [intensity]="0.125"
    >
      <three-position [x]="0" [y]="0" [z]="1" [normalize]="true"></three-position>
    </three-light>
    <three-light
      [type]="'Point'"
      [color]="'HSL(random,1,0.5)'"
      [intensity]="1.5"
    >
      <three-position [x]="0" [y]="100" [z]="90"></three-position>
    </three-light>
    <three-shared>
      <three-geometry
        #textGeometry
        [font]="'fonts/ttf/kenpixel.ttf'"
        [type]="'Text'"
        [text]="text"
        [size]="70"
        [height]="20"
        [curveSegments]="4"
        [bevelThickness]="2"
        [bevelSize]="1.5"
        [bevelEnabled]="true"
        [center]="true"
      ></three-geometry>
      <three-material #textMaterial [type]="'MeshPhong'" [color]="'0xffffff'" [flatShading]="true"></three-material>
    </three-shared>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="150" [z]="0"></three-position>
      <three-mesh [geometry]="textGeometry" [material]="textMaterial">
        <three-position [x]="0" [y]="70" [z]="0"></three-position>
      </three-mesh>
      <three-mesh [geometry]="textGeometry" [material]="textMaterial">
        <three-position [x]="0" [y]="-70" [z]="0"></three-position>
        <three-rotation [x]="180" [y]="0" [z]="0"></three-rotation>
      </three-mesh>
    </three-mesh>
    <three-mesh [receiveShadow]="true">
      <three-position [x]="0" [y]="150" [z]="0"></three-position>
      <three-rotation [x]="-90" [y]="0" [z]="0"></three-rotation>
      <three-geometry
        [type]="'Plane'"
        [width]="10000"
        [height]="10000"
      ></three-geometry>
      <three-material
        [type]="'MeshBasic'"
        [color]="'0xffffff'"
        [opacity]="0.5"
        [transparent]="true"
      ></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
