<div class="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - webgl environment mapping example<br/>
  Equirectangular Map by <a href="http://gl.ict.usc.edu/Data/HighResProbes/">University of Southern California</a><br/>
  Spherical Map by <a href="http://www.pauldebevec.com/Probes/">Paul Debevec</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [outputEncoding]="'sRGB'"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="0" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="70" [near]="1" [far]="100000">
    <three-position [x]="0" [y]="0" [z]="1000"></three-position>
  </three-camera>
  <three-scene #scene [background]="controls.background == 'Cube'? textureCube : textureEquirec">
    <three-shared>
      <three-texture 
        #textureCube
        [image]="'textures/cube/Bridge2/'" [cubeImage]="['posx.jpg', 'negx.jpg', 'posy.jpg', 'negy.jpg', 'posz.jpg', 'negz.jpg']"
        [mapping]="controls.refraction ? 'CubeRefraction':'CubeReflection'"
        [encoding]="'sRGB'"
      ></three-texture>
      <three-texture 
        #textureEquirec
        [image]="'textures/2294472375_24a3b8ef46_o.jpg'"
        [mapping]="controls.refraction ? 'EquirectangularRefraction':'EquirectangularReflection'"
        [encoding]="'sRGB'"
      ></three-texture>
    </three-shared>
    <three-light
      [type]="'Ambient'"
      [color]="'0xffffff'"
    >
    </three-light>
    <three-mesh (onLoad)="setMesh($event)">
      <three-position [x]="0" [y]="1" [z]="0"></three-position>
      <three-geometry
        [type]="'Icosahedron'"
        [radius]="400"
        [detail]="15"
      ></three-geometry>
      <three-material [type]="'meshlambert'" [envMap]="controls.background == 'Cube'? textureCube : textureEquirec"></three-material>
    </three-mesh>
  </three-scene>
</three-renderer>
