<div class="info dark">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a><br>
  Sheen demo by <a href="https://github.com/DanielSturk">DanielSturk</a>
</div>
<three-renderer
  [controlType]="'orbit'"
  [controlOptions]="{ enablePan : false , enableDamping : true }"
  [statsMode]="0"
  [antialias]="true"
  [clearColor]="'0xffffff'"
  [shadowMapEnabled]="true"
  [guiControl]="controls"
  [toneMappingExposure]="controls.exposure"
  [guiParams]="controlsParams"
  (onRender)="onRender($event)"
>
  <three-lookat [x]="0" [y]="2" [z]="0"></three-lookat>
  <three-camera [type]="'perspective'" [fov]="60" [near]="0.2" [far]="2000">
    <three-position [x]="-12" [y]="7" [z]="4"></three-position>
  </three-camera>
  <three-scene #scene [background]="'0xbfd1e5'">
    <three-light 
      [type]="'DirectionalLight'"
      [color]="'0xffffff'"
      [intensity]="0.5"
      [castShadow]="true"
    >
      <three-position [x]="0" [y]="10" [z]="0"></three-position>
      <three-mesh>
        <three-geometry [type]="'SphereGeometry'" [radius]="0.5"></three-geometry>
        <three-material [type]="'MeshBasicMaterial'" [color]="'0xffffff'"></three-material>
      </three-mesh>
    </three-light>
    <three-mesh (onLoad)="setMesh($event)">
      <three-mesh [storageName]="'models/fbx/cloth.fbx'">
        <three-scale [multiply]="0.5"></three-scale>
        <three-material [type]="controls.nodeMaterial ? 'StandardNodeMaterial' : 'MeshPhysicalMaterial'" [side]="'double'" [metalness]="0" [roughness]="controls.roughness" [color]="controls.color" [sheen]="controls.sheenBRDF ? controls.sheen : null"></three-material>
      </three-mesh>
      <three-mesh>
        <three-position [x]="0" [y]="0" [z]="0"></three-position>
        <three-geometry
          [type]="'SphereGeometry'"
          [radius]="1"
          [widthSegments]="100"
          [heightSegments]="100"
        ></three-geometry>
        <three-material [type]="controls.nodeMaterial ? 'StandardNodeMaterial' : 'MeshPhysicalMaterial'" [side]="'double'" [metalness]="0" [roughness]="controls.roughness" [color]="controls.color" [sheen]="controls.sheenBRDF ? controls.sheen : null"></three-material>
      </three-mesh>
    </three-mesh>
  </three-scene>
</three-renderer>
